<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:f="http://java.sun.com/jsf/core">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-9 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{comarcaController.objetoSelecionado.descricao}"
							 disabled="#{comarcaController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>

			<div class="col-xs-3 form-group">
				<h:outputLabel value="#{bundleMsgs.label_uf}"
							   for="edtUf" class="simple-label" />
				<h:selectOneMenu id="edtUf" class="form-control"
								 disabled="#{comarcaController.editavel == false}"
								 value="#{comarcaController.objetoSelecionado.uf}"
								 converter="entityConverter" valueChangeListener="#{comarcaController.ufChanged}">
					<f:selectItem itemLabel="" itemValue="#{null}" />
					<f:selectItems value="#{comarcaController.ufs}" var="u" itemLabel="#{u.sigla}" itemValue="#{u}" />
					<p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:selectOneMenu>
			</div>
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton rendered="#{comarcaController.permiteInclusao}"
								 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{comarcaController.cancelar()}"
								 disabled="#{comarcaController.editavel == false}" />

				<!--Inserir-->
				<h:commandButton rendered="#{comarcaController.permiteInclusao}"
								 id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{comarcaController.novo()}"
								 disabled="#{comarcaController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton rendered="#{comarcaController.permiteInclusao}"
								 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{comarcaController.salvar()}"
								 onclick="setConfirmUnload(false)"
								 disabled="#{comarcaController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

</html>