<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{subAndamentoController.objetoSelecionado.descricao}"
							 disabled="#{subAndamentoController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_cria_evento_cliente}" for="edtEvento" class="simple-label" />
				<p:selectOneRadio id="edtEvento"
								  value="#{subAndamentoController.objetoSelecionado.criaEventoFlag}" class="form-control"
								  disabled="#{subAndamentoController.editavel == false}" valueChangeListener="#{subAndamentoController.criarEventoChanged}">
					<f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
					<f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
					<f:ajax event="change" execute="@this" />
				</p:selectOneRadio>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_prazo_posterior_andamento}"
							   for="radioPrazoPosterior" class="simple-label"
							   rendered="#{subAndamentoController.editavel == true}"/>

				<p:selectOneRadio id="radioPrazoPosterior"
								  value="#{subAndamentoController.objetoSelecionado.flagPrazoPosteriorAndamento}"
								  class="form-control"
								  rendered="#{subAndamentoController.editavel == true}">
					<f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
					<f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
					<p:ajax event="change" process="@this" update="@form" />
					<p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
				</p:selectOneRadio>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_dias_prazo_seguranca}" for="edtDiasPrazoSeguranca" class="simple-label" />
				<div class="row">
					<div class="col-xs-3 form-group">
						<p:inputNumber id="edtDiasPrazoSeguranca" value="#{subAndamentoController.objetoSelecionado.diasPrazoSeguranca}"
									   disabled="#{subAndamentoController.editavel == false}"
									   style="font-weight: bold;" minValue="0" maxValue="999"
									   thousandSeparator="." decimalSeparator="," emptyValue="zero">
						</p:inputNumber>
					</div>
				</div>
			</div>
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton rendered="#{subAndamentoController.permiteInclusao}"
								 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{subAndamentoController.cancelar()}"
								 disabled="#{subAndamentoController.editavel == false}" />

				<!--Inserir-->
				<h:commandButton rendered="#{subAndamentoController.permiteInclusao}"
								 id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{subAndamentoController.novo()}"
								 disabled="#{subAndamentoController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton rendered="#{subAndamentoController.permiteInclusao}"
								 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{subAndamentoController.salvar()}"
								 onclick="setConfirmUnload(false)"
								 disabled="#{subAndamentoController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

</html>