<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<cc:interface>
    <cc:attribute name="rendered" type="java.lang.Boolean" default="#{true}" />
    <cc:attribute name="subList" required="true" type="java.util.List" />
</cc:interface>

<cc:implementation>
    <div class="row">
        <!-- Emails -->
        <div class="col-md-4">
            <h:panelGroup id="pnlEmails" rendered="#{cc.attrs.rendered}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h:outputText value="${bundleMsgs.label_e_mails}" />
                    </div>
                    <div class="panel-body">
                        <ui:repeat var="email" value="#{cc.attrs.subList}">
                            <p:panelGrid columns="3" columnClasses="ui-grid-col-3, ui-grid-col-9" rendered="#{email.subAcesso eq 'PESSOA_JURIDICA_EMAILS_FORM'}">

                                <p:panelGrid columns="2" layout="grid"
                                             columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" >

                                    <h:outputText value="${bundleMsgs.label_visualizar}:" />
                                    <p:inputSwitch value="#{email.visualiza}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'CON', 'PESSOA_JURIDICA_EMAILS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_cadastrar}:" />
                                    <p:inputSwitch value="#{email.insere}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'INC', 'PESSOA_JURIDICA_EMAILS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_excluir}:" />
                                    <p:inputSwitch value="#{email.exclui}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'EXC', 'PESSOA_JURIDICA_EMAILS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>
                                </p:panelGrid>
                            </p:panelGrid>
                        </ui:repeat>
                    </div>
                </div>
            </h:panelGroup>
        </div>

        <!-- Contatos -->
        <div class="col-md-4">
            <h:panelGroup id="pnlContatos"  rendered="#{cc.attrs.rendered}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h:outputText value="${bundleMsgs.label_contatos}" />
                    </div>
                    <div class="panel-body">
                        <ui:repeat var="contato" value="#{cc.attrs.subList}">
                            <p:panelGrid columns="3" columnClasses="ui-grid-col-3, ui-grid-col-9" rendered="#{contato.subAcesso eq 'PESSOA_JURIDICA_CONTATOS_FORM'}">

                                <p:panelGrid columns="2" layout="grid"
                                             columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" >

                                    <h:outputText value="${bundleMsgs.label_visualizar}:" />
                                    <p:inputSwitch value="#{contato.visualiza}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'CON', 'PESSOA_JURIDICA_CONTATOS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_cadastrar}:" />
                                    <p:inputSwitch value="#{contato.insere}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'INC', 'PESSOA_JURIDICA_CONTATOS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_excluir}:" />
                                    <p:inputSwitch value="#{contato.exclui}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'EXC', 'PESSOA_JURIDICA_CONTATOS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>
                                </p:panelGrid>
                            </p:panelGrid>
                        </ui:repeat>
                    </div>
                </div>
            </h:panelGroup>
        </div>

        <!-- Enderecos -->
        <div class="col-md-4">
            <h:panelGroup id="pnlEnderecos" rendered="#{cc.attrs.rendered}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h:outputText value="${bundleMsgs.label_enderecos}" />
                    </div>
                    <div class="panel-body">
                        <ui:repeat var="endereco" value="#{cc.attrs.subList}">
                            <p:panelGrid columns="3" columnClasses="ui-grid-col-3, ui-grid-col-9" rendered="#{endereco.subAcesso eq 'PESSOA_JURIDICA_ENDERECOS_FORM'}">

                                <p:panelGrid columns="2" layout="grid"
                                             columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" >

                                    <h:outputText value="${bundleMsgs.label_visualizar}:" />
                                    <p:inputSwitch value="#{endereco.visualiza}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'CON', 'PESSOA_JURIDICA_ENDERECOS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_cadastrar}:" />
                                    <p:inputSwitch value="#{endereco.insere}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'INC', 'PESSOA_JURIDICA_ENDERECOS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_excluir}:" />
                                    <p:inputSwitch value="#{endereco.exclui}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'EXC', 'PESSOA_JURIDICA_ENDERECOS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>
                                </p:panelGrid>
                            </p:panelGrid>
                        </ui:repeat>
                    </div>
                </div>
            </h:panelGroup>
        </div>
    </div>
    <div class="row">
        <!-- responsaveis -->
        <div class="col-md-4">
            <h:panelGroup id="pnlResponsaveis" rendered="#{cc.attrs.rendered}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h:outputText value="${bundleMsgs.label_responsaveis}" />
                    </div>
                    <div class="panel-body">
                        <ui:repeat var="responsavel" value="#{cc.attrs.subList}">
                            <p:panelGrid columns="3" columnClasses="ui-grid-col-3, ui-grid-col-9" rendered="#{responsavel.subAcesso eq 'PESSOA_JURIDICA_RESPONSAVEIS_FORM'}">

                                <p:panelGrid columns="2" layout="grid"
                                             columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" >

                                    <h:outputText value="${bundleMsgs.label_visualizar}:" />
                                    <p:inputSwitch value="#{responsavel.visualiza}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'CON', 'PESSOA_JURIDICA_RESPONSAVEIS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_cadastrar}:" />
                                    <p:inputSwitch value="#{responsavel.insere}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'INC', 'PESSOA_JURIDICA_RESPONSAVEIS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_excluir}:" />
                                    <p:inputSwitch value="#{responsavel.exclui}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'EXC', 'PESSOA_JURIDICA_RESPONSAVEIS_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>
                                </p:panelGrid>
                            </p:panelGrid>
                        </ui:repeat>
                    </div>
                </div>
            </h:panelGroup>
        </div>
        <!-- centrosCusto -->
        <div class="col-md-4">
            <h:panelGroup id="pnlcentrosCusto" rendered="#{cc.attrs.rendered}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h:outputText value="${bundleMsgs.label_centros_custo}" />
                    </div>
                    <div class="panel-body">
                        <ui:repeat var="centro_custo" value="#{cc.attrs.subList}">
                            <p:panelGrid columns="3" columnClasses="ui-grid-col-3, ui-grid-col-9" rendered="#{centro_custo.subAcesso eq 'PESSOA_JURIDICA_CENTROS_CUSTO_FORM'}">

                                <p:panelGrid columns="2" layout="grid"
                                             columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4" >

                                    <h:outputText value="${bundleMsgs.label_visualizar}:" />
                                    <p:inputSwitch value="#{centro_custo.visualiza}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'CON', 'PESSOA_JURIDICA_CENTROS_CUSTO_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_cadastrar}:" />
                                    <p:inputSwitch value="#{centro_custo.insere}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'INC', 'PESSOA_JURIDICA_CENTROS_CUSTO_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>

                                    <h:outputText value="${bundleMsgs.label_excluir}:" />
                                    <p:inputSwitch value="#{centro_custo.exclui}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                        <p:ajax listener="#{acessoController.atualizaOperacaoSubAcessos(pessoa, 'EXC', 'PESSOA_JURIDICA_CENTROS_CUSTO_FORM')}"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                    </p:inputSwitch>
                                </p:panelGrid>
                            </p:panelGrid>
                        </ui:repeat>
                    </div>
                </div>
            </h:panelGroup>
        </div>
    </div>
</cc:implementation>
</html>