<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<div class="row" id="messageBox">
		<div class="col-xs-12">
			<h:messages id="messages" showDetail="false"
				infoClass="alert alert-success" errorClass="alert alert-danger"
				warnClass="alert alert-warning" />
		</div>
	</div>

</ui:composition>