<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event type="preRenderView" listener="#{empresaAutoCompleteController.completeEmpresa(loginController.stateManager.empresaSelecionada.descricao)}"/>
</f:metadata>

<h:panelGroup id="menuSessionMatriz" rendered="#{loginController.matriz and loginController.permiteTrocarFilial}">
	<div class="row">
		<div class="col-md-12 col-sm-12" >
			<p:autoComplete value="#{loginController.stateManager.empresaSelecionada}"
							completeMethod="#{empresaAutoCompleteController.completeEmpresa}"
							var="e" style="width: 100% !important;"
							itemLabel="#{e.descricao}" dropdown="true"
							itemValue="#{e}" converter="entityConverter" forceSelection="true">
				<p:ajax event="itemSelect" process="@this" listener="#{loginController.atualizarEstadoPaginaListener}"/>
				<p:column>
					<h:outputText value="#{e.descricao}" />
				</p:column>
			</p:autoComplete>
		</div>
	</div>
</h:panelGroup>
</html>