<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <h3 class="control-sidebar-heading">Configurações</h3>

            <h:form id="configForm" prependId="false">

                <ui:repeat var="row" value="#{dashboardController.dashboardList}">
                    <div class="form-group">
                        <p:panelGrid columns="2" columnClasses="ui-grid-col-1,ui-grid-col-11">
                            <p:selectBooleanCheckbox value="#{row.checked}" >
                                <p:ajax process="@this" listener="#{dashboardController.atualizaConfiguracao(row)}"
                                        onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                            </p:selectBooleanCheckbox>
                            <h:outputText class="control-sidebar-subheading" value="#{row.titulo}" />
                        </p:panelGrid>

                        <p>#{row.subTitulo}</p>
                    </div>
                </ui:repeat>
            </h:form>

        </div>
    </div>
</aside>

</html>
