<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${bundleMsgs.titulo}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/icons/icon.PNG" />
    <h:outputStylesheet name="dist/css/skins/skin.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="ionicons/css/ionicons.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="dist/css/dist.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="style.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="steps.#{bundleMsgs.buildNumber}.min.css" library="steps"/>
    <ui:insert name="css-head" />
</h:head>
<h:body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div>
            <ui:include src="top-menu-template.xhtml" />
        </div>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ui:insert name="left_menu" />
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <ui:insert name="content" />
            </section>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                ${bundleMsgs.version}
            </div>
            <!-- Default to the left -->
            <strong>${bundleMsgs.copyright_year} <a href="http://www.stpro.com.br">STPRO SYSTEMS</a>.</strong> Todos os Direitos Reservados.
        </footer>

        <ui:include src="control-sidebar-template.xhtml" />
        <ui:include src="_juridico_loader.xhtml" />
    </div>

    <h:outputScript name="stpro.js" library="js"  />
    <h:outputScript name="default/click.draggable.js" library="js"  />
    <h:outputScript name="stpro-loader.js" library="js"  />
    <h:outputScript name="default/googleapis.js" library="js"  />
    <h:outputScript name="bootstrap/js/bootstrap.min.js" library="css" />
    <h:outputScript name="dist/js/app.min.js" library="css" />
    <h:outputScript name="default/primefaces-schedule.js" library="js"  />
    <ui:insert name="script-body" />
</h:body>
</html>