<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<f:metadata>
    <f:event listener="#{manutencaoEmpresaController.buscaImagemEmpresa}" type="preRenderView" />
</f:metadata>

<h:form id="menuForm" prependId="false">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">

        <h:panelGroup rendered="#{bundleMsgs.project_stage eq 'Production'}">
            <h:graphicImage alt="Imagem" width="100%"
                            value="/image?idImagem=#{manutencaoEmpresaController.imagem.id}&amp;nome=#{manutencaoEmpresaController.imagem.nomeArquivo}" />
        </h:panelGroup>

        <li class="header">
            <ui:include src="_menu_sessao.xhtml" />
        </li>

        <li class="#{active_home}">
            <p:commandLink immediate="true" ajax="false"
                           action="#{menuController.goToHome()}" onclick="setConfirmUnload(false)">
                <i class="fa fa-home"></i>
                <span>${bundleMsgs.home}</span>
            </p:commandLink>
        </li>

        <!-- AGENDA -->
        <h:panelGroup rendered="#{menuController.roleMenuAgenda}">
            <li class="#{active_agenda} treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>${bundleMsgs.agenda}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li class="#{active_agenda}">
                        <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                                       action="#{minhaAgendaController.goToMinhaAgenda}"
                                       rendered="#{minhaAgendaController.hasAccess}">
                            <i class="fa fa-table"></i>
                            <span>${bundleMsgs.label_minha_agenda}</span>
                        </p:commandLink>
                    </li>
                    <li class="#{active_agenda}">
                        <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                                       action="#{agendaGeralController.goToAgendaGeral}"
                                       rendered="#{agendaGeralController.hasAccess}">
                            <i class="fa fa-cubes"></i>
                            <span>${bundleMsgs.label_agenda_geral}</span>
                        </p:commandLink>
                    </li>
                </ul>
            </li>
        </h:panelGroup>

        <!-- advogados -->
        <h:panelGroup rendered="#{menuController.roleMenuAdvogados}">
            <li class="#{active_advogados}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{advogadoController.goToList}">
                    <i class="fa fa-black-tie"></i>
                    <span>${bundleMsgs.label_advogados}</span>
                </p:commandLink></li>
        </h:panelGroup>

        <!-- ATENDIMENTO -->
        <h:panelGroup rendered="#{false}">
            <li class="#{active_atendimento}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{menuController.goToAtendimento()}">
                    <i class="fa fa-commenting"></i>
                    <span>${bundleMsgs.atendimento}</span>
                </p:commandLink></li>
        </h:panelGroup>

        <!-- cadastros -->
        <h:panelGroup rendered="#{menuController.roleMenuCadastros}">
            <li class="#{active_cadastros}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{menuController.goToCadastros()}">
                    <i class="fa fa-pencil-square-o"></i>
                    <span class="menu-title">${bundleMsgs.cadastros}</span>
                </p:commandLink></li>
        </h:panelGroup>

        <!-- contrato -->
        <h:panelGroup rendered="#{menuController.roleMenuContratos}">
            <li class="#{active_contratos}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{menuController.goToContratos()}">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <span class="menu-title">${bundleMsgs.contratos}</span>
                </p:commandLink></li>
        </h:panelGroup>

        <!-- controladoria -->
        <h:panelGroup rendered="#{menuController.roleMenuControladoria}">
            <li class="treeview, #{active_controladoria}">
                <a href="#"><i class="fa fa-line-chart"></i> <span>${bundleMsgs.controladoria}</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-down pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                    <li class="#{active_controladoria}">
                        <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                                       action="#{controladoriaController.goToPrazosProcessos}"
                                       rendered="#{controladoriaController.hasAccess}">
                            <i class="fa fa-hourglass-half" ></i>
                            <span>${bundleMsgs.label_prazos_processo}</span>
                        </p:commandLink>
                    </li>
                    <li class="#{active_controladoria}">
                        <h:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                                       action="#{controladoriaTramitacaoController.goToTramitacao}"
                                       rendered="#{false}">
                            <i class="fa fa-list"></i>
                            <span>${bundleMsgs.projudipr_tramitacao_processo}</span>
                        </h:commandLink>
                    </li>
                </ul>
            </li>
        </h:panelGroup>

        <!-- financeiro -->
        <h:panelGroup rendered="#{menuController.roleMenuFinanceiro}">
            <li class="#{active_financeiro}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{menuController.goToFinanceiro()}">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    <span class="menu-title">${bundleMsgs.financeiro}</span>
                </p:commandLink>
            </li>
        </h:panelGroup>

        <!-- pessoas -->
        <h:panelGroup rendered="#{menuController.roleMenuPessoas}">
            <li class="treeview, #{active_clientes}">
                <a href="#"><i class="fa fa-user"></i> <span>${bundleMsgs.pessoas}</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-down pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                    <li class="#{active_clientes}">
                        <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                                       action="#{pessoaFisicaController.goToList}"
                                       rendered="#{pessoaFisicaController.hasAccess}">
                            <i class="fa fa-male"></i>
                            <span>${bundleMsgs.pessoas_fisicas}</span>
                        </p:commandLink>
                    </li>
                    <li class="#{active_clientes}">
                        <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                                       action="#{pessoaJuridicaController.goToList}"
                                       rendered="#{pessoaJuridicaController.hasAccess}">
                            <i class="fa fa-black-tie"></i>
                            <span>${bundleMsgs.pessoas_juridicas}</span>
                        </p:commandLink>
                    </li>
                    <li class="#{active_clientes}">
                        <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                                       action="#{colaboradorController.goToList}"
                                       rendered="#{colaboradorController.hasAccess}">
                            <i class="fa fa-users"></i>
                            <span>${bundleMsgs.pessoas_colaboradores}</span>
                        </p:commandLink>
                    </li>
                </ul>
            </li>
        </h:panelGroup>

        <!-- processos -->
        <h:panelGroup rendered="#{menuController.roleMenuProcessos}">
            <li class="#{active_processos}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{menuController.goToProcessos()}">
                    <i class="fa fa-balance-scale"></i>
                    <span>${bundleMsgs.processos}</span>
                </p:commandLink></li>
        </h:panelGroup>

        <!-- relatorios -->
        <h:panelGroup rendered="#{menuController.roleMenuRelatorios}">
            <li class="#{active_relatorios}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{menuController.goToRelatorios()}">
                    <i class="fa fa-bar-chart"></i>
                    <span>${bundleMsgs.relatorios}</span>
                </p:commandLink></li>
        </h:panelGroup>

        <!-- acessos -->
        <h:panelGroup rendered="#{menuController.roleMenuAcessos or menuController.perfilAdmin}">
            <li class="#{active_acessos}">
                <p:commandLink immediate="true" ajax="false" onclick="setConfirmUnload(false)"
                               action="#{menuController.goToAcessos()}">
                    <i class="fa fa-key"></i>
                    <span>${bundleMsgs.acessos}</span>
                </p:commandLink></li>
        </h:panelGroup>
    </ul><!-- /.sidebar-menu -->

</h:form>
</html>
