<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>${bundleMsgs.titulo}</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/icons/icon.PNG" />
	<h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
	<h:outputStylesheet name="login/signin.#{bundleMsgs.buildNumber}.min.css" library="css"/>
</h:head>

<h:body>
	<h:form prependId="false">
		<div class="row centered">
			<div class="col-sm-4 col-md-4"></div>
			<div class="col-sm-4 col-md-4">
				<h:messages id="messages" showDetail="false"
							infoClass="alert alert-success"
							errorClass="alert alert-danger"
							warnClass="alert alert-warning"/>
			</div>
			<div class="col-sm-4 col-md-4"></div>
		</div>
	</h:form>

	<div class="container">
		<h:form id="loginForm" class="form-signin" prependId="false">
			<h2 class="form-signin-heading">Área Restrita</h2>

			<div class="form-group">
				<h:inputText styleClass="form-control input-lg"
							 value="#{manutencaoLoginController.login}"
							 required="true" requiredMessage="Login: preenchimento obrigatório"
							 pt:placeholder="${bundleMsgs.label_login}" />
			</div>

			<div class="form-group">
				<h:inputText pt:type="password"
							 pt:placeholder="${bundleMsgs.label_senha}"
							 required="true" requiredMessage="Senha: preenchimento obrigatório"
							 value="#{manutencaoLoginController.senha}"
							 styleClass="form-control input-lg" />
			</div>

			<div class="form-group">
				<h:commandButton action="#{manutencaoLoginController.goToManutencao()}"
								 pt:data-loader="on" pt:data-loader-message="Aguarde..."
								 value="${bundleMsgs.label_entrar}"
								 styleClass="btn btn-primary btn-lg btn-block">
				</h:commandButton>
			</div>

			<div class="row">
				<div class="col-md-7 col-sm-12 ">
				</div>

				<div class="col-md-5 col-sm-12 ">
					<h:commandLink value="Login de Usuário" action="/login/login.xhtml?faces-redirect=true" immediate="true"/>
				</div>
			</div>
		</h:form>
	</div>
</h:body>
</html>