<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${bundleMsgs.titulo}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/icons/icon.PNG" />
    <h:outputStylesheet name="dist/css/skins/skin.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="ionicons/css/ionicons.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="dist/css/dist.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="style.#{bundleMsgs.buildNumber}.min.css" library="css"/>

    <ui:insert name="css-head" />
</h:head>
<h:body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div>
            <!-- Main Header -->
            <header class="main-header">
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->

                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                            </li>

                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                </a>
                                <ul class="dropdown-menu">
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ui:insert name="left_menu" />
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <ui:include src="wrapper-template.xhtml" />

            <section class="content">
                <ui:insert name="content" />
            </section>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                ${bundleMsgs.version}
            </div>
            <!-- Default to the left -->
            <strong>${bundleMsgs.copyright_year} <a href="http://www.stpro.com.br">STPRO SYSTEM</a>.</strong> Todos os Direitos Reservados.
        </footer>

        <ui:include src="_juridico_loader.xhtml" />
    </div>

    <h:outputScript name="stpro.js" library="js"  />
    <h:outputScript name="default/click.draggable.js" library="js"  />
    <h:outputScript name="stpro-loader.js" library="js"  />
    <h:outputScript name="bootstrap/js/bootstrap.min.js" library="css" />
    <h:outputScript name="dist/js/app.min.js" library="css" />
    <ui:insert name="script-body" />
</h:body>
</html>