<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:form id="topMenuForm" prependId="false">
    <!-- Main Header -->
    <header class="main-header">

        <h:panelGroup rendered="#{bundleMsgs.project_stage eq 'Production'}">
            <h:commandLink id="logo" action="#{menuController.goToHome()}" class="logo">
                <span class="logo-lg" />
                <!--<h:graphicImage value="/resources/images/icons/logo.jpg" height="45"  style="padding-top: 5%" />-->
            </h:commandLink>
        </h:panelGroup>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->

            <a id="btnToogleMenu" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <h:commandLink class="dropdown-toggle" action="#{emailCaixaSaidaController.goToCaixaSaida}" title="#{bundleMsgs.label_e_mails}">
                            <i class="fa fa-envelope-o"></i>
                            <h:outputText class="label label-warning" id="txt_emails_count"
                                          rendered="#{emailCaixaSaidaController.countEmailsPendentes > 0}"
                                          value="#{emailCaixaSaidaController.countEmailsPendentes}" />
                            <!-- tempo do poll configurado na tabela de parametros -->
                            <p:poll interval="#{emailCaixaSaidaController.tempoPoll}" update="@form"
                                    listener="#{emailCaixaSaidaController.consultaEmailsPendentes}" />
                        </h:commandLink>
                    </li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <h:graphicImage alt="Imagem" styleClass="user-image" height="32" width="32"
                                            value="/image?idImagem=#{profileController.imagem.id}&amp;nome=#{profileController.imagem.nomeArquivo}" />
                            <span class="hidden-xs">#{sessionScope.userLogged.name}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <h:graphicImage alt="Imagem" styleClass="img-circle"
                                                value="/image?idImagem=#{profileController.imagem.id}&amp;nome=#{profileController.imagem.nomeArquivo}" />
                                <p>
                                    #{sessionScope.userLogged.name} - #{sessionScope.perfil}
                                    <small>Membro desde #{sessionScope.dataCadastro}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">

                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <h:commandLink action="#{menuController.goToMeuPerfil()}"
                                                   class="btn btn-default btn-flat">
                                        ${bundleMsgs.meu_perfil}
                                    </h:commandLink>
                                </div>
                                <div class="pull-right">
                                    <h:commandLink class="btn btn-default btn-flat" action="#{loginController.logout()}">
                                        Logout
                                    </h:commandLink>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

</h:form>
</html>
