<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<section class="content-header">
    <h4>
        <ui:insert name="page-title" />
        <small><ui:insert name="small-title" /></small>
    </h4>

    <!--<h:form prependId="false" id="breadcrumbForm">-->
        <!--<ui:insert name="breadcrumb" />-->
    <!--</h:form>-->
        <ol class="breadcrumb">
            <ui:insert name="breadcrumb" />
        </ol>
</section>


<!--END TITLE & BREADCRUMB PAGE-->
</html>
