<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">

<div class="col-md-12">
	<!-- Application buttons -->
	<div class="box">
		<div class="box-body">
			<h:commandLink class="btn btn-app col-sm-6"
						   action="/manutencao/telas/manutencao-acesso-template.xhtml?faces-redirect=true">
				<i class="fa fa-object-group"></i>
				<div style="height: 10px"></div>
				<h:outputText value="Nova Tela" />
			</h:commandLink>

			<h:commandLink class="btn btn-app col-sm-6"
						   action="/manutencao/empresa/manutencao-empresa-template.xhtml?faces-redirect=true">
				<i class="fa fa-eyedropper"></i>
				<div style="height: 10px"></div>
				<h:outputText value="Empresa" />
			</h:commandLink>

			<h:commandLink class="btn btn-app col-sm-6"
						   action="/manutencao/senhausuario/manutencao-senhausuario-template.xhtml?faces-redirect=true">
				<i class="fa fa-key" aria-hidden="true"></i>
				<div style="height: 10px"></div>
				<h:outputText value="Senhas/Usuários" />
			</h:commandLink>

			<h:commandLink class="btn btn-app col-sm-6"
						   action="/manutencao/configuracao/manutencao-configuracao-template.xhtml?faces-redirect=true">
				<i class="fa fa-cog" aria-hidden="true"></i>
				<div style="height: 10px"></div>
				<h:outputText value="Configuração" />
			</h:commandLink>
		</div>
	</div>
</div>
</html>