<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="../plain-manutencao-template.xhtml">

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/manutencao/manutencao-template.xhtml">
			<i class="fa fa-home"></i> ${bundleMsgs.manutencao}
		</h:link></li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<!-- FORM CORPO DA PAGINA -->
	<ui:define name="content">
		<h:form id="form" prependId="false">

			<div class="row">
				<div class="col-xs-12 form-group" align="left">
					<!--Inserir-->
					<h:commandButton value="Ir para o STPRO" class="btn btn-info"
									 action="/pages/index.xhtml?faces-redirect=true"
									 immediate="true" />
				</div>
			</div>

			<p:spacer height="20"/>

			<ui:include src="list-menus.xhtml" />

		</h:form>
	</ui:define>
	<!-- FIM DO FORM CORPO DA PAGINA -->

</ui:composition>
</html>