<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Error Page</title>

	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<h:outputStylesheet name="dist/css/skins/skin.#{bundleMsgs.buildNumber}.min.css" library="css"/>
	<h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
	<h:outputStylesheet name="ionicons/css/ionicons.#{bundleMsgs.buildNumber}.min.css" library="css"/>
	<h:outputStylesheet name="dist/css/dist.#{bundleMsgs.buildNumber}.min.css" library="css"/>
	<h:outputStylesheet name="style.#{bundleMsgs.buildNumber}.min.css" library="css"/>
</h:head>

<h:body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header"></header>

		<aside class="main-sidebar">
			<section class="sidebar"></section>
		</aside>

		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="error-page">
					<div class="error-content">
						<h3><i class="fa fa-warning text-red"></i> Oops!</h3>
						<!--<br />-->
						<!--<h:outputText value="Error Code: #{errorHandler.statusCode}"></h:outputText>-->
						<br />
						<h:outputText value="Error Desscription: #{errorHandler.message}"></h:outputText>
						<!--<br />-->
						<!--<h:outputText value="Exception Type: #{errorHandler.exceptionType}"></h:outputText>-->
						<!--<br />-->
						<!--<h:outputText value="Exception Calss: #{errorHandler.exception}"></h:outputText>-->
						<!--<br />-->
						<!--<h:outputText value="Request URI : #{errorHandler.requestURI}"></h:outputText>-->
						<br />
						<br />

						<h:form>
							<h:commandLink value="Pagina de Login" action="#{loginController.logout}" immediate="true"/>
						</h:form>

					</div>
				</div>
			</section>
		</div>
	</div>
</h:body>
</html>
