<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="template-cadastros.xhtml">

	<ui:define name="cadastroListForm">
		<div class="row">
			<div class="col-md-12">
				<!-- Application buttons -->
				<div class="box">
					<div class="box-body">
						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{causaPedidoController.goToFormulario()}"
									   rendered="#{causaPedidoController.hasAccess}">
							<i class="fa fa-list-alt"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_causa_pedido}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{centroCustoController.goToFormulario()}"
									   rendered="#{centroCustoController.hasAccess}">
							<i class="fa fa-retweet"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_centro_custo}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{classeProcessualController.goToFormClasseProcessual()}"
									   rendered="#{classeProcessualController.hasAccess}">
							<i class="fa fa-balance-scale"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_classe_processual}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{comarcaController.goToFormulario()}"
									   rendered="#{comarcaController.hasAccess}">
							<i class="fa fa-building"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_comarca}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{contratoController.goToFormulario()}"
									   rendered="#{contratoController.hasAccess}">
							<i class="fa fa-briefcase"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_contrato}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{emailController.goToFormulario()}"
									   rendered="#{emailController.hasAccess}">
							<i class="fa fa-at"></i>
							<div style="height: 10px"></div>
							<h:outputText value="#{bundleMsgs.label_email}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{faseController.goToFormulario()}"
									   rendered="#{faseController.hasAccess}">
							<i class="fa fa-exchange"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_fase}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{formaPagamentoController.goToFormulario()}"
									   rendered="#{formaPagamentoController.hasAccess}">
							<i class="fa fa-credit-card"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_forma_pagamento}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{forumController.goToFormulario()}"
									   rendered="#{forumController.hasAccess}">
							<i class="fa fa-gavel"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_forum}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{funcaoController.goToFormulario()}"
									   rendered="#{funcaoController.hasAccess}">
							<i class="fa fa-shield" aria-hidden="true"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_funcao}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{perfilController.goToFormulario()}"
									   rendered="#{perfilController.hasAccess}">
							<i class="fa fa-graduation-cap"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_perfil}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{grauRiscoController.goToFormulario()}"
									   rendered="#{grauRiscoController.hasAccess}">
							<i class="fa fa-area-chart"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_grau_risco}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{grupoController.goToFormulario()}"
									   rendered="#{grupoController.hasAccess}">
							<i class="fa fa-users"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_grupo}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{meioTramitacaoController.goToFormulario()}"
									   rendered="#{meioTramitacaoController.hasAccess}">
							<i class="fa fa-link"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_meio_tramitacao}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{naturezaAcaoController.goToFormulario()}"
									   rendered="#{naturezaAcaoController.hasAccess}">
							<i class="fa fa-tags"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_natureza_acao}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{pedidoController.goToFormulario()}"
									   rendered="#{pedidoController.hasAccess}">
							<i class="fa fa-list"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_pedido}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{posicaoController.goToFormulario()}"
									   rendered="#{posicaoController.hasAccess}">
							<i class="fa fa-arrows"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_posicao}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{ramoAtividadeController.goToFormulario()}"
									   rendered="#{ramoAtividadeController.hasAccess}">
							<i class="fa fa-book"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_ramo_atividade}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{statusAgendaController.goToFormulario()}"
									   rendered="#{statusAgendaController.hasAccess}">
							<i class="fa fa-flag" aria-hidden="true"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_status_agenda}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{subAndamentoController.goToFormulario()}"
									   rendered="#{subAndamentoController.hasAccess}">
							<i class="fa fa-sitemap" aria-hidden="true"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_sub_andamento}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{tipoAndamentoController.goToFormulario()}"
									   rendered="#{tipoAndamentoController.hasAccess}">
							<i class="fa fa-random"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_tipo_andamento}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{tipoAtendimentoController.goToFormulario()}"
									   rendered="#{tipoAtendimentoController.hasAccess}">
							<i class="fa fa-rss"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_tipo_atendimento}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{tipoContatoController.goToFormulario()}"
									   rendered="#{tipoContatoController.hasAccess}">
							<i class="fa fa-phone"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_tipo_contato}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{tipoCustoController.goToFormulario()}"
									   rendered="#{tipoCustoController.hasAccess}">
							<i class="fa fa-money"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_tipo_custo}" />
						</h:commandLink>

						<h:commandLink class="btn btn-app col-sm-6"
									   action="#{varaController.goToFormulario()}"
									   rendered="#{varaController.hasAccess}">
							<i class="fa fa-map-signs"></i>
							<div style="height: 10px"></div>
							<h:outputText value="${bundleMsgs.label_vara}" />
						</h:commandLink>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>