<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">

<f:metadata>
    <f:event type="preRenderView" listener="#{controladoriaController.init}"/>
</f:metadata>

<!--Listagem ********************************-->
<div class="box">
    <div class="box-header with-border">
        <h:panelGroup id="groupFilter">
            <p:accordionPanel multiple="true" activeIndex="0">
                <p:tab title="${bundleMsgs.label_filtros}">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_periodo_alteracao} " />

                            <p:panelGrid columns="2" layout="grid">
                                <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                            value="#{controladoriaController.filter.dataInicioAlteracao}"
                                            navigator="true" mask="99/99/9999"
                                            pt:placeholder="${bundleMsgs.label_data_inicio}"
                                            valueChangeListener="#{controladoriaController.dataInicioAlteracaoChanged}">
                                    <p:ajax event="dateSelect"
                                            process="@this"
                                            onstart="showLoader('Aguarde...')"
                                            onsuccess="hideLoader()" />
                                </p:calendar>

                                <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                            value="#{controladoriaController.filter.dataFimAlteracao}"
                                            navigator="true" mask="99/99/9999"
                                            valueChangeListener="#{controladoriaController.dataFimAlteracaoChanged}"
                                            pt:placeholder="${bundleMsgs.label_data_final}">
                                    <p:ajax event="dateSelect"
                                            process="@this"
                                            onstart="showLoader('Aguarde...')"
                                            onsuccess="hideLoader()" />
                                </p:calendar>
                            </p:panelGrid>
                        </div>

                        <div class="col-md-6 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_periodo_prazo} " />

                            <p:panelGrid columns="2" layout="grid">
                                <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                            value="#{controladoriaController.filter.dataInicioPrazo}"
                                            navigator="true" mask="99/99/9999"
                                            pt:placeholder="${bundleMsgs.label_data_inicio}">
                                    <p:ajax event="dateSelect"
                                            listener="#{controladoriaController.dataInicioPrazoChanged}"
                                            process="@this"
                                            onstart="showLoader('Aguarde...')"
                                            onsuccess="hideLoader()" />
                                </p:calendar>

                                <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                            value="#{controladoriaController.filter.dataFimPrazo}"
                                            navigator="true" mask="99/99/9999"
                                            pt:placeholder="${bundleMsgs.label_data_final}">
                                    <p:ajax event="dateSelect"
                                            listener="#{controladoriaController.dataFimPrazoChanged}"
                                            process="@this"
                                            onstart="showLoader('Aguarde...')"
                                            onsuccess="hideLoader()" />
                                </p:calendar>
                            </p:panelGrid>
                        </div>
                    </div>

                    <h:panelGroup id="statusGroup">
                        <div class="row">
                            <div class="col-md-3 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_status} " />
                                <h:selectOneMenu value="#{controladoriaController.filter.status}" class="form-control"
                                                 valueChangeListener="#{controladoriaController.statusChanged}">
                                    <f:selectItem itemLabel="${bundleMsgs.label_selecione}" itemValue="#{null}" />
                                    <f:selectItems var="status" itemValue="#{status.descricao}" itemLabel="#{status.descricao}" value="#{statusAgendaController.statusAgendaList}" />
                                    <p:ajax event="change" process="@this" update="statusGroup" />
                                </h:selectOneMenu>
                            </div>

                            <div class="col-md-3 col-xs-12 form-group">

                                <h:outputLabel value="${bundleMsgs.label_aprovado_controladoria} " rendered="#{controladoriaController.filter.status ne 'Rejeitado'}" />
                                <h:selectOneMenu value="#{controladoriaController.filter.controladoriaStatus}" class="form-control" rendered="#{controladoriaController.filter.status ne 'Rejeitado'}">
                                    <f:selectItem itemLabel="${bundleMsgs.label_selecione}" itemValue="#{null}" />
                                    <f:selectItem itemLabel="${bundleMsgs.label_sim}" itemValue="A" />
                                    <f:selectItem itemLabel="${bundleMsgs.label_nao}" itemValue="P" />
                                </h:selectOneMenu>

                            </div>

                            <div class="col-md-6 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_processo} " />
                                <h:inputText class="form-control" value="#{controladoriaController.filter.processo}" />
                            </div>
                        </div>
                    </h:panelGroup>

                    <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_responsavel} " />
                            <p:autoComplete value="#{controladoriaController.filter.advogadoColaborador}"
                                            completeMethod="#{pessoaFisicaAutoCompleteController.completePessoaAdvogados}"
                                            var="pfVar" style="width: 100% !important;"
                                            itemLabel="#{pfVar.pessoa.descricao}"
                                            rendered="#{controladoriaController.filter.tipoPessoaControladoriaType eq 'ADVOGADO'}"
                                            itemValue="#{pfVar}" converter="entityConverter" forceSelection="true"
                                            valueChangeListener="#{controladoriaController.pfAdvogadoChanged}">
                                <p:ajax event="itemSelect"  />
                                <p:column>
                                    <h:outputText value="#{pfVar.pessoa.descricao}" />
                                </p:column>
                            </p:autoComplete>
                        </div>

                        <h:panelGroup id="parteGroup">
                            <div class="col-md-2 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_parte} " />
                                <p:selectOneRadio value="#{controladoriaController.filter.tipoPessoa}"
                                                  styleClass="form-control" pt:data-loader="off">
                                    <f:selectItem itemLabel="PF" itemValue="PF" />
                                    <f:selectItem itemLabel="PJ" itemValue="PJ" />
                                    <p:ajax event="change" process="@this" update="parteGroup"/>
                                </p:selectOneRadio>
                            </div>

                            <div class="col-md-4 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_pessoa} " />
                                <p:autoComplete value="#{controladoriaController.filter.pessoaFisica}"
                                                completeMethod="#{pessoaFisicaAutoCompleteController.completeAllPessoaFisicas}"
                                                rendered="#{controladoriaController.filter.partePessoaFisica}"
                                                var="pfVar" style="width: 100% !important;"
                                                itemLabel="#{pfVar.pessoa.descricao}"
                                                itemValue="#{pfVar}" converter="entityConverter" forceSelection="true"
                                                valueChangeListener="#{controladoriaController.pfChanged}">
                                    <p:ajax event="itemSelect"  />
                                    <p:column>
                                        <h:outputText value="#{pfVar.pessoa.descricao}" />
                                    </p:column>
                                </p:autoComplete>

                                <p:autoComplete value="#{controladoriaController.filter.pessoaJuridica}"
                                                completeMethod="#{pessoaJuridicaAutoCompleteController.completePessoaJuridica}"
                                                rendered="#{!controladoriaController.filter.partePessoaFisica}"
                                                var="pjVar" style="width: 100% !important;"
                                                itemLabel="#{pjVar.pessoa.descricao}"
                                                itemValue="#{pjVar}" converter="entityConverter" forceSelection="true"
                                                valueChangeListener="#{controladoriaController.pjChanged}">
                                    <p:ajax event="itemSelect"  />
                                    <p:column>
                                        <h:outputText value="#{pjVar.pessoa.descricao}" />
                                    </p:column>
                                </p:autoComplete>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group" align="right">
                            <h:commandButton id="btnLimpar" pt:data-loader="on"
                                             value="#{bundleMsgs.bt_limpar}" class="btn btn-warning btn-flat"
                                             pt:data-loader-message="Processando, Aguarde..."
                                             action="#{controladoriaController.limpar}">
                            </h:commandButton>
                            <span/>

                            <h:commandButton id="btnPesquisar"
                                             value="#{bundleMsgs.bt_pesquisar}" class="btn btn-primary btn-flat"
                                             pt:data-loader="on"
                                             pt:data-loader-message="Pesquisando, Aguarde..."
                                             action="#{controladoriaController.pesquisar}">
                            </h:commandButton>
                        </div>
                    </div>
                </p:tab>
            </p:accordionPanel>
        </h:panelGroup>
    </div>

    <div class="box-body">
        <div class="table-responsive form-group">
            <p:dataTable id="table" var="row" rowKey="#{row.id}" value="#{controladoriaController.eventos}"
                         rows="50" paginator="true" paginatorPosition="bottom"
                         selection="#{controladoriaController.eventosSelecionados}"
                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,25,50,100" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                <f:facet name="header">
                    <div class="row">
                        <div class="col-xs-12 form-group" align="right">
                            <p:commandLink class="btn btn-success btn-sm" style="color: #fff !important;"
                                           title="#{bundleMsgs.label_aprovar_selecionados}"
                                           value="#{bundleMsgs.label_aprovar_selecionados}" update="table"
                                           action="#{controladoriaController.aprovacaoListenerSelecionados()}"
                                           onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </p:commandLink>
                        </div>
                    </div>
                </f:facet>

                <p:column selectionMode="multiple" style="width:36px;text-align:center" >
                </p:column>

                <p:column style="width:32px">
                    <p:rowToggler />
                </p:column>

                <p:column headerText="${bundleMsgs.label_tipo_operacao}" style="width: 10%;">
                    <span class="label #{row.ultimoTipoOperacao eq 'ALTERAÇÃO' ? 'event-style-orange' : 'event-style-green'}">#{row.ultimoTipoOperacao}</span>
                </p:column>

                <p:column headerText="${bundleMsgs.label_prazo}" style="width: 30%;">
                    <h:outputText value="#{row.descricaoTipoAndamento}" rendered="#{controladoriaController.hasAccessDetalhes}"
                                  style="#{row.controladoriaStatus eq 'A' or row.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: #EE7621'}"/>
                </p:column>

                <p:column headerText="${bundleMsgs.label_responsavel}" >
                    <h:outputText value="#{row.pessoa.descricao}" style="#{row.controladoriaStatus eq 'A' or row.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: #EE7621'}" />
                </p:column>

                <p:column headerText="${bundleMsgs.label_data_final_prazo}" style="text-align: center; width: 20%">
                    <h:outputText value="#{row.dataFim}" style="#{row.controladoriaStatus eq 'A' or row.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: #EE7621'}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                    <p:spacer width="5px"/>
                    <p:commandButton id="commandLinkPrazoFatal" class="btn btn-info btn-sm"
                                     rendered="#{detalheProcessoController.hasViewPrazoFatal}"
                                     style="color: #fff !important; size: 3 !important;"
                                     icon="fa fa-hourglass-o">
                    </p:commandButton>
                    <p:overlayPanel id="panelPrazoFatal" for="commandLinkPrazoFatal"
                                    style="background-color: #3c8dbc" appendToBody="true">
                        <p:panelGrid columns="1" cellpadding="1" style=" width:250px;">
                            <h:outputText value="#{row.dataFinalPrazoFatalEventoFormatado}" style="font-size:15px; color: white;" />
                        </p:panelGrid>
                    </p:overlayPanel>
                </p:column>

                <p:column headerText="${bundleMsgs.label_status}" style="text-align: center;">
                    <span class="label #{row.statusAgenda.colorType}">#{row.statusAgenda.descricao}</span>
                </p:column>

                <p:column style="width: 15%; text-align: center;">
                    <p:commandLink class="btn btn-info btn-sm" style="color: #fff !important;"
                                   oncomplete="PF('historicoPanel').show('#{component.clientId}')"
                                   title="#{bundleMsgs.label_historico}"
                                   actionListener="#{controladoriaController.historicoListener(row)}">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </p:commandLink>
                    <span/>

                    <h:panelGroup rendered="#{row.controladoriaStatus eq 'P'}">
                        <p:commandLink class="btn btn-success btn-sm" style="color: #fff !important;"
                                       title="#{bundleMsgs.label_aprovar}" update="table"
                                       action="#{controladoriaController.aprovacaoListener(row)}"
                                       onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </p:commandLink>
                        <span/>

                        <p:commandLink class="btn btn-danger btn-sm" style="color: #fff !important;"
                                       title="#{bundleMsgs.label_recusar}">
                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            <p:ajax process="@this" listener="#{controladoriaController.justificarRejeito(row)}" />
                        </p:commandLink>
                    </h:panelGroup>
                </p:column>

                <p:rowExpansion>
                    <p:panelGrid columns="3" columnClasses="ui-grid-col-1,ui-grid-col-10,ui-grid-col-1 ">
                        <h:outputLabel value="${bundleMsgs.label_processo}:" />
                        <h:outputText value="#{row.processo.toString()}" />

                        <h:commandLink action="#{detalheProcessoController.goToDetalhes}" target="_blank">
                            <span class="label label-sm label-warning">VER MAIS</span>
                            <f:setPropertyActionListener target="#{detalheProcessoController.processo}" value="#{row.processo}" />
                        </h:commandLink>
                    </p:panelGrid>

                    <p:outputPanel id="partes" class="ui-fluid">
                        <p:dataTable id="parteTable" var="p" value="#{controladoriaController.getPartes(row)}" row="rowIndex">
                            <f:facet name="header">
                                <div align="left">
                                    ${bundleMsgs.label_partes}:
                                </div>
                            </f:facet>

                            <p:column headerText="#{bundleMsgs.label_nome}" style="width: 70%; text-align: left;">
                                <h:outputText value="#{p.pessoa.descricao}"  />
                            </p:column>

                            <p:column headerText="#{bundleMsgs.label_posicao}" style="width: 30%; text-align: center;">
                                <h:outputText value="#{p.posicao.descricao}"  />
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:rowExpansion>
            </p:dataTable>

            <p:overlayPanel widgetVar="historicoPanel" hideEffect="fade" dynamic="true"
                            showCloseIcon="true" style="width:74%" appendToBody="true">

                <p:outputPanel id="historicoDetail" style="text-align:center;">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <h3 class="box-title">${bundleMsgs.label_historico}</h3>
                        </div>
                    </div>

                    <p:dataTable var="hist" rowKey="#{row.id}" scrollable="true" scrollHeight="280"
                                 value="#{controladoriaController.eventoSelecionado.historicoEventos}"
                                 emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                        <p:column headerText="${bundleMsgs.label_data_hora_alteracao}" >
                            <h:outputText value="#{hist.dataHoraAlteracao}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}">
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_tipo_andamento}" >
                            <h:outputText value="#{hist.evento.descricaoTipoAndamento}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}"/>
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_responsavel}" >
                            <h:outputText value="#{hist.evento.pessoa.descricao}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}"/>
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_status}" >
                            <h:outputText value="#{hist.status}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}" />
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_data_final_prazo}" >
                            <h:outputText value="#{hist.evento.dataFim}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}" >
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_acordo}" >
                            <h:outputText value="#{hist.evento.andamento.houveAcordo ? 'SIM' : 'NÃO'}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}" />
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_alterado_por}" >
                            <h:outputText value="#{hist.quemAlterou}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}" />
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_aprovado_controladoria}" >
                            <h:outputText value="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'SIM' : 'NÃO'}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}" />
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_aprovado_por}" >
                            <h:outputText value="#{hist.quemAprovou}"
                                          style="#{hist.controladoriaStatus eq 'A' or hist.controladoriaStatus eq 'N' ? 'color: #3CB371' : 'color: rgb(220, 33, 39)'}" />
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:overlayPanel>
        </div>
    </div>
</div>

<p:dialog id="rejeitoDialogId" widgetVar="rejeitoDialog" modal="true" width="60%" resizable="false">

    <div class="box box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 col-xs-12 form-group">
                    <h:outputLabel value="${bundleMsgs.label_motivo}" class="simple-label" />
                    <h:inputTextarea value="#{controladoriaController.motivoRejeito}" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group" align="right">
                    <!--Cancelar-->
                    <h:commandButton id="btnCancelarRejeito" value="#{bundleMsgs.bt_cancelar}" immediate="true"
                                     class="btn btn-default" onclick="PF('rejeitoDialog').hide();"/>

                    <!--Salvar-->
                    <h:commandButton
                            id="btnSalvarRejeito" value="#{bundleMsgs.bt_salvar}"
                            class="btn btn-primary" pt:data-loader="off"
                            action="#{controladoriaController.rejeitarListener()}">
                        <p:ajax process="@this rejeitoDialogId" oncomplete="PF('rejeitoDialog').hide();" />
                    </h:commandButton>
                </div>
            </div>
        </div>
    </div>



</p:dialog>

<script type="text/javascript">
    PrimeFaces.locales['pt'] = {
        closeText : 'Fechar',
        prevText : 'Anterior',
        nextText : 'Próximo',
        currentText : 'Começo',
        monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
        monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
        dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
        dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
        dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
        weekHeader : 'Semana',
        firstDay : 0,
        isRTL : false,
        showMonthAfterYear : false,
        yearSuffix : '',
        timeOnlyTitle : 'Selecione o Horário',
        timeText : 'Horário',
        hourText : 'Hora',
        minuteText : 'Minuto',
        secondText : 'Segundo',
        ampm: false,
        month : 'Mês',
        week : 'Semana',
        day : 'Dia',
        allDayText : 'Sem horário definido'
    };
</script>
</html>