<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>${bundleMsgs.titulo}</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/icons/Logo-ST.gif" />
	<h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
	<h:outputStylesheet name="login/signin.#{bundleMsgs.buildNumber}.min.css" library="css"/>
</h:head>

<h:body>
	<h:form prependId="false">
		<div class="row centered">
			<div class="col-sm-4 col-md-4"></div>
			<div class="col-sm-4 col-md-4">
				<h:messages id="messages" showDetail="false"
							infoClass="alert alert-success"
							errorClass="alert alert-danger"
							warnClass="alert alert-warning"/>
			</div>
			<div class="col-sm-4 col-md-4"></div>
		</div>
	</h:form>

	<div class="container">
		<h:form id="contatoForm" class="form-signin" prependId="false">
			<h2 class="form-signin-heading">Informe os dados abaixo para contato</h2>

			<div class="row">
				<div class="col-xs-12 form-group">
					<label for="nome" class="simple-label">Nome </label>
					<h:inputText value="#{contatoController.nome}"
								 required="true" requiredMessage="Nome: preenchimento obrigatório"
								 class="form-control" id="nome" pt:placeholder="Infome o nome para contato" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 form-group">
					<label for="email-forgot" class="simple-label">Email </label>
					<h:inputText value="#{contatoController.email}"
								 required="true" requiredMessage="Email: preenchimento obrigatório"
								 pt:type="email" class="form-control" id="email-forgot"
								 name="email-forgot" pt:placeholder="exemplo@email.com.br" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 form-group">
					<label for="telefone" class="simple-label">Telefone </label>
					<h:inputText value="#{contatoController.telefone}"
								 required="true" requiredMessage="Telefone: preenchimento obrigatório"
								 class="form-control" id="telefone" pt:placeholder="Infome o telefone para contato" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 form-group">
					<label for="infoAssuntoText" class="simple-label">Assunto </label>
					<p:inputTextarea class="form-control" id="infoAssuntoText" onchange="sendSelection();"
									 value="#{contatoController.texto}"
									 rows="6" counter="display" maxlength="200" style="height: 100% !important;"
									 counterTemplate="{0} caracteres restantes." autoResize="false" />
					<h:outputText id="display" />
				</div>
			</div>
			<p:remoteCommand name="sendSelection" process="contatoForm" />

			<div class="row">
				<div class="form-group col-xs-12">
					<h:commandButton
							action="#{contatoController.solicitarContato}"
							pt:data-loader="on" pt:data-loader-message="Aguarde..."
							value="${bundleMsgs.bt_confirmar}"
							styleClass="btn btn-primary btn-block">
					</h:commandButton>

					<a href="http://stpro.com.br" class="btn btn-default btn-block">Voltar para o site!</a>
				</div>
			</div>

		</h:form>
	</div>
</h:body>
</html>