<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<div class="row">
	<div class="col-md-2">
		<div class="box box-solid col-md-12 no-padding">
			<div class="box-header with-border">
				<h3 class="box-title">#{bundleMsgs.agenda}</h3>
				<div class="box-tools">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<ul class="nav nav-pills nav-stacked">
					<p:spacer height="10" />
					<li><h:commandButton value="${bundleMsgs.label_criar_prazo}"
										 class="btn btn-danger"
										 action="#{minhaAgendaController.criarNovaAgenda}"
										 immediate="true" /></li>
					<p:spacer height="10" />
					<li>
						<div class="ui-grid ui-grid-responsive">
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<p:calendar value="#{minhaAgendaController.dataSelect}"
												mode="inline" locale="pt" styleClass="calendar">
										<p:ajax event="dateSelect"
												listener="#{minhaAgendaController.onDateCalendarSelect}"
												update="schedule" />
									</p:calendar>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="box-footer"></div>
		</div>

		<div class="box box-solid col-md-12 no-padding">
			<div class="box-header with-border">
				<h3 class="box-title">#{bundleMsgs.label_minhas_agendas}</h3>
				<div class="box-tools">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<ul class="nav nav-pills nav-stacked">
					<li class="#{null eq minhaAgendaController.statusAgendaSelecionado ? 'active' : ''}">
						<h:commandLink action="#{minhaAgendaController.selectAgenda(null)}">
							<i class="fa fa-circle-o fa-lg"></i>
							<span>#{bundleMsgs.label_todos}</span>
						</h:commandLink>
					</li>

					<ui:repeat value="#{minhaAgendaController.status}" var="row">
						<li class="#{row.descricao eq minhaAgendaController.statusAgendaSelecionado.descricao ? 'active' : ''}">
							<h:commandLink action="#{minhaAgendaController.selectAgenda(row)}">
								<i class="fa fa-circle #{row.styleColor} fa-lg"></i>
								<span>#{row.descricao}</span>
							</h:commandLink>
						</li>
					</ui:repeat>
				</ul>
			</div>
			<div class="box-footer"></div>
		</div>
	</div>

	<div class="col-md-10">
		<!-- schedule-->
		<p:schedule id="schedule"
					value="#{minhaAgendaController.lazyEventModel}"
					widgetVar="myschedule" timeZone="#{minhaAgendaController.timeZone}"
					locale="pt" slotMinutes="30" axisFormat="HH:mm"
					initialDate="#{minhaAgendaController.initialDate}"
					view="#{minhaAgendaController.viewType}" timeFormat="HH:mm"
					styleClass="custom" firstHour="6" minTime="06:00" maxTime="21:30">
			<p:ajax event="eventSelect"
					listener="#{minhaAgendaController.onEventSelect}"
					update="eventDetails" oncomplete="PF('eventDialog').show();" />
			<p:ajax event="eventMove"
					listener="#{minhaAgendaController.onEventMove}" update="messages" />
			<p:ajax event="eventResize"
					listener="#{minhaAgendaController.onEventResize}"
					update="messages" />
		</p:schedule>
	</div>
</div>

<p:dialog widgetVar="eventDialog"
		  header="${bundleMsgs.label_evento_titulo_header}" modal="true"
		  width="600" resizable="false">

	<div class="ui-fluid">
		<h:panelGroup id="eventDetails">
			<p:panelGrid columns="2"
						 columnClasses="ui-grid-col-2, ui-grid-col-10" layout="grid"
						 styleClass="ui-panelgrid-blank">

				<p:outputLabel value="${bundleMsgs.label_evento_titulo}:" />
				<h:outputText value="#{minhaAgendaController.eventoSelecionado.descricao}" />

				<p:outputLabel value="${bundleMsgs.label_processo}:" />
				<h:outputText value="#{minhaAgendaController.eventoSelecionado.processo.toString()}" rendered="#{not empty minhaAgendaController.eventoSelecionado.processo.toString()}" />
				<h:outputText value="Não vinculado" rendered="#{empty minhaAgendaController.eventoSelecionado.processo.toString()}" />

				<p:outputLabel value="${bundleMsgs.label_partes}:" rendered="#{minhaAgendaController.eventoSelecionado.processo ne null}" />
				<p:outputPanel id="partes" class="ui-fluid"  rendered="#{minhaAgendaController.eventoSelecionado.processo ne null}">
					<p:dataTable id="table" var="p" value="#{minhaAgendaController.eventoSelecionado.processo.partes}" row="rowIndex">
						<p:column headerText="#{bundleMsgs.label_nome}" style="width: 70%;">
							<h:outputText value="#{p.pessoa.descricao}"  />
						</p:column>

						<p:column headerText="#{bundleMsgs.label_posicao}" style="width: 30%; text-align: center;">
							<h:outputText value="#{p.posicao.descricao}"  />
						</p:column>
					</p:dataTable>
				</p:outputPanel>

				<p:outputLabel value="${bundleMsgs.label_evento_local}:" />
				<h:outputText value="#{minhaAgendaController.eventoSelecionado.localizacao}" rendered="#{not empty minhaAgendaController.eventoSelecionado.localizacao}" />
				<h:outputText value="Indefinido" rendered="#{empty minhaAgendaController.eventoSelecionado.localizacao}"/>

				<p:outputLabel value="${bundleMsgs.label_evento_de}:" />
				<p:inputMask mask="99/99/9999 99:99" pt:placeholder="dd/MM/aaaa HH:mm"
							 disabled="#{minhaAgendaController.eventoSelecionado.controladoriaStatus eq 'P'}"
							 value="#{minhaAgendaController.eventoSelecionado.dataInicio}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				</p:inputMask>

				<p:outputLabel value="${bundleMsgs.label_evento_ate}:" />
				<p:inputMask mask="99/99/9999 99:99" pt:placeholder="dd/MM/aaaa HH:mm"
							 disabled="#{minhaAgendaController.eventoSelecionado.controladoriaStatus eq 'P'}"
							 value="#{minhaAgendaController.eventoSelecionado.dataFim}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				</p:inputMask>

				<h:outputLabel value="${bundleMsgs.label_status}" />
				<h:selectOneMenu class="form-control"
								 disabled="#{minhaAgendaController.eventoSelecionado.controladoriaStatus eq 'P'}"
								 value="#{minhaAgendaController.eventoSelecionado.statusAgenda}"
								 converter="entityConverter" valueChangeListener="#{minhaAgendaController.statusChanged}" >
					<f:selectItem itemLabel="Selecione" itemValue="#{null}" />
					<f:selectItems value="#{minhaAgendaController.status}" var="status"
								   itemLabel="#{status.descricao}" itemValue="#{status}" />
					<p:ajax event="change" process="@this" update="eventDetails" />
				</h:selectOneMenu>

				<h:outputLabel value="${bundleMsgs.label_houve_acordo}" for="edtAndamentoHouveAcordo"
							   disabled="#{minhaAgendaController.eventoSelecionado.controladoriaStatus eq 'P'}"
							   rendered="#{minhaAgendaController.renderizaHouveAcordoAndamento}"/>

				<p:selectOneRadio id="edtAndamentoHouveAcordo" value="#{minhaAgendaController.eventoSelecionado.andamento.houveAcordo}"
								  class="form-control radio-group"
								  disabled="#{minhaAgendaController.eventoSelecionado.controladoriaStatus eq 'P'}"
								  rendered="#{minhaAgendaController.renderizaHouveAcordoAndamento}">
					<f:selectItem itemValue="#{true}"
								  itemLabel="${bundleMsgs.label_sim}" />
					<f:selectItem itemValue="#{false}"
								  itemLabel="${bundleMsgs.label_nao}" />
				</p:selectOneRadio>

				<div class="form-control" style="border: none;" />
				<p:selectBooleanCheckbox
						rendered="#{minhaAgendaController.hasAccessTransferir and minhaAgendaController.eventoSelecionado.controladoriaStatus ne 'P'}"
						value="#{minhaAgendaController.eventoSelecionado.transferir}"
						itemLabel="${bundleMsgs.label_evento_transferir}"
						valueChangeListener="#{minhaAgendaController.transferenciaChanged}">
					<p:ajax event="change" process="@this" update="eventDetails" />
				</p:selectBooleanCheckbox>

				<p:outputLabel value="${bundleMsgs.label_para}:"
							   rendered="#{minhaAgendaController.eventoSelecionado.transferir}" />
				<h:selectOneMenu class="form-control"
								 rendered="#{minhaAgendaController.eventoSelecionado.transferir}"
								 value="#{minhaAgendaController.eventoSelecionado.pessoa}"
								 converter="entityConverter">
					<f:selectItem itemLabel="Selecione..." itemValue="#{null}" />
					<f:selectItems var="adv" itemLabel="#{adv.pessoa.descricao}"
								   itemValue="#{adv.pessoa}"
								   value="#{minhaAgendaController.advogadosColaboradoresEscritorioList}" />
				</h:selectOneMenu>
			</p:panelGrid>

			<h:panelGroup rendered="#{minhaAgendaController.eventoSelecionado.controladoriaStatus eq 'P'}">
				<div class="col-xs-12 form-group" align="right">
					<span class="label label-sm label-warning">#{bundleMsgs['fields.form.controladoria.message']}</span>
				</div>
			</h:panelGroup>

			<h:panelGroup rendered="#{minhaAgendaController.eventoSelecionado.controladoriaStatus ne 'P'}">
				<p:spacer height="30" />

				<div class="col-xs-12 form-group" align="right">
					<h:commandLink value="#{bundleMsgs.bt_excluir}"
								   onclick="PF('myschedule').update(); PF('eventDialog').hide();"
								   class="btn btn-danger" style="color: #fff !important;">
						<f:ajax onevent="openModal('#myModal')" />
					</h:commandLink>
					<span />

					<h:commandButton value="#{bundleMsgs.bt_salvar}"
									 class="btn btn-success"
									 actionListener="#{minhaAgendaController.addEvent}" />
				</div>
			</h:panelGroup>
		</h:panelGroup>
	</div>
</p:dialog>
</html>