<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:jsf="http://xmlns.jcp.org/jsf"
	  xmlns:stpro="http://xmlns.jcp.org/jsf/composite/stprocomponents">

<div class="row">
	<div class="box box">
		<div class="box-body">
			<div class="mailbox-controls with-border">
				<h:commandLink class="btn btn-default"
							   title="${bundleMsgs.bt_voltar}"
							   action="#{minhaAgendaController.goToMinhaAgenda}" immediate="true">
					<i class="fa fa-reply"></i>
					${bundleMsgs.bt_voltar}
				</h:commandLink>

				<p:spacer width="5" />

				<h:commandLink class="btn btn-default"
							   title="${bundleMsgs.bt_descartar}"
							   action="#{minhaAgendaController.goToMinhaAgenda}" immediate="true">
					${bundleMsgs.bt_descartar}
				</h:commandLink>

				<p:spacer width="5" />

				<h:commandLink id="add-new-event"
							   value="${bundleMsgs.bt_salvar}" class="btn btn-primary" title="${bundleMsgs.bt_salvar}"
							   action="#{minhaAgendaController.salvarEvento}" />
			</div>
			<br/>

			<div class="row">
				<div class="col-md-6 form-group">
					<label>#{bundleMsgs.label_evento_titulo}*</label>
					<h:inputText value="#{minhaAgendaController.event.title}"
								 pt:placeholder="${bundleMsgs.label_evento_sem_titulo}"
								 class="form-control" required="true"
								 requiredMessage="#{bundleMsgs.validation_titulo_evento}">
					</h:inputText>
				</div>

				<div class="col-md-3 col-xs-12 form-group">
					<label>#{bundleMsgs.label_filtro_processo}</label>

					<h:selectOneMenu class="form-control"
									 value="#{minhaAgendaController.advogadoSelecionado}"
									 converter="entityConverter"
									 disabled="#{!minhaAgendaController.hasAccessPesquisarTodos}"
									 valueChangeListener="#{minhaAgendaController.advogadoChanged}">
						<f:selectItem itemLabel="${bundleMsgs.label_todos}" itemValue="#{null}" />
						<f:selectItems var="pessoa" itemLabel="#{pessoa.pessoa.descricao}"
									   itemValue="#{pessoa.pessoa}"
									   value="#{minhaAgendaController.advogadosColaboradoresEscritorioList}" />
						<f:ajax event="change" execute="@this" />
					</h:selectOneMenu>
				</div>

				<div class="col-md-3 col-xs-12 form-group">
					<label>#{bundleMsgs.label_processo}</label>
					<p:autoComplete id="processoAutoCompleteId"
									value="#{minhaAgendaController.processoSelecionado}"
									completeMethod="#{minhaAgendaController.completeProcesso}"
									var="pVar" styleClass="expand-component"
									itemLabel="#{pVar.toString()}" itemValue="#{pVar}"
									minQueryLength="1" converter="entityConverter"
									dropdown="true" >
					</p:autoComplete>
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-md-2 form-group">
					<p:selectBooleanCheckbox
							value="#{minhaAgendaController.event.allDay}"
							itemLabel="${bundleMsgs.label_evento_sem_horario_definido}"
							valueChangeListener="#{minhaAgendaController.semHorarioChanged}">
						<p:ajax event="change" process="@this"
								update="horaFimId horaInicioId" />
					</p:selectBooleanCheckbox>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 form-group">
					<h:outputLabel value="${bundleMsgs.label_evento_de}*"
								   class="simple-label" />
					<stpro:simple-calendar
							value="#{minhaAgendaController.event.startDate}"
					        required="true"
                            requiredMessage="#{bundleMsgs.validation_data_inicio_evento}" />
				</div>
				<div class="col-md-1 form-group">
					<div style="height: 25px" />
					<p:inputMask id="horaInicioId"
								 value="#{minhaAgendaController.horaInicio}" pt:placeholder="00:00"
								 class="form-control" mask="99:99" required="true"
								 requiredMessage="#{bundleMsgs.validation_hora_inicio_evento}"
								 disabled="#{minhaAgendaController.event.allDay}"
								 valueChangeListener="#{minhaAgendaController.horaInicioChanged}">
						<p:ajax event="change" process="@this" update="horaFimId"
								onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
					</p:inputMask>
				</div>

				<div class="col-md-2 form-group">
					<h:outputLabel value="${bundleMsgs.label_evento_ate}*"
								   class="simple-label" />
					<stpro:simple-calendar
							value="#{minhaAgendaController.event.endDate}"
                            required="true"
                            requiredMessage="#{bundleMsgs.validation_data_fim_evento}"/>
				</div>
				<div class="col-md-1 form-group">
					<div style="height: 25px" />
					<p:inputMask id="horaFimId"
								 value="#{minhaAgendaController.horaFim}" pt:placeholder="00:00"
								 class="form-control" mask="99:99" required="true"
								 requiredMessage="#{bundleMsgs.validation_hora_fim_evento}"
								 disabled="#{minhaAgendaController.event.allDay}" />
				</div>
                <div class="col-md-6 form-group">
                    <h:outputLabel value="${bundleMsgs.label_responsavel}*"
                                   rendered="#{minhaAgendaController.permiteInformarResponsavel}"
                                   class="simple-label" />
                    <h:selectOneMenu class="form-control"
                                     rendered="#{minhaAgendaController.permiteInformarResponsavel}"
                                     value="#{minhaAgendaController.pessoaSelecionada}"
                                     converter="entityConverter" required="true"
                                     requiredMessage="#{bundleMsgs.validation_responsavel_evento}">
                        <f:selectItem itemLabel="Selecione..." itemValue="#{null}" />
                        <f:selectItems var="pessoa" itemLabel="#{pessoa.pessoa.descricao}"
                                       itemValue="#{pessoa.pessoa}"
                                       value="#{minhaAgendaController.advogadosColaboradoresEscritorioList}" />
                    </h:selectOneMenu>
                </div>
			</div>
			<br />

			<div class="row">
				<div class="col-md-12 form-group">
					<p:panel id="detalhesPanel" header="#{bundleMsgs.label_detalhe}">
						<div class="row">

							<div class="col-md-6 col-xs-12 form-group">
								<h:outputLabel value="${bundleMsgs.label_descricao}" />
								<p:inputTextarea class="form-control"
												 value="#{minhaAgendaController.event.description}" rows="5"
												 counter="display" maxlength="2000"
												 style="height: 100% !important;"
												 counterTemplate="{0} caracteres restantes." autoResize="false" />
								<h:outputText id="display" />
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-xs-12 form-group">
								<div class="row">
									<div class="col-md-6 col-xs-12 form-group">
										<h:outputLabel value="${bundleMsgs.label_onde}" />

										<h:panelGroup class="input-group">
											<input id="autocomplete" jsf:value="#{minhaAgendaController.localizacao}"
												   placeholder="Digite o endereço" onFocus="geolocate()"
												   class="form-control" type="text">
												<p:ajax process="@this" oncomplete="geocode()" />
											</input>

											<div class="input-group-addon">
												<span/>
												<p:commandButton icon="ui-icon-search" onclick="geocode()" type="button" style="height: 20px !important;" />
											</div>
										</h:panelGroup>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12 col-xs-12 form-group">
										<p:gmap id="geoGmap" widgetVar="geoMap" center="#{minhaAgendaController.centerGeoMap}" zoom="14" type="ROADMAP" model="#{minhaAgendaController.geoModel}" style="width:100%;height:400px">
											<p:ajax event="geocode" listener="#{minhaAgendaController.onGeocode}" update="@this" />
										</p:gmap>
									</div>
								</div>
							</div>
						</div>
					</p:panel>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
	




