<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../../plain-template.xhtml">

	<ui:define name="script-body">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZaYvk6jn3h3zbnNusIRARv9ReM-6YoYU&amp;libraries=places&amp;language=pt-BR&amp;callback=initAutocomplete" />
	</ui:define>

	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		<div class="page-title">${bundleMsgs.label_minha_agenda}</div>
	</ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="active" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../../../left-menu-template.xhtml" />
	</ui:define>

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/pages/index.xhtml">
			<i class="fa fa-home"></i>
			Home
		</h:link></li>
		<li><h:link outcome="/pages/agenda/list-agenda.xhtml">
			${bundleMsgs.agenda}
		</h:link></li>
		<li class="active">${bundleMsgs.label_minha_agenda}</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="minhaAgendaForm" prependId="false">
			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-md-12 form-group">
					<ui:include src="../../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<h:panelGroup id="agendaGroup"
						  rendered="#{!minhaAgendaController.criarAgenda}">
				<ui:include src="agenda-form.xhtml" />
			</h:panelGroup>

			<h:panelGroup id="criarAgendaGroup"
						  rendered="#{minhaAgendaController.criarAgenda}">
				<ui:include src="criar-agenda-form.xhtml" />
			</h:panelGroup>

			<!-- COMPONENTE POPUP -->
			<stpro:exclusion-popup controller="#{minhaAgendaController}" />
		</h:form>
	</ui:define>
</ui:composition>
</html>