<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{detalheProcessoController.initialize}" type="preRenderView" />
</f:metadata>

<div class="row">
	<div class="col-md-10" align="left">
		<h:commandLink class="btn btn-success btn-sm" style="color: #fff !important;"
					   action="#{detalheProcessoController.adicionarAndamento}"
					   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : ''}"
					   disabled="#{detalheProcessoController.processo.processoFinalizado}"
					   rendered="#{detalheProcessoController.permiteInclusaoAndamento}"
					   pt:data-loader="on" id="btnAddAndamento" value="${bundleMsgs.bt_adicionar_andamento}">
			<f:param name="idProcesso" value="#{detalheProcessoController.processo.id}"/>
		</h:commandLink>
		<span/>

		<h:commandLink value="#{bundleMsgs.bt_editar_processo}"
					   action="#{cadastroProcessoController.goToEditar}" title="#{bundleMsgs.bt_editar_processo}"
					   class="btn btn-warning btn-sm" pt:data-loader="off" immediate="true" style="color: #fff !important;">
			<span class="fa fa-pencil"></span>
			<f:setPropertyActionListener
					target="#{cadastroProcessoController.processoEditId}" value="#{detalheProcessoController.processo.id}" />
		</h:commandLink>
	</div>
	<div class="col-md-2" align="right">
		<h:commandLink value="#{bundleMsgs.bt_print}"
					   action="#{cadastroProcessoController.imprimirProcesso}" title="#{bundleMsgs.bt_print}"
					   class="btn btn-default btn-sm" pt:data-loader="off" immediate="true" >
			<span class="fa fa-print"></span>
			<f:setPropertyActionListener
					target="#{cadastroProcessoController.processoEditId}" value="#{detalheProcessoController.processo.id}" />
		</h:commandLink>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12 form-group">
		<p:accordionPanel multiple="true">
			<p:tab title="${bundleMsgs.label_partes_e_dados_processo}" rendered="#{detalheProcessoController.hasAccessAbaDadosProcesso}">
				<div class="row">
					<div class="col-md-4 col-xs-12 form-group">
						<ul>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_processo}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.descricao}" />
							</li>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_classe_processual}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.classeProcessual.descricao}" />
							</li>

							<li>
								<h:outputLabel value="#{bundleMsgs.label_forum}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.forum.descricao}" />
							</li>

							<li>
								<h:outputLabel value="#{bundleMsgs.label_vara}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.numeroVara.descricao} #{detalheProcessoController.processo.vara.descricao}" />
							</li>

						</ul>
					</div>

					<div class="col-md-4 col-xs-12 form-group">
						<ul>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_data_abertura}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.dataAbertura}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</li>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_natureza_acao}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.naturezaAcao.descricao}" />
							</li>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_comarca}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.comarca.toString()}" />
							</li>
							<p:panelGrid rendered="#{!detalheProcessoController.processo.numeracaoSecundaria.isEmpty()}" >
								<li>
									<h:outputLabel value="#{bundleMsgs.label_numeracao_secundaria}: "
												   class="simple-label" styleClass="destaque" />

									<h:outputText style="padding-left:5px;"
												  value="#{detalheProcessoController.processo.numeracaoSecundaria}" />
								</li>
							</p:panelGrid>
						</ul>
					</div>

					<div class="col-md-4 col-xs-12 form-group">
						<ul>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_status_processo}: "
											   class="simple-label" styleClass="destaque" />

								<h:panelGroup rendered="#{detalheProcessoController.processo.status eq 'A'}">
									<span class="label label-sm label-success">
										<h:outputText value="${bundleMsgs.label_ativo}" />
									</span>
								</h:panelGroup>
								<h:panelGroup rendered="#{detalheProcessoController.processo.status eq 'S'}">
									<span class="label label-sm label-warning">
										<h:outputText value="${bundleMsgs.label_suspenso}" />
									</span>
								</h:panelGroup>
								<h:panelGroup rendered="#{detalheProcessoController.processo.status eq 'F'}">
									<span class="label label-sm label-danger">
										<h:outputText value="${bundleMsgs.label_finalizado}" />
									</span>
								</h:panelGroup>
							</li>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_meio_tramitacao}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.meioTramitacao.descricao}">
								</h:outputText>
							</li>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_fase}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.fase.descricao}" />
							</li>
							<li>
								<h:outputLabel value="#{bundleMsgs.label_data_citacao}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  rendered="#{detalheProcessoController.processo.dataCitacao ne null}"
											  value="#{detalheProcessoController.processo.dataCitacao}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>

								<h:outputText style="padding-left:5px;"
											  rendered="#{detalheProcessoController.processo.dataCitacao eq null}"
											  value="-">
								</h:outputText>
							</li>

						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-xs-12 form-group">
						<p:dataTable id="table" var="row" value="#{detalheProcessoController.processo.partes}" emptyMessage="Nenhuma parte adicionada" row="rowIndex">

							<f:facet name="header">
								<h:outputText value="${bundleMsgs.label_partes}" />
							</f:facet>

							<p:column style="width:32px">
								<p:rowToggler rendered="#{not empty row.centroCustos}" />
							</p:column>

							<p:column headerText="#{bundleMsgs.label_razao_social_nome}">
								<h:outputText id="nomeRazaoSocialLabel" value="#{row.pessoa.descricao}"  />

								<p:overlayPanel id="myPanel" for="nomeRazaoSocialLabel" showEvent="mouseover" hideEvent="mouseout" rendered="#{row.clienteAtoProcesso}"
												style="background-color: #3c8dbc" appendToBody="true">
									<p:panelGrid columns="3" cellpadding="5" style=" width:400px;">
										<f:facet name="header">
											<p:column colspan="3">
												<h:outputText value="${bundleMsgs.tooltip_info_cliente}" style="font-weight:bold; font-size:15px; color: white;" />
											</p:column>
											<p:column colspan="3">
												<hr/>
											</p:column>
										</f:facet>

										<h:outputLabel value="${bundleMsgs.tooltip_cliente_desde}" styleClass="color-itemtip"  />
										<h:outputLabel value="${bundleMsgs.tooltip_telefone}" styleClass="color-itemtip" />
										<h:outputLabel value="${bundleMsgs.tooltip_email}" styleClass="color-itemtip" />
										<h:outputText value="#{detalheProcessoController.getClienteDesde(row.pessoa)}" styleClass="color-itemtip"  />
										<h:outputText value="#{detalheProcessoController.getTelefoneCliente(row.pessoa)}" styleClass="color-itemtip"  />
										<h:outputText value="#{detalheProcessoController.getEmailCliente(row.pessoa)}" styleClass="color-itemtip"  />
									</p:panelGrid>
								</p:overlayPanel>
							</p:column>

							<p:column headerText="#{bundleMsgs.label_eh_cliente}">
								<h:outputText value="#{row.clienteSimNaoAtoProcesso}"  />
							</p:column>

							<p:column headerText="#{bundleMsgs.label_advogados}">
								<h:outputText value="#{row.descricaoAdvogados}"  />
							</p:column>

							<p:column headerText="#{bundleMsgs.label_posicao}">
								<h:outputText value="#{row.posicao.descricao}"  />
							</p:column>

							<p:rowExpansion>
								<p:dataTable value="#{row.centroCustos}" var="c" emptyMessage="#{bundleMsgs.empty_results}">
									<p:column headerText="#{bundleMsgs.label_centro_custo}">
										<h:outputText value="#{c.centroCusto.centroCusto.descricao}"  />
									</p:column>

									<p:column headerText="#{bundleMsgs.label_porcentagem}">
										<h:outputText value="#{c.percentual}"  />
									</p:column>
								</p:dataTable>
							</p:rowExpansion>
						</p:dataTable>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<h:panelGroup id="panelAndamentos" rendered="#{detalheProcessoController.hasAccessAndamentos and not empty detalheProcessoController.processo.andamentos}">
							<!-- TABLE ANDAMENTOS-->
							<div class="row">
								<div class="col-md-12 col-xs-12">
									<div class="table-responsive form-group">
										<p:dataTable id="dataTable" var="row"
													 rowStyleClass="#{row.prazoAtrasado ? 'event-text-color-firebrick' : null}"
													 emptyMessage="Nenhum andamento encontrado..."
													 value="#{detalheProcessoController.processo.andamentos}"
													 rows="5" paginator="true" paginatorPosition="bottom"
													 paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
													 rowsPerPageTemplate="5,10,15,50">

											<f:facet name="header">
												<h:outputText value="${bundleMsgs.label_andamento_processo}" />
											</f:facet>

											<p:column style="width:32px" >
												<p:rowToggler rendered="#{not empty row.prazos}" />
											</p:column>

											<p:column headerText="${bundleMsgs.label_tipo_andamento}"
													  styleClass="tableColumn" style="text-align: center; width: 30%;">
												<p:commandLink id="linkDescricaoTipoAndamento" value="#{row.tipoAndamento.descricao}"
															   action="#{detalheProcessoController.editarAndamento(row)}"
															   disabled="#{!detalheProcessoController.permiteAlteracaoAndamento}" />

												<p:overlayPanel id="panelObservacoesAndamento" for="linkDescricaoTipoAndamento" showEvent="mouseover" hideEvent="mouseout"
																style="background-color: #3c8dbc" appendToBody="true">
													<p:panelGrid columns="1" cellpadding="5" style=" width:400px;">
														<f:facet name="header">
															<p:column colspan="3">
																<h:outputText value="${bundleMsgs.tooltip_observacoes_andamento}" style="font-weight:bold; font-size:15px; color: white;" />
															</p:column>
															<hr/>
														</f:facet>

														<h:outputText value="${bundleMsgs.label_informacao}:" styleClass="color-itemtip" style="font-weight:bold;" />
														<h:outputText value="#{row.informacaoCliente}" styleClass="color-itemtip"  />
														<hr/>
														<h:outputText value="${bundleMsgs.label_complemento_informacao_interna}: " styleClass="color-itemtip" style="font-weight:bold;" />
														<h:outputText value="#{row.complemento}" styleClass="color-itemtip"  />
													</p:panelGrid>
												</p:overlayPanel>
											</p:column>

											<p:column headerText="${bundleMsgs.label_data_andamento}"
													  styleClass="tableColumn" style="text-align: center; width: 20%;">
												<h:outputText value="#{row.dataAndamento}">
													<f:convertDateTime pattern="dd/MM/yyyy" />
												</h:outputText>
											</p:column>

											<p:column headerText="${bundleMsgs.label_data_final_prazo}"
													  styleClass="tableColumn" style="text-align: center; width: 20%;">
												<h:outputText value="#{row.dataFinalPrazo ne null ? row.dataHoraFinalPrazo : bundleMsgs.label_andamento_sem_prazo_definido}" />
												<p:spacer width="5px"/>
												<p:commandButton id="commandLinkPrazoFatalAndamento" class="btn btn-info btn-sm"
																 rendered="#{detalheProcessoController.hasViewPrazoFatal}"
																 style="color: #fff !important; size: 5 !important;"
																 icon="fa fa-hourglass-o">
												</p:commandButton>
												<p:overlayPanel id="panelPrazoFatalAndamento" for="commandLinkPrazoFatalAndamento"
																style="background-color: #3c8dbc" appendToBody="true">
													<p:panelGrid columns="1" cellpadding="1" style=" width:250px;">
														<h:outputText value="#{row.dataHoraFinalPrazoFatalFormatado}" style="font-size:15px; color: white;" />
													</p:panelGrid>
												</p:overlayPanel>
											</p:column>

											<p:column headerText="${bundleMsgs.label_status}"
													  styleClass="tableColumn" style="text-align: center; width: 20%;">
												<h:outputText
														value="#{row.statusAgenda.descricao}" />
											</p:column>

											<p:column style="text-align: center; width: 10%;">
												<h:commandLink class="btn btn-warning btn-sm"
															   rendered="#{detalheProcessoController.permiteAlteracaoAndamento}"
															   style="color: #fff !important;"
															   disabled="#{detalheProcessoController.processo.processoFinalizado}"
															   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_editar}"
															   action="#{detalheProcessoController.editarAndamento(row)}" >
													<span class="fa fa-pencil"></span>
												</h:commandLink>

												<p:spacer width="3"/>

												<h:commandLink class="btn btn-danger btn-sm"
															   rendered="#{detalheProcessoController.permiteExclusaoAndamento}"
															   style="color: #fff !important;"
															   disabled="#{detalheProcessoController.processo.processoFinalizado}"
															   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_excluir}">
													<span class="fa fa-trash-o"></span>
													<f:setPropertyActionListener
															target="#{detalheProcessoController.novoAndamento}"
															value="#{row}">
													</f:setPropertyActionListener>

													<f:ajax onevent="openModal('#myModalAndamento')" />
												</h:commandLink>
											</p:column>

											<p:rowExpansion>
												<p:dataTable var="sub" rowKey="#{sub.id}" value="#{row.prazos}"
															 rowStyleClass="#{sub.prazoAtrasado ? 'event-text-color-firebrick' : null}"
															 emptyMessage="#{bundleMsgs.msg_nenhum_registro}">

													<p:column headerText="#{bundleMsgs.label_sub_andamento}" style="text-align: left;">
														<h:outputText id="textDescricaoSubAndamento" value="#{sub.subAndamento.descricao}" />

														<p:overlayPanel id="panelObservacoesSubAndamento" for="textDescricaoSubAndamento" showEvent="mouseover" hideEvent="mouseout"
																		style="background-color: #3c8dbc" appendToBody="true">
															<p:panelGrid columns="1" cellpadding="1" style=" width:400px;">
																<f:facet name="header">
																	<p:column colspan="3">
																		<h:outputText value="${bundleMsgs.tooltip_observacoes_sub_andamento}" style="font-weight:bold; font-size:15px; color: white;" />
																	</p:column>
																	<p:column colspan="1">
																		<hr/>
																	</p:column>
																</f:facet>
																<h:outputText value="#{sub.observacao}" styleClass="color-itemtip"  />
															</p:panelGrid>
														</p:overlayPanel>
													</p:column>

													<p:column headerText="#{bundleMsgs.label_responsavel}" style="text-align: left;">
														<h:outputText value="#{sub.pessoaFisica.pessoa.descricao}" />
													</p:column>

													<p:column headerText="${bundleMsgs.label_data_final_prazo}"
															  styleClass="tableColumn" style="text-align: center; width: 20%;">
														<h:outputText value="#{sub.dataHoraFinalPrazo}" />
														<p:spacer width="5px"/>
														<p:commandButton id="commandLinkPrazoFatalSubAndamento" class="btn btn-info btn-sm"
																		 rendered="#{detalheProcessoController.hasViewPrazoFatal}"
																		 style="color: #fff !important;" icon="fa fa-hourglass-o">
														</p:commandButton>
														<p:overlayPanel id="panelPrazoFatalSubAndamento" for="commandLinkPrazoFatalSubAndamento"
																		style="background-color: #3c8dbc" appendToBody="true">
															<p:panelGrid columns="1" cellpadding="1" style=" width:250px;">
																<h:outputText value="#{sub.dataHoraFinalPrazoFatalFormatado}" style="font-size:15px; color: white;" />
															</p:panelGrid>
														</p:overlayPanel>
													</p:column>

													<p:column headerText="${bundleMsgs.label_status}"
															  styleClass="tableColumn" style="text-align: center; width: 20%;">
														<h:outputText value="#{sub.statusAgenda.descricao}" />
													</p:column>

												</p:dataTable>
											</p:rowExpansion>
										</p:dataTable>
									</div>
								</div>
							</div>
						</h:panelGroup>
					</div>
				</div>
			</p:tab>

			<p:tab title="${bundleMsgs.label_resumo_acao}" rendered="#{detalheProcessoController.hasAccessAbaResumo}">
				<div class="panel-body">
					<p:editor id="editor" widgetVar="editorWidget" disabled="true"
							  value="#{detalheProcessoController.processo.observacao}" style="width: 100%" />
				</div>
			</p:tab>

			<p:tab title="${bundleMsgs.label_valores}" rendered="#{detalheProcessoController.hasAccessAbaValores}">
				<div class="panel-body">
					<div class="form-group col-md-12">
						<div class="row">
							<div class="col-md-3 col-xs-12 form-group">
								<h:outputLabel value="#{bundleMsgs.label_grau_risco}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.grauRisco.descricao}" />
							</div>

							<div class="col-md-3 col-xs-12 form-group">
								<h:outputLabel value="#{bundleMsgs.label_valor_causa}: "
											   class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.valorCausa}" >
									<f:convertNumber type="currency" currencySymbol="R$" />
								</h:outputText>
							</div>

							<div class="col-md-3 col-xs-12 form-group">
								<h:outputLabel
										value="#{bundleMsgs.label_valor_provavel}: "
										class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;"
											  value="#{detalheProcessoController.processo.valorProvavel}">
									<f:convertNumber type="currency" currencySymbol="R$" />
								</h:outputText>
							</div>

							<div class="col-md-3 col-xs-12 form-group">
								<h:outputLabel
										value="#{bundleMsgs.label_valor_total}: "
										class="simple-label" styleClass="destaque" />

								<h:outputText style="padding-left:5px;" value="#{detalheProcessoController.processo.valorPedido}" >
									<f:convertNumber type="currency" currencySymbol="R$" />
								</h:outputText>
							</div>
						</div>
						<hr />

						<div class="row">
							<p:dataTable value="#{detalheProcessoController.processo.pedidos}" var="row" emptyMessage="#{bundleMsgs.empty_results}">
								<p:column headerText="#{bundleMsgs.label_pedido}">
									<h:outputText value="#{row.pedido.descricao}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_causa_pedido}">
									<h:outputText value="#{row.causaPedido.descricao}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_valor_pedido}" style="text-align: center;">
									<h:outputText value="#{row.valorPedido}" >
										<f:convertNumber type="currency" currencySymbol="R$" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{bundleMsgs.label_valor_provavel}" style="text-align: center;">
									<h:outputText value="#{row.valorProvavel}" >
										<f:convertNumber type="currency" currencySymbol="R$" />
									</h:outputText>
								</p:column>
							</p:dataTable>
						</div>
					</div>
				</div>
			</p:tab>

			<p:tab title="${bundleMsgs.label_honorarios}" rendered="#{detalheProcessoController.hasAccessAbaHonorarios}">
				<div class="panel-body">
					<p:tabView orientation="left" styleClass="form-group">
						<p:tab title="#{bundleMsgs.label_contrato}" rendered="#{detalheProcessoController.processo.honorarioContrato}" >
							<div class="row">
								<div class="col-md-12 col-xs-12 form-group">
									<h:outputLabel value="#{bundleMsgs.label_contrato}:" class="simple-label" styleClass="destaque" />

									<h:outputText style="padding-left:5px;"
												  value="#{detalheProcessoController.processo.processoHonorario.contratoPessoa.descricao}" />
								</div>
							</div>
						</p:tab>

						<p:tab title="#{bundleMsgs.label_valores}" rendered="#{detalheProcessoController.processo.processoHonorario.flagValor}">
							<div class="row">
								<p:dataTable value="#{detalheProcessoController.processo.processoHonorario.parcelaHonorarios}"
											 var="h" emptyMessage="#{bundleMsgs.empty_results}" rowIndexVar="index">

									<p:column headerText="${bundleMsgs.label_descricao}" >
										<h:outputText value="#{h.descricaoParcela}" />
									</p:column>

									<p:column headerText="${bundleMsgs.label_valor}" style="text-align: center;">
										<h:outputText value="#{h.valorParcela}" >
											<f:convertNumber currencySymbol="R$" type="currency" />
										</h:outputText>
									</p:column>

									<p:column headerText="${bundleMsgs.label_data_vencimento}" style="text-align: center;">
										<h:outputText value="#{h.dataVencimento}" rendered="#{h.dataVencimento ne null}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>

										<h:outputText value="#{h.descricaoVencimento}" rendered="#{h.dataVencimento eq null}"/>
									</p:column>

									<p:column headerText="${bundleMsgs.label_pago}" style="text-align:center">
										<p:inputSwitch value="#{h.pago}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
											<p:ajax listener="#{detalheProcessoController.atualizarPagamentoHonorario(index)}"
													onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
										</p:inputSwitch>
									</p:column>
								</p:dataTable>
							</div>
						</p:tab>

						<p:tab title="#{bundleMsgs.label_percentual}" rendered="#{detalheProcessoController.processo.processoHonorario.flagPercentual}">
							<div class="row">
								<div class="col-md-4 col-xs-12 form-group">
									<h:outputLabel value="#{bundleMsgs.label_percentual}: " class="simple-label" styleClass="destaque" />

									<h:outputText style="padding-left:5px;"
												  value="#{detalheProcessoController.processo.processoHonorario.percentual}%" />
								</div>

								<div class="col-md-8 col-xs-12 form-group">
									<h:outputLabel value="#{bundleMsgs.label_obervacoes}: "  rendered="#{not empty detalheProcessoController.processo.processoHonorario.descricaoPercentual}"
												   class="simple-label" styleClass="destaque" />

									<h:outputText style="padding-left:5px;"
												  value="#{detalheProcessoController.processo.processoHonorario.descricaoPercentual}" />
								</div>
							</div>
						</p:tab>
					</p:tabView>
				</div>
			</p:tab>
		</p:accordionPanel>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12 form-group">
		<i><h:outputText value="Cadastrado por: #{detalheProcessoController.cadastradoPor} " /></i>
	</div>
</div>

</html>