<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-md-12 col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{grupoController.objetoSelecionado.descricao}"
							 disabled="#{grupoController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-xs-12 form-group">
				<p:panel header="Advogados do grupo" widgetVar="panel" style="margin-bottom:20px" rendered="#{grupoController.editavel}">
					<div class="row">
						<div class="col-md-12 col-xs-12 form-group">
							<div class="ui-fluid">
								<p:selectCheckboxMenu id="menu" value="#{grupoController.selectedAdvogadosDoGrupo}"
													  label="Advogados"  panelStyle="width:290px"
													  converter="entityConverter">
									<f:selectItems value="#{grupoController.advogados}" var="adv" itemValue="#{adv}"
												   itemLabel="#{adv.pessoa.descricao}" />
									<p:ajax process="@this" oncomplete="setConfirmUnload(true)" update="display" />
									<p:ajax event="toggleSelect"  process="@this" update="display" partialSubmit="true"/>
								</p:selectCheckboxMenu>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-xs-12 form-group">
							<p:outputPanel id="display" style="width:100% !important; padding-left:5px; margin-top:10px">
								<p:dataList value="#{grupoController.selectedAdvogadosDoGrupo}"
											var="row" emptyMessage="Nenhum advogado selecionado" >
									#{row.pessoa.descricao}
								</p:dataList>
							</p:outputPanel>
						</div>
					</div>
				</p:panel>
			</div>
		</div>
	</div>

	<!--Botoes ************************************-->
	<div class="row">
		<div class="col-xs-12 form-group" align="right">

			<!--Cancelar-->
			<h:commandButton rendered="#{grupoController.permiteInclusao}"
							 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
							 class="btn btn-default" action="#{grupoController.cancelar()}"
							 disabled="#{grupoController.editavel == false}" />

			<!--Inserir-->
			<h:commandButton rendered="#{grupoController.permiteInclusao}"
							 id="btnInserir" value="#{bundleMsgs.bt_novo}"
							 class="btn btn-success" action="#{grupoController.novo()}"
							 disabled="#{grupoController.editavel}">
			</h:commandButton>

			<!--Salvar-->
			<h:commandButton rendered="#{grupoController.permiteInclusao}"
							 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
							 class="btn btn-primary" pt:data-loader="on"
							 pt:data-loader-message="Salvando, Aguarde..."
							 action="#{grupoController.salvar()}"
							 onclick="setConfirmUnload(false)"
							 disabled="#{grupoController.editavel == false}">
			</h:commandButton>
		</div>
	</div>
	<!--Botoes ...................................-->

</div>

</html>