<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">


<div class="ui-fluid">

    <div class="row">
        <div class="col-md-12 form-group" align="right">
            <!--Inserir-->
            <h:commandButton value="${bundleMsgs.bt_adicionar_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.adicionarTodos('MENU_HOME')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableHome"/>
            </h:commandButton>
            <span/>
            <h:commandButton value="${bundleMsgs.bt_remover_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.removerTodos('MENU_HOME')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableHome"/>
            </h:commandButton>
        </div>
    </div>

	<p:dataTable id="tableHome"
				 value="#{acessoController.perfilHomeAcessos}" var="home"
				 emptyMessage="#{bundleMsgs.empty_results}"
				 paginator="true" paginatorPosition="bottom" rows="10" rowIndexVar="index">

		<p:column headerText="#{bundleMsgs.label_acesso}">
			<h:outputText value="#{home.acesso.descricao}" />
		</p:column>

        <p:column headerText="#{bundleMsgs.label_menu}" style="text-align: center; width: 10%" >
            <p:selectBooleanCheckbox value="#{home.menuAtivo}" >
                <p:ajax update="tableHome" listener="#{acessoController.atualizaAcessoMenu(home.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>
	</p:dataTable>
</div>
</html>