<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<div class="ui-fluid">
	<div class="row">
		<p:panel id="loginSenha" header="Login Projudi-PR" style="margin-bottom:20px" rendered="#{projudiprLoginController.projudiprLoginEmpresa ne null}">
			<div class="row">
				<div class="col-xs-4 form-group">
					<p:panelGrid columns="2">
						<h:outputText value="#{bundleMsgs.label_login}" />
						<h:outputText value="#{projudiprLoginController.projudiprLoginEmpresa.login}" />

						<h:outputText value="#{bundleMsgs.label_senha}" />
						<h:outputText value="**********" />

						<h:commandLink value="editar"  class="btn btn-warning btn-sm" style="color: #fff !important;"
									   action="#{projudiprLoginController.goToEditar(projudiprLoginController.projudiprLoginEmpresa)}"/>
						<h:commandLink value="excluir" class="btn btn-danger btn-sm" style="color: #fff !important;" >
							<f:setPropertyActionListener value="#{projudiprLoginController.projudiprLoginEmpresa}"
														 target="#{projudiprLoginController.projudiprLogin}" />
							<f:ajax onevent="openModal('#myModal')" />
						</h:commandLink>
					</p:panelGrid>
				</div>
			</div>
		</p:panel>
	</div>

	<p:panel id="formId" header="#{bundleMsgs.projudipr_login_senha}" style="margin-bottom:20px"
			 rendered="#{projudiprLoginController.projudiprLoginEmpresa eq null or projudiprLoginController.editando}">
		<div class="row">
			<div class="col-xs-4 form-group"></div>
			<div class="col-xs-4 form-group">
				<h:outputLabel value="#{bundleMsgs.label_login}" for="edtLogin" class="simple-label" />

				<h:inputText id="edtLogin" class="form-control"
							 value="#{projudiprLoginController.login}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(false)" />
				</h:inputText>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4 form-group"></div>
			<div class="col-xs-4 form-group">
				<h:outputLabel value="#{bundleMsgs.label_senha}" for="edtSenha" class="simple-label" />

				<h:inputText id="edtSenha" class="form-control" pt:type="password"
							 value="#{projudiprLoginController.senha}" pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(false)" />
				</h:inputText>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4 form-group"></div>
			<div class="col-xs-4 form-group" align="right">
				<h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default"
								 immediate="true"
								 action="#{projudiprLoginController.cancelar()}" />

				<!--Salvar-->
				<h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{projudiprLoginController.salvarEditarLogin()}"
								 onclick="setConfirmUnload(false)">
				</h:commandButton>
			</div>
		</div>
	</p:panel>
</div>
<!-- COMPONENTE POPUP -->
<stpro:exclusion-popup controller="#{projudiprLoginController}" />

</html>