<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:stproacesso="http://xmlns.jcp.org/jsf/composite/stprocomponents/sub-acessos">


<div class="ui-fluid">

    <div class="row">
        <div class="col-md-12 form-group" align="right">
            <!--Inserir-->
            <h:commandButton value="${bundleMsgs.bt_adicionar_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.adicionarTodos('MENU_PESSOAS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tablePessoas"/>
            </h:commandButton>
            <span/>
            <h:commandButton value="${bundleMsgs.bt_remover_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.removerTodos('MENU_PESSOAS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tablePessoas"/>
            </h:commandButton>
        </div>
    </div>

    <p:dataTable id="tablePessoas"
                 value="#{acessoController.perfilPessoasAcessos}" var="pessoa"
                 emptyMessage="#{bundleMsgs.empty_results}"
                 paginator="true" paginatorPosition="bottom" rows="10" rowIndexVar="index">

        <p:column style="width:32px">
            <p:rowToggler rendered="#{pessoa.perfilCadastroPessoas}"/>
        </p:column>

        <p:rowExpansion>
            <p:spacer height="3" />
            <stproacesso:colaborador-acesso subList="#{pessoa.perfilSubAcessoDtos}" rendered="#{pessoa.acesso.funcionalidade eq 'COLABORADOR_COLABORADOR_FORM'}" />
            <stproacesso:pessoafisica-acesso subList="#{pessoa.perfilSubAcessoDtos}" rendered="#{pessoa.acesso.funcionalidade eq 'PESSOAFISICA_PESSOA_FISICA_FORM'}" />
            <stproacesso:pessoajuridica-acesso subList="#{pessoa.perfilSubAcessoDtos}" rendered="#{pessoa.acesso.funcionalidade eq 'PESSOAJURIDICA_PESSOA_JURIDICA_FORM'}" />
        </p:rowExpansion>

        <p:column headerText="#{bundleMsgs.label_acesso}">
            <h:outputText value="#{pessoa.acesso.descricao}" />
        </p:column>

        <p:column headerText="#{bundleMsgs.label_menu}" style="text-align: center; width: 10%" >
            <p:selectBooleanCheckbox value="#{pessoa.menuAtivo}" >
                <p:ajax update="tablePessoas" listener="#{acessoController.atualizaAcessoMenu(pessoa.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9">
                    <i class="fa fa-circle color-btn-editar fa-2x" />
                    <h:outputText value="Editar" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{pessoa.edita}" rendered="#{pessoa.menuAtivo and pessoa.acesso.flagOperacao eq 1}" >
                <p:ajax update="tablePessoas" listener="#{acessoController.atualizaOperacaoEditar(pessoa.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()" />
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9">
                    <i class="fa fa-circle color-btn-excluir fa-2x" />
                    <h:outputText value="Excluir" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{pessoa.exclui}" rendered="#{pessoa.menuAtivo and pessoa.acesso.flagOperacao eq 1}" >
                <p:ajax update="tablePessoas" listener="#{acessoController.atualizaOperacaoExcluir(pessoa.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9">
                    <i class="fa fa-circle color-btn-incluir fa-2x" />
                    <h:outputText value="Inserir" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{pessoa.insere}" rendered="#{pessoa.menuAtivo and pessoa.acesso.flagOperacao eq 1}">
                <p:ajax update="tablePessoas" listener="#{acessoController.atualizaOperacaoInserir(pessoa.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>
    </p:dataTable>
</div>
</html>