<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../plain-template.xhtml">

	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		#{bundleMsgs.acessos}
	</ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="active" />

		<!-- MENU LATERAL -->
		<ui:include src="../../left-menu-template.xhtml" />
	</ui:define>


	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/pages/index.xhtml">
			<i class="fa fa-home"></i> Home
		</h:link></li>
		<li class="active">#{bundleMsgs.acessos}</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="formAcessos" prependId="false">
			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<div class="row">
				<div class="box">
					<div class="box-header with-border">
						<div class="form-group">
							<div class="row">
								<div class="col-md-3 col-xs-6 form-group">
									<h:outputLabel value="#{bundleMsgs.label_perfil} *"
												   class="simple-label"/>

									<h:selectOneMenu value="#{acessoController.perfilAcesso.perfil}"
													 styleClass="form-control select2"
													 converter="entityConverter"
													 valueChangeListener="#{acessoController.perfilChanged}">
										<f:selectItems var="p" value="#{acessoController.perfis}"
													   itemLabel="#{p.descricao}" />
										<f:ajax event="change" execute="@this" render="formAcessos" />
									</h:selectOneMenu>
								</div>
							</div>
							<p:spacer height="15" />
							<div class="row">
								<div class="col-md-12 col-xs-12 form-group">
									<p:tabView activeIndex="#{acessoController.activeIndex}" widgetVar="tabwv">
										<p:ajax event="tabChange" listener="#{acessoController.onTabChange}" />
										<p:tab title="${bundleMsgs.home}"  >
											<ui:include src="acesso-home-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.agenda}">
											<ui:include src="acesso-agendas-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.advogados}">
											<ui:include src="acesso-advogados-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.cadastros}"  >
											<ui:include src="acesso-cadastros-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.contratos}" rendered="#{acessoController.configuracaoContratos}">
											<ui:include src="acesso-contrato-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.controladoria}" rendered="#{acessoController.configuracaoControladoria}">
											<ui:include src="acesso-controladoria-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.financeiro}" rendered="#{acessoController.configuracaoFinanceiro}">
											<ui:include src="acesso-financeiro-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.pessoas}">
											<ui:include src="acesso-pessoas-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.processos}">
											<ui:include src="acesso-processos-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.relatorios}">
											<ui:include src="acesso-relatorios-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.acessos}">
											<ui:include src="acesso-acessos-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.dashboards}">
											<ui:include src="acesso-dashboards-form.xhtml" />
										</p:tab>

										<p:tab title="${bundleMsgs.projudipr_projudi}" rendered="#{acessoController.configuracaoRobo}">
											<ui:include src="acesso-projudipr-login-form.xhtml" />
										</p:tab>
									</p:tabView>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>