<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://java.sun.com/jsf/html">


<div class="ui-fluid">
    
    <div class="row">
        <div class="col-md-12 form-group" align="right">
            <!--Inserir-->
            <h:commandButton value="${bundleMsgs.bt_adicionar_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.adicionarTodos('MENU_ACESSOS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableAcessos"/>
            </h:commandButton>
            <span/>
            <h:commandButton value="${bundleMsgs.bt_remover_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.removerTodos('MENU_ACESSOS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableAcessos"/>
            </h:commandButton>
        </div>
    </div>

	<p:dataTable id="tableAcessos"
				 value="#{acessoController.perfilDashboardsAcessos}" var="dashboard"
				 emptyMessage="#{bundleMsgs.empty_results}"
				 paginator="true" paginatorPosition="bottom" rows="10" rowIndexVar="index">

		<p:column headerText="#{bundleMsgs.label_acesso}">
			<h:outputText value="#{dashboard.acesso.descricao}" />
		</p:column>

        <p:column style="text-align: center; width: 11%">
            <f:facet name="header">
                <h:outputText value="Mostrar?" />
            </f:facet>
            <p:selectBooleanCheckbox value="#{dashboard.consulta}" rendered="#{dashboard.menuAtivo and dashboard.acesso.flagOperacao eq 1}" >
                <p:ajax update="tableAcessos" listener="#{acessoController.atualizaOperacaoConsultar(dashboard.acesso, index)}"
						onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
            </p:selectBooleanCheckbox>
        </p:column>
	</p:dataTable>
</div>
</html>