<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://java.sun.com/jsf/html">


<div class="ui-fluid">

    <div class="row">
        <div class="col-md-12 form-group" align="right">
            <!--Inserir-->
            <h:commandButton value="${bundleMsgs.bt_adicionar_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.adicionarTodos('MENU_CONTRATOS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableContratos"/>
            </h:commandButton>
            <span/>
            <h:commandButton value="${bundleMsgs.bt_remover_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.removerTodos('MENU_CONTRATOS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableContratos"/>
            </h:commandButton>
        </div>
    </div>

    <p:dataTable id="tableContratos"
                 value="#{acessoController.perfilContratosAcessos}" var="contratos"
                 emptyMessage="#{bundleMsgs.empty_results}"
                 paginator="true" paginatorPosition="bottom" rows="10" rowIndexVar="index">

        <p:column headerText="#{bundleMsgs.label_acesso}">
            <h:outputText value="#{contratos.acesso.descricao}" />
        </p:column>

        <p:column headerText="#{bundleMsgs.label_menu}" style="text-align: center; width: 10%" >
            <p:selectBooleanCheckbox value="#{contratos.menuAtivo}" >
                <p:ajax update="tableContratos" listener="#{acessoController.atualizaAcessoMenu(contratos.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9">
                    <i class="fa fa-circle color-btn-editar fa-2x" />
                    <h:outputText value="Editar" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{contratos.edita}" rendered="#{contratos.menuAtivo and contratos.acesso.flagOperacao eq 1}" >
                <p:ajax update="tableContratos" listener="#{acessoController.atualizaOperacaoEditar(contratos.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2">
                    <i class="fa fa-circle color-btn-excluir fa-2x" />
                    <h:outputText value="Excluir" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{contratos.exclui}" rendered="#{contratos.menuAtivo and contratos.acesso.flagOperacao eq 1}" >
                <p:ajax update="tableContratos" listener="#{acessoController.atualizaOperacaoExcluir(contratos.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2">
                    <i class="fa fa-circle color-btn-incluir fa-2x" />
                    <h:outputText value="Inserir" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{contratos.insere}" rendered="#{contratos.menuAtivo and contratos.acesso.flagOperacao eq 1}">
                <p:ajax update="tableContratos" listener="#{acessoController.atualizaOperacaoInserir(contratos.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

    </p:dataTable>
</div>
</html>