<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<div class="ui-fluid">

    <div class="row">
        <div class="col-md-12 form-group" align="right">
            <!--Inserir-->
            <h:commandButton value="${bundleMsgs.bt_adicionar_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.adicionarTodos('MENU_RELATORIOS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableRelatorios"/>
            </h:commandButton>
            <span/>
            <h:commandButton value="${bundleMsgs.bt_remover_todos}" class="btn btn-default">
                <p:ajax process="@this" listener="#{acessoController.removerTodos('MENU_RELATORIOS')}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"
                        update="tableRelatorios"/>
            </h:commandButton>
        </div>
    </div>

	<p:dataTable id="tableRelatorios"
				 value="#{acessoController.perfilRelatoriosAcessos}" var="relatorio"
				 emptyMessage="#{bundleMsgs.empty_results}"
				 paginator="true" paginatorPosition="bottom" rows="10" rowIndexVar="index">

		<p:column headerText="#{bundleMsgs.label_acesso}">
			<h:outputText value="#{relatorio.acesso.descricao}" />
		</p:column>

        <p:column headerText="#{bundleMsgs.label_menu}" style="text-align: center; width: 10%" >
            <p:selectBooleanCheckbox value="#{relatorio.menuAtivo}" >
                <p:ajax update="tableRelatorios" listener="#{acessoController.atualizaAcessoMenu(relatorio.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9">
                    <i class="fa fa-circle color-btn-editar fa-2x" />
                    <h:outputText value="Editar" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{relatorio.edita}" rendered="#{relatorio.menuAtivo and relatorio.acesso.flagOperacao eq 1}" >
                <p:ajax update="tableRelatorios" listener="#{acessoController.atualizaOperacaoEditar(relatorio.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9">
                    <i class="fa fa-circle color-btn-excluir fa-2x" />
                    <h:outputText value="Excluir" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{relatorio.exclui}" rendered="#{relatorio.menuAtivo and relatorio.acesso.flagOperacao eq 1}" >
                <p:ajax update="tableRelatorios" listener="#{acessoController.atualizaOperacaoExcluir(relatorio.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>

        <p:column style="text-align: center; width: 140px">
            <f:facet name="header">
                <p:panelGrid columns="2">
                    <i class="fa fa-circle color-btn-incluir fa-2x" />
                    <h:outputText value="Inserir" />
                </p:panelGrid>
            </f:facet>
            <p:selectBooleanCheckbox value="#{relatorio.insere}" rendered="#{relatorio.menuAtivo and relatorio.acesso.flagOperacao eq 1}">
                <p:ajax update="tableRelatorios" listener="#{acessoController.atualizaOperacaoInserir(relatorio.acesso, index)}"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </p:column>
    </p:dataTable>
</div>
</html>