/**
* cores para eventos da agenda
*/
a.event-style-gainsboro {
	border-color: #696969 !important;
    background-color: #DCDCDC !important;
}

a.event-style-slateBlue {
	border-color: #483D8B !important;
    background-color: #6A5ACD !important;
}

a.event-style-mediumSeaGreen {
	border-color: #2E8B57 !important;
    background-color: #3CB371 !important;
}

a.event-style-mediumTurquoise {
	border-color: #00CED1 !important;
    background-color: #48D1CC !important;
}

a.event-style-lightSlateGray {
	border-color: #778899 !important;
    background-color: #778899 !important;
}

a.event-style-paleGreen {
	border-color: #00FF7F !important;
    background-color: #98FB98 !important;
}

a.event-style-darkGoldenrod {
	border-color: #B8860B !important;
    background-color: #B8860B !important;
}

a.event-style-firebrick {
	border-color: #A52A2A !important;
    background-color: #B22222 !important;
}

a.event-style-indianRed2 {
	border-color: #CD5555 !important;
    background-color: #EE6363 !important;
}

a.event-style-chocolate2 {
	border-color: #CD661D !important;
    background-color: #EE7621 !important;
}

a.event-style-darkMagenta {
	border-color: #8B008B !important;
    background-color: #8B008B !important;
}

a.event-style-green {
    border-color: rgb(77, 184, 16) !important;
    background-color: rgb(123, 209, 72) !important;
}

a.event-style-blue {
    border-color: rgb(84, 132, 237) !important;
    background-color: rgb(84, 132, 237) !important;
}

a.event-style-purple {
    border-color: rgb(219, 173, 255) !important;
    background-color: rgb(219, 173, 255) !important;
}

a.event-style-yellow {
    border-color: rgb(251, 215, 91) !important;
    background-color: rgb(251, 215, 91) !important;
}

a.event-style-orange {
    border-color: rgb(255, 184, 120) !important;
    background-color: rgb(255, 184, 120) !important;
}

a.event-style-red {
    border-color: rgb(220, 33, 39) !important;
    background-color: rgb(220, 33, 39) !important;
}

/**
* Text colors
*/

.event-text-color-gainsboro {
	color: #DCDCDC !important
}

.event-text-color-slateBlue {
	color: #6A5ACD !important
}

.event-text-color-mediumSeaGreen {
	color: #3CB371 !important
}

.event-text-color-mediumTurquoise {
	color: #48D1CC !important
}

.event-text-color-lightSlateGray {
	color: #778899 !important
}

.event-text-color-paleGreen {
	color: #98FB98 !important
}

.event-text-color-darkGoldenrod {
	color: #B8860B !important
}

.event-text-color-firebrick {
	color: #B22222 !important
}

.event-text-color-indianRed2 {
	color: #EE6363 !important
}

.event-text-color-chocolate2 {
	color: #EE7621 !important
}

.event-text-color-darkMagenta {
	color: #8B008B !important
}

.event-text-color-green {
	color: rgb(123, 209, 72) !important
}

.event-text-color-blue {
	color: rgb(84, 132, 237) !important
}

.event-text-color-purple {
	color: rgb(219, 173, 255) !important
}

.event-text-color-yellow {
	color: rgb(251, 215, 91) !important
}

.event-text-color-orange {
	color: rgb(255, 184, 120) !important
}

.event-text-color-red {
	color: rgb(220, 33, 39) !important
}

.event-text-color-black {
	color: #1a2226 !important;
}

/**
* colors
*/
.event-style-gainsboro {
	border-color: #696969 !important;
	background-color: #DCDCDC !important;
}

.event-style-slateBlue {
	color: #fff !important;
	border-color: #483D8B !important;
	background-color: #6A5ACD !important;
}

.event-style-mediumSeaGreen {
	color: #fff !important;
	border-color: #2E8B57 !important;
	background-color: #3CB371 !important;
}

.event-style-mediumTurquoise {
	color: #fff !important;
	border-color: #00CED1 !important;
	background-color: #48D1CC !important;
}

.event-style-lightSlateGray {
	color: #fff !important;
	border-color: #778899 !important;
	background-color: #778899 !important;
}

.event-style-paleGreen {
	color: #fff !important;
	border-color: #00FF7F !important;
	background-color: #98FB98 !important;
}

.event-style-darkGoldenrod {
	color: #fff !important;
	border-color: #B8860B !important;
	background-color: #B8860B !important;
}

.event-style-firebrick {
	color: #fff !important;
	border-color: #A52A2A !important;
	background-color: #B22222 !important;
}

.event-style-indianRed2 {
	color: #fff !important;
	border-color: #CD5555 !important;
	background-color: #EE6363 !important;
}

.event-style-chocolate2 {
	color: #fff !important;
	border-color: #CD661D !important;
	background-color: #EE7621 !important;
}

.event-style-darkMagenta {
	color: #fff !important;
	border-color: #8B008B !important;
	background-color: #8B008B !important;
}

.event-style-green {
	color: #fff !important;
	border-color: rgb(77, 184, 16) !important;
	background-color: rgb(123, 209, 72) !important;
}

.event-style-blue {
	color: #fff !important;
	border-color: rgb(84, 132, 237) !important;
	background-color: rgb(84, 132, 237) !important;
}

.event-style-purple {
	color: #fff !important;
	border-color: rgb(219, 173, 255) !important;
	background-color: rgb(219, 173, 255) !important;
}

.event-style-yellow {
	color: #fff !important;
	border-color: rgb(251, 215, 91) !important;
	background-color: rgb(251, 215, 91) !important;
}

.event-style-orange {
	color: #fff !important;
	border-color: rgb(255, 184, 120) !important;
	background-color: rgb(255, 184, 120) !important;
}

.event-style-red {
	color: #fff !important;
	border-color: rgb(220, 33, 39) !important;
	background-color: rgb(220, 33, 39) !important;
}

.event-style-black {
	color: #fff !important;
	border-color: #1a2226 !important;
	background-color: #1e282c !important;
}