.value { width: 1000px;}

.input.form-control {
    height: 34px;
}

.select2.form-control {
    height: 34px;
}

.btn-app {
    border-radius: 3px;
    position: relative;
    padding: 15px 5px;
    margin: 3px 0 10px 10px;
    min-width: 115px;
    height: 70px;
    width: 140px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 13px;
}

.btn-app>.fa, .btn-app>.glyphicon, .btn-app>.ion {
    font-size: 20px;
    display: block;
}

.btn-app:hover {
    background: #3C8DBC;
    color: #fff;
    border-color: #aaa;
}

.btn-app:active, .btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-app>.badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}

.btn-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
    ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
    .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.btn-input>.fa, .btn-input>.glyphicon, .btn-input>.ion {
    font-size: 11px;
    display: block;
}

.btn-input:hover {
    background: #2399e5;
    color: #fff;
    border-color: #aaa;
}

.btn-input:active, .btn-input:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-input>.badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}

.expand-component {
    width: 95% !important;
}

.centered {
    text-align: center;
    font-size: 0;
}
.centered > div {
    float: none;
    display: inline-block;
    text-align: left;
}

.custom .ui-state-highlight {
    background: #f5f5dc !important;
    border: 1px solid #d5d5d5;
    background: #fff;
    color: #222;
}

.color-btn-editar {
    color: #efab4f !important;
}

.color-btn-excluir {
    color: #d75350 !important;
}

.color-btn-incluir {
    color: #5cb65c !important;
}

.color-btn-detalhes {
    color: #46b8da !important;
}

legend {
    /*color: #333;*/
    font-size: 110%;
    font-weight: bold !important;
}

fieldset {
    border: 1px solid #ccc;
    /*color: #333;*/
    /*line-height: 1.4em;*/
}

#maincolumn ul,#leftcolumn ul {
    margin-left: 20px;
    padding-left: 0;
    list-style: none;
}

#maincolumn p, #leftcolumn p, #rightcolumn p  {
    margin-bottom: 18px;
}

#maincolumn li,#leftcolumn li {
    padding-left: 18px;
    background: url('#{facesContext.externalContext.requestContextPath}/resources/images/list.png') no-repeat 0% .5em;
}

.static-alert-info {
    padding: 20px !important;
    margin-bottom: 20px !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.static-alert-warning {
    padding: 20px !important;
    margin-bottom: 20px !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
}

.static-alert-danger {
    padding: 20px !important;
    margin-bottom: 20px !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.static-alert-success {
    padding: 20px !important;
    margin-bottom: 20px !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.color-itemtip{
    font-size:13px;
    color: white;
}

.sub-title {
    font-size: 18px;
    font-weight: bold;
}

.text-color-green{
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.text-color-red{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.sub-menu {
    border-bottom: solid 1px #F8F8F8;
    background-color: #FAFAFA;
    padding: 5px;
    margin-top: -20px;
    height: 45px;
}