/* Acordion **/
.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 0;
    padding: .5em .5em .5em 2.2em;
    background-color: #F9F9F9;
    font-weight: bold;
}

.ui-accordion .ui-accordion-header .ui-icon {
    display: block;
}

/* wizard **/
.ui-wizard-step-title {
    border: none;
    font-size: 15px !important;
}

.ui-wizard-step-title.ui-state-highlight {
    border: none;
    font-size: 16px;
}

.ui-column-title {
    font-size: 86%;
}

.ui-datatable .ui-widget-content .ui-state-hover {
    background: #E9E9E9;
    color: #000000;
    font-weight: bold;
}

.ui-button.ui-state-default {
    height: 34px;
    padding: 3px 7px;
    font-size: 13px;
    line-height: 1.3;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
}

.ui-tabs .ui-tabs-nav li a:hover {
    background: repeat scroll 0 0 #3c8dbc;
    border: none;
    color: white;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;
    background: repeat scroll 0 0 #2399e5 !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
    color: white !important;
}

.ui-tabs {
    margin-top: -7pt;
    border: medium none;
    padding: 0 !important;
    padding-top: 0.2em !important;
}

.ui-inputfield {
    height: 34px !important;
    border-radius: inherit !important;
    width: 100% !important;
}

.ui-inputfield.ui-state-disabled {
    background-color: #eee;
    opacity: 1;
}

.ui-button.ui-state-default {
    height: 34px !important;
    padding: 0px 8px !important;
    font-size: 13px !important;
    text-align: center !important;
    vertical-align: inherit !important;
}

/* CALENDARIO */
.ui-datepicker {
    z-index: 9999 !important;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
    color: black;
    font-weight: normal;
    background-color: white;
}

.calendar .ui-datepicker-inline {
    width: 100% !important;
}

/* FIM CALENDARIO */

/*RADIO BUTTON*/
.ui-selectoneradio label {
    font-weight: 500 !important;
    margin: 0 6px 0 0px !important;
}

.ui-icon-bullet {
    background-position: -80px -145px;
}

.ui-radiobutton-icon {
    margin-left: auto !important;
    margin-top: auto !important;
}

.ui-radiobutton-box.ui-state-active, .ui-radiobutton-box.ui-state-focus.ui-state-active {
    border: 1px solid #b3b3b3;
    background: #e6e6e6;
    color: #fff;
}

.ui-radiobutton-box.ui-state-active .ui-icon {
    background-image: url("/web-juridico/javax.faces.resource/images/ui-icons_454545_256x240.png.xhtml?ln=primefaces-omega")!important;
}
/* FIM RADIO BUTTON*/

/*CHECKBOX*/
.ui-icon-check {
    background-position: -65px -146px;
}

.ui-chkbox .ui-chkbox-label {
    margin: -1px 0 0 4px;
    outline: medium none;
    z-index: 1;
    vertical-align: top;
}


/* colors*/
.event-style-green .ui-chkbox-box {
    border-color: rgb(77, 184, 16) !important;
    background-color: rgb(123, 209, 72) !important;
}

.event-style-blue .ui-chkbox-box{
    border-color: rgb(84, 132, 237) !important;
    background-color: rgb(84, 132, 237) !important;
}

.event-style-purple .ui-chkbox-box {
    border-color: rgb(219, 173, 255) !important;
    background-color: rgb(219, 173, 255) !important;
}

.event-style-yellow .ui-chkbox-box {
    border-color: rgb(251, 215, 91) !important;
    background-color: rgb(251, 215, 91) !important;
}

.event-style-orange .ui-chkbox-box {
    border-color: rgb(255, 184, 120) !important;
    background-color: rgb(255, 184, 120) !important;
}

.event-style-red .ui-chkbox-box {
    border-color: rgb(220, 33, 39) !important;
    background-color: rgb(220, 33, 39) !important;
}

.event-style-black .ui-chkbox-box {
    border-color: #1a2226 !important;
    background-color: #1e282c !important;
}

/* FIM DO CHECKBOX*/

.ui-selectcheckboxmenu label {
    font-weight: normal;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    width: 2.4em; ! important;
    border-color: #fff !important;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
    margin-top: 8px !important;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label {
    font-weight: normal;
}

.ui-selectmanycheckbox label {
    display: block;
    margin-top: 4px;
    padding-left: 5px;
}

.ui-fileinput-button .ui-button-text {
    background: transparent none;
    padding-left: 1em !important;
    border: none;
}

.ui-fileupload-content {
    display: none;
}

.ui-fileupload-buttonbar {
    background: transparent none;
    border: none;
    padding: 0;
}

.ui-fileupload-buttonbar .ui-icon-plusthick{
    background-image: url("../images/icons/check.png") !important;
}

.ui-datatable .ui-paginator .ui-state-default {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background-color: #ddd !important;
    color: #000000;
}

.ui-inputswitch {
    display: inline-block !important;
    padding: 0 !important;
    position: relative !important;
    overflow: hidden !important;
    cursor: pointer !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    height: 24px !important;
}

.ui-inputswitch .ui-inputswitch-on, .ui-inputswitch .ui-inputswitch-off {
    white-space: nowrap !important;
    display: block !important;
    position: absolute;
    top: 0 !important;
    width: auto !important;
    overflow: hidden !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    font-weight: bold !important;
    height: 20px !important;
    padding-top: 2px !important;
}

.ui-inputswitch-on {
    background: #186ba0!important;
    color: #fff!important;
}

.ui-panelgrid td, .ui-panelgrid tr {
    border-style: none !important;
    background: none !important;
}

