.loader-indicator{
	margin-right:auto;
	margin-left:auto;
	width:70px;
	height:70px;
	margin-top:25%;
    background: url('#{facesContext.externalContext.requestContextPath}/resources/images/icons/loader.gif') no-repeat;
}

.widow-center{
	left: 45%;
	right: 45%;
	position: relative;
	top: 50%;
	bottom: 50%;
	text-align: center;
}