<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../../plain-template.xhtml">

	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		<div class="page-title">${bundleMsgs.label_configuracoes_contratos}</div>
	</ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="active" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../../../left-menu-template.xhtml" />
	</ui:define>

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/pages/index.xhtml">
			<i class="fa fa-home"></i> Home
		</h:link></li>
		<li><h:link outcome="/pages/contratos/list-contratos.xhtml">
			${bundleMsgs.contratos}
		</h:link></li>
		<li class="active">${bundleMsgs.label_configuracoes_contratos}</li>


	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="configuracaoContratoForm" prependId="false">

			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<section class="invoice">
				<!--Inserir-->
				<h:commandLink value="${bundleMsgs.bt_novo}" class="btn btn-success">
					<f:ajax execute="@this" listener="#{configuracaoContratoController.novoContratoListener}" />
				</h:commandLink>
			</section>

			<div class="row">
				<div class="box">
					<div class="box-header with-border">
						<div class="form-group">
							<div class="row" align="right">
								<h:commandButton id="removeButton" value="${bundleMsgs.bt_remover_selecionados}"
												 disabled="#{empty configuracaoContratoController.selectedNodes}" class="btn btn-default" >
									<f:ajax onevent="openModal('#myModal')" />
								</h:commandButton>
								<p:spacer height="15px"/>
							</div>
							<div class="row" style="height: 15px;" />

							<div class="table-responsive form-group">
								<p:treeTable var="row"
											 value="#{configuracaoContratoController.arvore}"
											 emptyMessage="#{bundleMsgs.msg_nenhum_registro}"
											 selectionMode="checkbox" selection="#{configuracaoContratoController.selectedNodes}">

									<p:ajax event="select" update=":removeButton" />
									<p:ajax event="unselect"  update=":removeButton" />

									<p:column headerText="${bundleMsgs.label_descricao}" >
										<h:outputText value="#{row}" />
									</p:column>

									<p:column style="width: 20%; text-align: center;">
										<h:commandLink id="btnAdicionar" style="color: #fff !important;"
													   class="btn btn-success btn-sm" rendered="#{row.noRaiz}"
													   title="${bundleMsgs.bt_adicionar}">
											<span class="fa fa-plus"></span>
											<f:ajax execute="@this" listener="#{configuracaoContratoController.adicionarNovoSubContratoListener(row.id)}" />
										</h:commandLink>
										<span/>

										<h:commandLink id="btnVisualizar" style="color: #fff !important;"
													   class="btn btn-info btn-sm"
													   rendered="#{row.noRaiz}"
													   action="#{configuracaoContratoController.visualizarContrato(row.id)}"
													   title="${bundleMsgs.bt_visualizar}">
											<span class="fa fa-eye"></span>
										</h:commandLink>
									</p:column>
								</p:treeTable>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h:panelGroup rendered="#{not empty configuracaoContratoController.objetoSelecionado.descricao}">
				<div class="row">
					<div class="box">
						<div class="box-header with-border">
							<div class="form-group">
								<div class="tree">
									<h:outputText value="#{configuracaoContratoController.html}" escape="false" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</h:panelGroup>

			<!-- MODAL CONTRATO -->
			<div class="modal" id="myModalNovoContrato" tabindex="-1" role="dialog"
				 aria-labelledby="myModalNovoContratoLabel">

				<div class="modal-dialog modal-sm" role="document">

					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">x</button>
							<h4 class="modal-title" id="myModalNovoContratoLabel">${bundleMsgs.bt_novo}</h4>
						</div>

						<div class="modal-body">
							<h:inputText class="form-control"
										 value="#{configuracaoContratoController.objetoSelecionado.descricao}"
										 pt:placeholder="${bundleMsgs.p_holder_descricao}"
										 pt:autoFocus="true">
							</h:inputText>
						</div>

						<div class="modal-footer">
							<h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
											 class="btn btn-default" pt:data-dismiss="modal" />

							<h:commandButton value="${bundleMsgs.bt_confirmar}"
											 onblur="$('#myModalNovoContrato').modal('hide'); " pt:data-loader="on"
											 action="#{configuracaoContratoController.salvar}"
											 class="btn btn-primary">
							</h:commandButton>
						</div>
					</div>
				</div>
			</div>


			<!-- MODAL SUB CONTRATO -->
			<div class="modal" id="myModalSubContrato" tabindex="-1" role="dialog"
				 aria-labelledby="myModalSubContratoLabel">

				<div class="modal-dialog modal-sm" role="document">

					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">x</button>
							<h4 class="modal-title" id="myModalSubContratoLabel">#{bundleMsgs.label_no_filho}</h4>
						</div>

						<div class="modal-body">
							<h:inputText class="form-control"
										 value="#{configuracaoContratoController.subContrato}"
										 pt:placeholder="${bundleMsgs.p_holder_descricao}"
										 pt:autoFocus="true">
							</h:inputText>
						</div>

						<div class="modal-footer">
							<h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
											 class="btn btn-default" pt:data-dismiss="modal" />

							<h:commandButton value="${bundleMsgs.bt_confirmar}"
											 onblur="$('#myModalSubContrato').modal('hide')" pt:data-loader="on"
											 action="#{configuracaoContratoController.adicionarSubContrato}"
											 class="btn btn-primary">
							</h:commandButton>
						</div>
					</div>
				</div>
			</div>

			<!-- COMPONENTE POPUP -->
			<stpro:exclusion-popup controller="#{configuracaoContratoController}" />
		</h:form>
	</ui:define>
</ui:composition>
</html>