<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html">

	<div class="row">
		<div class="col-md-7">
			<h:panelGroup rendered="#{true}" >
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">${bundleMsgs.dashboards_agenda_amanha}</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button class="btn btn-box-tool" data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<ul class="products-list product-list-in-box">

						</ul>
					</div>
					<div class="box-footer text-center">

					</div>
					<!-- /.box-footer -->
				</div>
			</h:panelGroup>
		</div>

		<div class="col-md-5">

		</div>
	</div>
</ui:composition>
