<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:p="http://primefaces.org/ui"
				xmlns:h="http://xmlns.jcp.org/jsf/html">

	<div class="row">

		<div class="col-md-4">
			<h:panelGroup rendered="#{dashboardController.usuarioPossuiAlgumEventoCadastrado and dashboardController.isConfigurouDashboard('DASHBOARD_AGENDA')}">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">#{bundleMsgs.label_minha_agenda}</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="chart-responsive">
									<p:chart type="pie" model="#{dashboardController.pieAgendaModel}" responsive="true"  />
								</div>
								<!-- ./chart-responsive -->
							</div>

						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
			</h:panelGroup>
		</div>

		<div class="col-md-3">

		</div>

		<!-- processos recentes -->
		<div class="col-md-5">
			<h:panelGroup rendered="#{dashboardController.isConfigurouDashboard('DASHBOARD_PROCESSOS_ADICIONADOS_RECENTEMENTE')}" >
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">${bundleMsgs.dashboard_processos_recentes}</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button class="btn btn-box-tool" data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<ul class="products-list product-list-in-box">
							<ui:repeat var="row" value="#{dashboardController.processosRecentes}">
								<li class="item">
									<h:commandLink class="product-title"
												   action="#{detalheProcessoController.goToDetalhes()}"
												   value="#{row.processo} - #{row.classeProcessual} - #{row.dataAbertura}">

										<h:panelGroup rendered="#{row.ativo}">
											<span class="label label-sm label-success">#{row.status}</span>
										</h:panelGroup>
										<h:panelGroup rendered="#{row.suspenso}">
											<span class="label label-sm label-warning">#{row.status}</span>
										</h:panelGroup>
										<h:panelGroup rendered="#{row.finalizado}">
											<span class="label label-sm label-danger">#{row.status}</span>
										</h:panelGroup>

										<f:setPropertyActionListener
												target="#{detalheProcessoController.processoSelecionado}"
												value="#{row}" />
									</h:commandLink>
									<span class="product-description">
									Cliente(s): #{row.descricaoCliente} | Natureza: #{row.naturezaAcao}
								</span>
								</li>
							</ui:repeat>
						</ul>
					</div>
					<div class="box-footer text-center">
						<h:commandLink value="#{bundleMsgs.dashboard_processos}" action="#{menuController.goToProcessos}" class="uppercase" />
					</div>
					<!-- /.box-footer -->
				</div>
			</h:panelGroup>
		</div>
	</div>
</ui:composition>
