<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="../../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">Rejeitos da Controladoria</div>
    </ui:define>

    <ui:define name="left_menu">
        <!-- MENU LATERAL -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />
        <ui:include src="../../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="form" prependId="false">
            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box-body">
                        <div class="table-responsive form-group">
                            <p:dataTable var="row" rowKey="#{row.id}" value="#{rejeitoControladoriaController.rejeitos}"
                                         rows="10" paginator="true" paginatorPosition="bottom"
                                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                                <p:column headerText="${bundleMsgs.label_evento_titulo_header}" >
                                    <h:outputText value="#{row.evento.descricao}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_motivo}" >
                                    <h:outputText value="#{row.motivo}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_rejeitado_por}" >
                                    <h:outputText value="#{row.quemRejeitou}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_data}" >
                                    <h:outputText value="#{row.dataRejeito}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                    </h:outputText>
                                </p:column>

                                <p:column style="width: 10%; text-align: center;">
                                    <h:commandLink id="btnEditar"
                                                   class="btn btn-default btn-sm"
                                                   action="#{rejeitoControladoriaController.editarRejeito(row)}"
                                                   title="${bundleMsgs.bt_editar}">
                                        <span class="fa fa-wrench"></span>
                                    </h:commandLink>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
</html>