<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-8 form-group">
                <h:outputLabel value="#{bundleMsgs.label_sigla}" class="simple-label" />

                <h:inputText class="form-control"
                             value="#{emailController.objetoSelecionado.sigla}"
                             readonly="#{true}">
                </h:inputText>
            </div>

            <div class="col-xs-4 form-group">
                <div class="form-control" style="border:none;"/>
                <p:panelGrid columns="2"  rendered="#{emailController.editavel}">
                    <h:outputLabel value="#{bundleMsgs.label_ativo}" class="simple-label" />
                    <p:inputSwitch value="#{emailController.objetoSelecionado.ativo}"
                                   offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                        <p:ajax process="@this" onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                    </p:inputSwitch>
                </p:panelGrid>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 form-group">
                <h:outputLabel value="#{bundleMsgs.label_assunto} *" class="simple-label" rendered="#{emailController.editavel == true}"/>
                <h:inputText class="form-control" value="#{emailController.objetoSelecionado.assunto}"
                             rendered="#{emailController.editavel == true}">
                    <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                </h:inputText>
            </div>
        </div>

        <div class="row">
	        <div class="col-xs-12 form-group">
	            <h:outputLabel value="${bundleMsgs.label_necessario_aprovacao_email} *"
	                           for="edtNecessarioAprovacao" rendered="#{emailController.editavel == true}"/>
	
	            <p:selectOneRadio id="edtNecessarioAprovacao" rendered="#{emailController.editavel == true}"
	                              value="#{emailController.objetoSelecionado.necessarioAprovacao}"
	                              class="form-control radio-group"
	                              disabled="#{emailController.editavel == false}">
	                <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
	                <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                    <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
	            </p:selectOneRadio>
	        </div>
	    </div>

        <div class="row">
            <div class="col-md-5 col-xs-12 form-group">
                <div id="leftcolumn" class="ui-fluid">
                    <p:fieldset legend="#{bundleMsgs.label_parametros}" rendered="#{emailController.editavel == true}">
                        <ul id="ClickListInEditor">
                            <ui:repeat value="#{emailController.parametroEmails}" var="row">
                                <li><label title="#{row.observacao}" style="font-weight: normal;">#{row.sigla}</label></li>
                            </ui:repeat>
                        </ul>
                    </p:fieldset>
                </div>
            </div>
            <div class="col-md-7 col-xs-12 form-group">
                <h:panelGroup id="textEditor" rendered="#{emailController.editavel == true}">
                    <div id="contentwrapper">
                        <div id="maincolumn">
                            <div class="text">
                                <h:inputHidden id="textoAtualizado" value="#{emailController.editorText}" />
                                <p:editor id="txtMessage" widgetVar="editorWidget" onchange="setConfirmUnload(true)"
                                          value="#{emailController.objetoSelecionado.descricao}" style="width: 100%">
                                </p:editor>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </div>

        <!--Botoes ************************************-->
        <div class="row">
            <div class="col-xs-12 form-group" align="right">

                <!--Cancelar-->
                <h:commandButton rendered="#{emailController.permiteInclusao}"
                                 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
                                 class="btn btn-default" action="#{emailController.cancelar()}"
                                 disabled="#{emailController.editavel == false}" immediate="true" />

                <!--Salvar-->
                <h:commandButton rendered="#{emailController.permiteInclusao}"
                                 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
                                 class="btn btn-primary" pt:data-loader="on"
                                 pt:data-loader-message="Salvando, Aguarde..."
                                 action="#{emailController.salvar()}"
                                 onclick="refreshEditorText(), setConfirmUnload(false);"
                                 disabled="#{emailController.editavel == false}">
                </h:commandButton>
            </div>
        </div>
        <!--Botoes ...................................-->
    </div>
</div>

</html>