<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:stpro="http://xmlns.jcp.org/jsf/composite/stprocomponents">

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_partes}</h3>
            </div>
        </div>
    </div>

    <h:panelGroup id="pessoaGroup">
        <h:panelGroup rendered="#{cadastroProcessoController.processo.existePartesConcorrentes}">
            <div class="row">
                <div class="col-md-12 col-xs-12 form-group">
                    <div class="static-alert-danger">
                        <strong>Aviso: </strong>
                        <h:outputText value="${bundleMsgs.info_partes_concorrentes}" />
                    </div>
                </div>
            </div>
        </h:panelGroup>

        <div class="row">
            <div class="col-md-4 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_tipo}</h4>
                <p:selectOneRadio value="#{cadastroProcessoController.novaParte.tipoPessoa}"
                                  disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                  styleClass="form-control" pt:data-loader="off">
                    <f:selectItem itemValue="PF"
                                  itemLabel="${bundleMsgs.label_pessoa_fisica}" />
                    <f:selectItem itemValue="PJ"
                                  itemLabel="${bundleMsgs.label_pessoa_juridica}" />
                    <p:ajax event="change" process="@this" update="pessoaGroup" />
                </p:selectOneRadio>
            </div>

            <h:panelGroup id="pfGroup" rendered="#{cadastroProcessoController.novaParte.tipoPessoa eq 'PF'}">
                <div class="col-md-4 col-xs-12 form-group">
                    <h4>#{bundleMsgs.label_nome} *</h4>
                    <p:autoComplete value="#{cadastroProcessoController.novaParte.pessoaFisica}"
                                    disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                    completeMethod="#{pessoaFisicaAutoCompleteController.completeAllPessoaFisicas}"
                                    var="pfVar" style="width: 100% !important;"
                                    itemLabel="#{pfVar.pessoa.descricao}" itemValue="#{pfVar}" converter="entityConverter"
                                    forceSelection="true" maxResults="8"
                                    valueChangeListener="#{cadastroProcessoController.pfChanged}">
                        <p:ajax event="itemSelect" update="pessoaGroup @parent" />

                        <f:facet name="itemtip">
                            <p:panelGrid columns="3" cellpadding="5" style=" width:400px;">
                                <f:facet name="header">
                                    <p:column colspan="3">
                                        <h:outputText value="${bundleMsgs.tooltip_info_cliente}" style="font-weight:bold; font-size:15px; color: white;" rendered="#{not empty cadastroProcessoController.carregaTooltip(pfVar.pessoa)}" />
                                        <h:outputText value="${bundleMsgs.tooltip_info_cliente_nao}" style="font-weight:bold; font-size:15px; color: white;" rendered="#{!cadastroProcessoController.tooltipCliente}" />
                                    </p:column>
                                    <p:column colspan="3" rendered="#{cadastroProcessoController.tooltipCliente}">
                                        <hr/>
                                    </p:column>
                                </f:facet>

                                <h:outputLabel value="${bundleMsgs.tooltip_cliente_desde}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputLabel value="${bundleMsgs.tooltip_telefone}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputLabel value="${bundleMsgs.tooltip_email}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputText value="#{cadastroProcessoController.clienteTooltip(pfVar.pessoa)}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputText value="#{cadastroProcessoController.telefoneTooltip(pfVar.pessoa)}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputText value="#{cadastroProcessoController.emailTooltip(pfVar.pessoa)}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />

                            </p:panelGrid>
                        </f:facet>

                        <p:column style="width:10%">
                            <h:graphicImage id="clienteImage" name="images/icons/handshake_20.png" title="#{bundleMsgs.label_cliente}"
                                            rendered="#{pfVar.pessoa.clienteEmpresa}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{pfVar.pessoa.descricao}" />
                        </p:column>
                    </p:autoComplete>
                </div>
            </h:panelGroup>

            <h:panelGroup id="pjGroup" rendered="#{cadastroProcessoController.novaParte.tipoPessoa eq 'PJ'}">
                <div class="col-md-4 col-xs-12 form-group">
                    <h4>#{bundleMsgs.label_razao_social} *</h4>
                    <p:autoComplete value="#{cadastroProcessoController.novaParte.pessoaJuridica}"
                                    disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                    completeMethod="#{pessoaJuridicaAutoCompleteController.completePessoaJuridica}"
                                    var="pjVar" style="width: 100% !important;"
                                    itemLabel="#{pjVar.pessoa.descricao}" itemValue="#{pjVar}"
                                    converter="entityConverter" maxResults="8"
                                    forceSelection="true" valueChangeListener="#{cadastroProcessoController.pjChanged}">
                        <p:ajax event="itemSelect" update="pessoaGroup @parent" listener="#{cadastroProcessoController.carregarCentroCustosListener}" />

                        <f:facet name="itemtip">
                            <p:panelGrid columns="3" cellpadding="5" style=" width:400px;">
                                <f:facet name="header">
                                    <p:column colspan="3">
                                        <h:outputText value="${bundleMsgs.tooltip_info_cliente}" style="font-weight:bold; font-size:15px; color: white;" rendered="#{not empty cadastroProcessoController.carregaTooltip(pjVar.pessoa)}" />
                                        <h:outputText value="${bundleMsgs.tooltip_info_cliente_nao}" style="font-weight:bold; font-size:15px; color: white;" rendered="#{!cadastroProcessoController.tooltipCliente}" />
                                    </p:column>
                                    <p:column colspan="3" rendered="#{cadastroProcessoController.tooltipCliente}">
                                        <hr/>
                                    </p:column>
                                </f:facet>

                                <h:outputLabel value="${bundleMsgs.tooltip_cliente_desde}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputLabel value="${bundleMsgs.tooltip_telefone}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputLabel value="${bundleMsgs.tooltip_email}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputText value="#{cadastroProcessoController.clienteTooltip(pjVar.pessoa)}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputText value="#{cadastroProcessoController.telefoneTooltip(pjVar.pessoa)}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                                <h:outputText value="#{cadastroProcessoController.emailTooltip(pjVar.pessoa)}" styleClass="color-itemtip" rendered="#{cadastroProcessoController.tooltipCliente}" />
                            </p:panelGrid>
                        </f:facet>

                        <p:column style="width:10%">
                            <h:graphicImage name="images/icons/handshake_20.png" title="#{bundleMsgs.label_cliente}"
                                            rendered="#{pjVar.pessoa.clienteEmpresa}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{pjVar.pessoa.descricao}" />
                        </p:column>
                    </p:autoComplete>
                </div>
            </h:panelGroup>

            <div class="col-md-4 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_posicao} *</h4>
                <h:selectOneMenu value="#{cadastroProcessoController.novaParte.posicao}" styleClass="form-control"
                                 disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                 pt:data-loader="off" converter="entityConverter">
                    <f:selectItem itemLabel="" itemValue="#{null}" />
                    <f:selectItems var="p" value="#{processoListasController.posicoes}"
                                   itemLabel="#{p.descricao}" />
                    <f:ajax event="change" execute="@this" />
                </h:selectOneMenu>
            </div>
        </div>

        <h:panelGroup id="centroCustoGroup" rendered="#{cadastroProcessoController.novaParte.tipoPessoa eq 'PJ'
                        and not empty cadastroProcessoController.novaParte.pessoaJuridica.pessoasJuridicasCentrosCustos}">
            <stpro:centro-custo-valor
                    controller="#{cadastroProcessoController}"
                    list="#{cadastroProcessoController.novaParte.parte.centroCustos}"
                    centroCustoList="#{cadastroProcessoController.novaParte.pessoaJuridica.pessoasJuridicasCentrosCustos}"/>
        </h:panelGroup>

        <h:panelGroup id="advogadosGroup" >
            <div class="row">
                <div class="col-md-4 col-xs-12 form-group">
                    <h4>#{bundleMsgs.label_advogado_grupo}</h4>
                    <p:selectOneRadio value="#{cadastroProcessoController.novaParte.tipoAdvogado}"
                                      disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                      styleClass="form-control radio-group"
                                      valueChangeListener="#{cadastroProcessoController.advogadoGrupoChanged}">
                        <f:selectItem itemValue="I"
                                      itemLabel="${bundleMsgs.label_individual}" />
                        <f:selectItem itemValue="G"
                                      itemLabel="${bundleMsgs.label_grupo}" />
                        <f:ajax event="change" execute="@this" render="@form" />
                    </p:selectOneRadio>
                </div>

                <h:panelGroup id="pgAdvogadoInterno" rendered="#{cadastroProcessoController.novaParte.tipoAdvogadoIndividual}">
                    <div class="col-md-4 col-xs-12 form-group">
                        <h4>#{bundleMsgs.label_advogado_interno}</h4>

                        <p:selectOneRadio value="#{cadastroProcessoController.novaParte.advogadoInterno}"
                                          disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                          styleClass="form-control radio-group">
                            <f:selectItem itemValue="#{false}"
                                          itemLabel="${bundleMsgs.label_nao}" />
                            <f:selectItem itemValue="#{true}"
                                          itemLabel="${bundleMsgs.label_sim}" />
                            <p:ajax event="change" listener="#{cadastroProcessoController.carregaListaAdvogados}" update="pessoaGroup @parent" />
                        </p:selectOneRadio>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="grupoId" rendered="#{cadastroProcessoController.novaParte.tipoAdvogado eq 'G'}">
                    <div class="col-md-4 col-xs-12 form-group">
                        <div class="row">
                            <h4>#{bundleMsgs.label_grupo} *</h4>
                        </div>
                        <div class="row">
                            <h:panelGroup class="input-group"
                                          rendered="#{cadastroProcessoController.novaParte.tipoAdvogado eq 'G'}">

                                <h:selectOneMenu value="#{cadastroProcessoController.novaParte.grupo}"
                                                 disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                                 styleClass="form-control select2" converter="entityConverter"
                                                 pt:data-loader="off" valueChangeListener="#{cadastroProcessoController.grupoChanged}">
                                    <f:selectItem itemLabel="" itemValue="#{null}" />
                                    <f:selectItems var="grupo" value="#{processoListasController.grupos}"
                                                   itemLabel="#{grupo.descricao}" />
                                    <p:ajax event="change" execute="@this" update="@parent advogadosId display" />
                                </h:selectOneMenu>
                                <span class="input-group-btn"> <h:commandLink
                                        class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                                        rendered="#{grupoController.hasAccess}">
                                    <i class="fa fa-plus"></i>
                                    <f:ajax onevent="openModal('#grupoAdvogadoModal')" />
                                    <f:setPropertyActionListener value="0" target="#{cadastroProcessoController.activeIndex}"/>
                                </h:commandLink>
								</span>
                            </h:panelGroup>
                        </div>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="advogadosId" >
                    <div class="col-md-4 col-xs-12 form-group">
                        <div class="form-control" style="border:none;"></div>
                        <div class="ui-fluid">
                            <p:selectCheckboxMenu id="menu" value="#{cadastroProcessoController.novaParte.selectedAdvogados}"
                                                  disabled="#{cadastroProcessoController.desabilitaSelecaoAdvogados}"
                                                  label="Selecione advogados ..."  panelStyle="width:290px"
                                                  converter="entityConverter" style="height: 34px !important;">
                                <f:selectItems value="#{cadastroProcessoController.advogados}" var="ad" itemValue="#{ad}"
                                               itemLabel="#{ad.pessoa.descricao}" />
                                <p:ajax event="change" process="@this" update="display"/>
                                <p:ajax event="toggleSelect"  process="@this" update="display" partialSubmit="true"/>
                            </p:selectCheckboxMenu>
                        </div>
                    </div>
                </h:panelGroup>
            </div>

            <div class="row">
                <div class="col-md-8 col-xs-12 form-group"></div>
                <div class="col-md-4 col-xs-12 form-group">
                    <p:outputPanel id="display" style="width:100% !important; padding-left:5px; margin-top:10px">
                        <p:dataTable id="tableAdvogados" value="#{cadastroProcessoController.novaParte.selectedAdvogados}"
                                     var="row" emptyMessage="Nenhum advogado selecionado" >

                            <p:column headerText="#{bundleMsgs.label_advogado}" style="width: 80%;">
                                <h:outputLabel value="#{row.pessoa.descricao}" />
                            </p:column>

                            <p:column headerText="#{bundleMsgs.label_principal}">
                                <p:rating id="rate" value="#{row.ratingPrincipal}" stars="1" >
                                    <f:param name="selectedAdvogado" value="#{row.id}" />
                                    <p:ajax event="rate" listener="#{cadastroProcessoController.onrate}" update="rate" />
                                    <p:ajax event="cancel" listener="#{cadastroProcessoController.oncancel(row)}" update="rate"  />
                                </p:rating>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </div>
            </div>
        </h:panelGroup>

        <div class="row mbl" align="right">
            <div class="col-md-12">
                <p:commandLink action="#{cadastroProcessoController.adicionarParte}"
                               disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                               title="#{cadastroProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : ''}"
                               class="btn btn-success btn-sm" style="color: #fff !important;"
                               value="#{bundleMsgs.bt_adicionar_parte}" process="@this"
                               update=":processoForm:messages pessoaGroup partes @parent"
                               onsuccess="$('.alert').delay(5000).addClass('in').fadeOut(800);"/>
            </div>
            <p:spacer/>
        </div>
    </h:panelGroup>

    <p:outputPanel id="partes" class="ui-fluid">
        <p:dataTable id="table" var="row" value="#{cadastroProcessoController.processo.partes}" emptyMessage="Nenhuma parte adicionada">

            <p:column style="width:7%">
                <p:rowToggler rendered="#{not empty row.centroCustos}"/>
            </p:column>

            <p:column headerText="#{bundleMsgs.label_razao_social_nome}">
                <h:outputText value="#{row.pessoa.descricao}"  />
            </p:column>

            <p:column headerText="#{bundleMsgs.label_eh_cliente}" style="text-align: center;">
                <h:outputText value="#{row.pessoa.clienteSimNao}"  />
            </p:column>

            <p:column headerText="#{bundleMsgs.label_advogados}">
                <h:outputText value="#{row.descricaoAdvogados}"  />
            </p:column>

            <p:column headerText="#{bundleMsgs.label_responsavel}">
                <h:outputText value="#{row.responsaveisPrincipais}"  />
            </p:column>

            <p:column headerText="#{bundleMsgs.label_posicao}" style="text-align: center;">
                <h:outputText value="#{row.posicao.descricao}"  />
            </p:column>

            <p:column style="text-align: center; width: 7%;">
                <p:commandLink id="btnExcluir" class="btn btn-danger btn-sm"
                               style="color: #fff !important;"
                               disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                               title="#{cadastroProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_excluir}"
                               update="@form" process="@form">
                    <span class="fa fa-trash-o"></span>
                    <p:collector value="#{row}" removeFrom="#{cadastroProcessoController.processo.partes}" unique="true"/>
                </p:commandLink>
            </p:column>

            <p:rowExpansion>
                <p:dataTable var="c" value="#{row.centroCustos}" >
                    <f:facet name="header">
                        ${bundleMsgs.label_centro_custo}
                    </f:facet>
                    <p:column>
                        <h:outputLabel value="#{c.centroCusto.centroCusto.descricao}" />
                    </p:column>

                    <p:column>
                        <h:outputLabel value="#{c.percentual}%" />
                    </p:column>
                </p:dataTable>
            </p:rowExpansion>

        </p:dataTable>
    </p:outputPanel>

</ui:composition>