<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_honorarios}</h3>
            </div>
        </div>
    </div>

    <h:panelGroup id="pgHonorarios">
        <div class="row">
            <div class="col-md-2 col-xs-12 form-group">
                <p:selectBooleanCheckbox itemLabel="${bundleMsgs.label_contrato}"
                                         value="#{cadastroProcessoController.processo.processoHonorario.flagContrato}"
                                         disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <p:ajax event="change" process="@this" update="pgHonorarios" />
                </p:selectBooleanCheckbox>
            </div>

            <div class="col-md-2 col-xs-12 form-group">
                <p:selectBooleanCheckbox itemLabel="${bundleMsgs.label_por_valor}"
                                         value="#{cadastroProcessoController.processo.processoHonorario.flagValor}"
                                         disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <p:ajax event="change" process="@this" update="pgHonorarios" />
                </p:selectBooleanCheckbox>
            </div>

            <div class="col-md-2 col-xs-12 form-group">
                <p:selectBooleanCheckbox itemLabel="${bundleMsgs.label_por_percentual}"
                                         value="#{cadastroProcessoController.processo.processoHonorario.flagPercentual}"
                                         disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <p:ajax event="change" process="@this" update="pgHonorarios" />
                </p:selectBooleanCheckbox>
            </div>
        </div>
        <hr/>

        <h:panelGroup rendered="#{cadastroProcessoController.processo.honorarioContrato}">
            <div class="ui-fluid">
                <p:panel id="panelContrato" header="${bundleMsgs.label_contrato}" style="margin-bottom:20px">
                    <p:panelGrid columns="1" columnClasses="ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
                        <h:selectOneMenu styleClass="form-control select2"
                                         converter="entityConverter" value="#{cadastroProcessoController.processo.processoHonorario.contratoPessoa}"
                                         disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                            <f:selectItem itemLabel="" itemValue="#{null}" />
                            <f:selectItems var="c" value="#{cadastroProcessoController.contratos}" itemLabel="#{c.descricao}" itemValue="#{c}" />
                        </h:selectOneMenu>
                    </p:panelGrid>
                </p:panel>
            </div>
        </h:panelGroup>

        <h:panelGroup id="pgValor" rendered="#{cadastroProcessoController.processo.honorarioValor}">
            <div class="ui-fluid">
                <p:panel id="panelValores" header="${bundleMsgs.label_valores}" style="margin-bottom:20px">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 form-group">
                            <h4>#{bundleMsgs.label_descricao} *</h4>
                            <p:inputText class="form-control"
                                         value="#{cadastroProcessoController.parcelaHonorario.descricaoParcela}"
                                         disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                <f:ajax execute="@this" render="@this"/>
                            </p:inputText>
                        </div>

                        <div class="col-md-2 col-xs-12 form-group">
                            <h4>#{bundleMsgs.label_valor} *</h4>
                            <p:inputNumber id="edtValor" style="font-weight: bold;"
                                           value="#{cadastroProcessoController.parcelaHonorario.valorParcela}"
                                           decimalSeparator="," thousandSeparator="."
                                           disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                <p:ajax event="blur" update="edtValor" />
                            </p:inputNumber>
                        </div>

                        <div class="col-md-3 col-xs-12 form-group">
                            <h4>${bundleMsgs.label_data_fim_acao}</h4>
                            <h:panelGroup class="input-group" rendered="#{!cadastroProcessoController.parcelaHonorario.flagDataFimAcao}">
                                <p:selectOneRadio value="#{cadastroProcessoController.parcelaHonorario.flagDataFimAcao}"
                                                  styleClass="form-control" pt:data-loader="off"
                                                  disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                    <f:selectItem itemValue="#{true}"
                                                  itemLabel="${bundleMsgs.label_sim}" />
                                    <f:selectItem itemValue="#{false}"
                                                  itemLabel="${bundleMsgs.label_nao}" />
                                    <p:ajax event="change" process="@this" update="panelValores" />
                                </p:selectOneRadio>
                            </h:panelGroup>
                            <h:panelGroup class="input-group" rendered="#{cadastroProcessoController.parcelaHonorario.flagDataFimAcao}">
                                <p:selectOneRadio value="#{cadastroProcessoController.parcelaHonorario.flagDataFimAcao}"
                                                  styleClass="form-control" pt:data-loader="off"
                                                  disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                    <f:selectItem itemValue="#{true}"
                                                  itemLabel="${bundleMsgs.label_sim}" />
                                    <f:selectItem itemValue="#{false}"
                                                  itemLabel="${bundleMsgs.label_nao}" />
                                    <p:ajax event="change" process="@this" update="panelValores" />
                                </p:selectOneRadio>
                                <span class="input-group-btn">
                                      <h:commandLink class="btn btn-success" actionListener="#{cadastroProcessoController.adicionarValorParcelaHonorario}"
                                                     style="width: 45px; height: 34px; color: #fff !important;"
                                                     disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                          <span class="fa fa-plus"></span>
                                          <p:ajax process="panelValores" update="parcelas panelValores @parent" />
                                      </h:commandLink>
                                </span>
                            </h:panelGroup>
                        </div>

                        <div class="col-md-3 col-xs-12 form-group">
                            <h:panelGroup rendered="#{!cadastroProcessoController.parcelaHonorario.flagDataFimAcao}">
                                <h4>#{bundleMsgs.label_data_vencimento} *</h4>

                                <h:panelGroup class="input-group">
                                    <stpro:simple-calendar value="#{cadastroProcessoController.parcelaHonorario.dataVencimento}"
                                                           disabled="#{cadastroProcessoController.processo.processoFinalizado}"/>
                                    <span class="input-group-btn">
                                        <h:commandLink class="btn btn-success" actionListener="#{cadastroProcessoController.adicionarValorParcelaHonorario}"
                                                       style="width: 45px; height: 34px; color: #fff !important;"
                                                       disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                            <span class="fa fa-plus"></span>
                                            <p:ajax process="panelValores" update="parcelas panelValores @parent"  />
                                        </h:commandLink>
                                    </span>
                                </h:panelGroup>
                            </h:panelGroup>
                        </div>
                    </div>
                    <p:spacer height="15"/>

                    <p:outputPanel id="parcelas">
                        <p:dataTable value="#{cadastroProcessoController.processo.processoHonorario.parcelaHonorarios}"
                                     var="row" emptyMessage="#{bundleMsgs.empty_results}">

                            <p:column headerText="${bundleMsgs.label_descricao}" >
                                <h:outputText value="#{row.descricaoParcela}" />
                            </p:column>

                            <p:column headerText="${bundleMsgs.label_valor}" style="text-align: center;">
                                <h:outputText value="#{row.valorParcela}" >
                                    <f:convertNumber currencySymbol="R$" type="currency" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="${bundleMsgs.label_data_vencimento}" style="text-align: center;">
                                <h:outputText value="#{row.dataVencimento}" rendered="#{row.dataVencimento ne null}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>

                                <h:outputText value="#{row.descricaoVencimento}" rendered="#{row.dataVencimento eq null}"/>
                            </p:column>

                            <p:column headerText="${bundleMsgs.label_pago}" style="text-align:center">
                                <h:outputText value="#{row.pago ? 'SIM' : 'NÃO'}"/>
                            </p:column>

                            <p:column style="width: 8%; text-align: center;">
                                <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;"
                                               disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                    <span class="fa fa-trash-o"></span>
                                    <p:collector value="#{row}" removeFrom="#{cadastroProcessoController.processo.processoHonorario.parcelaHonorarios}" unique="true"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:panel>
            </div>
        </h:panelGroup>

        <h:panelGroup id="pgPercentual" rendered="#{cadastroProcessoController.processo.honorarioPercentual}">
            <div class="ui-fluid">
                <p:panel id="panelPercentual" header="${bundleMsgs.label_por_percentuais}" style="margin-bottom:20px">
                    <p:panelGrid columns="2" columnClasses="ui-grid-col-4, ui-grid-col-6" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:inputNumber widgetVar="wv"
                                       value="#{cadastroProcessoController.processo.processoHonorario.percentual}" symbol="%"
                                       disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                       symbolPosition="s" emptyValue="sign"
                                       pt:placeholder="#{bundleMsgs.label_porcentagem}"/>

                        <p:inputText class="form-control" value="#{cadastroProcessoController.processo.processoHonorario.descricaoPercentual}" />
                    </p:panelGrid>
                </p:panel>
            </div>
        </h:panelGroup>
    </h:panelGroup>
</ui:composition>