<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_valores_acao}</h3>
            </div>
        </div>
    </div>

    <h:panelGroup id="valoresFormGroup">
        <h:panelGroup rendered="#{cadastroProcessoController.processo.provavelNecessidadeImpugnacao}">
            <div class="row">
                <div class="col-md-12 col-xs-12 form-group">
                    <div class="static-alert-danger">
                        <strong>Aviso: </strong>
                        <h:outputText value="${bundleMsgs.info_necessidade_impugnacao}" />
                    </div>
                </div>
            </div>
        </h:panelGroup>

        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
                <p:panel id="panelPedidos" header="${bundleMsgs.label_pedido}s" style="margin-bottom:20px">
                    <p:panelGrid columns="4" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3" layout="grid" styleClass="ui-panelgrid-blank">

                        <h:panelGroup class="form-group">
                            <h4>#{bundleMsgs.label_pedido} *</h4>
                        </h:panelGroup>
                        <h:panelGroup class="form-group">
                            <h4>#{bundleMsgs.label_causa_pedido} *</h4>
                        </h:panelGroup>
                        <h:panelGroup class="form-group">
                            <h4>#{bundleMsgs.label_valor_pedido} *</h4>
                        </h:panelGroup>
                        <h:panelGroup class="form-group">
                            <h4>#{bundleMsgs.label_valor_provavel} *</h4>
                        </h:panelGroup>

                        <h:panelGroup id="pedidoGroup" class="input-group">
                            <h:selectOneMenu value="#{cadastroProcessoController.pedidoSelecionado.pedido}"
                                             style="height: 34px;" styleClass="form-control"
                                             disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                             converter="entityConverter" pt:data-loader="off">
                                <f:selectItem itemLabel="" itemValue="#{null}" />
                                <f:selectItems var="p" value="#{processoListasController.pedidos}"
                                               itemLabel="#{p.descricao}" />
                                <f:ajax event="change" execute="pedidoGroup" />
                            </h:selectOneMenu>
                            <span class="input-group-btn">
                                <h:commandLink class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                                               disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                               rendered="#{pedidoController.hasAccess}">
                                    <i class="fa fa-plus"></i>
                                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirPedidoListener()}"  />
                                </h:commandLink>
                            </span>
                        </h:panelGroup>

                        <h:panelGroup id="causaPedidoGroup" class="input-group">
                            <h:selectOneMenu value="#{cadastroProcessoController.pedidoSelecionado.causaPedido}"
                                             style="height: 34px;" styleClass="form-control select2"
                                             disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                             converter="entityConverter" pt:data-loader="off">
                                <f:selectItem itemLabel="" itemValue="#{null}" />
                                <f:selectItems var="c"
                                               value="#{processoListasController.causasPedido}"
                                               itemLabel="#{c.descricao}" />
                                <f:ajax event="change" execute="causaPedidoGroup" />
                            </h:selectOneMenu>
                            <span class="input-group-btn">
                                <h:commandLink class="btn btn-input"
                                               rendered="#{causaPedidoController.hasAccess}"
                                               title="#{cadastroProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_adicionar}"
                                               disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                    <i class="fa fa-plus"></i>
                                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirCausaPedidoListener()}"  />
                                </h:commandLink>
                            </span>
                        </h:panelGroup>

                        <p:inputNumber id="valorPedido" value="#{cadastroProcessoController.pedidoSelecionado.valorPedido}"
                                       disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                       style="font-weight: bold;"
                                       decimalSeparator="," thousandSeparator="."
                                       onkeypress="if (event.keyCode == 13) { return false; }"/>

                        <h:panelGroup class="input-group">
                            <p:inputNumber id="valorProvavelPedido" value="#{cadastroProcessoController.pedidoSelecionado.valorProvavel}"
                                           disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                           style="font-weight: bold;"
                                           decimalSeparator="," thousandSeparator="."
                                           onkeypress="if (event.keyCode == 13) { return false; }"/>
                            <span class="input-group-btn">
                               <h:commandLink class="btn btn-success"
                                              actionListener="#{cadastroProcessoController.adicionarPedido}"
                                              disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                              title="#{cadastroProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_adicionar}"
                                              style="width: 45px; height: 34px; color: #fff !important;">
                                   <span class="fa fa-plus"></span>
                                   <p:ajax process="valoresFormGroup" update="pedidosTable valoresFormGroup @parent" />
                               </h:commandLink>
                            </span>
                        </h:panelGroup>
                    </p:panelGrid>

                    <p:spacer height="15"/>

                    <p:outputPanel id="pedidos">
                        <p:dataTable value="#{cadastroProcessoController.processo.pedidos}" var="row" id="pedidosTable" emptyMessage="#{bundleMsgs.empty_results}">
                            <p:column headerText="#{bundleMsgs.label_pedido}">
                                <h:outputText value="#{row.pedido.descricao}" />
                            </p:column>

                            <p:column headerText="#{bundleMsgs.label_causa_pedido}">
                                <h:outputText value="#{row.causaPedido.descricao}" />
                            </p:column>

                            <p:column headerText="#{bundleMsgs.label_valor_pedido}" style="text-align: center;">
                                <h:outputText value="#{row.valorPedido}" >
                                    <f:convertNumber type="currency" currencySymbol="R$" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="#{bundleMsgs.label_valor_provavel}" style="text-align: center;">
                                <h:outputText value="#{row.valorProvavel}" >
                                    <f:convertNumber type="currency" currencySymbol="R$" />
                                </h:outputText>
                            </p:column>

                            <p:column style="width: 6%;">
                                <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;"
                                               disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                               title="#{cadastroProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : ''}">
                                    <span class="fa fa-trash-o"></span>
                                    <p:collector value="#{row}" removeFrom="#{cadastroProcessoController.processo.pedidos}" unique="true"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:panel>
            </div>
        </div>
        <div class="row">
            <h:panelGroup id="grauRiscoGroup">
                <div class="col-md-3 col-xs-12 form-group">
                    <h4>#{bundleMsgs.label_grau_risco} *</h4>


                    <h:panelGroup id="inputGroupGrauRisco" class="input-group">
                        <h:selectOneMenu
                                value="#{cadastroProcessoController.processo.grauRisco}"
                                disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                styleClass="form-control select2" converter="entityConverter">
                            <f:selectItem itemLabel="" itemValue="#{null}" />
                            <f:selectItems var="grau" value="#{processoListasController.grausRisco}" itemLabel="#{grau.descricao}" />
                            <f:ajax event="change" execute="grauRiscoGroup" />
                        </h:selectOneMenu>
                        <span class="input-group-btn">
                                <h:commandLink class="btn btn-input"
                                               rendered="#{grauRiscoController.hasAccess}"
                                               title="#{cadastroProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_adicionar}"
                                               disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                                    <i class="fa fa-plus"></i>
                                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirGrauRiscoListener()}"  />
                                </h:commandLink>
                            </span>
                    </h:panelGroup>
                </div>
            </h:panelGroup>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_valor_causa} *</h4>
                <p:inputNumber id="edtValorCausa" value="#{cadastroProcessoController.processo.valorCausa}"
                               disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                               style="font-weight: bold;"
                               decimalSeparator="," thousandSeparator="."
                               onkeypress="if (event.keyCode == 13) { return false; }">
                    <p:ajax event="blur" update="edtValorCausa valoresFormGroup" />
                </p:inputNumber>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_valor_total_provavel}</h4>
                <h:inputText id="edtValorTotalProvavel" disabled="true"
                             pt:data-mask="decimal" converter="javax.faces.BigDecimal"
                             class="form-control"
                             value="#{cadastroProcessoController.processo.totalValorProvavel}">
                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" type="number" />
                </h:inputText>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_valor_total_pedido}</h4>
                <p:inputText id="edtValorTotalPedido" disabled="true"
                             pt:data-mask="decimal" converter="javax.faces.BigDecimal"
                             class="form-control"
                             value="#{cadastroProcessoController.processo.totalValorPedido}">
                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" type="number" />
                </p:inputText>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>