<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_confirmacao}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 form-group">
            <h4>#{bundleMsgs.label_status_processo}</h4>
            <h:selectOneMenu
                    value="#{cadastroProcessoController.processo.status}"
                    styleClass="form-control select2">
                <f:selectItems var="status"
                               value="#{cadastroProcessoController.statusProcessoItems}"
                               itemLabel="#{status.descricao}" itemValue="#{status.value}" />
            </h:selectOneMenu>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <p:selectBooleanCheckbox styleClass="left-checkbox"
                                     value="#{cadastroProcessoController.processo.privado}" itemLabel="${bundleMsgs.label_privado}">
                <f:ajax event="change" execute="@this" />
            </p:selectBooleanCheckbox>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group" align="right">
            <!--Cancelar-->
            <h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
                             class="btn btn-default"
                             action="#{cadastroProcessoController.cancelarProcesso()}"
                             pt:data-loader="off" immediate="true">
            </h:commandButton>

            <!--Inserir-->
            <h:commandButton id="btnInserir" value="#{bundleMsgs.bt_novo}"
                             class="btn btn-success" action="#{cadastroProcessoController.goToCadastroProcessos()}">
            </h:commandButton>

            <!--Salvar-->
            <h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
                             class="btn btn-primary" pt:data-loader="on"
                             pt:data-loader-message="Salvando, Aguarde..."
                             onclick="setConfirmUnload(false)"
                             action="#{cadastroProcessoController.salvar()}">
            </h:commandButton>
        </div>
    </div>
</ui:composition>