<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

	<div class="row">
		<div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_resumo_acao}</h3>
            </div>
		</div>
	</div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p:editor id="editor" widgetVar="editorWidget" value="#{cadastroProcessoController.processo.observacao}" style="width: 100%"
                      disabled="#{cadastroProcessoController.processo.processoFinalizado}"/>
        </div>
    </div>
</ui:composition>