<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

    <h:panelGroup id="dadosProcessoGroup">

        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
                <div class="box-header with-border">
                    <h3 class="box-title">${bundleMsgs.label_dados_processo}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_data_abertura} *</h4>
                <div class="form-group">
                    <stpro:simple-calendar value="#{cadastroProcessoController.processo.dataAbertura}"
                                           disabled="#{cadastroProcessoController.processo.processoFinalizado}"/>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_data_citacao} </h4>
                <div class="form-group">
                    <stpro:simple-calendar value="#{cadastroProcessoController.processo.dataCitacao}"
                                           disabled="#{cadastroProcessoController.processo.processoFinalizado}"/>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_meio_tramitacao} *</h4>
                <h:panelGroup id="meioTramitacaoGroup" class="input-group">
                    <h:selectOneMenu style="height: 34px;"
                                     value="#{cadastroProcessoController.processo.meioTramitacao}"
                                     styleClass="form-control select2" converter="entityConverter"
                                     disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                     valueChangeListener="#{cadastroProcessoController.meioTramitacaoChanged}">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="meioTramitacao"
                                       value="#{processoListasController.meiosTramitacao}"
                                       itemLabel="#{meioTramitacao.descricao}" />
                        <p:ajax event="change" process="@this"  />
                    </h:selectOneMenu>
                    <span class="input-group-btn"> <h:commandLink
                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                            rendered="#{meioTramitacaoController.hasAccess}"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <i class="fa fa-plus"></i>
                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirMeioTramitacaoListener()}"  />
                </h:commandLink>
				</span>
                </h:panelGroup>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_natureza_acao} *</h4>
                <h:panelGroup class="input-group">
                    <h:selectOneMenu
                            value="#{cadastroProcessoController.processo.naturezaAcao}"
                            styleClass="form-control select2" converter="entityConverter"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                            valueChangeListener="#{cadastroProcessoController.naturezaAcaoChanged}">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="natureza"
                                       value="#{processoListasController.naturezas}"
                                       itemLabel="#{natureza.descricao}" />
                        <p:ajax event="change" process="@this"  />
                    </h:selectOneMenu>
                    <span class="input-group-btn">
                    <h:commandLink
                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                            rendered="#{naturezaAcaoController.hasAccess}"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <i class="fa fa-plus"></i>
                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirNaturezaAcaoListener()}"  />
                </h:commandLink>
				</span>
                </h:panelGroup>
            </div>
        </div>

        <div class="row">
            <h:panelGroup id="processoDescricaoGroup">
                <div class="col-md-3 col-xs-12 form-group">
                    <h4>#{bundleMsgs.label_processo} *</h4>
                    <p:inputMask value="#{cadastroProcessoController.processo.descricao}"
                                 disabled="#{cadastroProcessoController.processo.processoFinalizado or cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica}"
                                 mask="#{cadastroProcessoController.processo.meioTramitacao.mascara}"/>
                </div>
            </h:panelGroup>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_numeracao_secundaria} </h4>
                <h:inputText
                        value="#{cadastroProcessoController.processo.numeracaoSecundaria}"
                        disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                        class="form-control">
                </h:inputText>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_fase} #{!cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica ? '*' : ''}</h4>
                <h:panelGroup class="input-group">
                    <h:selectOneMenu
                            value="#{cadastroProcessoController.processo.fase}"
                            styleClass="form-control select2" converter="entityConverter"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado or cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica}"
                            pt:data-loader="off">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="fase" value="#{processoListasController.fases}"
                                       itemLabel="#{fase.descricao}" />
                    </h:selectOneMenu>
                    <span class="input-group-btn">
                    <h:commandLink
                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                            rendered="#{faseController.hasAccess}">
                    <i class="fa fa-plus"></i>
                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirFaseListener()}"  />
                </h:commandLink>
				</span>
                </h:panelGroup>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_classe_processual} #{!cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica ? '*' : ''}</h4>
                <h:panelGroup class="input-group">
                    <h:selectOneMenu
                            value="#{cadastroProcessoController.processo.classeProcessual}"
                            styleClass="form-control select2" converter="entityConverter"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado or cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica}"
                            pt:data-loader="off">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="classe"
                                       value="#{processoListasController.classesProcessuais}"
                                       itemLabel="#{classe.descricao}" />
                    </h:selectOneMenu>
                    <span class="input-group-btn">
                    <h:commandLink
                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                            rendered="#{classeProcessualController.hasAccess}"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <i class="fa fa-plus"></i>
                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirClasseProcessualListener()}"  />
                </h:commandLink>
				</span>
                </h:panelGroup>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_forum} #{!cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica ? '*' : ''}</h4>
                <h:panelGroup class="input-group">
                    <h:selectOneMenu
                            value="#{cadastroProcessoController.processo.forum}"
                            styleClass="form-control select2" converter="entityConverter"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado or cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica}"
                            pt:data-loader="off">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="forum" value="#{processoListasController.foruns}"
                                       itemLabel="#{forum.descricao}" />
                    </h:selectOneMenu>
                    <span class="input-group-btn">
                    <h:commandLink
                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                            rendered="#{forumController.hasAccess}"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <i class="fa fa-plus"></i>
                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirForumListener()}"  />

                </h:commandLink>
				</span>
                </h:panelGroup>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h4>#{bundleMsgs.label_comarca} *</h4>
                <h:panelGroup class="input-group">
                    <p:autoComplete value="#{cadastroProcessoController.processo.comarca}"
                                    completeMethod="#{comarcaAutoCompleteController.completeComarca}"
                                    disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                                    var="var" style="width: 100% !important;"
                                    itemLabel="#{var.toString()}" itemValue="#{var}" converter="entityConverter"
                                    forceSelection="true" scrollHeight="140">
                        <p:ajax event="itemSelect" update="@parent" />

                        <p:column>
                            <h:outputText value="#{var.toString()}" />
                        </p:column>
                    </p:autoComplete>
                    <span class="input-group-btn">
                    <h:commandLink
                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                            rendered="#{comarcaController.hasAccess}"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}">
                    <i class="fa fa-plus"></i>
                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirComarcaListener()}"  />
                </h:commandLink>
				</span>
                </h:panelGroup>
            </div>

            <div class="col-md-2 col-xs-6 form-group">
                <h4>N° #{!cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica ? '*' : ''}</h4>
                <h:selectOneMenu
                        value="#{cadastroProcessoController.processo.numeroVara}"
                        disabled="#{cadastroProcessoController.processo.processoFinalizado or cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica}"
                        styleClass="form-control select2" pt:data-loader="off"
                        converter="#{numeroVaraConverter}">
                    <f:selectItem itemLabel="#{cadastroProcessoController.varaUnica.descricao}"
                                  itemValue="#{cadastroProcessoController.varaUnica}" />
                    <f:selectItems var="nr" value="#{cadastroProcessoController.numeroList}"
                                   itemLabel="#{nr.descricao}" />
                </h:selectOneMenu>
            </div>

            <div class="col-md-4 col-xs-6 form-group">
                <h4>#{bundleMsgs.label_vara} #{!cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica ? '*' : ''}</h4>
                <h:panelGroup class="input-group">
                    <h:selectOneMenu
                            value="#{cadastroProcessoController.processo.vara}"
                            styleClass="form-control select2" converter="entityConverter"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado or cadastroProcessoController.processo.permiteCadastroComGeracaoAutomatica}"
                            pt:data-loader="off">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="vara" value="#{processoListasController.varas}"
                                       itemLabel="#{vara.descricao}" />
                    </h:selectOneMenu>
                    <span class="input-group-btn">
                    <h:commandLink
                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                            disabled="#{cadastroProcessoController.processo.processoFinalizado}"
                            rendered="#{varaController.hasAccess}">
                    <i class="fa fa-plus"></i>
                    <p:ajax process="@this" listener="#{cadastroProcessoController.abrirVaraListener()}"  />
                </h:commandLink>
				</span>
                </h:panelGroup>
            </div>
        </div>
    </h:panelGroup>
</ui:composition>