<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:stpro="http://xmlns.jcp.org/jsf/composite/stprocomponents">

<f:metadata>
    <f:event type="preRenderView" listener="#{varaController.init}"/>
</f:metadata>

<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">${bundleMsgs.label_vara}</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->

<stpro:simple-filter controller="#{varaController}" />

<!--Listagem ********************************-->
<div class="box">
    <div class="box-body">
        <div class="table-responsive form-group">

            <p:dataTable var="row" rowKey="#{row.id}" value="#{varaController.lazyDataModel}"
                         rows="10" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" lazy="true">

                <p:column headerText="${bundleMsgs.label_descricao}" sortBy="#{row.descricao}" >
                    <h:outputText value="#{row.descricao}" />
                </p:column>

                <p:column style="width: 20%; text-align: center;">
                    <h:commandLink rendered="#{varaController.permiteAlteracao}"
                                   id="btnEditar" style="color: #fff !important;"
                                   class="btn btn-warning btn-sm"
                                   action="#{varaController.editar(row)}"
                                   title="${bundleMsgs.bt_editar}">
                        <span class="fa fa-pencil"></span>
                    </h:commandLink>
                    <p:spacer width="3" />

                    <h:commandLink rendered="#{varaController.permiteExclusao}"
                                   id="btnExcluir" class="btn btn-danger btn-sm"
                                   title="${bundleMsgs.bt_excluir}" style="color: #fff !important;">
                        <span class="fa fa-trash-o"></span>
                        <f:setPropertyActionListener
                                target="#{varaController.objetoSelecionado}"
                                value="#{row}"></f:setPropertyActionListener>
                        <f:ajax onevent="openModal('#myModal')" />
                    </h:commandLink>
                </p:column>
            </p:dataTable>
        </div>
    </div>
</div>
</html>