<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>${bundleMsgs.titulo}</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<link rel="shortcut icon" type="image/x-icon"
		  href="#{request.contextPath}/resources/images/icons/Logo-ST.gif" />

	<h:outputStylesheet name="style.#{bundleMsgs.buildNumber}.min.css" library="css"/>
</h:head>

<h:body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<div>
			<ui:include src="../../../top-menu-template.xhtml" />
		</div>

		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<h:form id="menuForm" prependId="false">
					<div class="user-panel">
						<div class="pull-left image">
							<img src="#{resource['images/avatar/avatar_64.png']}" class="img-circle" alt="User Image" />
						</div>
						<div class="pull-left info">
							<p>#{sessionScope.userLogged.name}</p>
						</div>
					</div>

					<!-- Sidebar Menu -->
					<ul class="sidebar-menu">
						<li class="header"></li>

						<h:panelGroup rendered="#{menuController.roleMenuAtendimento}">
							<li class="active">
								<p:commandLink immediate="true" ajax="false"
											   action="#{menuController.goToAtendimento()}">
									<i class="fa fa-commenting"></i>
									<span>${bundleMsgs.atendimento}</span>
								</p:commandLink></li>
						</h:panelGroup>
					</ul>
				</h:form>

			</section>
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<ui:include src="../../../wrapper-template.xhtml" />

			<section class="content">
				<h:form id="atendimentoForm" prependId="false" enctype="multipart/form-data">

					<!-- Mensagens ******************************** -->
					<div class="row">
						<div class="col-xs-12 form-group">
							<ui:include src="../../../_mensagens.xhtml" />
						</div>
					</div>
					<!-- Mensagens ................................ -->

					<div class="row">
						<div class="box">
							<div class="box-header with-border">
								<div class="form-group">

									<!--Listagem *********************************-->
									<div class="col-sm-6 col-xs-12 form-group">
										<ui:include src="atendimento-cliente-list.xhtml" />
									</div>
									<!--Listagem .................................-->

									<!--Formulario *******************************-->
									<div class="col-sm-6 col-xs-12  form-group">
										<ui:include src="atendimento-cliente-form.xhtml" />
										<div class="row">
											<p class="col-md-12 col-xs-12" align="right">
												<i>#{bundleMsgs['commons.form.required.message']}</i>
											</p>
										</div>
									</div>
									<!--Formulario ...............................-->
								</div>
							</div>
						</div>
					</div>

					<!-- COMPONENTE POPUP -->
					<stpro:exclusion-popup controller="#{atendimentoController}" />
				</h:form>
			</section>
		</div>

		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="pull-right hidden-xs">
				${bundleMsgs.version}
			</div>
			<!-- Default to the left -->
			<strong>Copyright  2015 - 2018 <a href="http://www.stpro.com.br/web-juridico/">STpro</a>.</strong> Todos os Direitos Reservados.
		</footer>

		<ui:include src="../../../control-sidebar-template.xhtml" />
		<ui:include src="../../../_juridico_loader.xhtml" />
	</div>

	<h:outputScript name="stpro.js" library="js"  />
	<h:outputScript name="stpro-loader.js" library="js"  />
	<h:outputScript name="bootstrap/js/bootstrap.min.js" library="css" />
	<h:outputScript name="dist/js/app.min.js" library="css" />

</h:body>
</html>




