<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" >


<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">${bundleMsgs.label_meus_atendimentos}</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->


<!--Listagem ********************************-->
<div class="box">
    <div class="box-body">
        <div class="table-responsive form-group">

            <p:dataTable var="row" rowKey="#{row.id}" value="#{atendimentoController.andamentos}"
                         emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                <p:column headerText="${bundleMsgs.label_protocolo}" sortBy="#{row.atendimento.id}" >
                    <h:outputText value="#{row.atendimento.id}" />
                </p:column>

                <p:column headerText="${bundleMsgs.label_data}" sortBy="#{row.dataCadastro}" >
                    <h:outputText value="#{row.dataCadastro}" >
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column headerText="${bundleMsgs.label_status}" sortBy="#{row.status}" >
                    <h:outputText value="#{row.status}" >
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column style="width: 20%; text-align: center;">

                </p:column>
            </p:dataTable>
        </div>
    </div>
</div>
</html>