<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-6 form-group">
				<h:outputLabel value="#{bundleMsgs.label_tipo_atendimento} *" class="simple-label" />
				<h:selectOneMenu style="height: 34px;" pt:data-loader="off"
								 disabled="#{atendimentoController.editavel eq false}"
								 value="#{atendimentoController.objetoSelecionado.tipoAtendimento}"
								 styleClass="form-control select2" converter="entityConverter">
					<f:selectItem itemLabel="" itemValue="#{null}" />
					<f:selectItems value="#{atendimentoController.tipos}" var="t" itemValue="#{t}"
								   itemLabel="#{t.descricao}" />
				</h:selectOneMenu>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 form-group">
				<p:editor id="editor" widgetVar="editorWidget" value="#{atendimentoController.descricaoAtendimento}"
						  style="width: 100%" disabled="#{atendimentoController.editavel == false}" />
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 form-group">
				<h:inputFile id="arquivo" class="btn btn-default" style="width: 100%;"
							 rendered="#{atendimentoController.editavel eq true}"
							 value="#{atendimentoController.arquivo}" label="Arquivo"
							 validator="#{importadorValidator.valida}">
					<f:ajax render="@all" listener="#{atendimentoController.importar}"/>
				</h:inputFile>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 form-group">
				<h:panelGroup id="anexos" rendered="#{atendimentoController.editavel eq true}">
					<div class="table-responsive form-group">
						<p:dataTable var="row" rowKey="#{row.id}" value="#{atendimentoController.objetoSelecionado.andamentos[0].documentos}"
									 emptyMessage="#{bundleMsgs.msg_nenhum_registro}" rowIndexVar="index">

							<p:column headerText="#{bundleMsgs.label_descricao}">
								<h:outputText value="#{row.nome}" />
							</p:column>

							<p:column style="width: 23%; text-align: center;">
								<h:commandLink action="#{atendimentoController.downloadAnexo(row)}"
											   immediate="true"
											   class="btn btn-default btn-sm" style="margin-right: 5px;">
									<i class="fa fa-download"></i> #{bundleMsgs.bt_download}
								</h:commandLink>

								<h:commandLink immediate="true"
											   class="btn btn-danger btn-sm"
											   style="margin-right: 5px; color: #fff !important;">
									<i class="fa fa-trash-o"></i> #{bundleMsgs.bt_excluir}
									<f:ajax onevent="openModal('#exclusionAnexo')" />
									<f:setPropertyActionListener value="#{atendimentoController.rowAnexoNumber}" target="#{index}" />
								</h:commandLink>
							</p:column>

						</p:dataTable>
					</div>
				</h:panelGroup>
			</div>
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{atendimentoController.cancelar()}"
								 disabled="#{atendimentoController.editavel == false}" immediate="true" />

				<!--Inserir-->
				<h:commandButton id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{atendimentoController.novo()}"
								 disabled="#{atendimentoController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{atendimentoController.salvar()}"
								 disabled="#{atendimentoController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

<!-- MODAL CONFIRMACAO -->
<div class="modal fade" id="exclusionAnexo" tabindex="-1" role="dialog"
	 aria-labelledby="exclusionAnexoLabel">

	<div class="modal-dialog modal-sm" role="document">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true"></button>
				<h4 class="modal-title" id="exclusionAnexoLabel">${bundleMsgs.label_confirmacao}</h4>
			</div>

			<div class="modal-body">
				<p>${bundleMsgs.label_confirma_exclusao}</p>
			</div>

			<div class="modal-footer">
				<h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
								 class="btn btn-default" pt:data-dismiss="modal" />

				<h:commandButton value="${bundleMsgs.bt_confirmar}" immediate="true"
								 onblur="$('#exclusionAnexo').modal('hide')"
								 action="#{atendimentoController.excluirAnexo()}" class="btn btn-primary">
				</h:commandButton>
			</div>
		</div>
	</div>
</div>

</html>