<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:decorate template="../../../plain-template.xhtml">
	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		<div class="page-title">${bundleMsgs.label_cadastro_pj}</div>
	</ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="active" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />
		<ui:param name="disabled_pessoa" value="#{pessoaJuridicaController.podeSomenteVisualizar}"/>

		<!-- MENU LATERAL -->
		<ui:include src="../../../left-menu-template.xhtml" />
	</ui:define>

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/pages/index.xhtml">
			<i class="fa fa-home"></i>
			Home
		</h:link></li>
		<li><h:link outcome="/pages/pessoas/pessoaJuridica/pessoa-juridica-list.xhtml" >
			${bundleMsgs.pessoas_juridicas}
			<f:param name="paramLink" value="true"/>
		</h:link></li>
		<li class="active">${bundleMsgs.label_cadastro}</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="pessoaJuridicaForm" prependId="false">
			<f:metadata>
				<f:event type="preRenderView" listener="#{pessoaJuridicaController.init}"/>
			</f:metadata>

			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<!--Painel Pessoa..............................-->
			<div class="box box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_razao_social} *" for="edtRazaoSocial"
										   class="simple-label" />

							<h:inputText id="edtRazaoSocial" class="form-control"
										 value="#{pessoaJuridicaController.objetoSelecionado.pessoa.descricao}"
										 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
										 pt:placeholder="${bundleMsgs.label_razao_social}" >
								<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
							</h:inputText>
						</div>

						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel id="edtCnpjLabel" value="${pessoaJuridicaController.objetoSelecionado.pessoa.clienteEmpresa ? bundleMsgs.label_cnpj_required : bundleMsgs.label_cnpj}" for="edtCnpj"
										   class="simple-label" />

							<p:inputMask id="edtCnpj" styleClass="form-control"
										 value="#{pessoaJuridicaController.objetoSelecionado.cnpj}"
										 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
										 mask="99.999.999/9999-99" onchange="ValidarCNPJ(this);"
										 pt:placeholder="${bundleMsgs.p_holder_cnpj}" >
								<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
							</p:inputMask>
						</div>

						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_eh_cliente} *" for="edtCliente" />
							<h:panelGroup class="input-group">
								<p:selectOneRadio id="edtCliente"
												  value="#{pessoaJuridicaController.objetoSelecionado.pessoa.cliente}" class="form-control"
												  valueChangeListener="#{pessoaJuridicaController.clienteChanged}"
												  disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}">
									<f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
									<f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
									<p:ajax event="change" process="@this" update="edtEnviaEmail, iniciaisGroup, edtCnpjLabel, edtRamoAtividadeLabel"
											listener="#{pessoaJuridicaController.verificaIsCliente()}" oncomplete="setConfirmUnload(true)" />
								</p:selectOneRadio>
								<span class="input-group-btn"> 
                                    <p:commandButton id="historicoBtn" class="btn btn-input" icon="ui-icon-clock" title="${bundleMsgs.label_historico_cliente}" />
                                </span>
							</h:panelGroup>

							<p:dialog header="Justificativa" widgetVar="justificativaPanel" modal="true" width="500"
									  closable="false" resizable="false" responsive="true">
								<h:outputLabel value="${bundleMsgs.label_justificativa}" for="edtJustificativa"
											   class="simple-label" />
								<p:inputTextarea id="edtJustificativa"
												 class="form-control" onblur="setConfirmUnload(true)"
												 value="#{pessoaJuridicaController.justificativaClienteNao}"
												 rows="3" counter="displayJust" maxlength="4000" style="height: 100% !important;"
												 counterTemplate="{0} caracteres restantes." autoResize="false" />
								<h:outputText id="displayJust" />

								<div class="row">
									<div class="col-xs-12 form-group" align="right">
										<h:commandButton value="#{bundleMsgs.bt_confirmar}"
														 class="btn btn-primary"
														 onclick="setConfirmUnload(false), PF('justificativaPanel').hide()">
											<p:ajax process="@this" onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
										</h:commandButton>
									</div>
								</div>
							</p:dialog>

                            <p:overlayPanel widgetVar="historicoPanel" for="historicoBtn" hideEffect="fade" dynamic="true" style="width:600px" appendToBody="true">
                                <h:outputLabel value="${bundleMsgs.label_historico_cliente}" for="dataTableHistorico"
                                               class="simple-label" />
                                <p:dataTable id="dataTableHistorico" var="historico" sortBy="#{historico.dataAlteracao}" sortOrder="descending"
                                    value="#{pessoaJuridicaController.objetoSelecionado.pessoa.historicoClienteList}"
                                    emptyMessage="${bundleMsgs.empty_results}">
                                    
                                    <p:column headerText="${bundleMsgs.label_data_hora_alteracao}" style="width:185px; text-align:center;">
                                        <h:outputText value="#{historico.dataAlteracaoFormatada}" />
                                    </p:column>
                         
                                    <p:column headerText="${bundleMsgs.label_cliente}" style="width:85px; text-align:center;">
                                        <h:outputText value="#{historico.clienteSimNao}" />
                                    </p:column>
                         
                                    <p:column headerText="${bundleMsgs.label_justificativa}">
                                        <h:outputText value="#{historico.justificativa}" />
                                    </p:column>
                         
                                </p:dataTable>                                               
                            </p:overlayPanel>
						</div>

						<h:panelGroup id="iniciaisGroup">
							<div class="col-md-1 col-xs-6 form-group">
								<h:outputLabel value="${bundleMsgs.label_iniciais}" rendered="#{pessoaJuridicaController.objetoSelecionado.pessoa.cliente}" />
								<h:inputText value="#{pessoaJuridicaController.objetoSelecionado.pessoa.nomeIniciais}"
											 class="form-control" style="text-transform:uppercase" maxlength="3"
											 rendered="#{pessoaJuridicaController.objetoSelecionado.pessoa.cliente}">
									<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
								</h:inputText>
							</div>
						</h:panelGroup>

						<div class="col-md-2 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_envia_email} *"
										   for="edtEnviaEmail" />

							<p:selectOneRadio id="edtEnviaEmail"
											  value="#{pessoaJuridicaController.objetoSelecionado.pessoa.enviaEmail}"
											  class="form-control radio-group"
											  disabled="#{pessoaJuridicaController.editavel == false or not pessoaJuridicaController.objetoSelecionado.pessoa.cliente or disabled_pessoa}">
								<f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
								<f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
								<p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" />
							</p:selectOneRadio>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_data_fundacao}"
										   class="simple-label" />

							<div class="input-group">
								<div class="input-group" id="calendarDataFundacao">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<p:inputMask class="form-control radio-group"
												 value="#{pessoaJuridicaController.objetoSelecionado.dataFundacao}"
												 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
												 mask="99/99/9999" pt:placeholder="${bundleMsgs.p_holder_data}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
										<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
									</p:inputMask>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_inscricao_estadual}"
										   for="edtInscricaoEstadual" class="simple-label" />

							<h:inputText id="edtInscricaoEstadual" class="form-control"
										 value="#{pessoaJuridicaController.objetoSelecionado.inscricaoEstadual}"
										 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
										 pt:placeholder="${bundleMsgs.p_holder_inscricao_estadual}" >
								<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
							</h:inputText>
						</div>

                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel id="edtRamoAtividadeLabel" value="${pessoaJuridicaController.objetoSelecionado.pessoa.clienteEmpresa ? bundleMsgs.label_ramo_atividade_required : bundleMsgs.label_ramo_atividade}" for="edtRamoAtividade"
                                           class="simple-label" />
                            <h:panelGroup class="input-group">
								<p:autoComplete value="#{pessoaJuridicaController.objetoSelecionado.ramoAtividade}"
												completeMethod="#{ramoAtividadeAutoCompleteController.completeRamoAtividade}"
												disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
												var="var" style="width: 100% !important;"
												itemLabel="#{var.toString()}" itemValue="#{var}" converter="entityConverter"
												forceSelection="true" scrollHeight="140">
									<p:ajax event="itemSelect" update="@parent" />
									<p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" />

									<p:column>
										<h:outputText value="#{var.toString()}" />
									</p:column>
								</p:autoComplete>

                                <span class="input-group-btn">
                                    <h:commandLink
                                            class="btn btn-input" title="${bundleMsgs.bt_adicionar}"
                                            disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}">
                                    <i class="fa fa-plus"></i>
                                    <f:ajax onevent="openModal('#ramoAtividadeModal')" />
                                </h:commandLink>
                                </span>
                            </h:panelGroup>
                        </div>
					</div>

					<div class="row">
						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_tipo_empresa}"
										   for="edtTipoEmpresa" class="simple-label" />

							<h:inputText id="edtTipoEmpresa" class="form-control"
										 value="#{pessoaJuridicaController.objetoSelecionado.tipoEmpresa}"
										 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
										 pt:placeholder="${bundleMsgs.p_holder_tipo_empresa}" >
								<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
							</h:inputText>
						</div>

						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_inscricao_municipal}"
										   for="edtInscricaoMunicipal" class="simple-label" />

							<h:inputText id="edtInscricaoMunicipal" class="form-control"
										 value="#{pessoaJuridicaController.objetoSelecionado.inscricaoMunicipal}"
										 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
										 pt:placeholder="${bundleMsgs.p_holder_inscricao_municipal}" >
								<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
							</h:inputText>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-xs-12 form-group">
							<h:outputLabel value="${bundleMsgs.label_obervacoes}" for="edtObs"
										   class="simple-label" />

							<p:inputTextarea id="edtObs"
											 class="form-control" onblur="setConfirmUnload(true)"
											 value="#{pessoaJuridicaController.objetoSelecionado.observacao}"
											 rows="3" counter="display" maxlength="4000" style="height: 100% !important;"
											 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}"
											 counterTemplate="{0} caracteres restantes." autoResize="false" />
							<h:outputText id="display" />
						</div>
					</div>


					<div class="row">
						<p class="col-md-12 col-xs-12">
							<i>#{bundleMsgs['commons.form.required.message']}</i>
						</p>
					</div>
				</div>
			</div>

			<div class="box box">
				<div class="box-body">
					<h:panelGroup id="groupEmail" rendered="#{pessoaJuridicaController.editavel}">

						<div class="col-md-2 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_possui_email} *"
										   for="edtPossuiEmail" />

							<p:selectOneRadio id="edtPossuiEmail"
											  value="#{pessoaJuridicaController.objetoSelecionado.pessoa.possuiEmail}"
											  class="form-control"
											  disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}">
								<f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
								<f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
								<p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" update="groupEmail" />
							</p:selectOneRadio>
						</div>

						<div class="col-md-12 col-xs-12 form-group">
							<stpro:emails pessoaEmailList="#{pessoaJuridicaController.objetoSelecionado.pessoa.pessoasEmails}"
										  controller="#{pessoaJuridicaController}"
										  styleClass="col-md-6 col-xs-12 form-group" />
						</div>
					</h:panelGroup>
				</div>
			</div>

			<div class="box box">
				<div class="box-body">
					<h:panelGroup rendered="#{pessoaJuridicaController.editavel}">
						<stpro:responsaveis controller="#{pessoaJuridicaController}"
											styleClass="col-md-6 col-xs-12 form-group"
											list="#{pessoaJuridicaController.objetoSelecionado.pessoasJuridicasResponsaveis}" />
					</h:panelGroup>
				</div>
			</div>

			<div class="box box">
				<div class="box-body">
					<h:panelGroup rendered="#{pessoaJuridicaController.editavel}">
						<stpro:centro-custo
								controller="#{pessoaJuridicaController}"
								styleClass="col-md-7 col-xs-12 form-group"
								list="#{pessoaJuridicaController.objetoSelecionado.pessoasJuridicasCentrosCustos}"
								centroCustoList="#{pessoaJuridicaController.centrosCustosCrud}"
								pessoaFisicaList="#{pessoaJuridicaController.pessoasFisicasCrud}" />
					</h:panelGroup>
				</div>
			</div>

			<div class="box box">
				<div class="box-body">
					<h:panelGroup rendered="#{pessoaJuridicaController.editavel}">
						<stpro:contatos
								pessoaContatoList="#{pessoaJuridicaController.objetoSelecionado.pessoa.pessoasContatos}"
								tiposContatosList="#{pessoaJuridicaController.tiposContatos}"
								controller="#{pessoaJuridicaController}"
								styleClass="col-md-12 col-xs-12 form-group" />
					</h:panelGroup>
				</div>
			</div>

			<div class="box box">
				<div class="box-body">
					<h:panelGroup rendered="#{pessoaJuridicaController.editavel}">
						<stpro:enderecos
								pessoaEnderecoList="#{pessoaJuridicaController.objetoSelecionado.pessoa.pessoasEnderecos}"
								tipoEnderecoList="#{pessoaJuridicaController.tiposEnderecos}"
								controller="#{pessoaJuridicaController}"
								styleClass="col-md-12 col-xs-12 form-group" />
					</h:panelGroup>
				</div>
			</div>

			<!--Botoes ************************************-->
			<div class="row">
				<div class="col-xs-12 form-group" align="right">
					<!--Cancelar-->
					<h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
									 class="btn btn-default"
									 action="#{pessoaJuridicaController.cancelar()}"
									 disabled="#{pessoaJuridicaController.editavel == false}" />

					<!--Inserir-->
					<h:commandButton id="btnInserir" value="#{bundleMsgs.bt_novo}"
									 class="btn btn-success"
									 action="#{pessoaJuridicaController.novo()}"
									 disabled="#{pessoaJuridicaController.editavel}">
					</h:commandButton>

					<!--Salvar-->
					<h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
									 class="btn btn-primary" pt:data-loader="on"
									 pt:data-loader-message="Salvando, Aguarde..."
									 action="#{pessoaJuridicaController.salvar()}"
									 onclick="setConfirmUnload(false)"
									 disabled="#{pessoaJuridicaController.editavel == false or disabled_pessoa}">
					</h:commandButton>
				</div>
			</div>
			<!--Botoes ...................................-->


		</h:form>

		<h:panelGroup>
			<ui:include src="../../popups/ramo-atividade-popup.xhtml" />
		</h:panelGroup>
	</ui:define>

</ui:decorate>
</html>