<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<div class="row">
    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="${bundleMsgs.label_responsavel_pagamento} *"
                       for="edtResponsavelPagamento" />

        <p:selectOneRadio id="edtResponsavelPagamento"
                          value="#{detalheProcessoController.novaCusta.responsavelPagamento}"
                          class="form-control radio-group">
            <f:selectItem itemValue="C"
                          itemLabel="${bundleMsgs.label_cliente}" />
            <f:selectItem itemValue="E"
                          itemLabel="${bundleMsgs.label_escritorio}" />
            <p:ajax event="change" process="@this"  />
        </p:selectOneRadio>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="${bundleMsgs.label_tipo_custo} *"
                       for="edtTipoCusto" class="simple-label" />

        <h:selectOneMenu id="edtTipoCusto"
                         value="#{detalheProcessoController.novaCusta.tipoCusto}"
                         styleClass="form-control select2" converter="entityConverter">
            <f:selectItems var="tipoCusto"
                           value="#{detalheProcessoController.tiposCustos}"
                           itemLabel="#{tipoCusto.descricao}" itemValue="#{tipoCusto}" />
            <p:ajax event="change" process="@this" update="@form" />
        </h:selectOneMenu>
    </div>
    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_valor} *"
                       class="simple-label" />

        <p:inputNumber id="edtValorCusta"
                       value="#{detalheProcessoController.novaCusta.valorCusta}"
                       decimalSeparator="," thousandSeparator=".">
            <p:ajax event="change" process="@this"  />
        </p:inputNumber>
    </div>
    <div class="col-md-3 col-xs-6 form-group">
        <h:outputLabel value="${bundleMsgs.label_data_pagamento}*" class="simple-label" />
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <p:calendar locale="pt" pattern="dd/MM/yyyy"
                        value="#{detalheProcessoController.novaCusta.dataPagamento}"
                        navigator="true">
                <p:ajax event="dateSelect" listener="#{detalheProcessoController.dateCustasChanged}"/>
            </p:calendar>
        </div>
    </div>
    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="${bundleMsgs.label_forma_pagamento} *"
                       for="edtFormaPagamento" class="simple-label" />

        <h:selectOneMenu id="edtFormaPagamento"
                         value="#{detalheProcessoController.novaCusta.formaPagamento}"
                         styleClass="form-control select2" converter="entityConverter">
            <f:selectItems var="formaPagamento"
                           value="#{detalheProcessoController.formasPagamentos}"
                           itemLabel="#{formaPagamento.descricao}" itemValue="#{formaPagamento}" />
            <f:ajax event="change" execute="@this" render="@form" />
        </h:selectOneMenu>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 form-group">
        <h:inputFile id="arquivoCustas" class="btn btn-default" style="width: 100%;"
                     value="#{detalheProcessoController.arquivoCustas}" label="Arquivo"
                     validator="#{importadorValidator.valida}">
            <f:ajax execute="arquivoCustas" render="@all" listener="#{detalheProcessoController.importar}"/>
        </h:inputFile>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 form-group">
        <p:dataTable id="itemsDatatable" emptyMessage="#{bundleMsgs.msg_nenhum_registro}"
                     value="#{detalheProcessoController.novaCusta.custaDocumentos}" var="c"
                     rowKey="#{c.id}" rowIndexVar="index">

            <p:column headerText="Documento" sortBy="#{c.descricao}">
                <h:outputText value="#{c.descricao}" />
            </p:column>

            <p:column style="width:20%; text-align: center;"
                      headerText="${bundleMsgs.label_opcoes}">

                <h:commandLink action="#{detalheProcessoController.downloadAnexo(c)}"
                               immediate="true"
                               class="btn btn-default btn-sm" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> #{bundleMsgs.bt_download}
                </h:commandLink>

                <h:commandLink immediate="true"
                               class="btn btn-danger btn-sm" style="margin-right: 5px; color: #fff !important;">
                    <i class="fa fa-trash-o"></i> #{bundleMsgs.bt_excluir}
                    <f:ajax onevent="openModal('#exclusionAnexo')" />
                    <f:setPropertyActionListener value="#{detalheProcessoController.rowAnexoCustaNumber}" target="#{index}" />
                </h:commandLink>
            </p:column>
        </p:dataTable>
    </div>
</div>

<!--Botoes ************************************-->
<div class="row">
    <div class="col-xs-12 form-group" align="right">
        <!--Cancelar-->
        <h:commandButton id="btnCancelarCustas"
                         value="#{bundleMsgs.bt_cancelar}" class="btn btn-default"
                         action="#{detalheProcessoController.returnToDetalhes}"
                         pt:data-loader="off" immediate="true">
        </h:commandButton>

        <!--Salvar-->
        <h:commandButton id="btnSalvarCustas" value="#{bundleMsgs.bt_salvar}"
                         class="btn btn-primary" pt:data-loader="on"
                         pt:data-loader-message="Salvando, Aguarde..."
                         action="#{detalheProcessoController.salvarCustaProcesso()}">
        </h:commandButton>
    </div>
</div>

<!-- MODAL CONFIRMACAO -->
<div class="modal fade" id="exclusionAnexo" tabindex="-1" role="dialog"
     aria-labelledby="exclusionAnexoLabel">

    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title" id="exclusionAnexoLabel">${bundleMsgs.label_confirmacao}</h4>
            </div>

            <div class="modal-body">
                <p>${bundleMsgs.label_confirma_exclusao}</p>
            </div>

            <div class="modal-footer">
                <h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
                                 class="btn btn-default" pt:data-dismiss="modal" />

                <h:commandButton value="${bundleMsgs.bt_confirmar}" immediate="true"
                                 onblur="$('#exclusionAnexo').modal('hide')"
                                 action="#{detalheProcessoController.excluirCustaDocumento}" class="btn btn-primary">
                </h:commandButton>
            </div>
        </div>
    </div>
</div>

</html>