<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.label_cadastro_advogado}</div>
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_advogados" value="active" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />
        <ui:param name="disabled_pessoa" value="#{advogadoController.podeSomenteVisualizar}"/>

        <!-- MENU LATERAL -->
        <ui:include src="../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li>${bundleMsgs.label_advogado}</li>
        <li><h:link outcome="/pages/advogados/advogado-list.xhtml" >
            ${bundleMsgs.label_consulta}
            <f:param name="paramLink" value="true"/>
        </h:link></li>
        <li class="active">${bundleMsgs.label_cadastro}</li>


    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="advogadoForm" prependId="false">
            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <!--Painel Pessoa..............................-->
            <div class="box box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_nome} *" for="edtNome"
                                           class="simple-label" />

                            <h:inputText id="edtNome" class="form-control"
                                         value="#{advogadoController.objetoSelecionado.pessoa.descricao}"
                                         disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                         pt:placeholder="${bundleMsgs.p_holder_nome}" pt:autoFocus="true" >
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:inputText>
                        </div>

                        <div class="col-md-2 col-xs-12 form-group">
                            <h:outputLabel id="edtCpfLabel" value="${advogadoController.objetoSelecionado.advogadoInternoEscritorio ? bundleMsgs.label_cpf_required : bundleMsgs.label_cpf}" for="edtCpf"
                                           class="simple-label" />

                            <p:inputMask id="edtCpf"  class="form-control radio-group"
                                         value="#{advogadoController.objetoSelecionado.cpf}"
                                         disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                         onchange="ValidarCPF(this);"
                                         mask="999.999.999-99" pt:placeholder="${bundleMsgs.p_holder_cpf}">
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </p:inputMask>
                        </div>

                        <div class="col-md-3 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_sexo} *" for="edtSexo"/>

                            <p:selectOneRadio id="edtSexo"
                                              value="#{advogadoController.objetoSelecionado.sexo}"
                                              class="form-control radio-group"
                                              disabled="#{advogadoController.editavel == false or disabled_pessoa}">
                                <f:selectItem itemValue="M"
                                              itemLabel="${bundleMsgs.label_masculino}" />
                                <f:selectItem itemValue="F"
                                              itemLabel="${bundleMsgs.label_feminino}" />
                                <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
                            </p:selectOneRadio>
                        </div>

                        <div class="col-md-3 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_advogado_interno} *"
                                           for="edtAdvogadoInterno" />

                            <p:selectOneRadio id="edtAdvogadoInterno"
                                              value="#{advogadoController.objetoSelecionado.advogadoInterno}"
                                              class="form-control radio-group"
                                              disabled="#{advogadoController.editavel == false or disabled_pessoa}">
                                <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                                <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                                <p:ajax event="change" update="edtEnviaEmail, perfilGroup, iniciaisGroup, advogadoTerceirizadoGroup, edtCpfLabel" listener="#{advogadoController.verificaIsAdvogadoInterno()}" />
                                <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
                            </p:selectOneRadio>
                        </div>

                        <h:panelGroup id="iniciaisGroup">
                            <div class="col-md-1 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_iniciais}" rendered="#{advogadoController.objetoSelecionado.advogadoInternoEscritorio}" />
                                <h:inputText value="#{advogadoController.objetoSelecionado.pessoa.nomeIniciais}"
                                             class="form-control" style="text-transform:uppercase" maxlength="3"
                                             rendered="#{advogadoController.objetoSelecionado.advogadoInternoEscritorio}"/>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_data_nascimento}" class="simple-label" />

                            <div class="input-group">
                                <div class="input-group" id="calendarDataNascimento">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <p:inputMask class="form-control radio-group"
                                                 value="#{advogadoController.objetoSelecionado.dataNascimento}"
                                                 disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                                 mask="99/99/9999" pt:placeholder="${bundleMsgs.p_holder_data}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                        <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                                    </p:inputMask>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_rg}" for="edtRg"
                                           class="simple-label" />

                            <h:inputText id="edtRg" class="form-control"
                                         value="#{advogadoController.objetoSelecionado.rg}"
                                         disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                         pt:placeholder="${bundleMsgs.p_holder_rg}" >
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:inputText>
                        </div>

                        <div class="col-md-3 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_envia_email} *"
                                           for="edtEnviaEmail" />

                            <p:selectOneRadio id="edtEnviaEmail"
                                              value="#{advogadoController.objetoSelecionado.pessoa.enviaEmail}"
                                              class="form-control radio-group"
                                              disabled="#{advogadoController.editavel == false or advogadoController.objetoSelecionado.advogadoInterno eq 'N' or disabled_pessoa}">
                                <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                                <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                                <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
                            </p:selectOneRadio>
                        </div>

                        <h:panelGroup id="advogadoTerceirizadoGroup">
                            <div class="col-md-3 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_advogado_terceirizado} *"
                                               for="edtAdvogadoTerceirizado"
                                               rendered="#{advogadoController.objetoSelecionado.advogadoInternoEscritorio}" />

                                <p:selectOneRadio id="edtAdvogadoTerceirizado"
                                                  value="#{advogadoController.objetoSelecionado.advogadoTerceirizado}"
                                                  class="form-control radio-group"
                                                  disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                                  rendered="#{advogadoController.objetoSelecionado.advogadoInternoEscritorio}" >
                                    <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                                    <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                                    <p:ajax event="change" update="edtEnviaEmail" listener="#{advogadoController.verificaIsAdvogadoTerceirizado()}" />
                                    <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
                                </p:selectOneRadio>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_estado_civil}"
                                           for="edtEstadoCivil" class="simple-label" />

                            <h:selectOneMenu id="edtEstadoCivil"
                                             value="#{advogadoController.objetoSelecionado.estadoCivil}"
                                             styleClass="form-control select2"
                                             disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                             converter="entityConverter">
                                <f:selectItem itemLabel="" itemValue="#{null}" />
                                <f:selectItems var="estadoCivil"
                                               value="#{advogadoController.estadosCivis}"
                                               itemLabel="#{estadoCivil.descricao}" />
                                <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:selectOneMenu>
                        </div>

                        <div class="col-md-2 col-xs-12 form-group">
                            <h:outputLabel for="numeroOab"
                                           value="${bundleMsgs.label_numero_oab} *" class="simple-label" />

                            <h:inputText id="numeroOab" class="form-control"
                                         pt:data-mask="integer"
                                         value="#{advogadoController.objetoSelecionado.nrOab}"
                                         disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                         pt:placeholder="${bundleMsgs.p_holder_numero_oab}" >
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:inputText>
                        </div>

                        <div class="col-md-3 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_uf_oab} *"
                                           class="simple-label" />

                            <h:selectOneMenu
                                    value="#{advogadoController.objetoSelecionado.ufOab}"
                                    styleClass="form-control select2"
                                    disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                    converter="entityConverter">
                                <f:selectItem itemLabel="" itemValue="#{null}" />
                                <f:selectItems var="uf" value="#{advogadoController.ufs}"
                                               itemLabel="#{uf.sigla}" />
                                <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:selectOneMenu>
                        </div>

                        <h:panelGroup id="perfilGroup">
                            <div class="col-md-3 col-xs-12 form-group">
                                <h:outputLabel value="#{bundleMsgs.label_perfil} *"
                                               class="simple-label"
                                               rendered="#{advogadoController.objetoSelecionado.advogadoInternoEscritorio}" />

                                <h:selectOneMenu value="#{advogadoController.objetoSelecionado.pessoa.perfil}"
                                                 styleClass="form-control select2"
                                                 disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                                 rendered="#{advogadoController.objetoSelecionado.advogadoInternoEscritorio}"
                                                 converter="entityConverter">
                                    <f:selectItem itemLabel="" itemValue="#{null}"/>
                                    <f:selectItems var="p" value="#{advogadoController.perfis}"
                                                   itemLabel="#{p.descricao}" />
                                    <p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
                                </h:selectOneMenu>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_obervacoes}" for="edtObs"
                                           class="simple-label" />

                            <p:inputTextarea id="edtObs"
                                             class="form-control" onblur="setConfirmUnload(true)"
                                             value="#{advogadoController.objetoSelecionado.observacao}"
                                             rows="3" counter="display" maxlength="4000" style="height: 100% !important;"
                                             disabled="#{advogadoController.editavel == false or disabled_pessoa}"
                                             counterTemplate="{0} caracteres restantes." autoResize="false" />
                            <h:outputText id="display" />
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-md-12 col-xs-12">
                            <i>#{bundleMsgs['commons.form.required.message']}</i>
                        </p>
                    </div>
                </div>
            </div>
            <!--Painel Pessoa..............................-->

            <div class="box box">
                <div class="box-body">
                    <h:panelGroup rendered="#{advogadoController.editavel}">
                        <stpro:emails pessoaEmailList="#{advogadoController.objetoSelecionado.pessoa.pessoasEmails}"
                                      controller="#{advogadoController}"
                                      styleClass="col-md-5 col-xs-12 form-group" />
                    </h:panelGroup>
                </div>
            </div>

            <div class="box box">
                <div class="box-body">
                    <h:panelGroup rendered="#{advogadoController.editavel}">
                        <stpro:contatos
                                pessoaContatoList="#{advogadoController.objetoSelecionado.pessoa.pessoasContatos}"
                                tiposContatosList="#{advogadoController.tiposContatos}"
                                controller="#{advogadoController}"
                                styleClass="col-md-12 col-xs-12 form-group"/>
                    </h:panelGroup>
                </div>
            </div>

            <div class="box box">
                <div class="box-body">
                    <h:panelGroup rendered="#{advogadoController.editavel}">
                        <stpro:enderecos
                                pessoaEnderecoList="#{advogadoController.objetoSelecionado.pessoa.pessoasEnderecos}"
                                tipoEnderecoList="#{advogadoController.tiposEnderecos}"
                                controller="#{advogadoController}"
                                styleClass="col-md-12 col-xs-12 form-group" />
                    </h:panelGroup>
                </div>
            </div>

            <!--Botoes ************************************-->
            <div class="row">
                <div class="col-xs-12 form-group" align="right">

                    <!--Cancelar-->
                    <h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
                                     class="btn btn-default" action="#{advogadoController.cancelar()}"
                                     disabled="#{advogadoController.editavel == false}" />

                    <!--Inserir-->
                    <h:commandButton id="btnInserir" value="#{bundleMsgs.bt_novo}"
                                     class="btn btn-success" action="#{advogadoController.novo()}"
                                     disabled="#{advogadoController.editavel}">
                    </h:commandButton>

                    <!--Salvar-->
                    <h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
                                     class="btn btn-primary" pt:data-loader="on"
                                     pt:data-loader-message="Salvando, Aguarde..."
                                     action="#{advogadoController.salvar()}"
                                     onclick="setConfirmUnload(false)"
                                     disabled="#{advogadoController.editavel == false or disabled_pessoa}">
                    </h:commandButton>
                </div>
            </div>
            <!--Botoes ...................................-->
        </h:form>
    </ui:define>
</ui:composition>
</html>