<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">

<!-- TITULO DA PAGINA -->
<h3>#{bundleMsgs.projudipr_title}</h3>


<div class="row">
	<div class="col-md-9">
		<h5>#{tramiteProcessoController.projudiPrSelecionado.processo}</h5>
	</div>

	<div class="col-md-3" align="right">
		<h:outputLabel value="#{bundleMsgs.label_data_atualizacao}: " class="simple-label" styleClass="destaque" />

		<h:outputText style="padding-left:5px;"
					  value="#{tramiteProcessoController.dataUltimaAtualizacao}">
			<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
		</h:outputText>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- Application buttons -->
		<div class="box">
			<div class="box-body">

				<h:panelGroup rendered="#{not empty tramiteProcessoController.projudiPrSelecionado.detalhes}">
					<ul>
						<ui:repeat value="#{tramiteProcessoController.projudiPrSelecionado.detalhes}" var="d" >
							<li>
								<h:outputText value="#{d.tipo}:" style="font-weight: bold;" />
								<h:outputText value="#{d.descricao}" />
							</li>
						</ui:repeat>
					</ul>
				</h:panelGroup>


				<p:tabView activeIndex="2">
					<p:tab title="#{bundleMsgs.projudipr_informacoes_gerais}">
						<h:panelGroup rendered="#{not empty tramiteProcessoController.projudiPrSelecionado.informacoes}">
							<ul>
								<ui:repeat value="#{tramiteProcessoController.projudiPrSelecionado.informacoes}" var="i" >
									<li>
										<h:outputText value="#{i.tipo} " style="font-weight: bold;" />
										<h:outputText value="#{i.descricao}" />
									</li>
								</ui:repeat>
							</ul>
						</h:panelGroup>
					</p:tab>

					<p:tab title="#{bundleMsgs.label_partes}">
						<ui:repeat value="#{tramiteProcessoController.projudiPrSelecionado.mapaPartes.entrySet().toArray()}" var="entry" >
							<div class="table-responsive form-group">
								#{p.tipo}
								<p:dataTable var="p" rowKey="#{p.id}" value="#{tramiteProcessoController.projudiPrSelecionado.mapaPartes[entry.key]}"
											 emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

									<p:column style="width:32px">
										<p:rowToggler rendered="#{not empty p.enderecos}" />
									</p:column>

									<p:column headerText="${bundleMsgs.label_nome}" style="width: 20%;">
										<h:outputText value="#{p.nome}" />
									</p:column>

									<p:column headerText="#{bundleMsgs.label_rg}" style="width: 12%;">
										<h:outputText value="#{p.rg}" />
									</p:column>

									<p:column headerText="#{bundleMsgs.label_cpf_cnpj}" style="width: 15%;">
										<h:outputText value="#{p.cpfCnpj}" />
									</p:column>

									<p:column headerText="#{bundleMsgs.label_obervacoes}">
										<h:outputText value="#{p.observacao}" />
									</p:column>

									<p:column headerText="#{bundleMsgs.label_advogados}" style="width: 40%;">
										<h:outputText value="#{bundleMsgs.projudipr_parte_sem_advogado}" rendered="#{empty p.advogados}"/>

										<h:panelGroup rendered="#{not empty p.advogados}">
											<ul>
												<ui:repeat value="#{p.advogados}" var="adv" >
													<li>
														<h:outputText value="#{adv.oabNome}" />
													</li>
												</ui:repeat>
											</ul>
										</h:panelGroup>
									</p:column>

									<p:rowExpansion>
										<ul>
											<ui:repeat value="#{p.enderecos}" var="e" >
												<li>
													<h:outputText value="#{e.tipo} " style="font-weight: bold;" />
													<h:outputText value="#{e.descricao}" />
												</li>
											</ui:repeat>
										</ul>
									</p:rowExpansion>
								</p:dataTable>
							</div>
						</ui:repeat>
					</p:tab>

					<p:tab title="#{bundleMsgs.projudipr_movimentacoes}" >
						<div class="table-responsive form-group">
							<p:dataTable var="m" rowKey="#{m.id}" value="#{tramiteProcessoController.projudiPrSelecionado.movimentacoes}"
										 emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

								<p:column style="width:4%">
									<p:rowToggler rendered="#{not empty m.documentoProcessos}"/>
								</p:column>

								<p:column headerText="${bundleMsgs.projudipr_seq}" style="width: 8%; text-align: center;">
									<h:outputText value="#{m.sequencia}" />
								</p:column>

								<p:column headerText="${bundleMsgs.label_data}" style="width: 12%; text-align: center;">
									<h:outputText value="#{m.data}" />
								</p:column>

								<p:column headerText="${bundleMsgs.label_evento_titulo_header}" style="width: 56%;">
									<h:outputText value="#{m.evento}" />
								</p:column>

								<p:column headerText="${bundleMsgs.projudipr_movimentado_por}" style="width: 20%;">
									<h:outputText value="#{m.movimentadoPor}" />
								</p:column>

								<p:rowExpansion>
									<p:dataTable var="doc" value="#{m.documentoProcessos}"
												 emptyMessage="#{bundleMsgs.msg_nenhum_registro}">

										<f:facet name="header">
											#{bundleMsgs.projudipr_documentos}
										</f:facet>

										<p:column>
											<h:outputText value="#{doc.arquivo}" />
										</p:column>

										<p:column>
											<h:outputText value="#{doc.assinante}" />
										</p:column>

										<p:column>
											<h:commandLink value="#{doc.nome}" immediate="true" title="${bundleMsgs.label_download_documento}"
														   action="#{tramiteProcessoController.downloadDocumento(doc)}"
														   style="color: #0d6aad !important; font-weight: bold;">
											</h:commandLink>
										</p:column>

										<p:column>
											<h:outputText value="#{doc.nivelSigilo}" />
										</p:column>
									</p:dataTable>
								</p:rowExpansion>
							</p:dataTable>
						</div>
					</p:tab>
				</p:tabView>
			</div>
		</div>
	</div>
</div>
</html>