<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.financeiro}</div>
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="active" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />

        <!-- MENU LATERAL -->
        <ui:include src="../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li class="active">${bundleMsgs.financeiro}</li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="form" prependId="false">
            <div id="tab-general">
                <div class="col-md-12">
                    <div class="box">

                        <div class="box-body">
                            <h:commandLink class="btn btn-app"
                                           action="#{contaPagarController.goToContasPagar}"
                                           rendered="#{contaPagarController.hasAccess}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                <div style="height: 10px"></div>
                                <span class="menu-title">${bundleMsgs.label_conta_pagar}</span>
                            </h:commandLink>

                            <h:commandLink class="btn btn-app"
                                           action="#{contaReceberController.goToContaReceber}"
                                           rendered="#{contaReceberController.hasAccess}">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <div style="height: 10px"></div>
                                <span class="menu-title">${bundleMsgs.label_conta_receber}</span>
                            </h:commandLink>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
</html>