<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        #{bundleMsgs.label_processos_report}
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value=""/>
        <ui:param name="active_processos" value=""/>
        <ui:param name="active_agenda" value=""/>
        <ui:param name="active_cadastros" value=""/>
        <ui:param name="active_contratos" value=""/>
        <ui:param name="active_controladoria" value=""/>
        <ui:param name="active_clientes" value=""/>
        <ui:param name="active_financeiro" value=""/>
        <ui:param name="active_relatorios" value="active"/>
        <ui:param name="active_atendimento" value=""/>
        <ui:param name="active_acessos" value=""/>

        <!-- MENU LATERAL -->
        <ui:include src="../../../left-menu-template.xhtml"/>
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li><h:link outcome="/pages/relatorios/list-relatorios.xhtml">
            ${bundleMsgs.relatorios}
        </h:link></li>
        <li class="active">${bundleMsgs.label_agenda_geral_report}</li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="filterForm" prependId="false">

            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../../_mensagens.xhtml"/>
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <div class="row">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="form-group">
                            <!--Formulario *******************************-->
                            <div class="col-md-12 col-xs-12  form-group">

                                <p:accordionPanel multiple="true" activeIndex="-1" dynamic="true" widgetVar="accordion">
                                    <p:tab title="${bundleMsgs.label_processo}" id="tabProcesso">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12 form-group">
                                                    <label>${bundleMsgs.label_descricao}</label>
                                                    <h:inputText class="form-control"
                                                                 value="#{relatorioProcessoController.relatorioSelecionado.descricao}"/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-xs-12 form-group">

                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">#{bundleMsgs.label_criterios}</div>
                                                        <!-- Table -->
                                                        <table class="table">
                                                            <tr>
                                                                <th>#{bundleMsgs.report_processo_campo}</th>
                                                                <th>#{bundleMsgs.report_processo_ativo}</th>
                                                                <th>#{bundleMsgs.label_criterios}</th>
                                                                <th>#{bundleMsgs.report_processo_obrigatorio}</th>
                                                                <th>#{bundleMsgs.report_processo_mostrar}</th>
                                                            </tr>
                                                            <ui:repeat
                                                                    value="#{relatorioProcessoController.relatorioSelecionado.criterios}"
                                                                    var="row">
                                                                <tr>
                                                                    <td>#{row.descricao}</td>
                                                                    <td>
                                                                        <p:inputSwitch value="#{row.filtroAtivo}"
                                                                                       offLabel="${bundleMsgs.label_nao}"
                                                                                       onLabel="${bundleMsgs.label_sim}">
                                                                            <p:ajax listener="#{relatorioProcessoController.atualizaRowCriterio(row)}"
                                                                                    update="checkCriterio, switchObrigatorio"
                                                                                    onstart="showLoader('Aguarde...')"
                                                                                    onsuccess="hideLoader()"/>
                                                                        </p:inputSwitch>
                                                                    </td>
                                                                    <td>
                                                                        <p:selectOneRadio id="checkCriterio"
                                                                                          value="#{row.criterioType}"
                                                                                          disabled="#{!row.filtroAtivo}">
                                                                            <f:selectItems var="type"
                                                                                           value="#{relatorioProcessoController.criterioTypes}"
                                                                                           itemLabel="#{type.description}"
                                                                                           itemValue="#{type}"/>
                                                                        </p:selectOneRadio>
                                                                    </td>
                                                                    <td>
                                                                        <p:inputSwitch id="switchObrigatorio"
                                                                                       value="#{row.filtroObrigatorio}"
                                                                                       offLabel="${bundleMsgs.label_nao}"
                                                                                       onLabel="${bundleMsgs.label_sim}"
                                                                                       disabled="#{!row.filtroAtivo}"/>
                                                                    </td>
                                                                    <td>
                                                                        <p:inputSwitch value="#{row.mostrarNoRelatorio}"
                                                                                       offLabel="${bundleMsgs.label_nao}"
                                                                                       onLabel="${bundleMsgs.label_sim}"/>
                                                                    </td>
                                                                </tr>
                                                            </ui:repeat>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 form-group" align="right">
                                                <!--Cancelar-->
                                                <h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
                                                                 class="btn btn-default"
                                                                 action="#{relatorioProcessoController.cancelar()}">
                                                    <f:ajax process="@this" render="@form"/>
                                                </h:commandButton>
                                                <span/>
                                                <!--Excluir-->
                                                <h:commandButton id="btnExcluir" value="#{bundleMsgs.bt_excluir}"
                                                                 class="btn btn-danger"
                                                                 disabled="#{!relatorioProcessoController.habilitaExclusao}">
                                                    <f:ajax onevent="openModal('#myModal')"/>
                                                </h:commandButton>
                                                <p:spacer width="20"/>
                                                <!--Salvar-->
                                                <h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
                                                                 class="btn btn-primary" pt:data-loader="on"
                                                                 pt:data-loader-message="Salvando, Aguarde..."
                                                                 action="#{relatorioProcessoController.salvarRelatorioFiltro()}">
                                                </h:commandButton>
                                            </div>
                                        </div>
                                    </p:tab>
                                </p:accordionPanel>
                            </div>
                            <!--Formulario ...............................-->
                        </div>
                    </div>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            #{bundleMsgs.label_relatorios_salvos}
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 form-group">

                                        <h:outputLabel class="form-control"
                                                       value="#{bundleMsgs.label_relatorios_salvos}"
                                                       style="border: none"/>
                                        <h:selectOneMenu class="form-control"
                                                         value="#{relatorioProcessoController.relatorioSelecionadoNoCombo}"
                                                         converter="entityConverter" pt:autoFocus="true">
                                            <f:selectItem itemLabel="#{bundleMsgs.label_selecione_um_relatorio}"
                                                          itemValue="#{null}"/>
                                            <f:selectItems var="relatorio" itemLabel="#{relatorio.descricao}"
                                                           itemValue="#{relatorio}"
                                                           value="#{relatorioProcessoController.relatorios}"/>
                                            <p:ajax event="change" process="@this" update="@form"
                                                    listener="#{relatorioProcessoController.selecionaRelatorio()}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <br/>

                                <h:panelGroup rendered="#{not empty relatorioProcessoController.criteriosAtivos}">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12 form-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    #{bundleMsgs.label_filtros}
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12 form-group">
                                                            <p:selectOneRadio
                                                                    value="#{relatorioProcessoController.landscape}"
                                                                    class="form-control radio-group">
                                                                <f:selectItem itemValue="#{false}" itemLabel="Retrato"/>
                                                                <f:selectItem itemValue="#{true}" itemLabel="Paisagem"/>
                                                                <p:ajax event="change" process="@this"/>
                                                            </p:selectOneRadio>
                                                        </div>
                                                    </div>

                                                    <ui:repeat var="criterio"
                                                               value="#{relatorioProcessoController.criteriosAtivos}">
                                                        <h:panelGroup rendered="#{criterio.tipoCampo eq 'text'}">
                                                            <div class="col-md-4 col-xs-12 form-group">
                                                                <label>#{criterio.descricao} #{criterio.filtroObrigatorio ? ' *' : ''}</label>
                                                                <p:inputText type="text"
                                                                             value="#{criterio.valorString}">
                                                                    <p:ajax process="@this"></p:ajax>
                                                                </p:inputText>
                                                            </div>
                                                        </h:panelGroup>

                                                        <h:panelGroup rendered="#{criterio.tipoCampo eq 'periodoData'}">
                                                            <div class="col-md-6 col-xs-12 form-group">
                                                                <label>#{criterio.descricao} #{criterio.filtroObrigatorio ? ' *' : ''}</label>

                                                                <p:panelGrid columns="2" layout="grid">
                                                                    <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                                                                value="#{criterio.valorPeriodoUm}"
                                                                                navigator="true" mask="99/99/9999"
                                                                                pt:placeholder="${bundleMsgs.label_data_inicio}">
                                                                        <p:ajax event="dateSelect" process="@form" />
                                                                    </p:calendar>

                                                                    <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                                                                value="#{criterio.valorPeriodoDois}"
                                                                                navigator="true" mask="99/99/9999"
                                                                                pt:placeholder="${bundleMsgs.label_data_final}">
                                                                        <p:ajax event="dateSelect" process="@form" />
                                                                    </p:calendar>
                                                                </p:panelGrid>
                                                            </div>
                                                        </h:panelGroup>

                                                        <h:panelGroup
                                                                rendered="#{criterio.tipoCampo eq 'periodoValor'}">
                                                            <div class="col-md-6 col-xs-12 form-group">
                                                                <label>#{criterio.descricao} #{criterio.filtroObrigatorio ? ' *' : ''}</label>

                                                                <p:panelGrid columns="2" layout="grid">
                                                                    <p:inputNumber
                                                                            value="#{criterio.valorPeriodoNumberUm}">
                                                                        <p:ajax process="@this"></p:ajax>
                                                                    </p:inputNumber>

                                                                    <p:inputNumber
                                                                            value="#{criterio.valorPeriodoNumberDois}">
                                                                        <p:ajax process="@this"></p:ajax>
                                                                    </p:inputNumber>
                                                                </p:panelGrid>
                                                            </div>
                                                        </h:panelGroup>
                                                    </ui:repeat>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-12 col-xs-12" align="right">
                                            <i>#{bundleMsgs['commons.form.required.message']}</i>
                                        </p>
                                    </div>
                                </h:panelGroup>

                                <div class="row">
                                    <div class="col-xs-12 form-group" align="right">
                                        <div class="form-control" style="border: none; padding-top: 32px"/>
                                        <p:commandLink id="btnGerarRelatorioPDF" ajax="false" class="btn btn-info"
                                                       immediate="true"
                                                       disabled="#{relatorioProcessoController.desabilitaBotaoRelatorio}"
                                                       action="#{relatorioProcessoController.gerarRelatorioPdf()}">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            #{bundleMsgs.bt_pdf}
                                        </p:commandLink>
                                        <p:defaultCommand target="btnGerarRelatorioPDF" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COMPONENTE POPUP -->
            <stpro:exclusion-popup controller="#{relatorioProcessoController}"/>

        </h:form>
    </ui:define>
</ui:composition>
</html>