<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">

<div class="modal fade" id="advogadoModal" tabindex="-1"
	 data-backdrop="static" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">

	<div class="modal-dialog" style="width: 85%;">

		<h:form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">#{bundleMsgs.label_advogado}</h4>
				</div>

				<div class="modal-body" style="padding-bottom: 0px;">
					<div class="row">
						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_nome}" class="simple-label" styleClass="destaque"/>
							<h:outputText value="#{advogadoController.advogadoSelecionado.pessoa.descricao}" class="form-control" />
						</div>

						<div class="col-md-2 col-xs-6 form-group">
							<h:outputLabel value="#{bundleMsgs.label_cpf_required}" class="simple-label" styleClass="destaque"/>
							<h:outputText value="#{advogadoController.advogadoSelecionado.cpfFormatado}" class="form-control" />
						</div>

						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_sexo}" class="simple-label" styleClass="destaque"/>
							<h:outputText value="#{advogadoController.advogadoSelecionado.sexo eq 'M' ? bundleMsgs.label_masculino : bundleMsgs.label_feminino}" class="form-control" />
						</div>

						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_advogado_interno} " class="simple-label" styleClass="destaque"/>
							<h:outputText value="#{advogadoController.advogadoSelecionado.advogadoInterno == true ? bundleMsgs.label_sim : bundleMsgs.label_nao}"
										  class="form-control"/>
						</div>

						<div class="col-md-1 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_iniciais}" class="simple-label" styleClass="destaque"
										   rendered="#{advogadoController.advogadoSelecionado.pessoa.cliente}" />
							<h:outputText value="#{advogadoController.advogadoSelecionado.pessoa.nomeIniciais}"
										  rendered="#{advogadoController.advogadoSelecionado.pessoa.cliente}"
										  class="form-control"/>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_data_nascimento}" class="simple-label" styleClass="destaque" />
							<h:outputText value="#{advogadoController.advogadoSelecionado.dataNascimento}" class="form-control" >
								<f:convertDateTime pattern="dd/MM/yyyy"/>
							</h:outputText>
						</div>

						<div class="col-md-2 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_rg}" class="simple-label" styleClass="destaque"/>
							<h:outputText value="#{advogadoController.advogadoSelecionado.rg}" class="form-control" />
						</div>

                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_envia_email}" class="simple-label" styleClass="destaque" />
                            <h:outputText value="#{advogadoController.advogadoSelecionado.pessoa.enviaEmail == true ? bundleMsgs.label_sim : bundleMsgs.label_nao}" class="form-control" />
                        </div>

						<div class="col-md-3 col-xs-6 form-group">
							<h:outputLabel value="${bundleMsgs.label_advogado_terceirizado}" class="simple-label" styleClass="destaque" />
                            <h:outputText value="#{advogadoController.advogadoSelecionado.advogadoTerceirizado == true ? bundleMsgs.label_sim : bundleMsgs.label_nao}" class="form-control" />
						</div>
					</div>

					<div class="row">
                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_estado_civil}" class="simple-label" styleClass="destaque"/>
                            <h:outputText value="#{advogadoController.advogadoSelecionado.estadoCivil.descricao}" class="form-control" />
                        </div>

                        <div class="col-md-2 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_numero_oab}" class="simple-label" styleClass="destaque"/>
                            <h:outputText value="#{advogadoController.advogadoSelecionado.nrOab}" class="form-control" />
                        </div>

                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_uf_oab}" class="simple-label" styleClass="destaque"/>
                            <h:outputText value="#{advogadoController.advogadoSelecionado.ufOab.nome}" class="form-control" />
                        </div>

                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_perfil}" class="simple-label" styleClass="destaque"/>
                            <h:outputText value="#{advogadoController.advogadoSelecionado.pessoa.perfil.descricao}" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
							<h:outputLabel value="${bundleMsgs.label_obervacoes}" class="simple-label" styleClass="destaque"/>
							<h:inputTextarea class="form-control" readonly="#{true}"
											 value="#{advogadoController.advogadoSelecionado.observacao}"
											 rows="3" style="height: 100% !important;"/>
						</div>

						<div class="col-md-6 col-xs-12 form-group">
							<h:outputLabel value="${bundleMsgs.label_e_mails}" class="simple-label" styleClass="destaque"/>
							<p:dataTable value="#{advogadoController.advogadoSelecionado.pessoa.pessoasEmails}" var="e">
								<p:column>
									<h:outputText value="#{e.email}" />
								</p:column>
							</p:dataTable>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-xs-12 form-group">
							<p:dataTable value="#{advogadoController.advogadoSelecionado.pessoa.pessoasContatos}" var="c"
										 emptyMessage="#{bundleMsgs.empty_results}">
								<p:column headerText="#{bundleMsgs.label_tipo_contato}">
									<h:outputText value="#{c.contato.tipoContato.descricao}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_numero}">
									<h:outputText value="#{c.contato.DDDTelefoneFormatado}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_ramal}">
									<h:outputText value="#{c.contato.ramal}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_setor}">
									<h:outputText value="#{c.contato.setor}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_responsavel}" style="width: 30%;">
									<h:outputText value="#{c.contato.descricao}" />
								</p:column>
							</p:dataTable>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-xs-12 form-group">
							<p:dataTable value="#{advogadoController.advogadoSelecionado.pessoa.pessoasEnderecos}" var="end" emptyMessage="#{bundleMsgs.empty_results}">
								<p:column headerText="#{bundleMsgs.label_endereco}"  style="width: 20%;">
									<h:outputText value="#{end.endereco.descricao}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_numero}" style="width: 7%;">
									<h:outputText value="#{end.endereco.numero}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_complemento}">
									<h:outputText value="#{end.endereco.complemento}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_bairro}">
									<h:outputText value="#{end.endereco.bairro}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_cidade}">
									<h:outputText value="#{end.endereco.cidade.descricao}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_cep}">
									<h:outputText value="#{end.endereco.cep}" />
								</p:column>

								<p:column headerText="#{bundleMsgs.label_tipo}">
									<h:outputText value="#{end.endereco.tipoEnderecoDescricao}" />
								</p:column>
							</p:dataTable>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">#{bundleMsgs.bt_fechar}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</h:form>
	</div>
	<!-- /.modal-dialog -->
</div>

</html>