<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<div class="modal fade" id="comarcaModal" tabindex="-1" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">${bundleMsgs.label_cadastro_comarca}</h4>
			</div>

			<div class="modal-body" style="padding-bottom: 0px">

				<div class="row">
					<div class="col-xs-9 form-group">
						<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
									   for="edtDescricaoComarca" class="simple-label" />

						<h:inputText id="edtDescricaoComarca" class="form-control"
									 value="#{cadastroProcessoController.comarca.descricao}"
									 pt:placeholder="${bundleMsgs.p_holder_descricao}"
									 pt:autoFocus="true" />
					</div>

					<div class="col-xs-3 form-group">
						<h:outputLabel value="#{bundleMsgs.label_uf}"
									   for="edtUfComarca" class="simple-label" />
						<h:selectOneMenu id="edtUfComarca" class="form-control"
										 value="#{cadastroProcessoController.comarca.uf}"
										 converter="entityConverter"
										 valueChangeListener="#{cadastroProcessoController.comarcaUfChanged}">
							<f:selectItem itemLabel="" itemValue="#{null}" />
							<f:selectItems value="#{comarcaController.ufs}" var="u" itemLabel="#{u.sigla}" itemValue="#{u}" />
						</h:selectOneMenu>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

				<!--Salvar-->
				<h:commandButton value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 action="#{cadastroProcessoController.salvarComarca()}">
				</h:commandButton>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

</html>