<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<div class="modal fade" id="clienteReportModal" tabindex="-1"
	data-backdrop="static" role="dialog"
	aria-labelledby="clienteReportLabel" aria-hidden="true">

	<div class="modal-dialog">

		<h:form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="clienteReportLabel">${bundleMsgs.label_relatorio_clientes}
						- ${bundleMsgs.label_filtros}</h4>
				</div>

				<div class="modal-body" style="padding-bottom: 0px">
					<div class="row">
						<div class="col-md-6 col-xs-12 form-group">
							<h:outputLabel value="#{bundleMsgs.label_tipo_cliente}"
								class="simple-label" />

							<h:selectOneMenu
								value="#{relatorioController.clienteFilter.tipoCliente}"
								styleClass="form-control select2" pt:data-loader="off">
								<f:selectItem itemLabel="" itemValue="#{null}" />
								<f:selectItem itemLabel="${bundleMsgs.label_pessoa_fisica}"
									itemValue="F" />
								<f:selectItem itemLabel="${bundleMsgs.label_pessoa_juridica}"
									itemValue="J" />
							</h:selectOneMenu>
						</div>

						<div class="col-md-6 col-xs-12 form-group">
							<h:outputLabel value="#{bundleMsgs.label_posicao}"
								class="simple-label" />

							<h:selectOneMenu
								value="#{relatorioController.clienteFilter.posicaoSelecionado}"
								styleClass="form-control select2" pt:data-loader="off"
								converter="entityConverter"
								valueChangeListener="#{processoController.posicaoChanged}">
								<f:selectItem itemLabel="" itemValue="#{null}" />
								<f:selectItems var="p" value="#{posicaoController.lista}"
									itemLabel="#{p.descricao}" />
							</h:selectOneMenu>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">${bundleMsgs.bt_fechar}</button>

					<!--Salvar-->
					<h:commandButton id="btnSalvar"
						pt:data-loader-message="Pesquisando, Aguarde..."
						value="#{bundleMsgs.bt_gerar_relatorio}" class="btn btn-success"
						action="#{relatorioController.gerarRelatorioCliente()}">
					</h:commandButton>
				</div>

			</div>
			<!-- /.modal-content -->
		</h:form>
	</div>
	<!-- /.modal-dialog -->
</div>

</html>