<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<div class="modal fade" id="funcaolModal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-dialog">
		<h:form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">${bundleMsgs.label_cadastro_funcao}</h4>
				</div>

				<div class="modal-body" style="padding-bottom: 0px">

					<div class="row">
						<div class="col-xs-12 form-group">
							<h:outputLabel value="#{bundleMsgs.label_descricao}"
								for="edtDescricaoFuncao" class="simple-label" />

							<h:inputText id="edtDescricaoFuncao"
								class="form-control"
								value="#{funcaoController.objetoSelecionado.descricao}"
								pt:placeholder="${bundleMsgs.p_holder_descricao}"
								pt:autoFocus="true">
							</h:inputText>

						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

					<!--Salvar-->
					<h:commandButton value="#{bundleMsgs.bt_salvar}"
						class="btn btn-primary" pt:data-loader="on"
						pt:data-loader-message="Salvando, Aguarde..."
						action="#{funcaoController.salvar()}">
					</h:commandButton>
				</div>

			</div>
			<!-- /.modal-content -->
		</h:form>
	</div>
	<!-- /.modal-dialog -->
</div>

</html>