<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<div class="modal fade" id="grupoAdvogadoModal" tabindex="-1"
	data-backdrop="static" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">

	<div class="modal-dialog" style="width: 60%;">

		<h:form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">${bundleMsgs.label_cadastro_grupo}</h4>
				</div>

				<div class="modal-body" style="padding-bottom: 0px;">

					<div class="col-md-12 col-xs-12 form-group">
						<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							for="edtDescricao" class="simple-label" />

						<h:inputText id="edtDescricao" class="form-control"
							value="#{grupoController.objetoSelecionado.descricao}"
							pt:placeholder="${bundleMsgs.p_holder_descricao}"
							pt:autoFocus="true">
						</h:inputText>
					</div>

					<div class="col-md-12 col-xs-12 form-group">
						<h:outputLabel value="#{bundleMsgs.label_selecione_advogado}"
							for="menu" class="simple-label" />
						<div class="ui-fluid">
		                    <p:selectCheckboxMenu id="menu" value="#{grupoController.selectedAdvogadosDoGrupo}"
		                                          label="."  panelStyle="width:290px"
		                                          converter="entityConverter" appendTo="@this">
		                        <f:selectItems value="#{grupoController.advogados}" var="adv" itemValue="#{adv}"
		                                       itemLabel="#{adv.pessoa.descricao}"/>
		                    </p:selectCheckboxMenu>							
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

					<!--Salvar-->
					<h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
						class="btn btn-primary" pt:data-loader="on"
						pt:data-loader-message="Salvando, Aguarde..."
						action="#{grupoController.salvar()}">
					</h:commandButton>
				</div>
			</div>
			<!-- /.modal-content -->
		</h:form>
	</div>
	<!-- /.modal-dialog -->
</div>

</html>