<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<div class="modal fade" id="naturezaAcaoModal" tabindex="-1" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">${bundleMsgs.label_cadastro_natureza_acao}</h4>
			</div>


			<div class="modal-body" style="padding-bottom: 0px">

				<div class="row">
					<div class="col-xs-12 form-group">
						<h:outputLabel value="#{bundleMsgs.label_descricao}" class="simple-label" />

						<h:inputText class="form-control" rendered="#{cadastroProcessoController.naturezaAcao ne null}"
									 value="#{cadastroProcessoController.naturezaAcao.descricao}"
									 pt:placeholder="${bundleMsgs.p_holder_descricao}" />

					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

				<!--Salvar-->
				<h:commandButton value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 action="#{cadastroProcessoController.salvarNaturezaAcao()}">
				</h:commandButton>
			</div>

		</div>
		<!-- /.modal-content -->

	</div>
	<!-- /.modal-dialog -->
</div>

</html>