<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">

<div class="modal fade" id="pessoaJuridicaModal" tabindex="-1"
	 data-backdrop="static" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">

	<div class="modal-dialog" style="width: 90%;">

		<h:form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">#{bundleMsgs.label_pessoa_juridica}</h4>
				</div>

				<div class="modal-body" style="padding-bottom: 0px;">
					<p:tabView>
						<p:tab title="${bundleMsgs.label_dados}">
							<div class="row">
								<div class="col-md-4 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_razao_social}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.descricao}" class="form-control" />
								</div>

								<div class="col-md-2 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_data_fundacao}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.dataFundacao}" class="form-control" >
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>
								</div>

								<div class="col-md-2 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_eh_cliente}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.cliente ? bundleMsgs.label_sim : bundleMsgs.label_nao}" class="form-control" />
								</div>

								<div class="col-md-2 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_envia_email}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.enviaEmail ? bundleMsgs.label_sim : bundleMsgs.label_nao}" class="form-control" />
								</div>

								<div class="col-md-2 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_iniciais}" class="simple-label" styleClass="destaque"
												   rendered="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.cliente}"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.nomeIniciais}" class="form-control"
												  rendered="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.cliente}"/>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_cnpj}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.cnpjFormatado}" class="form-control" />
								</div>

								<div class="col-md-2 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_inscricao_estadual}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.inscricaoEstadual}" class="form-control" />
								</div>

								<div class="col-md-6 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_inscricao_municipal}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.inscricaoMunicipal}" class="form-control" />
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_tipo_empresa}" class="simple-label" styleClass="destaque"/>
									<h:outputText value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.tipoEmpresa}" class="form-control" />
								</div>

								<div class="col-md-6 col-xs-6 form-group">
									<h:outputLabel value="${bundleMsgs.label_ramo_atividade}" class="simple-label" styleClass="destaque"/>
									<h:inputTextarea value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.ramoAtividade.descricao}"
													 class="form-control" readonly="#{true}"/>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12 form-group">
									<h:outputLabel value="${bundleMsgs.label_obervacoes}" class="simple-label" />

									<h:inputTextarea class="form-control" onblur="setConfirmUnload(true)"
													 value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.observacao}"
													 rows="3" style="height: 100% !important;" readonly="#{true}" />
								</div>

								<div class="col-md-6 col-xs-12 form-group">
									<h:outputLabel value="${bundleMsgs.label_e_mails}" class="simple-label" styleClass="destaque"/>
									<p:dataTable value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.pessoasEmails}" var="e">
										<p:column>
											<h:outputText value="#{e.email}" />
										</p:column>
									</p:dataTable>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-xs-12 form-group">
									<p:dataTable value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoasJuridicasResponsaveis}"
												 var="r" emptyMessage="#{bundleMsgs.empty_results}">
										<p:column headerText="${bundleMsgs.label_responsaveis}">
											<h:outputText value="#{r.pessoaFisica.pessoa.descricao}" />
										</p:column>
									</p:dataTable>
								</div>

								<div class="col-md-6 col-xs-12 form-group">
									<p:dataTable value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoasJuridicasCentrosCustos}"
												 var="c" emptyMessage="#{bundleMsgs.empty_results}">
										<p:column headerText="${bundleMsgs.label_centro_custo}">
											<h:outputText value="#{c.centroCusto.descricao}" />
										</p:column>

										<p:column headerText="${bundleMsgs.label_pessoa_fisica}">
											<h:outputText value="#{c.pessoaFisica.pessoa.descricao}" />
										</p:column>
									</p:dataTable>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 col-xs-12 form-group">
									<p:dataTable value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.pessoasContatos}" var="ct"
												 emptyMessage="#{bundleMsgs.empty_results}">

										<p:column headerText="#{bundleMsgs.label_tipo_contato}">
											<h:outputText value="#{ct.contato.tipoContato.descricao}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_numero}">
											<h:outputText value="#{ct.contato.DDDTelefoneFormatado}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_ramal}">
											<h:outputText value="#{ct.contato.ramal}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_setor}">
											<h:outputText value="#{ct.contato.setor}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_responsavel}" style="width: 30%">
											<h:outputText value="#{ct.contato.descricao}" />
										</p:column>
									</p:dataTable>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 col-xs-12 form-group">
									<p:dataTable value="#{pessoaJuridicaController.pessoaJuridicaSelecionada.pessoa.pessoasEnderecos}"
												 var="end" emptyMessage="#{bundleMsgs.empty_results}">
										<p:column headerText="#{bundleMsgs.label_endereco}" style="width: 25%">
											<h:outputText value="#{end.endereco.descricao}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_numero}" style="width: 7%; text-align: center;">
											<h:outputText value="#{end.endereco.numero}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_complemento}">
											<h:outputText value="#{end.endereco.complemento}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_bairro}">
											<h:outputText value="#{end.endereco.bairro}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_cidade}">
											<h:outputText value="#{end.endereco.cidade.descricao}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_cep}" style="width: 10%; text-align: center;">
											<h:outputText value="#{end.endereco.cep}" />
										</p:column>

										<p:column headerText="#{bundleMsgs.label_tipo}">
											<h:outputText value="#{end.endereco.tipoEnderecoDescricao}" />
										</p:column>

									</p:dataTable>
								</div>
							</div>
						</p:tab>
						<p:tab title="${bundleMsgs.processos}">
							<div class="row">
								<h:panelGroup id="tableProcessos" rendered="#{not empty pessoaJuridicaController.processos}">
									<div class="col-md-12 col-xs-12">
										<div class="box">
											<div class="table-responsive form-group">
												<p:dataTable id="dataTable" var="row" rowKey="#{row.id}" value="#{pessoaJuridicaController.processos}"
															 rows="5" paginator="true" paginatorPosition="bottom"
															 paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
															 rowsPerPageTemplate="5,10,15,50" >

													<p:column headerText="${bundleMsgs.label_data_abertura}" sortBy="#{row.dataAbertura}"
															  style="width: 15%; text-align: center;">
														<p:commandLink action="#{detalheProcessoController.goToDetalhes}"
																	   rendered="#{listagemProcessoController.hasAccessDetalhes}">

															<h:outputText value="#{row.dataAbertura}">
																<f:convertDateTime pattern="dd/MM/yyyy" />
															</h:outputText>

															<f:setPropertyActionListener
																	target="#{detalheProcessoController.processoSelecionado}"
																	value="#{row}" />
														</p:commandLink>
														<h:outputText value="#{row.dataAbertura}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" >
															<f:convertDateTime pattern="dd/MM/yyyy" />
														</h:outputText>
													</p:column>

													<p:column headerText="${bundleMsgs.label_processo}" sortBy="#{row.processo}">
														<p:commandLink value="#{row.processo}"  action="#{detalheProcessoController.goToDetalhes}"
																	   rendered="#{listagemProcessoController.hasAccessDetalhes}">
															<f:setPropertyActionListener
																	target="#{detalheProcessoController.processoSelecionado}"
																	value="#{row}" />
														</p:commandLink>
														<h:outputText value="#{row.processo}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" />
													</p:column>

													<p:column headerText="${bundleMsgs.label_cliente}" sortBy="#{row.descricaoCliente}">
														<p:commandLink value="#{row.descricaoCliente}"  action="#{detalheProcessoController.goToDetalhes}"
																	   rendered="#{listagemProcessoController.hasAccessDetalhes}">
															<f:setPropertyActionListener
																	target="#{detalheProcessoController.processoSelecionado}"
																	value="#{row}" />
														</p:commandLink>
														<h:outputText value="#{row.descricaoCliente}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" />
													</p:column>

													<p:column headerText="${bundleMsgs.label_adverso}" sortBy="#{row.descricaoAdverso}">
														<p:commandLink value="#{row.descricaoAdverso}"  action="#{detalheProcessoController.goToDetalhes}"
																	   rendered="#{listagemProcessoController.hasAccessDetalhes}">
															<f:setPropertyActionListener
																	target="#{detalheProcessoController.processoSelecionado}"
																	value="#{row}" />
														</p:commandLink>
														<h:outputText value="#{row.descricaoAdverso}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" />
													</p:column>

													<p:column headerText="${bundleMsgs.label_status}" sortBy="#{row.status}"
															  styleClass="tableColumn" style="width: 14%; text-align: center;">
														<h:panelGroup rendered="#{row.ativo}">
															<span class="label label-sm label-success">#{row.status}</span>
														</h:panelGroup>
														<h:panelGroup rendered="#{row.suspenso}">
															<span class="label label-sm label-warning">#{row.status}</span>
														</h:panelGroup>
														<h:panelGroup rendered="#{row.finalizado}">
															<span class="label label-sm label-danger">#{row.status}</span>
														</h:panelGroup>
													</p:column>

													<p:column headerText="${bundleMsgs.label_opcoes}" style="width: 12%; text-align: center;"
															  styleClass="tableColumn">

														<p:commandLink id="btnEditar" rendered="#{listagemProcessoController.permiteAlteracao}"
																	   class="btn btn-warning btn-sm"
																	   style="color: #fff !important;"
																	   action="#{cadastroProcessoController.goToEditar}"
																	   title="${bundleMsgs.bt_editar}">
															<span class="fa fa-pencil"></span>
															<f:setPropertyActionListener
																	target="#{cadastroProcessoController.processoEditId}" value="#{row.id}" />
														</p:commandLink>

														<p:spacer width="3"/>

														<p:commandLink id="btnDetalhes" rendered="#{listagemProcessoController.hasAccessDetalhes}"
																	   class="btn btn-info btn-sm"
																	   style="color: #fff !important;"
																	   action="#{detalheProcessoController.goToDetalhes}"
																	   title="${bundleMsgs.bt_detalhes}">
															<span class="fa fa-file-text-o"></span>
															<f:setPropertyActionListener
																	target="#{detalheProcessoController.processoSelecionado}"
																	value="#{row}" />
														</p:commandLink>
													</p:column>
												</p:dataTable>
											</div>
										</div>
									</div>
								</h:panelGroup>
							</div>
						</p:tab>
					</p:tabView>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">#{bundleMsgs.bt_fechar}</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</h:form>
	</div>
	<!-- /.modal-dialog -->
</div>

</html>