<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">${bundleMsgs.label_anexos}</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->

<section class="invoice">
    <div class="row">
        <div class="col-xs-5 form-group" align="left">
            <h:inputFile id="arquivo" class="btn btn-default" style="width: 100%;"
                         value="#{contratoController.arquivo}" label="Arquivo"
                         validator="#{importadorValidator.valida}">
                <f:ajax render="@all" listener="#{contratoController.importar}"/>
            </h:inputFile>
        </div>

        <div class="col-xs-7 form-group">
            <p:commandButton value="#{bundleMsgs.bt_confirmar}" immediate="true"
                             action="#{contratoController.concluirAnexos}"
                             class="btn btn-primary" ajax="false" >
            </p:commandButton>
        </div>
    </div>
</section>

<div class="box">
    <div class="box-body">
        <h:panelGroup id="anexos">
            <div class="table-responsive form-group">
                <p:dataTable var="row" rowKey="#{row.id}" value="#{contratoController.objetoSelecionado.documentos}"
                             emptyMessage="#{bundleMsgs.msg_nenhum_registro}" rowIndexVar="index">

                    <p:column headerText="#{bundleMsgs.label_descricao}">
                        <h:outputText value="#{row.descricao}" />
                    </p:column>

                    <p:column style="width: 23%; text-align: center;">
                        <h:commandLink action="#{contratoController.downloadAnexo(row)}"
                                       immediate="true"
                                       class="btn btn-default" style="margin-right: 5px;">
                            <i class="fa fa-download"></i> #{bundleMsgs.bt_download}
                        </h:commandLink>

                        <h:commandLink immediate="true"
                                       class="btn btn-danger" style="margin-right: 5px; color: #fff !important;">
                            <i class="fa fa-trash-o"></i> #{bundleMsgs.bt_excluir}
                            <f:ajax onevent="openModal('#exclusionAnexo')" />
                            <f:setPropertyActionListener value="#{contratoController.rowAnexoNumber}" target="#{index}" />
                        </h:commandLink>
                    </p:column>

                </p:dataTable>
            </div>
        </h:panelGroup>
    </div>
    
	<!--Botoes ************************************-->
	<div class="row">
	    <div class="col-xs-12 form-group" align="right">
	        <!--Cancelar-->
	        <h:commandButton id="btnVoltarContrato"
	                         value="#{bundleMsgs.bt_voltar}" class="btn btn-default"
	                         action="#{contratoController.goToContratos()}"
	                         pt:data-loader="off" immediate="true">
	        </h:commandButton>
	    </div>
	</div>
    
</div>


<!-- MODAL CONFIRMACAO -->
<div class="modal fade" id="exclusionAnexo" tabindex="-1" role="dialog"
     aria-labelledby="exclusionAnexoLabel">

    <div class="modal-dialog modal-sm" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title" id="exclusionAnexoLabel">${bundleMsgs.label_confirmacao}</h4>
            </div>

            <div class="modal-body">
                <p>${bundleMsgs.label_confirma_exclusao}</p>
            </div>

            <div class="modal-footer">
                <h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
                                 class="btn btn-default" pt:data-dismiss="modal" />

                <h:commandButton value="${bundleMsgs.bt_confirmar}" immediate="true"
                                 onblur="$('#exclusionAnexo').modal('hide')"
                                 action="#{contratoController.excluirAnexo()}" class="btn btn-primary">
                </h:commandButton>
            </div>
        </div>
    </div>
</div>

</html>