<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:stpro="http://xmlns.jcp.org/jsf/composite/stprocomponents">

<ui:composition template="../../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.cadastros}</div>
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="active" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />


        <!-- MENU LATERAL -->
        <ui:include src="../../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li><h:link outcome="/pages/cadastros/list-cadastros.xhtml">
            ${bundleMsgs.cadastros}
        </h:link></li>
        <li class="active">${bundleMsgs.label_contrato}</li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="contratoForm" prependId="false" enctype="multipart/form-data">

            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <div class="row">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="form-group">

                            <!--Listagem *********************************-->
                            <h:panelGroup id="listGroup" rendered="#{!contratoController.anexoSelected}">
                                <div class="col-md-6 col-xs-12 form-group">
                                    <ui:include src="contrato-list.xhtml" />
                                </div>
                            </h:panelGroup>
                            <!--Listagem .................................-->

                            <!--Formulario *******************************-->
                            <h:panelGroup id="formGroup" rendered="#{!contratoController.anexoSelected}">
                                <div class="col-md-6 col-xs-12  form-group">
                                    <ui:include src="contrato-form.xhtml" />

                                    <div class="row">
                                        <p class="col-md-12 col-xs-12" align="right">
                                            <i>#{bundleMsgs['commons.form.required.message']}</i>
                                        </p>
                                    </div>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup id="anexoGroup" rendered="#{contratoController.anexoSelected}">
                                <div class="col-md-12 col-xs-12 form-group">
                                    <ui:include src="contrato-anexo.xhtml" />
                                </div>
                            </h:panelGroup>
                            <!--Formulario ...............................-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- COMPONENTE POPUP -->
            <stpro:exclusion-popup controller="#{contratoController}" />

        </h:form>
    </ui:define>
</ui:composition>
</html>