<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-md-12 form-group">
                <h:outputLabel value="#{bundleMsgs.label_required_descricao}"
                               for="edtDescricao" class="simple-label" />

                <h:inputText id="edtDescricao" class="form-control"
                             value="#{contratoController.objetoSelecionado.descricao}"
                             disabled="#{contratoController.editavel == false}"
                             pt:placeholder="${bundleMsgs.p_holder_descricao}"
                             pt:autoFocus="true">
                    <p:ajax event="change" process="@this" />
                </h:inputText>
            </div>
        </div>
        <h:panelGroup id="datasGroup" rendered="#{contratoController.editavel != false}">
            <div class="row">
                <div class="col-md-6 form-group">
                    <h:outputLabel value="#{bundleMsgs.label_data_inicio} *" class="simple-label" />
                    <stpro:simple-calendar value="#{contratoController.objetoSelecionado.dataInicio}" disabled="#{contratoController.editavel == false}"/>
                </div>

                <div class="col-md-6 form-group">
                    <h:outputLabel value="#{bundleMsgs.label_data_final}" class="simple-label" />
                    <stpro:simple-calendar value="#{contratoController.objetoSelecionado.dataFim}" disabled="#{contratoController.editavel == false}"/>
                </div>
            </div>
        </h:panelGroup>

        <h:panelGroup id="pessoaGroup" rendered="#{contratoController.editavel != false}">
            <div class="row">
                <div class="col-md-12 form-group">
                    <p:selectOneRadio value="#{contratoController.tipoPessoa}"
                                      disabled="#{contratoController.editavel == false}"
                                      styleClass="form-control" pt:data-loader="off" >
                        <f:selectItem itemValue="PF"
                                      itemLabel="${bundleMsgs.label_pessoa_fisica}" />
                        <f:selectItem itemValue="PJ"
                                      itemLabel="${bundleMsgs.label_pessoa_juridica}" />
                        <p:ajax event="change" process="@this" update="pessoaGroup" />
                    </p:selectOneRadio>
                </div>
            </div>

            <h:panelGroup id="pfGroup" rendered="#{contratoController.selectPessoaFisica}">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <h:outputLabel value="#{bundleMsgs.label_nome} *" class="simple-label" />
                        <p:autoComplete value="#{contratoController.objetoSelecionado.pessoaFisica}"
                                        completeMethod="#{pessoaFisicaAutoCompleteController.completePessoaFisica}"
                                        var="pfVar" style="width: 100% !important;"
                                        itemLabel="#{pfVar.pessoa.descricao}"
                                        itemValue="#{pfVar}" converter="entityConverter" forceSelection="true"
                                        valueChangeListener="#{contratoController.pfChanged}">
                            <p:ajax event="itemSelect" update="pessoaGroup @parent" />

                            <p:column>
                                <h:outputText value="#{pfVar.pessoa.descricao}" />
                            </p:column>
                        </p:autoComplete>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup id="pjGroup" rendered="#{!contratoController.selectPessoaFisica}">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <h:outputLabel value="#{bundleMsgs.label_razao_social} *" class="simple-label" />
                        <p:autoComplete value="#{contratoController.objetoSelecionado.pessoaJuridica}"
                                        completeMethod="#{pessoaJuridicaAutoCompleteController.completePessoaJuridica}"
                                        var="pjVar" style="width: 100% !important;"
                                        itemLabel="#{pjVar.pessoa.descricao}"
                                        itemValue="#{pjVar}" converter="entityConverter" forceSelection="true"
                                        valueChangeListener="#{contratoController.pjChanged}">
                            <p:ajax event="itemSelect" update="pessoaGroup @parent" />

                            <p:column>
                                <h:outputText value="#{pjVar.pessoa.descricao}" />
                            </p:column>
                        </p:autoComplete>
                    </div>
                </div>
            </h:panelGroup>
        </h:panelGroup>
    </div>
</div>

<div class="box">
    <div class="box-body">
        <h:panelGroup id="vigenciaGroup" rendered="#{contratoController.editavel != false}" >
            <div class="row">
                <div class="form-group col-md-12">
                    <h3 class="box-title">#{bundleMsgs.label_vigencia_valor}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <h:outputLabel value="#{bundleMsgs.label_data_inicio_vigencia_valor} *" class="simple-label" />

                    <stpro:simple-calendar value="#{contratoController.vigencia.dataInicio}"
                                           disabled="#{contratoController.editavel == false}"/>
                </div>

                <div class="col-md-6 form-group">
                    <h:outputLabel value="#{bundleMsgs.label_data_fim_vigencia_valor}" class="simple-label" />
                    <stpro:simple-calendar value="#{contratoController.vigencia.dataFim}"
                                           disabled="#{contratoController.editavel == false}"/>
                </div>
            </div>

            <h:panelGroup id="acompMensalGroup" rendered="#{contratoController.editavel != false}" >
                <div class="row">
                    <div class="col-md-6 form-group">
                        <h:outputLabel value="#{bundleMsgs.label_acompanhamento_mensal}" class="simple-label" for="acompMensalRadio" />
                        <p:selectOneRadio id="acompMensalRadio" value="#{contratoController.objetoSelecionado.acompanhamentoMensal}"
                                          disabled="#{contratoController.editavel == false}"
                                          styleClass="form-control" pt:data-loader="off"
                                          valueChangeListener="#{contratoController.acompMensalRadioChanged}">
                            <f:selectItem itemValue="#{false}"
                                          itemLabel="${bundleMsgs.label_nao}" />
                            <f:selectItem itemValue="#{true}"
                                          itemLabel="${bundleMsgs.label_sim}" />
                            <p:ajax event="change" process="@this" />
                        </p:selectOneRadio>
                    </div>

                    <div class="col-md-6 form-group">
                        <h:panelGroup rendered="#{contratoController.objetoSelecionado.acompanhamentoMensal}">
                            <h:outputLabel value="#{bundleMsgs.label_valor}"
                                           class="simple-label" for="valorAcompMensal" />

                            <p:inputNumber id="valorAcompMensal" value="#{contratoController.vigencia.valorAcompanhamentoMensal}"
                                           style="font-weight: bold;"
                                           decimalSeparator="," thousandSeparator="."
                                           disabled="#{contratoController.editavel == false}">
                                <p:ajax event="change" process="@this"  />
                            </p:inputNumber>
                        </h:panelGroup>
                    </div>
                </div>
            </h:panelGroup>
        </h:panelGroup>

        <h:panelGroup id="atosGroup" rendered="#{contratoController.editavel != false}">
            <div class="row">
                <div class="col-md-6 form-group">
                    <h:outputLabel value="#{bundleMsgs.label_atos}" class="simple-label" for="atosRadio" />
                    <p:selectOneRadio id="atosRadio" value="#{contratoController.objetoSelecionado.atos}"
                                      disabled="#{contratoController.editavel == false}"
                                      styleClass="form-control" pt:data-loader="off"
                                      valueChangeListener="#{contratoController.atosRadioChanged}">
                        <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                        <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                        <p:ajax event="change" process="@this"  />
                    </p:selectOneRadio>
                </div>

                <div class="col-md-6 form-group">
                    <h:outputLabel value="#{bundleMsgs.label_valor_mensal_ato} *"
                                   class="simple-label" for="valorMensalAto" />

                    <p:inputNumber id="valorMensalAto" value="#{contratoController.vigencia.valorMensal}"
                                   style="font-weight: bold;"
                                   decimalSeparator="," thousandSeparator="."
                                   disabled="#{contratoController.editavel == false}">
                        <p:ajax event="change" process="@this"  />
                    </p:inputNumber>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="ui-fluid">
                        <p:panel id="panelaAtos" style="margin-bottom:20px" rendered="#{contratoController.objetoSelecionado.atos}">
                            <p:panelGrid columns="2" columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid" styleClass="ui-panelgrid-blank" >
                                <h:selectOneMenu
                                        value="#{contratoController.contratoPessoaTipoAndamento.tipoAndamento}"
                                        styleClass="form-control select2"
                                        converter="entityConverter">
                                    <f:selectItem itemLabel="" itemValue="#{null}" />
                                    <f:selectItems var="tpRow"
                                                   value="#{contratoController.tipoAndamentos}"
                                                   itemLabel="#{tpRow.descricao}" />
                                    <p:ajax event="change" process="@this"  />
                                </h:selectOneMenu>

                                <h:panelGroup class="input-group">
                                    <p:inputNumber value="#{contratoController.contratoPessoaTipoAndamento.valor}"
                                                   style="font-weight: bold;"
                                                   decimalSeparator="," thousandSeparator=".">
                                        <p:ajax event="change" process="@this"  />
                                    </p:inputNumber>
                                     <span class="input-group-btn">
                                        <h:commandLink class="btn btn-success" update="tbAtos panelaAtos @parent" action="#{contratoController.adicionarTipoAndamento}"
                                                       style="width: 45px; height: 34px; color: #fff !important;" >
                                            <span class="fa fa-plus"></span>
                                            <p:collector value="#{contratoController.contratoPessoaTipoAndamento}" addTo="#{contratoController.vigencia.andamentoAtos}" unique="true"/>
                                        </h:commandLink>
                                    </span>
                                </h:panelGroup>
                            </p:panelGrid>

                            <p:spacer height="15"/>

                            <p:outputPanel id="tbAtos">
                                <p:dataTable value="#{contratoController.vigencia.andamentoAtos}" var="ato" emptyMessage="#{bundleMsgs.empty_results}">
                                    <p:column headerText="#{bundleMsgs.label_tipo_andamento}">
                                        <h:outputText value="#{ato.tipoAndamento.descricao}" />
                                    </p:column>

                                    <p:column headerText="#{bundleMsgs.label_valor}">
                                        <h:outputText value="#{ato.valor}" >
                                            <f:convertNumber type="currency" currencySymbol="R$" />
                                        </h:outputText>
                                    </p:column>

                                    <p:column style="width: 10%;">
                                        <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;">
                                            <span class="fa fa-trash-o"></span>
                                            <p:collector value="#{ato}" removeFrom="#{contratoController.vigencia.andamentoAtos}" unique="true"/>
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>
                        </p:panel>
                    </div>
                </div>
            </div>
        </h:panelGroup>

        <hr/>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="table-responsive form-group">
                    <p:panel header="#{bundleMsgs.label_vigencias}" style="margin-bottom:20px"
                             rendered="#{not empty contratoController.objetoSelecionado.vigencias}">
                        <p:dataTable var="row" rowKey="#{row.id}"
                                     value="#{contratoController.objetoSelecionado.vigencias}"
                                     emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                            <p:column headerText="${bundleMsgs.label_descricao}" sortBy="#{row.descricao}" >
                                <h:outputText value="#{row.contratoPessoa.descricao}" />
                            </p:column>

                            <p:column headerText="${bundleMsgs.label_valor_mensal}" sortBy="#{row.descricao}"
                                      style="text-align: center; width: 25%;" >
                                <h:outputText value="#{row.valorMensal}" >
                                    <f:convertNumber currencySymbol="R$" type="currency" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="${bundleMsgs.label_contrato_vigente}" style="width: 15%; text-align: center;">
                                <h:outputText value="#{row.contratoVigente ? 'SIM' : 'NÃO'}" />
                            </p:column>

                            <p:column style="width: 10%; text-align: center;">
                                <p:commandLink id="btnEditar" style="color: #fff !important;"
                                               class="btn btn-warning btn-sm"
                                               process="@this" update="vigenciaGroup"
                                               action="#{contratoController.editarVigencia(row)}"
                                               title="${bundleMsgs.bt_editar}">
                                    <span class="fa fa-pencil"></span>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="table-responsive form-group">
                    <p:panel header="#{bundleMsgs.label_anexos}" style="margin-bottom:20px"
                             rendered="#{not empty contratoController.objetoSelecionado.documentos}">
                        <p:dataTable var="row" rowKey="#{row.id}"
                                     value="#{contratoController.objetoSelecionado.documentos}"
                                     emptyMessage="#{bundleMsgs.msg_nenhum_registro}" rowIndexVar="index">

                            <p:column headerText="#{bundleMsgs.label_descricao}">
                                <h:outputText value="#{row.descricao}" />
                            </p:column>

                            <p:column style="width: 23%; text-align: center;">
                                <h:commandLink action="#{contratoController.downloadAnexo(row)}"
                                			   title="#{bundleMsgs.bt_download}"
                                               immediate="true"
                                               class="btn btn-default" style="margin-right: 5px;">
                                    <i class="fa fa-download"></i>
                                </h:commandLink>

                                <h:commandLink immediate="true" title="#{bundleMsgs.bt_excluir}"
                                               class="btn btn-danger" style="margin-right: 5px; color: #fff !important;">
                                    <i class="fa fa-trash-o"></i>
                                    <f:ajax onevent="openModal('#exclusionAnexo')" />
                                    <f:setPropertyActionListener value="#{contratoController.rowAnexoNumber}" target="#{index}" />
                                </h:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                </div>
            </div>
        </div>

        <!--Botoes ************************************-->
        <div class="row">
            <div class="col-xs-12 form-group" align="right">

                <!--Cancelar-->
                <h:commandButton rendered="#{contratoController.permiteInclusao}"
                                 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
                                 class="btn btn-default" action="#{contratoController.cancelar()}"
                                 disabled="#{contratoController.editavel == false}" immediate="true"/>

                <!--Anexar-->
                <h:commandButton rendered="#{contratoController.permiteInclusao}"
                                 id="btnAnexar" value="#{bundleMsgs.bt_anexar}"
                                 pt:data-loader="on"
                                 class="btn btn-warning" action="#{contratoController.anexar}"
                                 disabled="#{contratoController.editavel == false}">
                </h:commandButton>

                <!--Inserir-->
                <h:commandButton rendered="#{contratoController.permiteInclusao}"
                                 id="btnInserir" value="#{bundleMsgs.bt_novo}"
                                 class="btn btn-success" action="#{contratoController.novo()}"
                                 disabled="#{contratoController.editavel}">
                </h:commandButton>

                <!--Salvar-->
                <h:commandButton rendered="#{contratoController.permiteInclusao}"
                                 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
                                 class="btn btn-primary" pt:data-loader="on"
                                 pt:data-loader-message="Salvando, Aguarde..."
                                 action="#{contratoController.salvar()}"
                                 onclick="setConfirmUnload(false)"
                                 disabled="#{contratoController.editavel == false}">
                </h:commandButton>
            </div>
        </div>
        <!--Botoes ...................................-->

    </div>
</div>

</html>