<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:stpro="http://xmlns.jcp.org/jsf/composite/stprocomponents">

<div class="row">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group">
                <!--Filtros *********************************-->
                <div class="col-md-12 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-6 form-group radio-group">
                            <h:outputLabel value="#{bundleMsgs.label_status}" for="edtStatusAprovacao" class="simple-label" />

                            <p:selectOneRadio id="edtStatusAprovacao" value="#{aprovacaoContaPagarController.filtro.statusContasPagar}" >
                                <f:selectItems value="#{aprovacaoContaPagarController.statusConta}" var="status" itemLabel="#{status.descricao}"
                                               itemValue="#{status}"/>
                            </p:selectOneRadio>
                        </div>
                        <div class="col-md-6 form-group">
                            <h:outputLabel value="#{bundleMsgs.label_consulta_tipo_data}" for="edtTipoDataAprovacao" class="simple-label" />

                            <p:selectOneRadio id="edtTipoDataAprovacao" value="#{aprovacaoContaPagarController.filtro.tipoDataContasPagarType}" >
                                <f:selectItems value="#{aprovacaoContaPagarController.tipoDataContasPagar}" var="tipoData" itemLabel="#{tipoData.descricao}"
                                               itemValue="#{tipoData}"/>
                            </p:selectOneRadio>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_fornecedor}" class="simple-label" />
                            <p:autoComplete value="#{aprovacaoContaPagarController.filtro.fornecedor}"
                                            completeMethod="#{aprovacaoContaPagarController.completeFornecedores}"
                                            var="var" style="width: 100% !important;"
                                            itemLabel="#{var.nome}" itemValue="#{var}" converter="entityConverter"
                                            forceSelection="true" scrollHeight="140">
                                <p:column>
                                    <h:outputText value="#{var.nome}" />
                                </p:column>
                            </p:autoComplete>
                        </div>
                        <div class="col-md-3 form-group">
                            <h:outputLabel value="#{bundleMsgs.label_data_inicio}" class="simple-label" />
                            <stpro:simple-calendar value="#{aprovacaoContaPagarController.filtro.dataInicial}"/>
                        </div>

                        <div class="col-md-3 form-group">
                            <h:outputLabel value="#{bundleMsgs.label_data_final}" class="simple-label" />
                            <stpro:simple-calendar value="#{aprovacaoContaPagarController.filtro.dataFinal}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group"></div>

                        <div class="col-md-6 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_nf}" class="simple-label" />
                            <div class="input-group">
                                <h:inputText value="#{aprovacaoContaPagarController.filtro.condicaoGeral}" class="form-control" />
                                 <span class="input-group-addon" >
                                     <h:commandLink id="btnAprovacaoFilter"
                                                    action="#{aprovacaoContaPagarController.buscar}"
                                                    pt:data-loader="on"
                                                    pt:data-loader-message="Pesquisando, Aguarde...">
                                         <i class="fa fa-search"></i>
                                     </h:commandLink>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group">
                <!--Listagem *********************************-->
                <div class="col-md-12 col-xs-12 form-group">
                    <div class="row">
                        <p:dataTable var="row" rowKey="#{row.id}" value="#{aprovacaoContaPagarController.lista}"
                                     rows="50" paginator="true" paginatorPosition="bottom"
                                     paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                            <p:column headerText="${bundleMsgs.contas_pagar_fornecedor}" sortBy="#{row.fornecedor.nome}" >
                                <h:outputText value="#{row.fornecedor.nome}" />
                            </p:column>

                            <p:column headerText="${bundleMsgs.contas_pagar_nf}" sortBy="#{row.notaFiscal}" >
                                <h:outputText value="#{row.notaFiscal}" />
                            </p:column>

                            <p:column headerText="${bundleMsgs.contas_pagar_emissao}" sortBy="#{row.dataEmissao}" >
                                <h:outputText value="#{row.dataEmissao}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="${bundleMsgs.contas_pagar_data_lancamento}" sortBy="#{row.dataCadastro}" >
                                <h:outputText value="#{row.dataCadastro}" >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column style="width: 15%; text-align: center;">

                            </p:column>

                        </p:dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>