<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<!--Listagem ********************************-->

<div class="row">
    <p:menubar>
        <p:menuitem value="#{bundleMsgs.home}" icon="ui-icon-home"
                    action="#{contaPagarController.goToHome}"  />

        <p:menuitem value="#{bundleMsgs.contas_pagar_fornecedor}" icon="ui-icon-person"
                    action="#{contaPagarController.goToCadastroFornecedor}"  />

        <p:submenu label="#{bundleMsgs.label_opcoes}" icon="ui-icon-gear">
            <p:menuitem value="#{bundleMsgs.label_lancamento}"
                        action="#{contaPagarController.goToLancamento}" />
            <p:menuitem value="#{bundleMsgs.label_aprovacao}"
                        action="#{contaPagarController.goToAprovacao}" />
            <p:menuitem value="#{bundleMsgs.label_pagamento}"
                        action="#{contaPagarController.goToPagamento}" />
        </p:submenu>
    </p:menubar>
</div>
<br/>

<h:panelGroup rendered="#{contaPagarController.cadastroFornecedor}">
    <ui:include src="fornecedor-form.xhtml" />
</h:panelGroup>

<h:panelGroup rendered="#{contaPagarController.timeline}">
    <ui:include src="timeline-form.xhtml" />
</h:panelGroup>

<h:panelGroup rendered="#{contaPagarController.lancamento}">
    <ui:include src="lancamento-form.xhtml" />
</h:panelGroup>

<h:panelGroup rendered="#{contaPagarController.aprovacao}">
    <ui:include src="aprovacao-form.xhtml" />
</h:panelGroup>

<h:panelGroup rendered="#{contaPagarController.pagamento}">
    <ui:include src="pagamento-form.xhtml" />
</h:panelGroup>

</html>