<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../../plain-template.xhtml">

	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		<div class="page-title">#{bundleMsgs.financeiro} - #{bundleMsgs.label_conta_pagar}</div>
	</ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="active" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../../../left-menu-template.xhtml" />
	</ui:define>

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/pages/index.xhtml">
			<i class="fa fa-home"></i> Home
		</h:link></li>
		<li><h:link outcome="/pages/controladoria/list-financeiro.xhtml">
			${bundleMsgs.financeiro}
		</h:link></li>
		<li class="active">${bundleMsgs.label_conta_pagar}</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="form" prependId="false">

			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<div class="row">
				<!--Listagem *********************************-->
				<div class="col-sm-12 col-xs-12 form-group">
					<ui:include src="contas-pagar-list.xhtml" />
				</div>
				<!--Listagem .................................-->
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>