<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:stpro="http://xmlns.jcp.org/jsf/composite/stprocomponents">

<div class="row">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group">

                <!--Listagem *********************************-->
                <div class="col-sm-6 col-xs-12 form-group">

                    <stpro:simple-filter controller="#{fornecedorController}" />

                    <div class="table-responsive form-group">

                        <p:dataTable var="row" rowKey="#{row.id}" value="#{fornecedorController.lazyDataModel}"
                                     rows="10" paginator="true" paginatorPosition="bottom"
                                     paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" lazy="true">

                            <p:column headerText="${bundleMsgs.label_nome}" sortBy="#{row.nome}" >
                                <h:outputText value="#{row.nome}" />
                            </p:column>

                            <p:column style="width: 25%; text-align: center;">
                                <h:commandLink style="color: #fff !important;"
                                               class="btn btn-info btn-sm"
                                               action="#{fornecedorController.visualizar(row)}"
                                               title="${bundleMsgs.bt_visualizar}">
                                    <span class="fa fa-eye"></span>
                                </h:commandLink>
                                <p:spacer width="3" />

                                <h:commandLink rendered="#{fornecedorController.permiteAlteracao}"
                                               id="btnEditar" style="color: #fff !important;"
                                               class="btn btn-warning btn-sm"
                                               action="#{fornecedorController.editar(row)}"
                                               title="${bundleMsgs.bt_editar}">
                                    <span class="fa fa-pencil"></span>
                                </h:commandLink>
                                <p:spacer width="3" />

                                <h:commandLink rendered="#{fornecedorController.permiteExclusao}"
                                               id="btnExcluir" class="btn btn-danger btn-sm"
                                               title="${bundleMsgs.bt_excluir}" style="color: #fff !important;">
                                    <span class="fa fa-trash-o"></span>
                                    <f:setPropertyActionListener
                                            target="#{fornecedorController.objetoSelecionado}"
                                            value="#{row}"></f:setPropertyActionListener>
                                    <f:ajax onevent="openModal('#myModal')" />
                                </h:commandLink>
                            </p:column>
                        </p:dataTable>

                    </div>
                </div>
                <!--Listagem .................................-->

                <!--Formulario *******************************-->
                <div class="col-sm-6 col-xs-12  form-group">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h5>#{bundleMsgs.contas_pagar_fornecedor}</h5>
                        </div>

                        <h:panelGroup id="panelFornecedor">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 form-group radio-group">
                                        <p:selectOneRadio id="edtTipoGrupo"
                                                          value="#{fornecedorController.objetoSelecionado.tipoPessoa}"
                                                          disabled="#{fornecedorController.editavel == false}"
                                                          pt:data-ajax-loader="off">
                                            <f:selectItems value="#{fornecedorController.tiposPessoa}" />
                                            <f:ajax immediate="true" execute="@this" render="panelFornecedor" />
                                        </p:selectOneRadio>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-7 form-group">
                                        <h:outputLabel value="#{fornecedorController.objetoSelecionado.tipoPessoa.value=='F' ? bundleMsgs.label_nome : bundleMsgs.label_razao_social} *"
                                                       for="edtNome" class="simple-label" />

                                        <h:inputText id="edtNome" class="form-control"
                                                     value="#{fornecedorController.objetoSelecionado.nome}"
                                                     disabled="#{fornecedorController.editavel == false}"/>
                                    </div>

                                    <div class="col-xs-5 form-group">
                                        <h:outputLabel
                                                value="#{fornecedorController.objetoSelecionado.tipoPessoa == 'F' ? bundleMsgs.label_cpf : bundleMsgs.label_cnpj} *"
                                                for="edtCpfCnpj" class="simple-label" id="lblCpfCnpj" />

                                        <p:inputMask id="edtCpfCnpj" class="form-control"
                                                     mask="#{fornecedorController.objetoSelecionado.tipoPessoa.value eq 'F' ? '999.999.999-99' : '99.999.999/9999-99'}"
                                                     value="#{fornecedorController.objetoSelecionado.cpfCnpj}"
                                                     disabled="#{fornecedorController.editavel == false}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-7 form-group">
                                        <h:outputLabel value="#{fornecedorController.objetoSelecionado.tipoPessoa.value=='F' ? bundleMsgs.label_apelido : bundleMsgs.label_nome_fantasia}" for="edtApelido"
                                                       class="simple-label" />

                                        <h:inputText id="edtApelido" class="form-control"
                                                     value="#{fornecedorController.objetoSelecionado.apelido}"
                                                     disabled="#{fornecedorController.editavel == false}" />
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_cadastrar_favorecido}" for="rdbCadastrarFavorecido"/>

                            <p:selectOneRadio id="rdbCadastrarFavorecido"
                                              value="#{fornecedorController.carregarFavorecido}" valueChangeListener="#{fornecedorController.carregarFavorecidoChanged}"
                                              class="form-control radio-group"  disabled="#{fornecedorController.editavel == false}">
                                <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                                <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                                <p:ajax event="change" update="@form"  />
                            </p:selectOneRadio>
                        </div>
                    </div>

                    <h:panelGroup id="panelFavorecido" rendered="#{fornecedorController.carregarFavorecido}">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h5>#{bundleMsgs.contas_pagar_favorecido}</h5>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 form-group radio-group">
                                        <p:selectOneRadio id="edtTipoGrupoFavorecido"
                                                          value="#{fornecedorController.objetoSelecionado.tipoFavorecido}"
                                                          disabled="#{fornecedorController.editavel == false}"
                                                          pt:data-ajax-loader="off">
                                            <f:selectItems value="#{fornecedorController.tiposPessoa}" />
                                            <f:ajax immediate="true" execute="@this" render="panelFavorecido" />
                                        </p:selectOneRadio>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 form-group">
                                        <h:outputLabel value="#{fornecedorController.objetoSelecionado.tipoFavorecido.value=='F' ? bundleMsgs.label_nome : bundleMsgs.label_razao_social} *"
                                                       for="edtRazao" />

                                        <h:inputText id="edtRazao" class="form-control"
                                                     value="#{fornecedorController.objetoSelecionado.nomeFavorecido}"
                                                     disabled="#{fornecedorController.editavel == false}" />
                                    </div>

                                    <div class="col-xs-6 form-group">
                                        <h:outputLabel value="#{fornecedorController.objetoSelecionado.tipoFavorecido.value=='F' ? bundleMsgs.label_cpf : bundleMsgs.label_cnpj} *"
                                                       for="edtCpfCnpjFavorecido" />

                                        <p:inputMask id="edtCpfCnpjFavorecido" class="form-control"
                                                     mask="#{fornecedorController.objetoSelecionado.tipoFavorecido == 'F' ? '999.999.999-99' : '99.999.999/9999-99'}"
                                                     value="#{fornecedorController.objetoSelecionado.cpfCnpjFavorecido}"
                                                     disabled="#{fornecedorController.editavel == false}" />
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-xs-4 form-group">
                                        <h:outputLabel value="#{bundleMsgs.label_banco} *" for="edtBanco" />

                                        <h:inputText id="edtBanco" class="form-control"
                                                     value="#{fornecedorController.objetoSelecionado.bancoFavorecido}"
                                                     disabled="#{fornecedorController.editavel == false}" />
                                    </div>
                                    <div class="col-xs-4 form-group">
                                        <h:outputLabel value="#{bundleMsgs.label_agencia} *" for="edtAgencia" />

                                        <h:inputText id="edtAgencia" class="form-control"
                                                     value="#{fornecedorController.objetoSelecionado.agenciaFavorecido}"
                                                     disabled="#{fornecedorController.editavel == false}" />
                                    </div>
                                    <div class="col-xs-4 form-group">
                                        <h:outputLabel value="#{bundleMsgs.label_conta_correnta} *" for="edtConta" />

                                        <h:inputText id="edtConta" class="form-control"
                                                     value="#{fornecedorController.objetoSelecionado.contaFavorecido}"
                                                     disabled="#{fornecedorController.editavel == false}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>

                    <!--Botoes ************************************-->
                    <div class="row">
                        <div class="col-xs-12" align="right">

                            <!--Cancelar-->
                            <h:commandButton id="btnCancelarForn" value="#{bundleMsgs.bt_cancelar}"
                                             class="btn btn-default"
                                             action="#{fornecedorController.cancelar()}"
                                             disabled="#{fornecedorController.editavel == false}" />

                            <!--Editar-->
                            <h:commandButton id="btnEditarForn" value="#{bundleMsgs.bt_editar}"
                                             class="btn btn-info"
                                             action="#{fornecedorController.editar()}"
                                             disabled="#{fornecedorController.editavel}" />

                            <!--Inserir-->
                            <h:commandButton id="btnInserirForn" value="#{bundleMsgs.bt_novo}"
                                             class="btn btn-success"
                                             action="#{fornecedorController.novo()}"
                                             disabled="#{fornecedorController.editavel}" />

                            <!--Salvar-->
                            <h:commandButton id="btnSalvarForn" value="#{bundleMsgs.bt_salvar}"
                                             class="btn btn-primary" pt:data-loader="on"
                                             p:data-loader-message="Salvando, Aguarde..."
                                             action="#{fornecedorController.salvar()}"
                                             disabled="#{fornecedorController.editavel == false}" />
                        </div>
                    </div>
                    <!--Botoes ...................................-->
                    <br/>
                    <div class="row">
                        <p class="col-md-12 col-xs-12" align="right">
                            <i>#{bundleMsgs['commons.form.required.message']}</i>
                        </p>
                    </div>
                </div>
                <!--Formulario ...............................-->
            </div>
        </div>
    </div>
</div>

<!-- COMPONENTE POPUP -->
<stpro:exclusion-popup controller="#{fornecedorController}" />


</html>