<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:stpro="http://xmlns.jcp.org/jsf/composite/stprocomponents">

<div class="row">
    <div class="box">
        <div class="box-header with-border">
            <div class="form-group">

                <!--Listagem *********************************-->
                <div class="col-md-5 col-xs-12 form-group">
                    <div class="row">
                        <div class="col-md-12 form-group radio-group">
                            <h:outputLabel value="#{bundleMsgs.label_status}" for="edtStatusContaFin" class="simple-label" />

                            <p:selectOneRadio id="edtStatusContaFin" value="#{contaPagarController.filtro.statusContasPagar}" >
                                <f:selectItems value="#{contaPagarController.statusConta}" var="status" itemLabel="#{status.descricao}"
                                               itemValue="#{status}"/>
                            </p:selectOneRadio>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <h:outputLabel value="#{bundleMsgs.label_data_inicio}" class="simple-label" />
                            <stpro:simple-calendar value="#{contaPagarController.filtro.dataInicial}"/>
                        </div>

                        <div class="col-md-6 form-group">
                            <h:outputLabel value="#{bundleMsgs.label_data_final}" class="simple-label" />
                            <stpro:simple-calendar value="#{contaPagarController.filtro.dataFinal}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_fornecedor}" class="simple-label" />
                            <div class="input-group">
                                <p:autoComplete value="#{contaPagarController.filtro.fornecedor}"
                                                completeMethod="#{contaPagarController.completeFornecedores}"
                                                var="var" style="width: 100% !important;"
                                                itemLabel="#{var.nome}" itemValue="#{var}" converter="entityConverter"
                                                forceSelection="true" scrollHeight="140">
                                    <p:column>
                                        <h:outputText value="#{var.nome}" />
                                    </p:column>
                                </p:autoComplete>
                                <span class="input-group-addon" >
                                     <h:commandLink id="btnFilter"
                                                    action="#{contaPagarController.buscar}"
                                                    pt:data-loader="on"
                                                    pt:data-loader-message="Pesquisando, Aguarde...">
                                         <i class="fa fa-search"></i>
                                     </h:commandLink>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <p:dataTable var="row" rowKey="#{row.id}" value="#{contaPagarController.lista}"
                                         rows="50" paginator="true" paginatorPosition="bottom"
                                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                                <p:column headerText="${bundleMsgs.contas_pagar_fornecedor}" sortBy="#{row.fornecedor.nome}" >
                                    <h:outputText value="#{row.fornecedor.nome}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.contas_pagar_nf}" sortBy="#{row.notaFiscal}" >
                                    <h:outputText value="#{row.notaFiscal}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.contas_pagar_valor}" sortBy="#{row.valorTotal}" >
                                    <h:outputText value="#{row.valorTotal}" >
                                        <f:convertNumber currencySymbol="R$" type="currency" />
                                    </h:outputText>
                                </p:column>

                                <p:column style="width: 25%; text-align: center;">
                                    <h:commandLink style="color: #fff !important;"
                                                   class="btn btn-info btn-sm"
                                                   action="#{contaPagarController.visualizar(row)}"
                                                   title="${bundleMsgs.bt_visualizar}">
                                        <span class="fa fa-eye"></span>
                                    </h:commandLink>
                                    <p:spacer width="3" />

                                    <h:commandLink rendered="#{contaPagarController.permiteAlteracao}"
                                                   id="btnEditar" style="color: #fff !important;"
                                                   class="btn btn-warning btn-sm"
                                                   action="#{contaPagarController.editar(row)}"
                                                   title="${bundleMsgs.bt_editar}">
                                        <span class="fa fa-pencil"></span>
                                    </h:commandLink>

                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>

                </div>
                <!--Listagem .................................-->

                <!--Formulario *******************************-->
                <div class="col-md-7 col-xs-12  form-group">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_emissao}" class="simple-label" />
                            <stpro:simple-calendar value="#{contaPagarController.objetoSelecionado.dataEmissao}"
                                                   disabled="#{contaPagarController.editavel == false}"/>
                        </div>

                        <div class="col-md-4 col-xs-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_valor_bruto}" class="simple-label" />
                            <p:inputNumber value="#{contaPagarController.objetoSelecionado.valorTotal}"
                                           disabled="#{contaPagarController.editavel == false}"
                                           decimalSeparator="," thousandSeparator="." >
                                <f:ajax render="idValorRestante idValorTotalCalculado"/>
                            </p:inputNumber>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-xs-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_fornecedor}" class="simple-label" />
                            <p:autoComplete value="#{contaPagarController.objetoSelecionado.fornecedor}"
                                            completeMethod="#{contaPagarController.completeFornecedores}"
                                            disabled="#{contaPagarController.editavel == false}"
                                            var="var" style="width: 100% !important;"
                                            itemLabel="#{var.nome}" itemValue="#{var}" converter="entityConverter"
                                            forceSelection="true" scrollHeight="140">
                                <p:ajax event="itemSelect" update="cpfCnpj" />

                                <p:column>
                                    <h:outputText value="#{var.nome}" />
                                </p:column>
                            </p:autoComplete>

                        </div>
                        <div class="col-md-4 col-xs-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_cpf_cnpj}" class="simple-label" />
                            <h:inputText id="cpfCnpj" value="#{contaPagarController.objetoSelecionado.fornecedor.cpfCnpj}"
                                         class="form-control" disabled="true"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-xs-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_tipo}" class="simple-label" />
                            <p:selectOneRadio value="#{contaPagarController.objetoSelecionado.tipo}"
                                              disabled="#{contaPagarController.editavel == false}" >
                                <f:selectItems value="#{contaPagarController.tiposPagamentos}"  var="t"
                                               itemLabel="#{t.descricaoComboBox}" itemValue="#{t}" />
                            </p:selectOneRadio>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-xs-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_nf}" class="simple-label" />
                            <h:inputText value="#{contaPagarController.objetoSelecionado.notaFiscal}"
                                         class="form-control" disabled="#{contaPagarController.editavel == false}" />
                        </div>
                        <div class="col-xs-4 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_qte_parcelas}" for="edtparcela"/>

                            <h:inputText id="edtparcela" class="form-control"
                                         pt:data-ajax-loader="off"
                                         value="#{contaPagarController.objetoSelecionado.qtdeParcelas}"
                                         disabled="#{contaPagarController.editavel == false}">
                                <f:ajax event="change"
                                        listener="#{contaPagarController.inicilizaParcelas()}"
                                        execute="@this" render="qtdParcelas"/>
                                <f:validateLongRange minimum="0" maximum="99"/>
                            </h:inputText>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:panelGroup layout="block" id="qtdParcelas">
                            <div class="table-responsive">
                                <table class="table table-responsive table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="col-lg-4">#{bundleMsgs.contas_pagar_data_vencimento}</th>
                                        <th class="col-lg-4">#{bundleMsgs.contas_pagar_data_pagamento}</th>
                                        <th class="col-lg-4">#{bundleMsgs.contas_pagar_valor_liquido}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ui:repeat var="parcela"
                                               value="#{contaPagarController.objetoSelecionado.parcelas}"
                                               varStatus="status">
                                        <tr>
                                            <td><h4>#{parcela.numeroParcela}</h4></td>
                                            <td>
                                                <p:calendar value="#{parcela.dataVencimento}" pattern="dd/MM/yyyy" mask="true"
                                                            pt:data-ajax-loader="off"
                                                            disabled="#{contaPagarController.editavel == false}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                    <f:ajax event="change" execute="@this" render="@form" />
                                                </p:calendar>
                                            </td>
                                            <td>
                                                <p:calendar value="#{parcela.dataPagamento}"
                                                            pattern="dd/MM/yyyy" mask="true"
                                                            pt:data-ajax-loader="off"
                                                            disabled="#{contaPagarController.editavel == false}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </p:calendar>
                                            </td>
                                            <td>
                                                <p:inputNumber id="valorProvavelPedido" value="#{parcela.valor}"
                                                               disabled="#{contaPagarController.editavel == false}"
                                                               decimalSeparator="," thousandSeparator="." >
                                                    <f:ajax event="blur" render="edtValorLiquido" execute="@this"></f:ajax>
                                                </p:inputNumber>
                                            </td>
                                        </tr>
                                    </ui:repeat>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 form-group pull-right">
                                    <h:outputLabel value="#{bundleMsgs.contas_pagar_valor_total_parcelas}"
                                                   for="edtValorLiquido"/>

                                    <h:inputText id="edtValorLiquido" class="form-control"
                                                 p:data-mask="decimal" p:data-ajax-loader="off"
                                                 value="#{contaPagarController.objetoSelecionado.valorTotalParcelas}"
                                                 readonly="true">
                                        <f:ajax immediate="true" render="idValorRestante"/>
                                        <f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
                                    </h:inputText>
                                </div>
                            </div>
                        </h:panelGroup>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 form-group">
                            <h:outputLabel value="#{bundleMsgs.contas_pagar_descricao}" class="simple-label" />
                            <h:inputTextarea value="#{contaPagarController.objetoSelecionado.descricao}"
                                             disabled="#{contaPagarController.editavel == false}" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th>#{bundleMsgs.contas_pagar_rateio}</th>
                                    <th>#{bundleMsgs.contas_pagar_valor}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <ui:repeat var="contaItem"
                                           value="#{contaPagarController.objetoSelecionado.itens}"
                                           varStatus="status">

                                    <tr>
                                        <td class="col-md-8">#{contaItem.empresa.descricao}</td>
                                        <td class="col-md-4">
                                            <p:inputNumber value="#{contaItem.valor}"
                                                           disabled="#{contaPagarController.editavel == false}"
                                                           decimalSeparator="," thousandSeparator="." >
                                                <f:ajax event="blur" execute="@this"
                                                        render="idValorTotalCalculado idValorRestante"
                                                />

                                            </p:inputNumber>
                                        </td>
                                    </tr>
                                </ui:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-xs-12 text-muted" align="right">
                            <small><h:outputText value="#{bundleMsgs.label_valor_total}"/>
                                R$
                            </small>

                            <h:outputText id="idValorTotalCalculado"
                                          class="sub-title #{contaPagarController.objetoSelecionado.validarValorTotalParaValorCalculado() ? 'text-color-green' : 'text-color-red'}"
                                          pt:data-mask="decimal"
                                          value="#{contaPagarController.objetoSelecionado.valorTotalCalculado}">
                                <f:convertNumber type="currency" currencySymbol=""/>
                            </h:outputText>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-12 text-muted" align="right">
                            <small><h:outputText value="#{bundleMsgs.contas_pagar_diferenca}"/>
                                R$ <h:outputText id="idValorRestante" pt:data-mask="decimal"
                                                 value="#{contaPagarController.objetoSelecionado.diferencaValorTotalCalculado}">
                                    <f:convertNumber type="currency" currencySymbol=""/>
                                </h:outputText>
                            </small>
                        </div>
                    </div>

                    <!--Botoes ************************************-->
                    <div class="row">
                        <div class="col-xs-12 form-group" align="right">
                            <!--Cancelar-->
                            <h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}" immediate="true"
                                             pt:data-loader="off"
                                             class="btn btn-default" action="#{contaPagarController.cancelar()}"
                                             disabled="#{contaPagarController.editavel == false}"  />

                            <!--Inserir-->
                            <h:commandButton id="btnInserir" value="#{bundleMsgs.bt_novo}" immediate="true"
                                             class="btn btn-success" action="#{contaPagarController.novo()}"
                                             disabled="#{contaPagarController.editavel}" />

                            <!--Salvar-->
                            <h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
                                             class="btn btn-primary" pt:data-loader="on"
                                             pt:data-loader-message="Salvando, Aguarde..."
                                             action="#{contaPagarController.salvar()}"
                                             onclick="setConfirmUnload(false)"
                                             disabled="#{contaPagarController.editavel == false}">
                            </h:commandButton>
                        </div>
                    </div>
                </div>
                <!--Formulario ...............................-->
            </div>
        </div>
    </div>
</div>

</html>