<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
>

<ui:composition template="../../../plain-manutencao-template.xhtml">

	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		<div class="page-title">Controladoria</div>
	</ui:define>

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/manutencao/manutencao-template.xhtml">
			<i class="fa fa-home" /> Manutenção
		</h:link></li>
		<li><h:link outcome="/manutencao/configuracao/manutencao-configuracao-template.xhtml">
			<i class="fa fa-cog" /> Configurações
		</h:link></li>
		<li class="active">ST Robot</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="form" prependId="false">

			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<div class="row">
				<div class="box">
					<div class="box-header with-border">
						<div class="form-group">

							<!--Listagem *********************************-->
							<div class="col-sm-12 col-xs-12 form-group">
								<ui:include src="configuracao-robo-list.xhtml" />
							</div>
							<!--Listagem .................................-->
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>