<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="../plain-template.xhtml">

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li class="active"><i class="fa fa-home"></i>${bundleMsgs.home}</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="active" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../left-menu-template.xhtml" />
	</ui:define>

	<!-- FORM CORPO DA PAGINA -->
	<ui:define name="content">
		<h:form id="indexForm" prependId="false">
			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<div class="row">
				<div class="col-md-4">
					<h:panelGroup rendered="#{dashboardController.eventosRejeitados > 0}">
						<div class="info-box bg-yellow">
							<span class="info-box-icon"><i class="fa fa-tags"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Rejeitos da Controladoria</span>
								<span class="info-box-number">Total de registros: #{dashboardController.eventosRejeitados}</span>

								<div class="progress">
									<div class="progress-bar" style="width: 100%"></div>
								</div>
								<span class="progress-description">
								<h:commandLink value="Visualizar rejeitos" style="color: #fff !important;"
											   action="/pages/controladoria/rejeito/rejeito-list.xhtml?faces-redirect=true" />
							</span>
							</div>
							<!-- /.info-box-content -->
						</div>
					</h:panelGroup>
				</div>
			</div>
			<p:spacer height="20"/>

			<p:panelGrid id="dashProcAddRecent" rendered="#{dashboardController.permiteConsulta}">
				<ui:include src="/pages/dashboard/linha-um.xhtml" />

				<!--<ui:include src="/pages/dashboard/linha-dois.xhtml" />-->
			</p:panelGrid>
		</h:form>
	</ui:define>
	<!-- FIM DO FORM CORPO DA PAGINA -->

</ui:composition>
</html>