<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.meu_perfil}</div>
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />

        <!-- MENU LATERAL -->
        <ui:include src="../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li><h:link outcome="profile.xhtml">
            ${bundleMsgs.meu_perfil}
        </h:link></li>
        <li class="active">${bundleMsgs.meu_perfil}</li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="form" prependId="false" enctype="multipart/form-data">
            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <div class="row">
                <div class="col-md-4">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h:graphicImage id="logoImage" alt="Imagem" class="profile-user-img img-responsive img-circle"
                                            value="/image?idImagem=#{profileController.imagem.id}&amp;nome=#{profileController.imagem.nomeArquivo}" />

                            <h3 class="profile-username text-center">#{sessionScope.userLogged.name}</h3>
                            <p class="text-muted text-center">#{sessionScope.perfil}</p>

                            <hr/>

                            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> #{bundleMsgs.label_info}</strong>
                            <p>#{bundleMsgs.validation_imagem}</p>

                            <h:inputFile id="arquivo" style="width: 100%;"
                                         value="#{profileController.fotoSelecionada}"
                                         validator="#{importadorValidator.valida}"
                                         class="btn btn-primary btn-block">
                                <f:ajax execute="@this logoImage" render="@form" listener="#{profileController.importar}" />
                            </h:inputFile>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
</html>