<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-md-12 col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{centroCustoController.objetoSelecionado.descricao}"
							 disabled="#{centroCustoController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>

			</div>
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton rendered="#{centroCustoController.permiteInclusao}"
								 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default"
								 action="#{centroCustoController.cancelar()}"
								 disabled="#{centroCustoController.editavel == false}" />

				<!--Inserir-->
				<h:commandButton rendered="#{centroCustoController.permiteInclusao}"
								 id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{centroCustoController.novo()}"
								 disabled="#{centroCustoController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton rendered="#{centroCustoController.permiteInclusao}"
								 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 onclick="setConfirmUnload(false)"
								 action="#{centroCustoController.salvar()}"
								 disabled="#{centroCustoController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

</html>