<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" xmlns:f="http://java.sun.com/jsf/core">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputLabel value="Descricao *"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{manutencaoAcessoController.objetoSelecionado.descricao}"
							 disabled="#{manutencaoAcessoController.editavel == false}"
							 pt:placeholder="Ex: Página Inicial"
							 pt:autoFocus="true">
				</h:inputText>

			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Funcionalidade *"
							   for="edtFuncionalidade" class="simple-label" />

				<h:inputText id="edtFuncionalidade" class="form-control"
							 value="#{manutencaoAcessoController.objetoSelecionado.funcionalidade}"
							 disabled="#{manutencaoAcessoController.editavel == false}"
							 pt:placeholder="Ex: PAGES_INDEX"
							 pt:autoFocus="true">
				</h:inputText>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Sub-titulo "
							   for="edtSubTitulo" class="simple-label" />

				<h:inputText id="edtSubTitulo" class="form-control"
							 value="#{manutencaoAcessoController.objetoSelecionado.subTitulo}"
							 disabled="#{manutencaoAcessoController.editavel == false}"
							 pt:placeholder="Ex: 10(dez) últimos processos adicionados"
							 pt:autoFocus="true">
				</h:inputText>
			</div>

			<div class="col-xs-6 form-group">
				<h:outputLabel value="Menu *" for="edtMenu" class="simple-label" />
				<h:selectOneMenu id="edtMenu" value="#{manutencaoAcessoController.objetoSelecionado.menu}"
								 disabled="#{manutencaoAcessoController.editavel == false}"
								 converter="entityConverter" class="form-control">
					<f:selectItem itemLabel="Selecione..." itemValue="#{null}" />
					<f:selectItems value="#{manutencaoAcessoController.menus}" var="menu" itemLabel="#{menu.descricao}" itemValue="#{menu}" />
				</h:selectOneMenu>
			</div>

			<div class="col-xs-6 form-group">
				<h:outputLabel value="Acesso Pai" for="edtMenu" class="simple-label" />
				<h:selectOneMenu value="#{manutencaoAcessoController.objetoSelecionado.acessoPai}"
								 disabled="#{manutencaoAcessoController.editavel == false}"
								 converter="entityConverter" class="form-control">
					<f:selectItem itemLabel="Selecione..." itemValue="#{null}" />
					<f:selectItems value="#{manutencaoAcessoController.acessos}" var="acesso"
								   itemLabel="#{acesso.descricao}" itemValue="#{acesso.id}" />
				</h:selectOneMenu>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Flag Operação *" class="simple-label" />
				<p:selectOneRadio id="console" value="#{manutencaoAcessoController.objetoSelecionado.flagOperacao}"
								  class="form-control" disabled="#{manutencaoAcessoController.editavel == false}">
					<f:selectItem itemLabel="0 - Somente um acesso" itemValue="0" />
					<f:selectItem itemLabel="1 - Acesso com varias funcionalidades" itemValue="1" />
				</p:selectOneRadio>
			</div>
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{manutencaoAcessoController.cancelar()}"
								 disabled="#{manutencaoAcessoController.editavel == false}" />

				<!--Inserir-->
				<h:commandButton id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{manutencaoAcessoController.novo()}"
								 disabled="#{manutencaoAcessoController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{manutencaoAcessoController.salvar()}"
								 disabled="#{manutencaoAcessoController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

</html>