<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{meioTramitacaoController.objetoSelecionado.descricao}"
							 disabled="#{meioTramitacaoController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_gerador_automatico}"
							   for="edtGeradorNumerocao" class="simple-label" />

				<p:selectOneRadio id="edtGeradorNumerocao"
								  value="#{meioTramitacaoController.objetoSelecionado.geradorAutomatico}"
								  class="form-control radio-group" valueChangeListener="#{meioTramitacaoController.geradorAutomaticoChanged}"
								  disabled="#{meioTramitacaoController.editavel == false}">
					<f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
					<f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
					<p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" update="@form" />
				</p:selectOneRadio>
			</div>
		</div>

		<h:panelGroup id="naturezasAcaoGroup" rendered="#{meioTramitacaoController.objetoSelecionado.geradorAutomatico}">
			<div class="row">
				<div class="col-xs-12 form-group">
					<h:outputLabel value="#{bundleMsgs.label_natureza_acao}" class="simple-label" />

					<p:pickList value="#{meioTramitacaoController.naturezas}"
								converter="entityConverter" responsive="true"
								addAllLabel="Adicionar todos" addLabel="Adicionar"
								removeAllLabel="Remover todos" removeLabel="Remover"
								showSourceFilter="true" showTargetFilter="true"
								showTargetControls="true"
								var="row" itemLabel="#{row.descricao}" itemValue="#{row}"
								filterMatchMode="contains">

						<f:facet name="sourceCaption">#{bundleMsgs.label_parametros}</f:facet>
						<f:facet name="targetCaption">#{bundleMsgs.bt_adicionar}</f:facet>

					</p:pickList>
				</div>
			</div>
		</h:panelGroup>

		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_mascara_descricao}"
							   for="edtMascara" class="simple-label" />

				<h:inputText id="edtMascara" class="form-control"
							 value="#{meioTramitacaoController.objetoSelecionado.mascara}"
							 disabled="#{meioTramitacaoController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_mascara}">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputLabel value="Exemplo: 9999999-99.9999.9.99.9999"
							   disabled="#{true}" class="simple-label" />

				<div class="row">
					<div class="col-xs-12">
						<h:outputLabel value="A máscara serve para facilitar na digitação do número do processo."
									   disabled="#{true}" class="simple-label" />
					</div>
				</div>

				<div class="col-xs-12 form-group">
					<div class="row">
						<div class="col-xs-12">
							<h:outputLabel value="Forma de Preenchimento:"
										   disabled="#{true}" class="simple-label" />
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<h:outputLabel value="Inserir somente 9, a, * e ?. Além de pontos e traços"
										   disabled="#{true}" class="simple-label" />
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<h:outputLabel value="9: permitido informar NÚMEROS."
										   disabled="#{true}" class="simple-label" />
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<h:outputLabel value="a: permitido informar LETRAS."
										   disabled="#{true}" class="simple-label" />
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<h:outputLabel value="*: permitido informar LETRAS OU NÚMEROS."
										   disabled="#{true}" class="simple-label" />
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<h:outputLabel value="?: após esse símbolo, todos os dígitos se tornam opcionais."
										   disabled="#{true}" class="simple-label" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton rendered="#{meioTramitacaoController.permiteInclusao}"
								 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default"
								 action="#{meioTramitacaoController.cancelar()}"
								 disabled="#{meioTramitacaoController.editavel == false}" />

				<!--Inserir-->
				<h:commandButton rendered="#{meioTramitacaoController.permiteInclusao}"
								 id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{meioTramitacaoController.novo()}"
								 disabled="#{meioTramitacaoController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton rendered="#{meioTramitacaoController.permiteInclusao}"
								 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{meioTramitacaoController.salvar()}"
								 onclick="setConfirmUnload(false)"
								 disabled="#{meioTramitacaoController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->
	</div>
</div>

</html>