<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.pessoas}</div>
    </ui:define>

    <ui:define name="small-title">
        #{bundleMsgs.label_pessoa_fisica}
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_clientes" value="active" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />

        <!-- MENU LATERAL -->
        <ui:include src="../../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i>
            Home
        </h:link></li>
        <li class="active">${bundleMsgs.label_pessoa_fisica}</li>


    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="pessoaFisicaListForm" prependId="false">

            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->


            <section class="invoice">
                <div class="row">
                    <div class="col-xs-7 form-group" align="left">
                        <!--Inserir-->
                        <h:commandButton rendered="#{pessoaFisicaController.permiteInclusao}" 
                                         value="${bundleMsgs.bt_novo}" class="btn btn-success"
                                         action="#{pessoaFisicaController.novaPessoaFisica}">
                        </h:commandButton>
                    </div>

                    <div class="col-md-5 col-xs-12" align="right">
                        <div class="input-group">
                            <p:remoteCommand name="listFromSimpleSearch" update="dataTable"
                                             actionListener="#{pessoaFisicaController.listFromSimpleSearch}"/>
                            <p:inputText value="#{pessoaFisicaController.descricaoFiltro}"
                                         pt:autoFocus="true"
                                         pt:placeholder="${bundleMsgs.p_holder_buscar}"
                                         id="simpleSearchInput"
                                         onkeypress="if (event.keyCode == 13) { listFromSimpleSearch(); return false; }"
                                         title="#{simpleSearchPlaceholder}"/>

                        <span class="input-group-addon">
                            <h:commandLink id="btnSimpleFilter"
                                           action="#{pessoaFisicaController.listFromSimpleSearch}"
                                           pt:data-loader="on"
                                           pt:data-loader-message="Pesquisando, Aguarde...">
                                <i class="fa fa-search"></i>
                            </h:commandLink>
                            <p:defaultCommand target="btnSimpleFilter"/>
						</span>

                        </div>
                    </div>
                </div>
            </section>

            <!--Listagem ********************************-->
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive form-group">
                        <p:dataTable id="dataTable" var="row" rowKey="#{row.id}" value="#{pessoaFisicaController.lazyDataModel}"
                                     rows="10" paginator="true" paginatorPosition="bottom"
                                     emptyMessage="${bundleMsgs.empty_results}"
                                     paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="15,50,100" lazy="true" >

                            <p:column headerText="#{bundleMsgs.label_nome}" sortBy="#{row.pessoa.descricao}">
                                <h:commandLink value="#{row.pessoa.descricao}" immediate="true"
                                               action="#{pessoaFisicaController.goToDetalhes}" >
                                    <f:setPropertyActionListener
                                            target="#{pessoaFisicaController.pessoaFisicaSelecionada}" value="#{row}" />
                                </h:commandLink>
                            </p:column>

							<p:column headerText="${bundleMsgs.label_cliente}" style="width:85px; text-align:center;">
								<h:outputText value="#{row.pessoa.clienteSimNao}" />
							</p:column>

							<p:column headerText="${bundleMsgs.label_email}">
                                <h:outputText rendered="#{pessoaFisicaController.podeVisualizarEmails}" value="#{row.emails}" />
                                <h:outputText rendered="#{!pessoaFisicaController.podeVisualizarEmails}" value="#{bundleMsgs.label_usuario_sem_permissao_visualizar_emails}" />
                            </p:column>

                            <p:column headerText="${bundleMsgs.label_telefone}">
                                <h:outputText rendered="#{pessoaFisicaController.podeVisualizarContatos}" value="#{row.telefones}" />
                                <h:outputText rendered="#{!pessoaFisicaController.podeVisualizarContatos}" value="#{bundleMsgs.label_usuario_sem_permissao_visualizar_contatos}" />                                
                            </p:column>

                            <p:column styleClass="tableColumn" style="width: 150px; text-align: center;">
                                <h:commandLink id="btnDetalhes" rendered="#{true}"
                                               class="btn btn-info btn-sm"
                                               style="color: #fff !important;" immediate="true"
                                               action="#{pessoaFisicaController.goToDetalhes()}"
                                               title="${bundleMsgs.bt_detalhes}">
                                    <span class="fa fa-file-text-o"></span>
                                    <f:setPropertyActionListener
                                            target="#{pessoaFisicaController.pessoaFisicaSelecionada}"
                                            value="#{row}" />
                                    <p:ajax update=":pessoaFisicaListForm"  />
                                </h:commandLink>
                                <p:spacer width="3" />
                                <h:commandLink id="btnEditar" rendered="#{pessoaFisicaController.permiteAlteracao}" 
                                               title="${bundleMsgs.bt_editar}"
                                               class="btn btn-warning btn-sm" style="color: #fff !important;"
                                               action="#{pessoaFisicaController.goToEditarPessoa(row)}">
                                    <span class="fa fa-pencil"></span>
                                </h:commandLink>
                                <p:spacer width="3" />
                                <h:commandLink id="btnExcluir" rendered="#{pessoaFisicaController.permiteExclusao}"
                                               class="btn btn-danger btn-sm" style="color: #fff !important;"
                                               title="${bundleMsgs.bt_excluir}">
                                    <span class="fa fa-trash-o"></span>
                                    <f:setPropertyActionListener
                                            target="#{pessoaFisicaController.objetoSelecionado}"
                                            value="#{row}"></f:setPropertyActionListener>
                                    <f:ajax onevent="openModal('#myModal')" />
                                </h:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </div>

            <!-- COMPONENTE POPUP -->
            <stpro:exclusion-popup controller="#{pessoaFisicaController}" />

            <h:panelGroup>
                <ui:include src="../../popups/pessoa-fisica-popup.xhtml" />
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
</html>