<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../../plain-template.xhtml">
    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.label_cadastro_pf}</div>
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_clientes" value="active" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />
        <ui:param name="disabled_pessoa" value="#{pessoaFisicaController.podeSomenteVisualizar}"/>

        <!-- MENU LATERAL -->
        <ui:include src="../../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i>
            Home
        </h:link></li>
        <li>
            <h:link outcome="/pages/pessoas/pessoaFisica/pessoa-fisica-list.xhtml?faces-redirect=true" >
                ${bundleMsgs.pessoas_fisicas}
                <f:param name="paramLink" value="true"/>
            </h:link>
        </li>
        <li class="active">${bundleMsgs.label_cadastro}</li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="pessoaFisicaForm" prependId="false">
            <f:metadata>
                <f:event type="preRenderView" listener="#{pessoaFisicaController.init}"/>
            </f:metadata>

            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <!--Painel Pessoa..............................-->
            <div class="box box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_nome} *" for="edtNome"
                                           class="simple-label" />

                            <h:inputText id="edtNome" class="form-control"
                                         value="#{pessoaFisicaController.objetoSelecionado.pessoa.descricao}"
                                         disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                         pt:placeholder="${bundleMsgs.p_holder_nome}" pt:autoFocus="true" >
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:inputText>
                        </div>

                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel id="edtCpfLabel" value="${pessoaFisicaController.objetoSelecionado.pessoa.clienteEmpresa ? bundleMsgs.label_cpf_required : bundleMsgs.label_cpf}" for="edtCpf"
                                           class="simple-label" />
                            <p:inputMask id="edtCpf" styleClass="form-control"
                                         value="#{pessoaFisicaController.objetoSelecionado.cpf}"
                                         disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                         onchange="ValidarCPF(this);"
                                         mask="999.999.999-99" pt:placeholder="${bundleMsgs.p_holder_cpf}">
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </p:inputMask>
                        </div>

                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_eh_cliente} *" for="edtCliente" />

                            <h:panelGroup id="clienteGroup" class="input-group">
                                <p:selectOneRadio id="edtCliente"
                                                  value="#{pessoaFisicaController.objetoSelecionado.pessoa.cliente}" class="form-control"
                                                  disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                                  valueChangeListener="#{pessoaFisicaController.clienteChanged}">
                                    <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                                    <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                                    <p:ajax event="change" process="@this" update="edtEnviaEmail, iniciaisGroup, edtCpfLabel"
                                            listener="#{pessoaFisicaController.verificaIsCliente()}"
                                            oncomplete="setConfirmUnload(true)" />
                                </p:selectOneRadio>
                                <span class="input-group-btn">
                                    <p:commandButton id="historicoBtn" class="btn btn-input" icon="ui-icon-clock"
                                                     title="${bundleMsgs.label_historico_cliente}"
                                                     onclick="setConfirmUnload(false)" />
                                </span>
                            </h:panelGroup>

                            <p:dialog header="Justificativa" widgetVar="justificativaPanel" modal="true" width="500"
                                      closable="false" resizable="false" responsive="true">
                                <h:outputLabel value="${bundleMsgs.label_justificativa}" for="edtJustificativa"
                                               class="simple-label" />
                                <p:inputTextarea id="edtJustificativa"
                                                 class="form-control" onblur="setConfirmUnload(true)"
                                                 value="#{pessoaFisicaController.justificativaClienteNao}"
                                                 rows="3" counter="displayJust" maxlength="4000" style="height: 100% !important;"
                                                 counterTemplate="{0} caracteres restantes." autoResize="false" />
                                <h:outputText id="displayJust" />

                                <div class="row">
                                    <div class="col-xs-12 form-group" align="right">
                                        <h:commandButton value="#{bundleMsgs.bt_confirmar}" class="btn btn-primary"
                                                         onclick="setConfirmUnload(false), PF('justificativaPanel').hide()">
                                            <p:ajax process="@this" onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
                                        </h:commandButton>
                                    </div>
                                </div>
                            </p:dialog>

                            <p:overlayPanel widgetVar="historicoPanel" for="historicoBtn" hideEffect="fade" dynamic="true" style="width:600px"
                                            appendToBody="true" >
                                <h:outputLabel value="${bundleMsgs.label_historico_cliente}" for="dataTableHistorico"
                                               class="simple-label" />

                                <p:dataTable id="dataTableHistorico" var="historico" sortBy="#{historico.dataAlteracao}" sortOrder="descending"
                                             value="#{pessoaFisicaController.objetoSelecionado.pessoa.historicoClienteList}"
                                             emptyMessage="${bundleMsgs.empty_results}">

                                    <p:column headerText="${bundleMsgs.label_data_hora_alteracao}" style="width:185px; text-align:center;">
                                        <h:outputText value="#{historico.dataAlteracaoFormatada}" />
                                    </p:column>

                                    <p:column headerText="${bundleMsgs.label_cliente}" style="width:85px; text-align:center;">
                                        <h:outputText value="#{historico.clienteSimNao}" />
                                    </p:column>

                                    <p:column headerText="${bundleMsgs.label_justificativa}">
                                        <h:outputText value="#{historico.justificativa}" />
                                    </p:column>

                                </p:dataTable>
                            </p:overlayPanel>
                        </div>

                        <h:panelGroup id="iniciaisGroup">
                            <div class="col-md-1 col-xs-6 form-group">
                                <h:outputLabel value="${bundleMsgs.label_iniciais}" rendered="#{pessoaFisicaController.objetoSelecionado.pessoa.cliente}" />
                                <h:inputText value="#{pessoaFisicaController.objetoSelecionado.pessoa.nomeIniciais}"
                                             class="form-control" style="text-transform:uppercase" maxlength="3"
                                             rendered="#{pessoaFisicaController.objetoSelecionado.pessoa.cliente}" >
                                    <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                                </h:inputText>
                            </div>
                        </h:panelGroup>

                        <div class="col-md-2 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_envia_email} *"
                                           for="edtEnviaEmail" />

                            <p:selectOneRadio id="edtEnviaEmail"
                                              value="#{pessoaFisicaController.objetoSelecionado.pessoa.enviaEmail}"
                                              class="form-control"
                                              disabled="#{pessoaFisicaController.editavel == false or not pessoaFisicaController.objetoSelecionado.pessoa.cliente or disabled_pessoa}">
                                <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                                <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                                <p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" />
                            </p:selectOneRadio>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_data_nascimento}"
                                           class="simple-label" />
                            <div class="input-group" id="calendarDataNascimento">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <p:inputMask class="form-control radio-group"
                                             value="#{pessoaFisicaController.objetoSelecionado.dataNascimento}"
                                             disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                             mask="99/99/9999" pt:placeholder="${bundleMsgs.p_holder_data}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                    <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                                </p:inputMask>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_rg}" for="edtRg"
                                           class="simple-label" />

                            <h:inputText id="edtRg" class="form-control"
                                         value="#{pessoaFisicaController.objetoSelecionado.rg}"
                                         disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                         pt:placeholder="${bundleMsgs.p_holder_rg}" >
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:inputText>
                        </div>

                        <div class="col-md-6 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_profissao}"
                                           for="edtProfissao" class="simple-label" />

                            <h:inputText id="edtProfissao" class="form-control"
                                         value="#{pessoaFisicaController.objetoSelecionado.profissao}"
                                         disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                         pt:placeholder="${bundleMsgs.p_holder_profissao}" >
                                <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:inputText>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_estado_civil}"
                                           for="edtEstadoCivil" class="simple-label" />

                            <h:selectOneMenu id="edtEstadoCivil"
                                             value="#{pessoaFisicaController.objetoSelecionado.estadoCivil}"
                                             styleClass="form-control select2"
                                             disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                             converter="entityConverter">
                                <f:selectItem itemLabel="" itemValue="#{null}" />
                                <f:selectItems var="estadoCivil"
                                               value="#{pessoaFisicaController.estadosCivis}"
                                               itemLabel="#{estadoCivil.descricao}" />
                                <p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" />
                            </h:selectOneMenu>
                        </div>

                        <div class="col-md-3 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_sexo} *" for="edtSexo"
                                           class="simple-label" />

                            <p:selectOneRadio id="edtSexo"
                                              value="#{pessoaFisicaController.objetoSelecionado.sexo}"
                                              class="form-control"
                                              disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                              layout="lineDirection">
                                <f:selectItem itemValue="M"
                                              itemLabel="${bundleMsgs.label_masculino}" />
                                <f:selectItem itemValue="F"
                                              itemLabel="${bundleMsgs.label_feminino}" />
                                <p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" />
                            </p:selectOneRadio>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_obervacoes}" for="edtObs"
                                           class="simple-label" />

                            <p:inputTextarea id="edtObs"
                                             class="form-control" onblur="setConfirmUnload(true)"
                                             value="#{pessoaFisicaController.objetoSelecionado.observacao}"
                                             rows="3" counter="display" maxlength="4000" style="height: 100% !important;"
                                             disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}"
                                             counterTemplate="{0} caracteres restantes." autoResize="false" />
                            <h:outputText id="display" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box">
                <div class="box-body">
                    <h:panelGroup id="groupEmail" rendered="#{pessoaFisicaController.editavel}">

                        <div class="col-md-2 col-xs-6 form-group">
                            <h:outputLabel value="${bundleMsgs.label_possui_email} *"
                                           for="edtPossuiEmail" />

                            <p:selectOneRadio id="edtPossuiEmail"
                                              value="#{pessoaFisicaController.objetoSelecionado.pessoa.possuiEmail}"
                                              class="form-control"
                                              disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}">
                                <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
                                <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
                                <p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)" update="groupEmail" />
                            </p:selectOneRadio>
                        </div>

                        <div class="col-md-12 col-xs-12 form-group">
                            <stpro:emails pessoaEmailList="#{pessoaFisicaController.emails}"
                                          controller="#{pessoaFisicaController}"
                                          styleClass="col-md-6 col-xs-12 form-group" />
                        </div>
                    </h:panelGroup>
                </div>
            </div>

            <div class="box box">
                <div class="box-body">
                    <h:panelGroup rendered="#{pessoaFisicaController.editavel}">
                        <stpro:contatos
                                pessoaContatoList="#{pessoaFisicaController.objetoSelecionado.pessoa.pessoasContatos}"
                                tiposContatosList="#{pessoaFisicaController.tiposContatos}"
                                controller="#{pessoaFisicaController}"
                                styleClass="col-md-12 col-xs-12 form-group"/>
                    </h:panelGroup>
                </div>
            </div>

            <div class="box box">
                <div class="box-body">
                    <h:panelGroup rendered="#{pessoaFisicaController.editavel}">
                        <stpro:enderecos
                                pessoaEnderecoList="#{pessoaFisicaController.objetoSelecionado.pessoa.pessoasEnderecos}"
                                tipoEnderecoList="#{pessoaFisicaController.tiposEnderecos}"
                                controller="#{pessoaFisicaController}"
                                styleClass="col-md-12 col-xs-12 form-group"/>
                    </h:panelGroup>
                </div>
            </div>

            <!--Botoes ************************************-->
            <div class="row">
                <div class="col-xs-12 form-group" align="right">

                    <!--Cancelar-->
                    <h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
                                     class="btn btn-default" action="#{pessoaFisicaController.cancelar()}"
                                     disabled="#{pessoaFisicaController.editavel == false}"/>

                    <!--Inserir-->
                    <h:commandButton id="btnInserir" value="#{bundleMsgs.bt_novo}"
                                     class="btn btn-success" action="#{pessoaFisicaController.novo()}"
                                     disabled="#{pessoaFisicaController.editavel}">
                    </h:commandButton>

                    <!--Salvar-->
                    <h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
                                     class="btn btn-primary" pt:data-loader="on"
                                     pt:data-loader-message="Salvando, Aguarde..."
                                     action="#{pessoaFisicaController.salvar()}"
                                     onclick="setConfirmUnload(false)"
                                     disabled="#{pessoaFisicaController.editavel == false or disabled_pessoa}">
                    </h:commandButton>
                </div>
            </div>
            <!--Botoes ...................................-->

        </h:form>
    </ui:define>
</ui:composition>
</html>