<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<div class="row">
    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_data_proposta} *"
                       class="simple-label" styleClass="destaque" />
        <stpro:simple-calendar value="#{detalheProcessoController.novaProposta.dataProposta}" />
    </div>

    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_valor_proposta} *"
                       class="simple-label" styleClass="destaque" />
        <p:inputNumber id="edtValorCausa" value="#{detalheProcessoController.novaProposta.valorProposta}"
                       style="font-weight: bold;"
                       decimalSeparator="," thousandSeparator=".">
        </p:inputNumber>
    </div>

    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_data_final_prazo} *"
                       class="simple-label" styleClass="destaque" />
        <stpro:simple-calendar value="#{detalheProcessoController.novaProposta.dataFimPrazo}" />
    </div>

    <div class="col-md-3 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_proponente} *"
                       class="simple-label" styleClass="destaque" />
        <h:selectOneMenu value="#{detalheProcessoController.novaProposta.pessoa}"
                         converter="entityConverter" class="form-control">
            <f:selectItem itemLabel="#{bundleMsgs.label_selecione}" itemValue="#{null}" />
            <f:selectItems var="parte" value="#{detalheProcessoController.processo.partes}" itemValue="#{parte.pessoa}"
                           itemLabel="#{parte.pessoa.descricao}" />
        </h:selectOneMenu>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 form-group">
        <h:outputLabel class="simple-label" value="${bundleMsgs.label_proposta}"/>

        <p:inputTextarea class="form-control" id="obsPropostaText" onchange="sendSelection();"
                         value="#{detalheProcessoController.novaProposta.observacao}"
                         rows="6" counter="displayProposta" maxlength="4000" style="height: 100% !important;"
                         counterTemplate="{0} caracteres restantes." autoResize="false" />
        <h:outputText id="displayProposta" />
    </div>
    <p:remoteCommand name="sendSelection" process="obsPropostaText" />
</div>

<div class="row">
    <div class="col-md-12 col-xs-12 form-group">
        <h:outputLabel class="simple-label" value="${bundleMsgs.label_devolutiva}"/>

        <p:inputTextarea class="form-control" id="obsDevolutivaText" onchange="sendSelectionDevolutiva();"
                         value="#{detalheProcessoController.novaProposta.devolutiva}"
                         rows="6" counter="displayDevolutiva" maxlength="4000" style="height: 100% !important;"
                         counterTemplate="{0} caracteres restantes." autoResize="false" />
        <h:outputText id="displayDevolutiva" />
    </div>
    <p:remoteCommand name="sendSelectionDevolutiva" process="obsDevolutivaText" />
</div>
<hr/>

<div class="row">
    <div class="col-xs-12 form-group" align="right">
        <!--Cancelar-->
        <h:commandButton value="#{bundleMsgs.bt_cancelar}" class="btn btn-default"
                         action="#{detalheProcessoController.returnToDetalhes}"
                         pt:data-loader="off" immediate="true">
        </h:commandButton>

        <!--Salvar-->
        <h:commandButton value="#{bundleMsgs.bt_adicionar}"
                         class="btn btn-primary" pt:data-loader="on"
                         pt:data-loader-message="Salvando, Aguarde..."
                         action="#{detalheProcessoController.salvarProposta()}">
        </h:commandButton>
    </div>
</div>

</html>