<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">${bundleMsgs.label_email}</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
    <div class="box-body">
        <div class="row">
            <h:panelGroup>
                <div class="row bs-wizard" style="border-bottom:0;">
                    <div class="col-xs-3 bs-wizard-step #{emailController.stepsTypesSelecionado.wizardConfiguracao}">
                        <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_configuracoes}</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <h:commandLink action="#{emailController.stepSelect('STEP_CONFIGURACAO')}" class="bs-wizard-dot" />
                    </div>

                    <div class="col-xs-3 bs-wizard-step #{emailController.stepsTypesSelecionado.wizardEmail}">
                        <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_email}</div>
                        <div class="progress"><div class="progress-bar"></div></div>
                        <h:commandLink action="#{emailController.stepSelect('STEP_EMAIL')}" class="bs-wizard-dot" />
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-12">
                        <div class="box	">
                            <div class="box-body">
                                <div class="form-group">
                                    <h:panelGroup rendered="#{emailController.stepClick eq 'STEP_CONFIGURACAO'}">
                                        <ui:include src="tab-configuracao.xhtml" />
                                    </h:panelGroup>

                                    <h:panelGroup rendered="#{emailController.stepClick eq 'STEP_EMAIL'}">
                                        <ui:include src="tab-email.xhtml" />
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </div>
    </div>
</div>

</html>