<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_configuracoes}</h3>
            </div>
        </div>
    </div>

    <h:panelGroup id="configuracoes">
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <p:fieldset legend="#{bundleMsgs.label_e_mails}">
                    <div class="col-md-12 col-xs-12 form-group">
                        <h:selectOneMenu value="#{emailController.objetoSelecionado}" styleClass="form-control"
                                         pt:data-loader="off" converter="entityConverter">
                            <f:selectItem itemLabel="" itemValue="#{null}" />
                            <f:selectItems var="email" value="#{emailController.emails}"
                                           itemLabel="#{email.nome}" />
                            <p:ajax event="change" execute="@this"  update="configuracoes"
                                    listener="#{emailController.atualizaParametros(emailController.objetoSelecionado)}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="col-md-12 col-xs-12 form-group" align="right">
                        <p:panelGrid columns="2" rendered="#{emailController.objetoSelecionado.descricao != null}">
                            <h:outputLabel value="#{bundleMsgs.label_ativo}:" class="simple-label" />
                            <p:inputSwitch value="#{emailController.objetoSelecionado.ativo}"
                                           offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                <p:ajax process="@this" onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                            </p:inputSwitch>
                        </p:panelGrid>
                    </div>
                    <div class="col-md-12 col-xs-12 form-group" align="right">
                        <p:panelGrid columns="2" rendered="#{emailController.objetoSelecionado.descricao != null}">
                            <h:outputLabel value="#{bundleMsgs.label_necessario_aprovacao_email}" class="simple-label" />
                            <p:inputSwitch value="#{emailController.objetoSelecionado.necessarioAprovacao}"
                                           offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                <p:ajax process="@this" onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                            </p:inputSwitch>
                        </p:panelGrid>
                    </div>
                </p:fieldset>
            </div>

            <div class="col-md-6 col-xs-12 form-group">
                <p:fieldset legend="#{bundleMsgs.label_cliente_pj}" rendered="#{emailController.objetoSelecionado.descricao != null}">
                    <div class="col-md-12 col-xs-12 form-group" align="right">
                        <p:panelGrid columns="2" >
                            <h:outputLabel value="#{bundleMsgs.label_enviar_responsavel_geral}:" class="simple-label" />
                            <p:inputSwitch value="#{emailController.objetoSelecionado.enviaRespGeral}"
                                           offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                <p:ajax process="@this" onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                            </p:inputSwitch>
                        </p:panelGrid>
                    </div>
                    <div class="col-md-12 col-xs-12 form-group" align="right">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="#{bundleMsgs.label_enviar_responsavel_todos_departamentos}:" class="simple-label" />
                            <p:inputSwitch value="#{emailController.objetoSelecionado.enviaRespTodosDepart}"
                                           offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                                <p:ajax process="@this" onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
                            </p:inputSwitch>
                        </p:panelGrid>
                    </div>
                </p:fieldset>
            </div>
        </div>
    </h:panelGroup>

    <div class="row">
        <div class="col-xs-12 form-group" align="right">
            <!--Cancelar-->
            <h:commandButton value="#{bundleMsgs.bt_cancelar}" class="btn btn-default"
                             action="#{emailController.returnToConfiguracao}"
                             pt:data-loader="off" immediate="true">
            </h:commandButton>
            <span/>
            <h:commandLink rendered="#{detalheProcessoController.stepClick ne 'STEP_PRAZOS'}"
                           value="#{bundleMsgs.bt_proximo}" pt:data-loader="off"
                           class="btn bg-purple" action="#{emailController.stepNext}"/>
        </div>
    </div>
</ui:composition>