<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <div class="row">
        <div class="col-xs-12 form-group">
            <h:inputText class="form-control"
                         value="#{emailController.objetoSelecionado.nome}"
                         readonly="#{true}">
            </h:inputText>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5 col-xs-12 form-group">
            <p:accordionPanel multiple="true">
                <p:tab title="${bundleMsgs.label_pessoa}">
                    <div id="leftcolumnPessoa" class="ui-fluid">
                        <p:fieldset legend="#{bundleMsgs.label_parametros}">
                            <ul id="ClickListInEditorPessoa">
                                <ui:repeat value="#{emailController.parametroEmailsPessoa}" var="row">
                                    <li data-val="#{row.sigla}">
                                        <label style="font-weight: normal;">#{row.observacao}</label>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </p:fieldset>
                    </div>
                </p:tab>
            </p:accordionPanel>
            <p:accordionPanel multiple="true">
                <p:tab title="${bundleMsgs.label_processo}">
                    <div id="leftcolumnProcesso" class="ui-fluid">
                        <p:fieldset legend="#{bundleMsgs.label_parametros}">
                            <ul id="ClickListInEditorProcesso">
                                <ui:repeat value="#{emailController.parametroEmailsProcesso}" var="row">
                                    <li data-val="#{row.sigla}">
                                        <label style="font-weight: normal;">#{row.observacao}</label>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </p:fieldset>
                    </div>
                </p:tab>
            </p:accordionPanel>
            <p:accordionPanel multiple="true">
                <p:tab title="${bundleMsgs.label_agenda_geral}">
                    <div id="leftcolumnAgenda" class="ui-fluid">
                        <p:fieldset legend="#{bundleMsgs.label_parametros}">
                            <ul id="ClickListInEditorAgenda">
                                <ui:repeat value="#{emailController.parametroEmailsAgenda}" var="row">
                                    <li data-val="#{row.sigla}">
                                        <label style="font-weight: normal;">#{row.observacao}</label>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </p:fieldset>
                    </div>
                </p:tab>
            </p:accordionPanel>
        </div>

        <div class="col-md-7 col-xs-12 form-group">
            <div class="col-md-12 col-xs-12 form-group">
                <h:outputLabel value="#{bundleMsgs.label_assunto} *" class="simple-label" />
                <h:inputText class="form-control" value="#{emailController.objetoSelecionado.assunto}">
                    <p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
                </h:inputText>
            </div>

            <div class="col-md-12 col-xs-12 form-group">
                <h:panelGroup id="textEditor">
                    <div id="contentwrapper">
                        <div id="maincolumn">
                            <div class="text">
                                <h:inputHidden id="textoAtualizado" value="#{emailController.editorText}" />
                                <p:editor id="txtMessage" widgetVar="editorWidget" onchange="setConfirmUnload(true)"
                                          value="#{emailController.objetoSelecionado.descricao}" style="width: 100%">
                                </p:editor>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </div>
    </div>

    <hr/>
    <!--Botoes ************************************-->
    <div class="row">
        <div class="col-xs-12 form-group" align="right">
            <!--Cancelar-->
            <h:commandButton id="btnCancelarAndamento"
                             value="#{bundleMsgs.bt_cancelar}" class="btn btn-default"
                             action="#{emailController.returnToConfiguracao}"
                             pt:data-loader="off" immediate="true">
            </h:commandButton>

            <!--Salvar-->
            <h:commandButton id="btnSalvarAndamento" value="#{bundleMsgs.bt_salvar}"
                             class="btn btn-primary" pt:data-loader="on"
                             pt:data-loader-message="Salvando, Aguarde..."
                             action="#{emailController.salvar()}">
            </h:commandButton>
        </div>
    </div>
</ui:composition>