<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://java.sun.com/jsf/core">


<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">Registros</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->


<!--Listagem ********************************-->
<div class="box">
    <div class="box-body">
        <div class="table-responsive form-group">

            <div class="col-md-3 col-xs-12 form-group">
                <h:outputLabel value="#{bundleMsgs.label_empresa} *"
                               class="simple-label" />
                <h:selectOneMenu value="#{manutencaoSenhaUsuarioController.empresaSelecionada}"
                                 styleClass="form-control select2"
                                 converter="entityConverter">
                    <f:selectItem itemLabel="" itemValue="#{null}"/>
                    <f:selectItems var="e" value="#{manutencaoSenhaUsuarioController.empresas}"
                                   itemLabel="#{e.descricao}" />
                    <p:ajax event="change" process="@this" oncomplete="setConfirmUnload(true)"
                            listener="#{manutencaoSenhaUsuarioController.carregaPessoas}" update="@form"/>
                </h:selectOneMenu>
            </div>

            <h:panelGroup id="buscaGroup" rendered="#{manutencaoSenhaUsuarioController.empresaSelecionada.id ne null}">
                <div class="col-md-4 col-xs-12 form-group">
                    <h:outputLabel value="% nome %" class="simple-label" />

                    <div class="input-group">
                        <p:remoteCommand name="listFromSimpleSearch" update="datatable" actionListener="#{manutencaoSenhaUsuarioController.listFromSimpleSearch}"/>
                        <p:inputText value="#{manutencaoSenhaUsuarioController.buscaRapida}"
                                     pt:autoFocus="true"
                                     pt:placeholder="${bundleMsgs.p_holder_buscar}"
                                     id="simpleSearchInput"
                                     onkeypress="if (event.keyCode == 13) { listFromSimpleSearch(); return false; }"
                                     title="#{simpleSearchPlaceholder}">
                            <f:ajax event="change" listener="#{manutencaoSenhaUsuarioController.listFromSimpleSearch}" />
                        </p:inputText>

                        <span class="input-group-addon">
                            <h:commandLink id="btnSimpleFilter"
                                           pt:data-loader="on"
                                           pt:data-loader-message="Pesquisando, Aguarde..."
                                           onclick="setConfirmUnload(false)"
                                           action="#{manutencaoSenhaUsuarioController.listFromSimpleSearch}">
                                <i class="fa fa-search"></i>
                            </h:commandLink>
                            <p:defaultCommand target="btnSimpleFilter" />
                        </span>
                    </div>
                </div>
            </h:panelGroup>

            <div class="col-md-12 col-xs-12 form-group">
                <p:dataTable id="datatable" var="row" value="#{manutencaoSenhaUsuarioController.senhaPessoas}"
                             rows="10" paginator="true" paginatorPosition="bottom"
                             paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                    <p:column headerText="${bundleMsgs.label_nome}" sortBy="#{row.nome}" >
                        <h:outputText value="#{row.nome}" />
                    </p:column>

                    <p:column headerText="${bundleMsgs.label_login}" sortBy="#{row.login}" >
                        <h:outputText value="#{row.login}" />
                    </p:column>

                    <p:column headerText="${bundleMsgs.label_senha}" sortBy="#{row.senha}" >
                        <h:outputText value="#{row.senha}" />
                    </p:column>

                    <p:column headerText="${bundleMsgs.label_data_ultimo_acesso}" sortBy="#{row.dataUltimoAcesso}" >
                        <h:outputText value="#{row.dataUltimoAcesso}" >
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Primeiro Acesso" style="width: 15%; text-align: center;">
                        <h:outputText value="#{row.primeiroAcesso ? 'SIM' : 'NAO'}" />
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </div>
</div>
</html>