<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.label_e_mails}</div>
    </ui:define>

    <ui:define name="left_menu">
        <!-- MENU LATERAL -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />
        <ui:include src="../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li class="active">${bundleMsgs.label_e_mails}</li>


    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="form" prependId="false">
            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <div class="row">
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">#{bundleMsgs.label_caixa_saida}</h3>
                            <div class="box-tools">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="#{emailCaixaSaidaController.activePendentes}">
                                    <h:commandLink action="#{emailCaixaSaidaController.carregaPendentes}">
                                        <i class="fa fa-filter"></i>
                                        <h:outputText value="#{bundleMsgs.label_pendentes}" />
                                        <h:outputText class="label label-warning pull-right"
                                                      rendered="#{emailCaixaSaidaController.countEmailsPendentes > 0}"
                                                      value="#{emailCaixaSaidaController.countEmailsPendentes}" />
                                        <f:setPropertyActionListener value="#{false}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                    </h:commandLink>
                                </li>

                                <li class="#{emailCaixaSaidaController.activeAguardandoEnvio}">
                                    <h:commandLink action="#{emailCaixaSaidaController.carregaLazyAguardandoEnvio}">
                                        <i class="fa fa-stack-overflow"></i>
                                        <h:outputText value="#{bundleMsgs.label_aguardando_envio}" />
                                        <h:outputText class="label label-primary pull-right"
                                                      rendered="#{emailCaixaSaidaController.countEmailsAguardandoEnvio > 0}"
                                                      value="#{emailCaixaSaidaController.countEmailsAguardandoEnvio}" />
                                        <f:setPropertyActionListener value="#{false}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                    </h:commandLink>
                                </li>

                                <li class="#{emailCaixaSaidaController.activeEnviados}">
                                    <h:commandLink action="#{emailCaixaSaidaController.carregaLazyEnviados}">
                                        <i class="fa fa-envelope-o"></i>
                                        <h:outputText value="#{bundleMsgs.label_enviados}" />
                                        <f:setPropertyActionListener value="#{false}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                    </h:commandLink>
                                </li>

                                <li class="#{emailCaixaSaidaController.activeLixeira}">
                                    <h:commandLink action="#{emailCaixaSaidaController.carregaLazyRejeitados}">
                                        <i class="fa fa-trash-o"></i>
                                        <h:outputText value="#{bundleMsgs.label_lixeira}" />
                                        <f:setPropertyActionListener value="#{false}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="box">
                        <div class="box-header with-border">
                            <h:outputText value="#{bundleMsgs.label_pendentes_aprovacao}" rendered="#{emailCaixaSaidaController.activePendentes eq 'active'}" />
                            <h:outputText value="#{bundleMsgs.label_aguardando_envio}" rendered="#{emailCaixaSaidaController.activeAguardandoEnvio eq 'active'}" />
                            <h:outputText value="#{bundleMsgs.label_enviados}" rendered="#{emailCaixaSaidaController.activeEnviados eq 'active'}" />
                            <h:outputText value="#{bundleMsgs.label_lixeira}" rendered="#{emailCaixaSaidaController.activeLixeira eq 'active'}" />
                        </div>

                        <div class="box-body no-padding">

                            <h:panelGroup rendered="#{emailCaixaSaidaController.activePendentes eq 'active' and !emailCaixaSaidaController.isVisualizaEmail()}">
                                <div class="mailbox-controls">
                                    <h:commandLink class="btn btn-default btn-sm checkbox-toggle"
                                                   title="Atualizar" pt:data-loader="on"
                                                   pt:data-loader-message="Atualizando, Aguarde..."
                                                   action="#{emailCaixaSaidaController.atualizarCaixaSaida}">
                                        <i class="fa fa-refresh"></i>
                                    </h:commandLink>
                                    <p:spacer width="3" />

                                    <p:commandLink class="btn btn-danger btn-sm checkbox-toggle"
                                                   process="@form" update="@form" title="Enviar para lixeira"
                                                   action="#{emailCaixaSaidaController.enviarParaLixeira}"
                                                   oncomplete="$('.alert').delay(3000).addClass('in').fadeOut(800);">
                                        <i class="fa fa-trash-o"></i>
                                    </p:commandLink>
                                    <p:spacer width="3" />

                                    <p:commandLink class="btn btn-success btn-sm checkbox-toggle"
                                                   title="Aprovar envio" process="@form" update="@form"
                                                   action="#{emailCaixaSaidaController.aprovarEnvio}"
                                                   oncomplete="$('.alert').delay(3000).addClass('in').fadeOut(800);">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </p:commandLink>
                                </div>

                                <div class="table-responsive mailbox-messages">
                                    <p:dataTable id="pendentesTable" value="#{emailCaixaSaidaController.pendentes}" var="row"
                                                 selection="#{emailCaixaSaidaController.selectedEmails}" rowKey="#{row.id}" style="margin-bottom:0"
                                                 emptyMessage="#{bundleMsgs.empty_results}"
                                                 rows="25" paginator="true" paginatorPosition="bottom"
                                                 paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="25,50,100">

                                        <p:column selectionMode="multiple" style="width:9%;text-align:center"/>

                                        <p:column headerText="#{bundleMsgs.label_assunto}" style="width: 21%;">
                                            <h:commandLink value="#{row.assunto}" >
                                                <f:setPropertyActionListener value="#{row}" target="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado}" />
                                                <f:setPropertyActionListener value="#{true}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                            </h:commandLink>
                                        </p:column>

                                        <p:column headerText="#{bundleMsgs.label_destinatarios}" style="text-align:left; width: 50%;">
                                            <h:commandLink value="#{row.destinatarios}">
                                                <f:setPropertyActionListener value="#{row}" target="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado}" />
                                                <f:setPropertyActionListener value="#{true}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                            </h:commandLink>
                                        </p:column>

                                        <p:column headerText="Data" style="text-align: center; width: 20%">
                                            <h:outputText value="#{row.dataCadastro}" >
                                                <f:convertDateTime pattern="EEE, dd MMM" locale="pt" />
                                            </h:outputText>
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{emailCaixaSaidaController.activePendentes ne 'active' and !emailCaixaSaidaController.isVisualizaEmail()}">
                                <div class="mailbox-controls">
                                    <h:commandLink class="btn btn-default btn-sm checkbox-toggle"
                                                   pt:data-loader="on" title="Atualizar"
                                                   pt:data-loader-message="Atualizando, Aguarde..."
                                                   action="#{emailCaixaSaidaController.atualizarCaixaSaida}">
                                        <i class="fa fa-refresh"></i>
                                    </h:commandLink>
                                </div>
                                <div class="table-responsive mailbox-messages">
                                    <p:dataTable value="#{emailCaixaSaidaController.emails}" var="row"
                                                 emptyMessage="#{bundleMsgs.empty_results}" style="margin-bottom:0"
                                                 rows="25" paginator="true" paginatorPosition="bottom"
                                                 paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="25,50,100" lazy="true">

                                        <p:column headerText="#{bundleMsgs.label_assunto}" style="width: 21%;">
                                            <h:commandLink value="#{row.assunto}" >
                                                <f:setPropertyActionListener value="#{row}" target="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado}" />
                                                <f:setPropertyActionListener value="#{true}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                            </h:commandLink>
                                        </p:column>

                                        <p:column headerText="#{bundleMsgs.label_destinatarios}" style="width: 50%;">
                                            <h:commandLink value="#{row.destinatarios}" >
                                                <f:setPropertyActionListener value="#{row}" target="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado}" />
                                                <f:setPropertyActionListener value="#{true}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                            </h:commandLink>
                                        </p:column>

                                        <p:column headerText="Data" style="text-align: center; width: 20%">
                                            <h:outputText value="#{row.dataAlteracao}" rendered="#{row.flagStatus eq 'A' and row.dataProcessamento eq null}">
                                                <f:convertDateTime pattern="EEE, dd MMM HH:mm" locale="pt" />
                                            </h:outputText>

                                            <h:outputText value="#{row.dataProcessamento}" rendered="#{row.flagStatus eq 'A' and row.dataProcessamento ne null}">
                                                <f:convertDateTime pattern="EEE, dd MMM HH:mm" locale="pt" />
                                            </h:outputText>

                                            <h:outputText value="#{row.dataAlteracao}" rendered="#{row.flagStatus eq 'R'}">
                                                <f:convertDateTime pattern="EEE, dd MMM HH:mm" locale="pt" />
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{emailCaixaSaidaController.activePendentes eq 'active' and emailCaixaSaidaController.isVisualizaEmail()}">
                                <div class="mailbox-read-info">
                                    <h3>#{emailCaixaSaidaController.emailCaixaSaidaSelecionado.assunto}</h3>
                                    <h5>Para: #{emailCaixaSaidaController.emailCaixaSaidaSelecionado.destinatarios}
                                        <span class="mailbox-read-time pull-right">
                                            <h:outputText value="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado.dataCadastro}" >
                                                <f:convertDateTime pattern="EEE, dd MMM HH:mm" locale="pt" />
                                            </h:outputText>
                                        </span>
                                    </h5>
                                </div>
                                <div class="mailbox-controls with-border text-center">
                                    <h:commandLink class="btn btn-default btn-sm" title="Voltar">
                                        <i class="fa fa-reply"></i>
                                        <f:setPropertyActionListener value="#{false}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                    </h:commandLink>
                                </div>
                                <div class="mailbox-read-message">
                                    <p:editor value="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado.corpoEmail}" height="350"/>
                                </div>
                                <div class="box-footer">
                                   <h:commandLink class="btn btn-primary" action="#{emailCaixaSaidaController.updateCorpoEmail}">
                                       <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                       #{bundleMsgs.bt_salvar}
                                   </h:commandLink>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup id="visualizarGroup" rendered="#{emailCaixaSaidaController.activePendentes ne 'active' and emailCaixaSaidaController.isVisualizaEmail()}">
                                <div class="mailbox-read-info">
                                    <h3>#{emailCaixaSaidaController.emailCaixaSaidaSelecionado.assunto}</h3>
                                    <h5>Para: #{emailCaixaSaidaController.emailCaixaSaidaSelecionado.destinatarios}
                                        <span class="mailbox-read-time pull-right">
                                            <h:outputText value="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado.dataCadastro}" >
                                                <f:convertDateTime pattern="EEE, dd MMM HH:mm" locale="pt" />
                                            </h:outputText>
                                        </span>
                                    </h5>
                                </div>
                                <div class="mailbox-controls with-border text-center">
                                    <h:commandLink class="btn btn-default btn-sm" title="Voltar">
                                        <i class="fa fa-reply"></i>
                                        <f:setPropertyActionListener value="#{false}" target="#{emailCaixaSaidaController.visualizaEmail}" />
                                    </h:commandLink>
                                    <h:commandLink class="btn btn-default btn-sm" title="Imprimir">
                                        <i class="fa fa-print"></i>
                                        <p:printer target="visualizarGroup" />
                                    </h:commandLink>
                                </div>
                                <div class="mailbox-read-message">
                                    <p:editor disabled="true" value="#{emailCaixaSaidaController.emailCaixaSaidaSelecionado.corpoEmail}"
                                                     class="form-control" style="min-height: 450px !important;" height="350" />
                                </div>
                                <div class="box-footer">

                                </div>
                            </h:panelGroup>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
</html>