<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:jsf="http://xmlns.jcp.org/jsf"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<title>${bundleMsgs.titulo}</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/icons/icon.PNG" />
	<h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
	<h:outputStylesheet name="login/login-style.css" library="css"/>
</h:head>

<h:body>
	<div class="container">
		<h:form id="loginForm" class="login-form" prependId="false">
			<div align="right">
				<p:commandButton icon="ui-icon-wrench" title="#{bundleMsgs.label_configuracoes}"
								 style="background: #118492 !important; border: 1px solid #118492 !important;"
								 action="/manutencao/manutencao-template.xhtml?faces-redirect=true"
								 immediate="true"/>
			</div>

			<div class="row centered">
				<h:messages id="messages" showDetail="false"
							infoClass="alert alert-success"
							errorClass="alert alert-danger"
							warnClass="alert alert-warning"/>
			</div>

			<div class="header">
				<h1>Bem-vindo ao STPRO</h1>
				<span>Por favor, preencha este formulário</span>
			</div>

			<div class="content">
				<input name="username" type="text" class="input username"
					   jsf:value="#{loginController.login}"
					   jsf:required="true" jsf:requiredMessage="Login: preenchimento obrigatório"
					   jsf:valueChangeListener="#{loginController.loginChanged}"
					   placeholder="${bundleMsgs.label_cpf}  [${bundleMsgs.label_somente_numeros}]" >
					<p:ajax event="change" process="@this" update="@parent" />
				</input>
				<div class="user-icon"></div>
				<br/>

				<h:panelGroup rendered="#{loginController.pessoaCadastradaEmMaisDeUmaEmpresa}">
					<div class="form-group">
						<h:selectOneMenu class="form-control input-lg" value="#{loginController.empresaSelecionada}">
							<f:selectItems var="e"  value="#{loginController.empresas}"
										   itemValue="#{e.id}" itemLabel="#{e.descricao}" />
							<f:ajax event="change" listener="#{loginController.atualizaEmpresa}" />
						</h:selectOneMenu>
					</div>
				</h:panelGroup>

				<h:panelGroup rendered="#{loginController.pessoaCadastradaEmMaisDeUmPerfil}">
					<div class="form-group">
						<h:selectOneMenu class="form-control input-lg"
										 value="#{loginController.perfilSelecionado}" converter="entityConverter">
							<f:selectItems var="p"  value="#{loginController.perfis}"
										   itemValue="#{p}" itemLabel="#{p.descricao}" />
							<f:ajax event="change" listener="#{loginController.atualizaPerfil}" />
						</h:selectOneMenu>
					</div>
				</h:panelGroup>

				<input name="password" type="password" class="input password"
					   jsf:value="#{loginController.senha}"
					   jsf:required="true" jsf:requiredMessage="Senha: preenchimento obrigatório"
					   placeholder="${bundleMsgs.label_senha}  **********************" />
				<div class="pass-icon"></div>
			</div>

			<div class="footer">
				<h:commandButton id="btnLogin" action="#{loginController.acessarSistema()}"
								 pt:data-loader="on" pt:data-loader-message="Aguarde..."
								 value="${bundleMsgs.label_entrar}"
								 styleClass="button">
				</h:commandButton>
				<p:defaultCommand target="btnLogin" scope="loginForm"/>

				<h:commandLink action="#{loginController.goToRecuperarSenha}"
							   value="${bundleMsgs.label_esqueceu_senha}" immediate="true"/>
				<h:commandLink action="#{loginController.goToAlterarSenha}" styleClass="loginLink"
							   value="${bundleMsgs.label_alterar_senha}" immediate="true"  />
			</div>

		</h:form>
	</div>

	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		<p:graphicImage name="images/icons/loader.gif" />
		Aguarde...
	</p:dialog>

</h:body>
</html>