<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${bundleMsgs.titulo}</title>
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/icons/icon.PNG" />
    <h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="login/signin.#{bundleMsgs.buildNumber}.min.css" library="css"/>
</h:head>

<h:body>
    <h:form prependId="false">
        <div class="row centered">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4">
                <h:messages id="messages" showDetail="false"
                            infoClass="alert alert-success"
                            errorClass="alert alert-danger"
                            warnClass="alert alert-warning"/>
            </div>
            <div class="col-sm-4 col-md-4"></div>
        </div>
    </h:form>

    <div class="container">
        <h:form id="primeiroAcessoForm" class="form-signin" prependId="false">
            <h2 class="form-signin-heading">#{bundleMsgs.label_alterar_senha}</h2>

            <div class="form-group">
                <p:password id="feedback" styleClass="form-control"
                            required="true" requiredMessage="Nova senha: preenchimento obrigatório"
                            pt:placeholder="${bundleMsgs.label_nova_senha}"
                            value="#{primeiroAcessoController.novaSenha}" feedback="true"
                            promptLabel="#{bundleMsgs.senha_promptLabel}" weakLabel="#{bundleMsgs.senha_weakLabel}"
                            goodLabel="#{bundleMsgs.senha_goodLabel}" strongLabel="#{bundleMsgs.senha_strongLabel}"/>
            </div>

            <div class="form-group">
                <p:password pt:placeholder="${bundleMsgs.label_repita_senha}"
                            required="true" requiredMessage="Confencia de senha: preenchimento obrigatório"
                            value="#{primeiroAcessoController.confirmacaoSenha}"
                            styleClass="form-control" />
            </div>

            <div class="form-group">
                <h:commandButton action="#{primeiroAcessoController.alterarSenha}"
                                 pt:data-loader="on" pt:data-loader-message="Aguarde..."
                                 value="${bundleMsgs.bt_confirmar}"
                                 styleClass="btn btn-primary btn-block">
                </h:commandButton>

                <h:commandButton
                        action="#{loginController.logout()}"
                        value="${bundleMsgs.bt_cancelar}" immediate="true"
                        styleClass="btn btn-default btn-block">
                </h:commandButton>
            </div>
        </h:form>
    </div>
</h:body>
</html>