<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${bundleMsgs.titulo}</title>
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/icons/icon.PNG" />
    <h:outputStylesheet name="bootstrap/css/bootstrap.#{bundleMsgs.buildNumber}.min.css" library="css"/>
    <h:outputStylesheet name="login/signin.#{bundleMsgs.buildNumber}.min.css" library="css"/>
</h:head>

<h:body>
    <h:form prependId="false">
        <div class="row centered">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4">
                <h:messages id="messages" showDetail="false"
                            infoClass="alert alert-success"
                            errorClass="alert alert-danger"
                            warnClass="alert alert-warning"/>
            </div>
            <div class="col-sm-4 col-md-4"></div>
        </div>
    </h:form>

    <div class="container">
        <h:form id="loginForm" class="form-signin" prependId="false">
            <h2 class="form-signin-heading">${bundleMsgs.label_esqueci_senha}</h2>
            <p>* Para recuperar sua senha, informe seu CPF e endereço de email cadastrado no sistema.</p>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="cpf-forgot" class="simple-label">CPF </label>
                    <h:inputText styleClass="form-control input-lg"
                                 value="#{loginController.cpf}" id="cpf-forgot"
                                 required="true" requiredMessage="Login: preenchimento obrigatório"
                                 pt:placeholder="${bundleMsgs.label_cpf} - [${bundleMsgs.label_somente_numeros}]" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="email-forgot" class="simple-label">Email </label>
                    <h:inputText value="#{loginController.email}"
                                 required="true" requiredMessage="Email: preenchimento obrigatório"
                                 pt:type="email" class="form-control" id="email-forgot"
                                 name="email-forgot" pt:placeholder="exemplo@email.com.br" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12">
                    <h:commandButton
                            action="#{loginController.recuperarSenha}"
                            pt:data-loader="on" pt:data-loader-message="Aguarde..."
                            value="${bundleMsgs.bt_confirmar}"
                            styleClass="btn btn-primary btn-block">
                    </h:commandButton>

                    <h:commandButton
                            action="/login/login"
                            pt:data-loader="off" immediate="true"
                            value="${bundleMsgs.bt_cancelar}"
                            styleClass="btn btn-default btn-block">
                    </h:commandButton>
                </div>
            </div>
        </h:form>
    </div>
</h:body>
</html>