<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">

<ui:composition template="../plain-template.xhtml">

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li class="active"><i class="fa fa-home"></i>${bundleMsgs.home}</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<ui:include src="../left-menu-template.xhtml" />
	</ui:define>

	<ui:define name="content">
		<h:form prependId="false">
			<div class="col-xs-12">
				<p:panel id="basic" header="Acesso Restrito" style="margin-bottom:20px">
					<h:panelGrid columns="3" cellpadding="10" cellspacing="10">
						<i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
						<p:spacer width="10"/>
						<h:outputText value="Entre em contato com administrador."/>
					</h:panelGrid>
				</p:panel>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>