<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../plain-manutencao-template.xhtml">
	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		<div class="page-title">Empresas</div>
	</ui:define>

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/manutencao/manutencao-template.xhtml">
			<i class="fa fa-home"></i> Manutenção
		</h:link></li>
		<li class="active">Empresa</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="form" prependId="false" enctype="multipart/form-data">

			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<h:panelGroup  rendered="#{!manutencaoEmpresaController.novaEmpresaSelected}">
				<div class="row">
					<section class="invoice">
						<div class="row">
							<div class="col-md-12">
								<h:commandLink value="#{bundleMsgs.bt_novo}"
											   action="#{manutencaoEmpresaController.goToCadastroNovaEmpresa}"
											   class="btn btn-success" pt:data-loader="off" immediate="true" />
							</div>
						</div>
					</section>
				</div>
			</h:panelGroup>

			<div class="row">
				<div class="box">
					<div class="box-header with-border">
						<div class="form-group">
							<h:panelGroup id="cadastroNovaEmpresa" rendered="#{manutencaoEmpresaController.novaEmpresaSelected}">
								<div class="col-sm-12 col-xs-12 form-group">
									<ui:include src="manutencao-empresa-novo.xhtml" />
								</div>
							</h:panelGroup>

							<h:panelGroup id="formList" rendered="#{!manutencaoEmpresaController.novaEmpresaSelected}">
								<!--Listagem *********************************-->
								<div class="col-sm-6 col-xs-12 form-group">
									<ui:include src="manutencao-empresa-list.xhtml" />
								</div>
								<!--Listagem .................................-->

								<!--Formulario *******************************-->
								<div class="col-sm-6 col-xs-12  form-group">
									<ui:include src="manutencao-empresa-form.xhtml" />
								</div>
								<!--Formulario ...............................-->
							</h:panelGroup>
						</div>
					</div>
				</div>
			</div>

			<!-- COMPONENTE POPUP -->
			<stpro:exclusion-popup controller="#{manutencaoEmpresaController}" />
		</h:form>
	</ui:define>
</ui:composition>
</html>