<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputText value="ATIVO"
							  rendered="#{manutencaoEmpresaController.editavel and manutencaoEmpresaController.ativo}"
							  class="label pull-right bg-green" />

				<h:outputText value="INATIVO"
							  rendered="#{manutencaoEmpresaController.editavel and not manutencaoEmpresaController.ativo}"
							  class="label pull-right bg-red-active" />
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Fantasia *"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.descricao}"
							 disabled="#{manutencaoEmpresaController.editavel == false}"
							 pt:placeholder="Descrição"
							 pt:autoFocus="true">
				</h:inputText>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Liberação" class="simple-label" />
				<p:password id="nonFeedback" value="#{manutencaoEmpresaController.liberacao}"
							disabled="#{manutencaoEmpresaController.editavel == false}"
							styleClass="form-control" placeholder="*** CHAVE ***"/>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Razão Social *"
							   for="edtRazaoSocial" class="simple-label" />

				<h:inputText id="edtRazaoSocial" class="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.razaoSocial}"
							 disabled="#{manutencaoEmpresaController.editavel == false}"
							 pt:placeholder="Razão Social"
							 pt:autoFocus="true">
				</h:inputText>
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="CNPJ *"
							   for="edtCnpj" class="simple-label" />

				<p:inputMask id="edtCnpj" styleClass="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.cnpj}"
							 disabled="#{manutencaoEmpresaController.editavel == false}"
							 mask="99.999.999/9999-99" onblur="ValidarCNPJ(this);"
							 pt:placeholder="${bundleMsgs.p_holder_cnpj}" />
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Endereço *" for="edtEndereco" class="simple-label" />

				<h:inputText id="edtEndereco" class="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.logradouro}"
							 disabled="#{manutencaoEmpresaController.editavel == false}"
							 pt:placeholder="Endereço"
							 pt:autoFocus="true">
				</h:inputText>
			</div>

			<div class="col-xs-4 form-group">
				<h:outputLabel value="Numero *" for="descNumero" class="simple-label" />
				<p:inputNumber id="descNumero" decimalPlaces="0" decimalSeparator="" thousandSeparator=""
							   value="#{manutencaoEmpresaController.objetoSelecionado.numero}"
							   disabled="#{manutencaoEmpresaController.editavel == false}"
							   pt:placeholder="${bundleMsgs.label_numero}" />
			</div>

			<div class="col-xs-8 form-group">
				<h:outputLabel value="Complemento" for="descComplemento" class="simple-label" />
				<h:inputText id="descComplemento" class="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.complemento}"
							 pt:placeholder="${bundleMsgs.label_complemento}"
							 disabled="#{manutencaoEmpresaController.editavel == false}" />
			</div>

			<div class="col-xs-4 form-group">
				<h:outputLabel value="Bairro" for="descBairro" class="simple-label" />
				<h:inputText id="descBairro" class="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.bairro}"
							 pt:placeholder="${bundleMsgs.label_bairro}"
							 disabled="#{manutencaoEmpresaController.editavel == false}" />
			</div>
			<div class="col-xs-6 form-group">
				<h:outputLabel value="Cidade *" for="descCidade" class="simple-label" />
				<h:inputText id="descCidade" class="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.cidade}"
							 pt:placeholder="${bundleMsgs.label_cidade}"
							 disabled="#{manutencaoEmpresaController.editavel == false}" />
			</div>
			<div class="col-xs-2 form-group">
				<h:outputLabel value="UF *" for="descUf" class="simple-label" />
				<h:inputText id="descUf" class="form-control"
							 value="#{manutencaoEmpresaController.objetoSelecionado.uf}"
							 pt:placeholder="UF"  style="text-transform:uppercase" maxlength="2"
							 disabled="#{manutencaoEmpresaController.editavel == false}" />
			</div>

			<div class="col-xs-12 form-group">
				<h:outputLabel value="Logo" class="simple-label" rendered="#{manutencaoEmpresaController.editavel}" />

				<div class="row margin-bottom">
					<div class="col-sm-4 col-md-4">
						<h:panelGroup rendered="#{manutencaoEmpresaController.editavel}">
							<div class="thumbnail">
								<h:graphicImage id="logoImage" alt="Logo"
												value="/image?idImagem=#{manutencaoEmpresaController.imagem.id}&amp;nome=#{manutencaoEmpresaController.imagem.nomeArquivo}" >
								</h:graphicImage>
							</div>
						</h:panelGroup>
					</div>

					<div class="col-sm-8 col-md-8">
						<h:inputFile id="arquivo" class="btn btn-default" style="width: 100%;"
									 rendered="#{manutencaoEmpresaController.editavel}"
									 value="#{manutencaoEmpresaController.arquivo}" label="Arquivo"
									 validator="#{importadorValidator.valida}">
							<f:ajax execute="@this logoImage" render="@form" listener="#{manutencaoEmpresaController.importar}" />
						</h:inputFile>
					</div>
				</div>
			</div>

		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{manutencaoEmpresaController.cancelar()}"
								 disabled="#{manutencaoEmpresaController.editavel == false}" />

				<!--Salvar-->
				<h:commandButton id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{manutencaoEmpresaController.salvar()}"
								 disabled="#{manutencaoEmpresaController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

</html>