<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">


<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">Empresas</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->


<!--Listagem ********************************-->
<div class="box">
    <div class="box-body">
        <div class="table-responsive form-group">

            <p:dataTable var="row" value="#{manutencaoEmpresaController.empresas}"
                         rows="10" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                <p:column headerText="${bundleMsgs.label_descricao}" sortBy="#{row.descricao}" >
                    <h:outputText value="#{row.descricao}" />
                </p:column>

                <p:column style="width: 20%; text-align: center;">
                    <h:commandLink id="btnEditar"  style="color: #fff !important;"
                                   class="btn btn-warning btn-sm"
                                   action="#{manutencaoEmpresaController.editar(row)}"
                                   title="${bundleMsgs.bt_editar}">
                        <span class="fa fa-pencil"></span>
                    </h:commandLink>
                </p:column>
            </p:dataTable>
        </div>
    </div>
</div>
</html>