<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-6 form-group">
        <h:outputLabel value="${bundleMsgs.label_matriz} ?*"
                       for="edtMatrizFilial" />

        <p:selectOneRadio id="edtMatrizFilial"
                          value="#{manutencaoEmpresaController.empresaMatriz}"
                          class="form-control"
                          valueChangeListener="#{manutencaoEmpresaController.empresaMatrizChanged}">
            <f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
            <f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
            <p:ajax event="change" process="@this" update="empresasGroup" oncomplete="setConfirmUnload(true)" />
        </p:selectOneRadio>
    </div>

    <h:panelGroup id="empresasGroup">
        <div class="col-md-3 col-xs-12 form-group">
            <h:outputLabel value="#{bundleMsgs.label_selecione_matriz} *"
                           class="simple-label"
                           rendered="#{!manutencaoEmpresaController.empresaMatriz}"/>
            <h:selectOneMenu id="edtEmpresaMatriz" value="#{manutencaoEmpresaController.objetoSelecionado.matriz}"
                             styleClass="form-control select2"
                             converter="entityConverter"
                             rendered="#{!manutencaoEmpresaController.empresaMatriz}">
                <f:selectItem itemLabel="" itemValue="#{null}"/>
                <f:selectItems var="e" value="#{manutencaoEmpresaController.empresas}"
                               itemLabel="#{e.descricao}" />
            </h:selectOneMenu>
        </div>
    </h:panelGroup>
</div>

<div class="row">
	<div class="col-md-4 col-xs-12 form-group">
		<h:outputLabel value="Fantasia *" for="edtFantasia" class="simple-label" />
		<h:inputText id="edtFantasia" class="form-control"
					 value="#{manutencaoEmpresaController.objetoSelecionado.descricao}"
					 pt:placeholder="Informe a Fantasia" pt:autoFocus="true">
		</h:inputText>
	</div>

	<div class="col-md-4 col-xs-12 form-group">
		<h:outputLabel value="Razão Social *" for="edtNovoRazaoSocial" class="simple-label" />
		<h:inputText id="edtNovoRazaoSocial" class="form-control"
					 value="#{manutencaoEmpresaController.objetoSelecionado.razaoSocial}"
					 pt:placeholder="Informe a Razão Social" pt:autoFocus="true">
		</h:inputText>
	</div>

	<div class="col-md-4 col-xs-12 form-group">
		<h:outputLabel value="CNPJ *" for="edtNovoCnpj" class="simple-label" />
		<p:inputMask id="edtNovoCnpj" styleClass="form-control"
					 value="#{manutencaoEmpresaController.objetoSelecionado.cnpj}"
					 mask="99.999.999/9999-99" onblur="ValidarCNPJ(this);"
					 pt:placeholder="${bundleMsgs.p_holder_cnpj}" />
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-xs-12 form-group">
		<h:outputLabel value="Endereço *" for="edtNovoEndereco" class="simple-label" />
		<h:inputText id="edtNovoEndereco" class="form-control"
					 value="#{manutencaoEmpresaController.objetoSelecionado.logradouro}"
					 pt:placeholder="Informe o Endereço" pt:autoFocus="true">
		</h:inputText>
	</div>

	<div class="col-md-1 col-xs-12 form-group">
		<h:outputLabel value="Numero *" for="descNovoNumero" class="simple-label" />
		<p:inputNumber id="descNovoNumero" decimalPlaces="0" decimalSeparator="" thousandSeparator=""
					   value="#{manutencaoEmpresaController.objetoSelecionado.numero}"
					   pt:placeholder="${bundleMsgs.label_numero}" />
	</div>

	<div class="col-md-3 col-xs-12 form-group">
		<h:outputLabel value="Complemento" for="descNovoComplemento" class="simple-label" />
		<h:inputText id="descNovoComplemento" class="form-control"
					 value="#{manutencaoEmpresaController.objetoSelecionado.complemento}"
					 pt:placeholder="Informe o ${bundleMsgs.label_complemento}"/>
	</div>

	<div class="col-md-4 col-xs-12 form-group">
		<h:outputLabel value="Bairro" for="descNovoBairro" class="simple-label" />
		<h:inputText id="descNovoBairro" class="form-control"
					 value="#{manutencaoEmpresaController.objetoSelecionado.bairro}"
					 pt:placeholder="Informe o ${bundleMsgs.label_bairro}" />
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-xs-12 form-group">
		<h:outputLabel value="Cidade *" for="descNovaCidade" class="simple-label" />
		<h:inputText id="descNovaCidade" class="form-control"
					 value="#{manutencaoEmpresaController.objetoSelecionado.cidade}"
					 pt:placeholder="Informe a ${bundleMsgs.label_cidade}"/>
	</div>

	<div class="col-md-1 col-xs-12 form-group">
		<h:outputLabel value="UF *" for="desNovacUf" class="simple-label" />
		<h:inputText id="desNovacUf" class="form-control"
					 style="text-transform:uppercase" maxlength="2"
					 value="#{manutencaoEmpresaController.objetoSelecionado.uf}"
					 pt:placeholder="UF" />
	</div>

	<div class="col-md-3 col-xs-12 form-group">
		<h:outputLabel value="Email (Configuração) *" for="desConfiguracaoEmail" class="simple-label" />
		<h:inputText id="desConfiguracaoEmail" class="form-control"
					 style="text-transform:lowerca" maxlength="75"
					 value="#{manutencaoEmpresaController.confEmail}"
					 pt:placeholder="Email" />
	</div>
</div>

<!--Titulo da Tela*******************************-->


<!--Dados da Pessoa..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">${bundleMsgs.label_pessoa}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-xs-6 form-group">
        <h:outputLabel value="${bundleMsgs.label_nome} *" for="edtNome"
                       class="simple-label" />

        <h:inputText id="edtNome" class="form-control"
                     value="#{manutencaoEmpresaController.pessoaFisica.pessoa.descricao}"
                     pt:placeholder="${bundleMsgs.p_holder_nome}" pt:autoFocus="true" >
        </h:inputText>
    </div>

    <div class="col-md-3 col-xs-6 form-group">
        <h:outputLabel id="edtCpfLabel" value="${bundleMsgs.label_cpf_required}" for="edtCpf"
                       class="simple-label" />

        <p:inputMask id="edtCpf"  class="form-control radio-group"
                     value="#{manutencaoEmpresaController.pessoaFisica.cpf}"
                     onchange="ValidarCPF(this);"
                     mask="999.999.999-99" pt:placeholder="${bundleMsgs.p_holder_cpf}">
        </p:inputMask>
    </div>

    <div class="col-md-3 col-xs-6 form-group">
        <h:outputLabel value="${bundleMsgs.label_sexo} *" for="edtSexo"/>

        <p:selectOneRadio id="edtSexo"
                          value="#{manutencaoEmpresaController.pessoaFisica.sexo}"
                          class="form-control radio-group">
            <f:selectItem itemValue="M"
                          itemLabel="${bundleMsgs.label_masculino}" />
            <f:selectItem itemValue="F"
                          itemLabel="${bundleMsgs.label_feminino}" />
        </p:selectOneRadio>
    </div>

</div>

<div class="row">

    <div class="col-md-3 col-xs-6 form-group">
        <h:outputLabel for="numeroOab"
                       value="${bundleMsgs.label_numero_oab} *" class="simple-label" />

        <h:inputText id="numeroOab" class="form-control"
                     pt:data-mask="integer"
                     value="#{manutencaoEmpresaController.pessoaFisica.nrOab}"
                     pt:placeholder="${bundleMsgs.p_holder_numero_oab}" >
        </h:inputText>
    </div>

    <div class="col-md-3 col-xs-6 form-group">
        <h:outputLabel value="${bundleMsgs.label_uf_oab} *"
                       class="simple-label" />

        <h:selectOneMenu
                value="#{manutencaoEmpresaController.pessoaFisica.ufOab}"
                styleClass="form-control select2"
                converter="entityConverter">
            <f:selectItem itemLabel="" itemValue="#{null}" />
            <f:selectItems var="uf" value="#{manutencaoEmpresaController.ufs}"
                           itemLabel="#{uf.sigla}" />
        </h:selectOneMenu>
    </div>

</div>

<!--Botoes ************************************-->
<div class="row">
	<div class="col-xs-12 form-group" align="right">
		<!--Cancelar-->
		<h:commandButton id="btnCancelarNovaEmpresa" value="#{bundleMsgs.bt_cancelar}"
						 class="btn btn-default" action="#{manutencaoEmpresaController.goToEmpresas()}" />

		<!--Salvar-->
		<h:commandButton id="btnSalvarNovaEmpresa" value="#{bundleMsgs.bt_salvar}"
						 class="btn btn-primary" pt:data-loader="on"
						 pt:data-loader-message="Salvando, Aguarde..."
						 action="#{manutencaoEmpresaController.salvarNovoEmpresa()}">
		</h:commandButton>
	</div>
</div>
<!--Botoes ...................................-->

</html>