<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<ui:decorate template="../../plain-template.xhtml">

    <!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        <div class="page-title">${bundleMsgs.processos}</div>
    </ui:define>

    <ui:define name="small-title">
        <h:outputText value="#{cadastroProcessoController.processo.id eq null ? bundleMsgs.label_cadastrando : bundleMsgs.label_editando}" />
    </ui:define>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="active" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />

        <!-- MENU LATERAL -->
        <ui:include src="../../left-menu-template.xhtml" />
    </ui:define>

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li><h:link outcome="/pages/processos/processo-list.xhtml">
            ${bundleMsgs.proc_consulta}
        </h:link></li>
        <li class="active">${bundleMsgs.label_cadastro}</li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="content">
        <h:form id="processoForm" prependId="false" enctype="multipart/form-data">
            <!-- Mensagens ******************************** -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <ui:include src="../../_mensagens.xhtml" />
                </div>
            </div>
            <!-- Mensagens ................................ -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box	">
                        <div class="row bs-wizard" style="border-bottom:0;">
                            <div class="col-xs-2 bs-wizard-step
                                #{cadastroProcessoController.processo.id eq null ? cadastroProcessoController.processoStepSelecionado.wizardParte : 'complete'}">
                                <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_partes}</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <h:commandLink action="#{cadastroProcessoController.stepSelect('STEP_PARTES')}" class="bs-wizard-dot" />
                            </div>

                            <div class="col-xs-2 bs-wizard-step
                                #{cadastroProcessoController.processo.id eq null ? cadastroProcessoController.processoStepSelecionado.wizardDadosProcesso : 'complete'}"><!-- complete -->
                                <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_dados_processo}</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <h:commandLink action="#{cadastroProcessoController.stepSelect('STEP_DADOS_PROCESSO')}" class="bs-wizard-dot" />
                            </div>

                            <div class="col-xs-2 bs-wizard-step
                                #{cadastroProcessoController.processo.id eq null ? cadastroProcessoController.processoStepSelecionado.wizardResumoAcao : 'complete'}"><!-- active -->
                                <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_resumo_acao}</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <h:commandLink action="#{cadastroProcessoController.stepSelect('STEP_RESUMO_ACAO')}" class="bs-wizard-dot" />
                            </div>

                            <div class="col-xs-2 bs-wizard-step
                                #{cadastroProcessoController.processo.id eq null ? cadastroProcessoController.processoStepSelecionado.wizardValores : 'complete'}">
                                <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_valores}</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <h:commandLink action="#{cadastroProcessoController.stepSelect('STEP_VALORES')}" class="bs-wizard-dot" />
                            </div>

                            <h:panelGroup rendered="#{cadastroProcessoController.hasAccessAbaHonorarios}">
                                <div class="col-xs-2 bs-wizard-step
                                    #{cadastroProcessoController.processo.id eq null ? cadastroProcessoController.processoStepSelecionado.wizardHonorarios : 'complete'}">
                                    <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_honorarios}</div>
                                    <div class="progress"><div class="progress-bar"></div></div>
                                    <h:commandLink action="#{cadastroProcessoController.stepSelect('STEP_HONORARIOS')}" class="bs-wizard-dot" />
                                </div>
                            </h:panelGroup>

                            <div class="col-xs-2 bs-wizard-step
                                #{cadastroProcessoController.processo.id eq null ? cadastroProcessoController.processoStepSelecionado.wizardConfirmacao : 'complete'}">
                                <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_confirmacao}</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <h:commandLink action="#{cadastroProcessoController.stepSelect('STEP_CONFIRMACAO')}" class="bs-wizard-dot" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box	">
                        <div class="box-body">
                            <div class="form-group">
                                <h:panelGroup rendered="#{cadastroProcessoController.stepClick eq 'STEP_PARTES'}">
                                    <ui:include src="./tabs/tab-partes.xhtml" />
                                </h:panelGroup>

                                <h:panelGroup rendered="#{cadastroProcessoController.stepClick eq 'STEP_DADOS_PROCESSO'}">
                                    <ui:include src="./tabs/tab-dados-processo.xhtml" />
                                </h:panelGroup>

                                <h:panelGroup rendered="#{cadastroProcessoController.stepClick eq 'STEP_RESUMO_ACAO'}">
                                    <ui:include src="./tabs/tab-resumo-acao.xhtml" />
                                </h:panelGroup>

                                <h:panelGroup rendered="#{cadastroProcessoController.stepClick eq 'STEP_VALORES'}">
                                    <ui:include src="./tabs/tab-valores-acao.xhtml" />
                                </h:panelGroup>

                                <h:panelGroup rendered="#{cadastroProcessoController.stepClick eq 'STEP_HONORARIOS' and detalheProcessoController.hasAccessAbaHonorarios}">
                                    <ui:include src="./tabs/tab-honorarios.xhtml" />
                                </h:panelGroup>

                                <h:panelGroup rendered="#{cadastroProcessoController.stepClick eq 'STEP_CONFIRMACAO'}">
                                    <ui:include src="./tabs/tab-confirmacao.xhtml" />
                                </h:panelGroup>
                            </div>

                            <div class="row">
                                <p class="col-md-12 col-xs-12">
                                    <i>#{bundleMsgs['commons.form.required.message']}</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group" align="right">
                    <!--Cancelar-->
                    <h:commandButton id="btnCancelarAbas" value="#{bundleMsgs.bt_cancelar}"
                                     class="btn btn-default"
                                     action="#{cadastroProcessoController.cancelarProcesso()}"
                                     pt:data-loader="off" immediate="true">
                    </h:commandButton>
                    <span/>

                    <h:commandLink rendered="#{cadastroProcessoController.stepClick ne 'STEP_CONFIRMACAO'}"
                                   value="#{bundleMsgs.bt_proximo}" pt:data-loader="off"
                                   class="btn bg-purple" action="#{cadastroProcessoController.stepNext(cadastroProcessoController.hasAccessAbaHonorarios)}"/>
                </div>
            </div>

            <h:panelGroup>
                <ui:include src="../popups/meio-tramitacao-popup.xhtml" />
                <ui:include src="../popups/fase-processo-popup.xhtml" />
                <ui:include src="../popups/classe-processual-popup.xhtml" />
                <ui:include src="../popups/natureza-acao-popup.xhtml" />
                <ui:include src="../popups/forum-popup.xhtml" />
                <ui:include src="../popups/vara-popup.xhtml" />
                <ui:include src="../popups/comarca-popup.xhtml" />
                <ui:include src="../popups/pedido-popup.xhtml" />
                <ui:include src="../popups/causa-pedido-popup.xhtml" />
                <ui:include src="../popups/grau-risco-popup.xhtml" />
            </h:panelGroup>

        </h:form>

        <h:panelGroup>
            <ui:include src="../popups/grupo-advogado-popup.xhtml" />
        </h:panelGroup>
    </ui:define>

    <ui:define name="css-head" >
        <h:outputStylesheet name="steps.#{bundleMsgs.buildNumber}.min.css" library="steps"/>
    </ui:define>
</ui:decorate>

</html>