<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<f:metadata>
    <f:event type="preRenderView" listener="#{listagemProcessoController.initialize}"/>
</f:metadata>

<ui:composition template="processo-template.xhtml">

    <!-- BREADCRUMB -->
    <ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li class="active">${bundleMsgs.proc_consulta}</li>
    </ui:define>
    <!-- FIM DO BREADCRUMB -->

    <ui:define name="processoListForm">
        <section class="invoice">
            <div class="row">
                <div class="col-md-6">
                    <h:commandLink value="#{bundleMsgs.bt_novo}" rendered="#{listagemProcessoController.permiteInclusao}"
                                   action="#{cadastroProcessoController.goToCadastroProcessos()}"
                                   class="btn btn-success" pt:data-loader="off" immediate="true" />
                </div>

                <div class="col-md-5 col-xs-12" align="right">
                    <div class="input-group">
                        <p:remoteCommand name="listFromSimpleSearch" update="dataTable" actionListener="#{listagemProcessoController.listFromSimpleSearch}"/>
                        <p:inputText value="#{listagemProcessoController.filter.buscaRapida}"
                                     pt:autoFocus="true"
                                     pt:placeholder="${bundleMsgs.p_holder_buscar}"
                                     id="simpleSearchInput"
                                     onkeypress="if (event.keyCode == 13) { listFromSimpleSearch(); return false; }"
                                     title="#{simpleSearchPlaceholder}">
                            <f:ajax event="change" listener="#{listagemProcessoController.listFromSimpleSearch}" />
                        </p:inputText>

                        <span class="input-group-addon">
                            <h:commandLink id="btnSimpleFilter"
                                             pt:data-loader="on"
                                             pt:data-loader-message="Pesquisando, Aguarde..."
                                             action="#{listagemProcessoController.listFromSimpleSearch}">
                                <i class="fa fa-search"></i>
                            </h:commandLink>
                            <p:defaultCommand target="btnSimpleFilter" />
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <p:spacer/>

        <div class="row">
            <div class="col-md-12">
                <p:accordionPanel multiple="true" activeIndex="-1">
                    <p:tab title="${bundleMsgs.label_filtros}">
                        <div class="panel-body">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12 form-group">
                                        <label>${bundleMsgs.label_pessoa}</label>

                                        <h:selectOneMenu class="form-control"
                                                         value="#{listagemProcessoController.filter.pessoa}"
                                                         converter="entityConverter" pt:autoFocus="true"
                                                         disabled="#{!listagemProcessoController.hasAccessPesquisarTodos}">
                                            <f:selectItem itemLabel="${bundleMsgs.label_todos}" itemValue="#{null}" />
                                            <f:selectItems var="pessoa" itemLabel="#{pessoa.pessoa.descricao}"
                                                           itemValue="#{pessoa.pessoa}"
                                                           value="#{listagemProcessoController.advogadosColaboradoresEscritorioList}" />
                                        </h:selectOneMenu>

                                    </div>
                                    <div class="col-md-2 col-xs-12 form-group">
                                        <label>${bundleMsgs.label_exibir}</label>

                                        <h:selectOneMenu value="#{listagemProcessoController.filter.status}"
                                                         styleClass="form-control select2" pt:autoFocus="true">
                                            <f:selectItem itemLabel="${bundleMsgs.label_ver_todos}"
                                                          itemValue="#{null}" />
                                            <f:selectItem itemLabel="${bundleMsgs.label_ver_ativos}"
                                                          itemValue="ATIVO" />
                                            <f:selectItem itemLabel="${bundleMsgs.label_ver_suspensos}"
                                                          itemValue="SUSPENSO" />
                                            <f:selectItem itemLabel="${bundleMsgs.label_ver_finalizados}"
                                                          itemValue="FINALIZADO" />

                                        </h:selectOneMenu>
                                    </div>

                                    <div class="col-md-3 col-xs-12 form-group">
                                        <h:outputLabel value="#{bundleMsgs.label_processo}"
                                                       class="simple-label" pt:autoFocus="true" />

                                        <h:inputText class="form-control"
                                                     value="#{listagemProcessoController.filter.processo}" />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-xs-12 form-group">
                                        <h:outputLabel value="#{bundleMsgs.label_cliente}" class="simple-label" />

                                        <h:inputText class="form-control" pt:autoFocus="true"
                                                     value="#{listagemProcessoController.filter.cliente}" />
                                    </div>

                                    <div class="col-md-5 col-xs-12 form-group">
                                        <h:outputLabel value="#{bundleMsgs.label_adverso}"
                                                       class="simple-label" />

                                        <h:inputText class="form-control" pt:autoFocus="true"
                                                     value="#{listagemProcessoController.filter.adverso}" />

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-xs-12 form-group" align="right">
                                        <h:commandButton id="btnPesquisar"
                                                         value="#{bundleMsgs.bt_pesquisar}" class="btn btn-primary btn-flat"
                                                         pt:data-loader="on"
                                                         pt:data-loader-message="Pesquisando, Aguarde..."
                                                         action="#{listagemProcessoController.listFromSimpleSearch}">
                                        </h:commandButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:tab>
                </p:accordionPanel>
            </div>
        </div>

        <p:spacer height="10"/>

        <!-- DATA TABLE -->
        <h:panelGroup id="tableProcessos" rendered="#{not empty listagemProcessoController.processos}">
            <div class="col-md-12 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive form-group">
                            <p:dataTable id="dataTable" var="row" rowKey="#{row.id}" value="#{listagemProcessoController.processos}"
                                         rows="10" paginator="true" paginatorPosition="bottom"
                                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,50" >

                                <p:column headerText="${bundleMsgs.label_data_abertura}" sortBy="#{row.dataAbertura}"
                                          style="width: 15%; text-align: center;">
                                    <p:commandLink action="#{detalheProcessoController.goToDetalhes}"
                                                   rendered="#{listagemProcessoController.hasAccessDetalhes}">

                                        <h:outputText value="#{row.dataAbertura}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>

                                        <f:setPropertyActionListener
                                                target="#{detalheProcessoController.processoSelecionado}"
                                                value="#{row}" />
                                    </p:commandLink>
                                    <h:outputText value="#{row.dataAbertura}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_processo}" sortBy="#{row.processo}">
                                    <p:commandLink value="#{row.processo}"  action="#{detalheProcessoController.goToDetalhes}"
                                                   rendered="#{listagemProcessoController.hasAccessDetalhes}">
                                        <f:setPropertyActionListener
                                                target="#{detalheProcessoController.processoSelecionado}"
                                                value="#{row}" />
                                    </p:commandLink>
                                    <h:outputText value="#{row.processo}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_cliente}" sortBy="#{row.descricaoCliente}">
                                    <p:commandLink value="#{row.descricaoCliente}"  action="#{detalheProcessoController.goToDetalhes}"
                                                   rendered="#{listagemProcessoController.hasAccessDetalhes}">
                                        <f:setPropertyActionListener
                                                target="#{detalheProcessoController.processoSelecionado}"
                                                value="#{row}" />
                                    </p:commandLink>
                                    <h:outputText value="#{row.descricaoCliente}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_adverso}" sortBy="#{row.descricaoAdverso}">
                                    <p:commandLink value="#{row.descricaoAdverso}"  action="#{detalheProcessoController.goToDetalhes}"
                                                   rendered="#{listagemProcessoController.hasAccessDetalhes}">
                                        <f:setPropertyActionListener
                                                target="#{detalheProcessoController.processoSelecionado}"
                                                value="#{row}" />
                                    </p:commandLink>
                                    <h:outputText value="#{row.descricaoAdverso}" rendered="#{!listagemProcessoController.hasAccessDetalhes}" />
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_status}" sortBy="#{row.status}"
                                          styleClass="tableColumn" style="width: 14%; text-align: center;">
                                    <h:panelGroup rendered="#{row.ativo}">
                                        <span class="label label-sm label-success">#{row.status}</span>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{row.suspenso}">
                                        <span class="label label-sm label-warning">#{row.status}</span>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{row.finalizado}">
                                        <span class="label label-sm label-danger">#{row.status}</span>
                                    </h:panelGroup>
                                </p:column>

                                <p:column headerText="${bundleMsgs.label_opcoes}" style="width: 12%; text-align: center;"
                                          styleClass="tableColumn">

                                    <h:commandLink id="btnEditar" rendered="#{listagemProcessoController.permiteAlteracao}"
                                                   class="btn btn-warning btn-sm"
                                                   style="color: #fff !important;"
                                                   action="#{cadastroProcessoController.goToEditar}"
                                                   title="${bundleMsgs.bt_editar}">
                                        <span class="fa fa-pencil"></span>
                                        <f:setPropertyActionListener
                                                target="#{cadastroProcessoController.processoEditId}" value="#{row.id}" />
                                    </h:commandLink>

                                    <p:spacer width="3"/>

                                    <h:commandLink id="btnDetalhes" rendered="#{listagemProcessoController.hasAccessDetalhes}"
                                                   class="btn btn-info btn-sm"
                                                   style="color: #fff !important;"
                                                   action="#{detalheProcessoController.goToDetalhes()}"
                                                   title="${bundleMsgs.bt_detalhes}">
                                        <span class="fa fa-file-text-o"></span>
                                        <f:setPropertyActionListener
                                                target="#{detalheProcessoController.processoSelecionado}"
                                                value="#{row}" />
                                    </h:commandLink>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:panelGroup>
    </ui:define>
</ui:composition>
</html>