<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="../../plain-template.xhtml">

	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		${bundleMsgs.processos}
	</ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="active" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../../left-menu-template.xhtml" />
	</ui:define>

	<ui:define name="content">
		<h:form id="processoForm" prependId="false">
			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->


			<div class="row">
				<ui:insert name="processoListForm" />
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>