<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="../../detalhe-template.xhtml">

    <h:panelGroup id="googleapis">
        <ui:define name="script-body">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZaYvk6jn3h3zbnNusIRARv9ReM-6YoYU&amp;libraries=places&amp;language=ru-RU&amp;callback=initAutocomplete" />
        </ui:define>
    </h:panelGroup>

    <ui:define name="left_menu">
        <!-- ACTIVE MENU -->
        <ui:param name="active_home" value="" />
        <ui:param name="active_processos" value="active" />
        <ui:param name="active_agenda" value="" />
        <ui:param name="active_cadastros" value="" />
        <ui:param name="active_contratos" value="" />
        <ui:param name="active_controladoria" value="" />
        <ui:param name="active_clientes" value="" />
        <ui:param name="active_financeiro" value="" />
        <ui:param name="active_relatorios" value="" />
        <ui:param name="active_atendimento" value="" />
        <ui:param name="active_acessos" value="" />

        <!-- MENU LATERAL -->
        <ui:include src="../../left-menu-template.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form id="processoDetalheForm" prependId="false" enctype="multipart/form-data">
            <!-- Mensagens ******************************** -->
            <h:panelGroup id="groupMessages">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <ui:include src="../../_mensagens.xhtml" />
                    </div>
                </div>
            </h:panelGroup>
            <!-- Mensagens ................................ -->

            <div class="row">
                <div class="col-md-12">
                    <p:tabView>
                        <p:tab title="${bundleMsgs.bt_detalhes}">
                            <div class="row">
                                <h:panelGroup id="detalhesGroup"
                                              rendered="#{!detalheProcessoController.andamentoSelected
                                                and !detalheProcessoController.custasSelected
                                                and !detalheProcessoController.propostasSelected
                                                and !detalheProcessoController.vinculadosSelected}">
                                    <div class="col-md-12 col-xs-12 form-group">
                                        <ui:include src="detalhes/detalhe.xhtml" />
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup id="andamentosGroup"
                                              rendered="#{detalheProcessoController.andamentoSelected
                                                and !detalheProcessoController.custasSelected
                                                and !detalheProcessoController.propostasSelected
                                                and !detalheProcessoController.vinculadosSelected}">
                                    <div class="col-md-12 col-xs-12 form-group">
                                        <ui:include src="andamentos/andamentos.xhtml" />
                                    </div>
                                </h:panelGroup>

                            </div>
                        </p:tab>

                        <p:tab title="${bundleMsgs.bt_adicionar_custa}">
                            <section class="invoice">
                                <div class="row">
                                    <h:commandLink class="btn btn-success" style="color: #fff !important;"
                                                   action="#{detalheProcessoController.adicionarCusta}"
                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : ''}"
                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                   rendered="#{detalheProcessoController.permiteInclusaoCusta}"
                                                   pt:data-loader="on" value="#{bundleMsgs.bt_novo}">
                                        <f:param name="idProcesso" value="#{detalheProcessoController.processo.id}"/>
                                    </h:commandLink>
                                </div>
                            </section>

                            <div class="row">
                                <h:panelGroup id="custasGroup"
                                              rendered="#{detalheProcessoController.custasSelected
                                                and !detalheProcessoController.andamentoSelected
                                                and !detalheProcessoController.propostasSelected
                                                and !detalheProcessoController.vinculadosSelected}">
                                    <div class="col-md-12 col-xs-12 form-group">
                                        <ui:include src="custas/custas.xhtml" />
                                        <hr/>
                                        <div class="row">
                                            <p class="col-md-12 col-xs-12" align="right">
                                                <i>#{bundleMsgs['commons.form.required.message']}</i>
                                            </p>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>

                            <!-- TABLE CUSTAS-->
                            <h:panelGroup rendered="#{!detalheProcessoController.custasSelected}">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="table-responsive form-group">
                                            <p:dataTable id="dataTableCusta" var="row"
                                                         emptyMessage="Nenhuma custa encontrada..."
                                                         value="#{detalheProcessoController.processo.custas}"
                                                         rows="10" paginator="true" paginatorPosition="bottom"
                                                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                         rowsPerPageTemplate="5,10,15,50">

                                                <f:facet name="header">
                                                    <h:outputText value="${bundleMsgs.label_custa_processo}" />
                                                </f:facet>

                                                <p:column headerText="${bundleMsgs.label_tipo_custo}"
                                                          styleClass="tableColumn"
                                                          style="text-align: center; width: 30%;">
                                                    <h:outputText value="#{row.tipoCusto.descricao}" />
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_data_pagamento}"
                                                          styleClass="tableColumn"
                                                          style="text-align: center; width: 20%;">
                                                    <h:outputText value="#{row.dataPagamento}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_responsavel}"
                                                          styleClass="tableColumn"
                                                          style="text-align: center; width: 20%;">
                                                    <h:outputText
                                                            value="#{row.responsavelPagamento eq 'C' ? 'Cliente' : 'Escritório'}" />
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_valor_custa}"
                                                          styleClass="tableColumn"
                                                          style="text-align: center; width: 20%;">
                                                    <h:outputText value="#{row.valorCusta}"
                                                                  style="text-align:right">
                                                        <f:convertNumber type="currency" currencySymbol="R$" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column styleClass="tableColumn"
                                                          style="text-align: center; width: 10%;">
                                                    <h:commandLink id="btnEditar" class="btn btn-warning btn-sm"
                                                                   rendered="#{detalheProcessoController.permiteAlteracaoCusta}"
                                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_editar}"
                                                                   style="color: #fff !important;" process="@this"
                                                                   action="#{detalheProcessoController.editarCusta}">
                                                        <span class="fa fa-pencil"></span>
                                                        <f:setPropertyActionListener target="#{detalheProcessoController.novaCusta}" value="#{row}" />
                                                    </h:commandLink>

                                                    <p:spacer width="3"/>

                                                    <h:commandLink id="btnExcluir"
                                                                   rendered="#{detalheProcessoController.permiteExclusaoCusta}"
                                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_excluir}"
                                                                   style="color: #fff !important;"
                                                                   class="btn btn-danger btn-sm">
                                                        <span class="fa fa-trash-o"></span>
                                                        <f:setPropertyActionListener target="#{detalheProcessoController.novaCusta}" value="#{row}" />
                                                        <f:ajax onevent="openModal('#myModalCustas')" />
                                                    </h:commandLink>
                                                </p:column>

                                                <p:columnGroup type="footer">
                                                    <p:row>
                                                        <p:column colspan="3" style="text-align:right; font-weight: bold" footerText="Total:" />
                                                        <p:column style="text-align:center; font-weight: bold" >
                                                            <f:facet name="footer">
                                                                <h:outputText value="#{detalheProcessoController.valorTotalCustas}">
                                                                    <f:convertNumber currencySymbol="R$" type="currency" />
                                                                </h:outputText>
                                                            </f:facet>
                                                        </p:column>
                                                        <p:column colspan="1" style="text-align:right" />
                                                    </p:row>
                                                </p:columnGroup>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:tab>

                        <p:tab title="${bundleMsgs.bt_adicionar_proposta}">
                            <section class="invoice">
                                <div class="row">
                                    <h:commandLink class="btn btn-success" style="color: #fff !important;"
                                                   action="#{detalheProcessoController.adicionarProposta}"
                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : ''}"
                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                   rendered="#{detalheProcessoController.permiteInclusaoProposta}"
                                                   pt:data-loader="on" value="#{bundleMsgs.bt_novo}">
                                        <f:param name="idProcesso" value="#{detalheProcessoController.processo.id}"/>
                                    </h:commandLink>
                                </div>
                            </section>

                            <div class="row">
                                <h:panelGroup id="propostasGroup"
                                              rendered="#{detalheProcessoController.propostasSelected
                                                and !detalheProcessoController.andamentoSelected
                                                and !detalheProcessoController.vinculadosSelected
                                                and !detalheProcessoController.custasSelected}">
                                    <div class="col-md-12 col-xs-12 form-group">
                                        <ui:include src="propostas/propostas.xhtml" />
                                    </div>
                                </h:panelGroup>
                            </div>

                            <h:panelGroup id="panelPropostas" rendered="#{detalheProcessoController.hasAccessPropostas and !detalheProcessoController.propostasSelected}">
                                <!-- TABLE PROPOSTA-->
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="table-responsive form-group">
                                            <p:dataTable id="dataTablePropostas" var="pp"
                                                         emptyMessage="Nenhuma proposta encontrada..."
                                                         value="#{detalheProcessoController.processo.propostas}"
                                                         rows="10" paginator="true" paginatorPosition="bottom"
                                                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                         rowsPerPageTemplate="5,10,15,50">

                                                <f:facet name="header">
                                                    <h:outputText value="${bundleMsgs.label_proposta_processo}" />
                                                </f:facet>

                                                <p:column style="width:32px">
                                                    <p:rowToggler />
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_data_proposta}"
                                                          styleClass="tableColumn"
                                                          style="text-align: center; width: 10%;">
                                                    <h:outputText value="#{pp.dataProposta}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_valor_proposta}"
                                                          styleClass="tableColumn"
                                                          style="text-align: center; width: 15%;">
                                                    <h:outputText value="#{pp.valorProposta}"
                                                                  style="text-align:right">
                                                        <f:convertNumber type="currency" currencySymbol="R$" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_proponente}"
                                                          styleClass="tableColumn"
                                                          style="width: 30%;">
                                                    <h:outputText value="#{pp.pessoa.descricao}" />
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_data_final_prazo}"
                                                          styleClass="tableColumn"
                                                          style="text-align: center; width: 10%;">
                                                    <h:outputText value="#{pp.dataFimPrazo}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column styleClass="tableColumn"
                                                          style="text-align: center; width: 10%;">
                                                    <h:commandLink id="btnEditarProposta" class="btn btn-warning btn-sm"
                                                                   rendered="#{detalheProcessoController.permiteAlteracaoProposta}"
                                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_editar}"
                                                                   style="color: #fff !important;" process="@this"
                                                                   action="#{detalheProcessoController.editarProposta}">
                                                        <span class="fa fa-pencil"></span>
                                                        <f:setPropertyActionListener target="#{detalheProcessoController.novaProposta}" value="#{pp}" />
                                                    </h:commandLink>

                                                    <p:spacer width="3"/>

                                                    <h:commandLink id="btnExcluirProposta"
                                                                   rendered="#{detalheProcessoController.permiteExclusaoProposta}"
                                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_excluir}"
                                                                   style="color: #fff !important;" class="btn btn-danger btn-sm">
                                                        <span class="fa fa-trash-o"></span>
                                                        <f:setPropertyActionListener target="#{detalheProcessoController.novaProposta}" value="#{pp}" />
                                                        <f:ajax onevent="openModal('#myModalPropostas')" />
                                                    </h:commandLink>
                                                </p:column>

                                                <p:rowExpansion >
                                                    <p:panelGrid columns="2" columnClasses="ui-grid-col-1,ui-grid-col-11">
                                                        <h:outputLabel value="${bundleMsgs.label_proposta}:" />
                                                        <h:outputText value="#{pp.observacao}" />

                                                        <h:outputLabel value="${bundleMsgs.label_devolutiva}:" />
                                                        <h:outputText value="#{pp.devolutiva}" />
                                                    </p:panelGrid>
                                                </p:rowExpansion>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:tab>

                        <p:tab title="${bundleMsgs.bt_vinculo_processo}">
                            <section class="invoice">
                                <div class="row">
                                    <h:commandLink class="btn btn-success" style="color: #fff !important;"
                                                   action="#{detalheProcessoController.vincularProcesso}"
                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : ''}"
                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                   rendered="#{detalheProcessoController.permiteInclusaoVinculado}"
                                                   pt:data-loader="on" id="btnAddVinculado" value="#{bundleMsgs.bt_novo}">
                                        <f:param name="idProcesso" value="#{detalheProcessoController.processo.id}"/>
                                    </h:commandLink>
                                </div>
                            </section>

                            <div class="row">
                                <h:panelGroup id="vinculadosGroup"
                                              rendered="#{detalheProcessoController.vinculadosSelected
                                                and !detalheProcessoController.custasSelected
                                                and !detalheProcessoController.propostasSelected
                                                and !detalheProcessoController.andamentoSelected}">
                                    <div class="col-md-12 col-xs-12 form-group">
                                        <ui:include src="vinculados/vinculados.xhtml" />
                                    </div>
                                </h:panelGroup>
                            </div>

                            <h:panelGroup id="panelVinculados" rendered="#{detalheProcessoController.hasAccessVinculados and not detalheProcessoController.vinculadosSelected}">
                                <!-- TABLE VINCULADOS-->
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="table-responsive form-group">
                                            <p:dataTable id="dataTableVinculados" var="v"
                                                         emptyMessage="Nenhum processo vinculado..."
                                                         value="#{detalheProcessoController.processoVinculos}"
                                                         rows="10" paginator="true" paginatorPosition="bottom"
                                                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                         rowsPerPageTemplate="5,10,15,50">

                                                <f:facet name="header">
                                                    <h:outputText value="${bundleMsgs.label_processos_relacionados}" />
                                                </f:facet>

                                                <p:column headerText="${bundleMsgs.label_processo}"
                                                          styleClass="tableColumn" style="text-align: center; width: 30%;">
                                                    <h:commandLink value="#{v.processo.descricao}" action="#{detalheProcessoController.goToDetalhesRelacionado(v.processo)}" />
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_classe_processual}"
                                                          styleClass="tableColumn" style="text-align: center">
                                                    <h:outputText value="#{v.processo.classeProcessual.descricao}" />
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_data_abertura}"
                                                          styleClass="tableColumn" style="text-align: center; width: 20%;">
                                                    <h:outputText value="#{v.processo.dataAbertura}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </h:outputText>
                                                </p:column>

                                                <p:column headerText="${bundleMsgs.label_status}"
                                                          styleClass="tableColumn" style="text-align: center; width: 20%;">
                                                    <h:outputText value="#{v.processo.descricaoStatus}" />
                                                </p:column>

                                                <p:column style="text-align: center; width: 10%;">
                                                    <h:commandLink class="btn btn-danger btn-sm"
                                                                   rendered="#{detalheProcessoController.permiteExclusaoVinculado}"
                                                                   disabled="#{detalheProcessoController.processo.processoFinalizado}"
                                                                   title="#{detalheProcessoController.processo.processoFinalizado ? bundleMsgs.bt_processo_finalizado : bundleMsgs.bt_excluir}"
                                                                   style="color: #fff !important;">
                                                        <span class="fa fa-trash-o"></span>
                                                        <f:setPropertyActionListener target="#{detalheProcessoController.novoVinculo}" value="#{v}" />
                                                        <f:ajax onevent="openModal('#myModalVinculados')" />
                                                    </h:commandLink>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </p:tab>

                        <p:tab title="${bundleMsgs.label_st_roboot}" rendered="false">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-body">
                                            <h:commandLink class="btn btn-app col-sm-6"
                                                           action="#{tramiteProcessoController.goToConsultaTramiteProcesso}"
                                                           target="_blank" pt:data-loader="off" immediate="true"
                                                           rendered="#{detalheProcessoController.processo.meioTramitacao.possuiRobo}">
                                                <i class="fa fa-android" aria-hidden="true"></i>
                                                <div style="height: 10px"></div>
                                                <h:outputText value="${bundleMsgs.projudipr_projudi}" />
                                                <f:setPropertyActionListener value="#{detalheProcessoController.processo}"
                                                                             target="#{tramiteProcessoController.processoSelecionado}" />
                                            </h:commandLink>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p:tab>
                    </p:tabView>
                </div>
            </div>

            <!-- MODAL CONFIRMACAO EXCLUSAO ANDAMENTO -->
            <div class="modal" id="myModalAndamento" tabindex="-1" role="dialog"
                 aria-labelledby="myModalAndamentoLabel">

                <div class="modal-dialog modal-sm" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myModalAndamentoLabel">${bundleMsgs.label_confirmacao}</h4>
                        </div>

                        <div class="modal-body">
                            <p>${bundleMsgs.label_confirma_exclusao}</p>
                        </div>

                        <div class="modal-footer">
                            <h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
                                             class="btn btn-default" pt:data-dismiss="modal" />

                            <h:commandButton value="${bundleMsgs.bt_confirmar}"
                                             onblur="$('#myModal').modal('hide')" pt:data-loader="on"
                                             action="#{detalheProcessoController.excluirAndamento}"
                                             class="btn btn-primary">
                            </h:commandButton>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL CONFIRMACAO EXCLUSAO VINCULADOS -->
            <div class="modal" id="myModalVinculados" tabindex="-1" role="dialog"
                 aria-labelledby="myModalVinculadosLabel">

                <div class="modal-dialog modal-sm" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&amp;times;</button>
                            <h4 class="modal-title" id="myModalVinculadosLabel">${bundleMsgs.label_confirmacao}</h4>
                        </div>

                        <div class="modal-body">
                            <p>${bundleMsgs.label_confirma_exclusao}</p>
                        </div>

                        <div class="modal-footer">
                            <h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
                                             class="btn btn-default" pt:data-dismiss="modal" />

                            <h:commandButton value="${bundleMsgs.bt_confirmar}"
                                             onblur="$('#myModal').modal('hide')" pt:data-loader="on"
                                             action="#{detalheProcessoController.excluirVinculado}"
                                             class="btn btn-primary">
                            </h:commandButton>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL CONFIRMACAO EXCLUSAO CUSTAS -->
            <div class="modal" id="myModalCustas" tabindex="-1" role="dialog"
                 aria-labelledby="myModalCustasLabel">

                <div class="modal-dialog modal-sm" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&amp;times;</button>
                            <h4 class="modal-title" id="myModalCustasLabel">${bundleMsgs.label_confirmacao}</h4>
                        </div>

                        <div class="modal-body">
                            <p>${bundleMsgs.label_confirma_exclusao}</p>
                        </div>

                        <div class="modal-footer">
                            <h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
                                             class="btn btn-default" pt:data-dismiss="modal" />

                            <h:commandButton value="${bundleMsgs.bt_confirmar}"
                                             onblur="$('#myModal').modal('hide')" pt:data-loader="on"
                                             action="#{detalheProcessoController.excluirCusta}"
                                             class="btn btn-primary">
                            </h:commandButton>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL CONFIRMACAO EXCLUSAO PROPOSTAS -->
            <div class="modal" id="myModalPropostas" tabindex="-1" role="dialog"
                 aria-labelledby="myModalPropostasLabel">

                <div class="modal-dialog modal-sm" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&amp;times;</button>
                            <h4 class="modal-title" id="myModalPropostasLabel">${bundleMsgs.label_confirmacao}</h4>
                        </div>

                        <div class="modal-body">
                            <p>${bundleMsgs.label_confirma_exclusao}</p>
                        </div>

                        <div class="modal-footer">
                            <h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
                                             class="btn btn-default" pt:data-dismiss="modal" />

                            <h:commandButton value="${bundleMsgs.bt_confirmar}"
                                             onblur="$('#myModal').modal('hide')" pt:data-loader="on"
                                             action="#{detalheProcessoController.excluirProposta}"
                                             class="btn btn-primary">
                            </h:commandButton>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>


</ui:composition>

<ui:define name="css-head" >
    <h:outputStylesheet name="steps.#{bundleMsgs.buildNumber}.min.css" library="steps"/>
</ui:define>
</html>