<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<h:panelGroup rendered="#{statusAgendaController.editavel}">
				<div class="btn-group" style="width: 100%; margin-bottom: 10px;">
					<ul class="fc-color-picker" id="color-chooser">
						<h:inputHidden id="colorEvent" value="#{statusAgendaController.objetoSelecionado.styleColor}" />
						
						<li><a id="lightSlateGray" class="event-text-color-lightSlateGray" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="darkMagenta" class="event-text-color-darkMagenta" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="slateBlue" class="event-text-color-slateBlue" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="blue" class="event-text-color-blue" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="mediumTurquoise" class="event-text-color-mediumTurquoise" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="mediumSeaGreen" class="event-text-color-mediumSeaGreen" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="paleGreen" class="event-text-color-paleGreen" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="firebrick" class="event-text-color-firebrick" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="indianRed2" class="event-text-color-indianRed2" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="darkGoldenrod" class="event-text-color-darkGoldenrod" href="#"><i class="fa fa-square"></i></a></li>
						<li><a id="chocolate2" class="event-text-color-chocolate2" href="#"><i class="fa fa-square"></i></a></li>
					</ul>
				</div>
			</h:panelGroup>
			<br/>
		
			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{statusAgendaController.objetoSelecionado.descricao}"
							 disabled="#{statusAgendaController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>
			
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">
				<!--Cancelar-->
				<h:commandButton rendered="#{statusAgendaController.permiteInclusao}"
								 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{statusAgendaController.cancelar()}"
								 disabled="#{statusAgendaController.editavel == false}"  />

				<!--Inserir-->
				<h:commandButton rendered="#{statusAgendaController.permiteInclusao}"
								 id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success"
								 action="#{statusAgendaController.novo()}"
								 disabled="#{statusAgendaController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton rendered="#{statusAgendaController.permiteInclusao}"
								 id="add-new-event" value="#{bundleMsgs.bt_salvar}"
								 class="btn" pt:data-loader="on"
								 style="background-color: rgb(84, 132, 237); border-color: rgb(84, 132, 237); color: #fff;"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{statusAgendaController.salvar()}"
								 onclick="setConfirmUnload(false)"
								 disabled="#{statusAgendaController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>
</html>