<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

<ui:composition template="../../../plain-template.xhtml">

	<!-- TITULO DA PAGINA -->
	<ui:define name="page-title">
		<div class="page-title">${bundleMsgs.cadastros}</div>
	</ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="active" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../../../left-menu-template.xhtml" />
	</ui:define>

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/pages/index.xhtml">
			<i class="fa fa-home"></i> Home
		</h:link></li>
		<li><h:link outcome="/pages/cadastros/list-cadastros.xhtml">
			${bundleMsgs.cadastros}
		</h:link></li>
		<li class="active">${bundleMsgs.label_status_agenda}</li>


	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="statusAgendaForm" prependId="false">

			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<div class="row">
				<h:panelGroup id="panelControladoria" rendered="#{statusAgendaController.possuiConfiguracaoControladoria}">
					<div class="box">
						<div class="box-body">
							<div class="row">
								<p:panelGrid columns="1" layout="grid" columnClasses="ui-grid-col-12" >
									<h:outputLabel value="#{bundleMsgs.label_status_agenda_controladoria}" />
									<p:inputSwitch value="#{statusAgendaController.statusAgendaCumprir.statusAcumprirPassaControladoria}"
												   offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
										<p:ajax listener="#{statusAgendaController.adicionaControladorioStatusAcumprirListener}"
												onstart="showLoader('Aguarde...')" onsuccess="hideLoader()" />
									</p:inputSwitch>
								</p:panelGrid>
								<br/>
							</div>
						</div>
					</div>
				</h:panelGroup>

				<div class="box">
					<div class="box-header with-border">
						<div class="form-group">

							<!--Listagem *********************************-->
							<div class="col-sm-6 col-xs-12 form-group">
								<ui:include src="status-agenda-list.xhtml" />
							</div>
							<!--Listagem .................................-->

							<!--Formulario *******************************-->
							<div class="col-sm-6 col-xs-12  form-group">
								<ui:include src="status-agenda-form.xhtml" />

								<div class="row">
									<p class="col-md-12 col-xs-12" align="right">
										<i>#{bundleMsgs['commons.form.required.message']}</i>
									</p>
								</div>
							</div>
							<!--Formulario ...............................-->
						</div>
					</div>
				</div>
			</div>

			<!-- COMPONENTE POPUP -->
			<stpro:exclusion-popup controller="#{statusAgendaController}" />

		</h:form>
	</ui:define>
</ui:composition>
</html>