<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<cc:interface>
    <cc:attribute name="list" required="true" type="java.util.List" />
    <cc:attribute name="centroCustoList" required="true" type="java.util.Set" />
    <cc:attribute name="controller" required="true"  />
</cc:interface>

<cc:implementation>
    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <p:panel id="centroCustoPanel" header="${bundleMsgs.label_centros_custo}" style="margin-bottom:20px">
                <p:panelGrid columns="2" columnClasses="ui-grid-col-5,ui-grid-col-3" layout="grid" styleClass="ui-panelgrid-blank">
                    <h:selectOneMenu
                            value="#{cc.attrs.controller.novoCentroCusto.centroCusto}"
                            styleClass="form-control select2"
                            converter="entityConverter">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="centroCustoCrud"
                                       value="#{cc.attrs.centroCustoList}"
                                       itemLabel="#{centroCustoCrud.centroCusto.descricao}" />
                    </h:selectOneMenu>

                    <h:panelGroup class="input-group">
                        <p:inputNumber widgetVar="wv" value="#{cc.attrs.controller.novoCentroCusto.percentual}" symbol="%"
                                       symbolPosition="s" emptyValue="sign"
                                       pt:placeholder="#{bundleMsgs.label_porcentagem}"/>
                        <span class="input-group-btn">
                            <h:commandLink class="btn btn-success" action="#{cc.attrs.controller.adicionaCentrosCustos()}"
                                           style="width: 45px; height: 34px; color: #fff !important;">
                                <span class="fa fa-plus"></span>
                                <p:ajax process="centroCustoPanel" update="contatos centroCustoPanel @parent" />
                            </h:commandLink>
                        </span>
                    </h:panelGroup>
                </p:panelGrid>

                <p:spacer height="15"/>

                <p:outputPanel id="contatos">
                    <p:dataTable value="#{cc.attrs.list}" var="row" id="ccTable" emptyMessage="#{bundleMsgs.empty_results}">
                        <p:column headerText="#{bundleMsgs.label_centro_custo}">
                            <h:outputText value="#{row.centroCusto.centroCusto.descricao}"  />
                        </p:column>

                        <p:column headerText="#{bundleMsgs.label_porcentagem}">
                            <h:outputText value="#{row.percentual}"  />
                        </p:column>

                        <p:column style="width: 6%;">
                            <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;">
                                <span class="fa fa-trash-o"></span>
                                <p:collector value="#{row}" removeFrom="#{cc.attrs.list}" unique="true"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:panel>
        </div>
    </div>
    <!--Painel Centro de Custo..............................-->
</cc:implementation>
</html>