<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

<cc:interface>
    <cc:attribute name="styleClass" required="true" />
    <cc:attribute name="centroCustoList" required="true" type="java.util.List" />
    <cc:attribute name="list" required="true" type="java.util.Set" />
    <cc:attribute name="pessoaFisicaList" required="true" type="java.util.List" />
    <cc:attribute name="controller" required="true"  />
</cc:interface>

<cc:implementation>
    <div class="ui-fluid">
        <p:panel id="panelCentroCustos" rendered="#{cc.attrs.controller.podeVisualizarCentrosCusto}" header="${bundleMsgs.label_centros_custo}" style="margin-bottom:20px">
            <p:panelGrid columns="2" columnClasses="ui-grid-col-3,ui-grid-col-3" layout="grid" styleClass="ui-panelgrid-blank">
                <h:selectOneMenu
                        value="#{cc.attrs.controller.pessoaJuridicaCentroCusto.centroCusto}"
                        styleClass="form-control select2"
                        converter="entityConverter" pt:placeholder="${bundleMsgs.label_centro_custo}"
                        disabled="#{disabled_pessoa}">
                    <f:selectItem itemLabel="" itemValue="#{null}" />
                    <f:selectItems var="centroCustoCrud"
                                   value="#{cc.attrs.centroCustoList}"
                                   itemLabel="#{centroCustoCrud.descricao}" />
                </h:selectOneMenu>

                <h:panelGroup class="input-group">
                    <p:autoComplete value="#{cc.attrs.controller.pessoaJuridicaCentroCusto.pessoaFisica}"
                                    completeMethod="#{cc.attrs.controller.completeResponsaveis}"
                                    disabled="#{disabled_pessoa}"
                                    var="var" style="width: 100% !important;"
                                    itemLabel="#{var.toString()}" itemValue="#{var}" converter="entityConverter"
                                    forceSelection="true" scrollHeight="140">
                        <p:ajax event="itemSelect" update="@parent" />

                        <p:column>
                            <h:outputText value="#{var.toString()}" />
                        </p:column>
                    </p:autoComplete>
                    <span class="input-group-btn">
                        <h:commandLink class="btn btn-success" actionListener="#{cc.attrs.controller.adicionarCentroCusto}"
                                       style="width: 45px; height: 34px; color: #fff !important;"
                                       disabled="#{!cc.attrs.controller.podeIncluirCentrosCusto}" >
                            <span class="fa fa-plus"></span>
                            <p:ajax process="panelCentroCustos" update="centroCustos panelCentroCustos @parent" />
                        </h:commandLink>
                    </span>
                </h:panelGroup>
            </p:panelGrid>

            <p:spacer height="15"/>

            <p:outputPanel id="centroCustos">
                <p:dataTable value="#{cc.attrs.list}" var="row" id="centroCustoTable" emptyMessage="#{bundleMsgs.empty_results}">
                    <p:column headerText="${bundleMsgs.label_centro_custo}">
                        <h:outputText value="#{row.centroCusto.descricao}" />
                    </p:column>

                    <p:column headerText="${bundleMsgs.label_pessoa_fisica}">
                        <h:outputText value="#{row.pessoaFisica.pessoa.descricao}" />
                    </p:column>

                    <p:column style="width: 6%;">
                        <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;"
                                       disabled="#{!cc.attrs.controller.podeExcluirCentrosCusto}">
                            <span class="fa fa-trash-o"></span>
                            <p:collector value="#{row}" removeFrom="#{cc.attrs.list}" unique="true"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:panel>
        <p:panel id="panelSemPermissao" header="${bundleMsgs.label_centros_custo}" rendered="#{!cc.attrs.controller.podeVisualizarCentrosCusto}" style="margin-bottom:20px">
            <p:outputLabel value="#{bundleMsgs.label_entre_em_contato_com_o_administrador}" />
        </p:panel>
    </div>
</cc:implementation>
</html>