<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<cc:interface>
    <cc:attribute name="styleClass" required="true" />
    <cc:attribute name="pessoaContatoList" required="true" type="java.util.List" />
    <cc:attribute name="tiposContatosList" required="true" type="java.util.List" />
    <cc:attribute name="controller" required="true"  />
</cc:interface>

<cc:implementation>
    <div class="ui-fluid">
        <p:panel id="panelContatos" rendered="#{cc.attrs.controller.podeVisualizarContatos}" header="${bundleMsgs.label_contatos}" style="margin-bottom:20px">
            <p:panelGrid columns="6" columnClasses="ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-3"
                         layout="grid" styleClass="ui-panelgrid-blank">
                <h:selectOneMenu value="#{cc.attrs.controller.pessoaContato.contato.tipoContato}"
                                 styleClass="form-control select2"
                                 converter="entityConverter"
                                 disabled="#{disabled_pessoa}">
                    <f:selectItem itemLabel="" itemValue="#{null}" />
                    <f:selectItems var="tipoContato"
                                   value="#{cc.attrs.tiposContatosList}"
                                   itemLabel="#{tipoContato.descricao}" />
                </h:selectOneMenu>

                <p:inputMask
                        mask="99"
                        class="form-control"
                        value="#{cc.attrs.controller.pessoaContato.contato.ddd}"
                        pt:placeholder="${bundleMsgs.label_ddd}"
                        disabled="#{disabled_pessoa}" />

                <p:inputMask class="form-control"
                             value="#{cc.attrs.controller.pessoaContato.contato.numero}"
                             mask="99999999?9" pt:placeholder="${bundleMsgs.label_numero}" />

				<p:inputNumber maxValue="99999" decimalPlaces="0" decimalSeparator="" thousandSeparator=""
                               value="#{cc.attrs.controller.pessoaContato.contato.ramal}"
                               pt:placeholder="${bundleMsgs.label_ramal}"
                               disabled="#{disabled_pessoa}" />

                <h:inputText
                        class="form-control"
                        value="#{cc.attrs.controller.pessoaContato.contato.setor}"
                        pt:placeholder="${bundleMsgs.label_setor}"
                        disabled="#{disabled_pessoa}">
                </h:inputText>


                <h:panelGroup class="input-group">
                    <h:inputText
                            class="form-control"
                            value="#{cc.attrs.controller.pessoaContato.contato.descricao}"
                            pt:placeholder="${bundleMsgs.label_contato}"
                            disabled="#{disabled_pessoa}">
                    </h:inputText>
                    <span class="input-group-btn">
                        <h:commandLink class="btn btn-success"
                        			   actionListener="#{cc.attrs.controller.adicionarContato}"
                                       style="width: 45px; height: 34px; color: #fff !important;" 
                                       disabled="#{!cc.attrs.controller.podeIncluirContatos}">
                            <span class="fa fa-plus"></span>
                            <p:ajax process="panelContatos"  update="contatos panelContatos @parent" oncomplete="setConfirmUnload(true)" />
                        </h:commandLink>
                    </span>
                </h:panelGroup>
            </p:panelGrid>

            <p:spacer height="15"/>

            <p:outputPanel id="contatos">
                <p:dataTable value="#{cc.attrs.pessoaContatoList}" var="row" id="contatosTable" emptyMessage="#{bundleMsgs.empty_results}">
                    <p:column headerText="#{bundleMsgs.label_tipo_contato}">
                        <h:outputText value="#{row.contato.tipoContato.descricao}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_numero}">
                        <h:outputText value="#{row.contato.DDDTelefoneFormatado}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_ramal}">
                        <h:outputText value="#{row.contato.ramal}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_setor}">
                        <h:outputText value="#{row.contato.setor}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_responsavel}">
                        <h:outputText value="#{row.contato.descricao}" />
                    </p:column>

                    <p:column style="width: 6%;">
                        <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;"
                            disabled="#{!cc.attrs.controller.podeExcluirContatos}">
                            <span class="fa fa-trash-o"></span>
                            <p:collector value="#{row}" removeFrom="#{cc.attrs.pessoaContatoList}" unique="true"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:panel>
        <p:panel id="panelSemPermissao" header="${bundleMsgs.label_contatos}" rendered="#{!cc.attrs.controller.podeVisualizarContatos}" style="margin-bottom:20px">
            <p:outputLabel value="#{bundleMsgs.label_entre_em_contato_com_o_administrador}" />
        </p:panel>
        
    </div>

</cc:implementation>
</html>