<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<cc:interface>
    <cc:attribute name="styleClass" required="true" />
    <cc:attribute name="pessoaEmailList" required="true" type="java.util.List" />
    <cc:attribute name="controller" required="true"  />
</cc:interface>

<cc:implementation>
    <div class="row">
        <div class="#{cc.attrs.styleClass}">
            <p:panel id="panel" rendered="#{cc.attrs.controller.podeVisualizarEmails}" header="${bundleMsgs.label_e_mails}" style="margin-bottom:20px">
                <h:panelGroup id="group" class="input-group">
                    <p:inputText value="#{cc.attrs.controller.pessoaEmail.email}"
                                 pt:type="email" class="form-control" id="email-forgot"
                                 name="email-forgot" pt:placeholder="exemplo@email.com.br" disabled="#{disabled_pessoa or !cc.attrs.controller.objetoSelecionado.pessoa.possuiEmail}">
                    </p:inputText>

                    <span class="input-group-btn">
                        <h:commandLink class="btn btn-success" actionListener="#{cc.attrs.controller.adicionarEmail}"
                                       style="width: 45px; height: 34px; color: #fff !important;" 
                                       disabled="#{!cc.attrs.controller.podeIncluirEmails or !cc.attrs.controller.objetoSelecionado.pessoa.possuiEmail}">
                            <span class="fa fa-plus"></span>
                            <p:ajax process="group" update="emails panel" oncomplete="setConfirmUnload(true)" />
                        </h:commandLink>
                    </span>
                </h:panelGroup>

                <p:spacer height="15"/>

                <p:outputPanel id="emails">
                    <p:dataTable value="#{cc.attrs.pessoaEmailList}" var="row" id="emailsTable" emptyMessage="#{bundleMsgs.empty_results}">
                        <p:column headerText="#{bundleMsgs.label_email}">
                            <h:outputText value="#{row.email}" />
                        </p:column>

                        <p:column style="width: 10%;">
                            <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;" 
                                disabled="#{!cc.attrs.controller.podeExcluirEmails}">
                                <span class="fa fa-trash-o"></span>
                                <p:collector value="#{row}" removeFrom="#{cc.attrs.pessoaEmailList}" unique="true"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:panel>
            <p:panel id="panelSemPermissao" header="${bundleMsgs.label_e_mails}" rendered="#{!cc.attrs.controller.podeVisualizarEmails}" style="margin-bottom:20px">
                <p:outputLabel value="#{bundleMsgs.label_entre_em_contato_com_o_administrador}" />
            </p:panel>
        </div>
    </div>
</cc:implementation>
</html>