<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<cc:interface>
    <cc:attribute name="styleClass" required="true" />
    <cc:attribute name="pessoaEnderecoList" required="true"	type="java.util.List" />
    <cc:attribute name="tipoEnderecoList" required="true"	type="java.util.List" />
    <cc:attribute name="controller" required="true" />
</cc:interface>

<cc:implementation>
    <div class="ui-fluid">
        <p:panel id="panelEnderecos" rendered="#{cc.attrs.controller.podeVisualizarEnderecos}" header="${bundleMsgs.label_enderecos}" style="margin-bottom:20px">
            <p:panelGrid columns="4" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-3,ui-grid-col-3" layout="grid" styleClass="ui-panelgrid-blank">

                <h:panelGroup class="input-group">
                    <p:inputMask mask="99999-999" value="#{cc.attrs.controller.pessoaEndereco.endereco.cep}"
                                 class="form-control" pt:placeholder="${bundleMsgs.label_cep}"
                                 valueChangeListener="#{cc.attrs.controller.buscarCep}"
                                 disabled="#{disabled_pessoa}">
                        <p:ajax event="change" process="@this" update="panelEnderecos"
                                onstart="showLoader('Pesquisando CEP, Aguarde...')" onsuccess="hideLoader()" 
                                async="true" />
                    </p:inputMask>
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                </h:panelGroup>

                <h:inputText id="descEndereco" class="form-control"
                             value="#{cc.attrs.controller.pessoaEndereco.endereco.descricao}"
                             pt:placeholder="${bundleMsgs.label_endereco}"
                             disabled="#{disabled_pessoa}" />

                <p:inputNumber id="descNumero" decimalPlaces="0" decimalSeparator="" thousandSeparator=""
                               value="#{cc.attrs.controller.pessoaEndereco.endereco.numero}"
                               disabled="#{cc.attrs.controller.pessoaEndereco.endereco.semNumero or disabled_pessoa}"
                               pt:placeholder="${bundleMsgs.label_numero}" />

                <p:selectBooleanCheckbox
                        id="semNumero"
                        itemLabel="${bundleMsgs.label_sem_numero}"
                        value="#{cc.attrs.controller.pessoaEndereco.endereco.semNumero}"
                        disabled="#{disabled_pessoa}">
                    <p:ajax event="change" listener="#{cc.attrs.controller.limpaNumeroEndereco()}" update="descNumero" />
                </p:selectBooleanCheckbox>

                <h:inputText id="descComplemento" class="form-control"
                             value="#{cc.attrs.controller.pessoaEndereco.endereco.complemento}"
                             pt:placeholder="${bundleMsgs.label_complemento}"
                             disabled="#{disabled_pessoa}" />


                <h:inputText id="descBairro" class="form-control"
                             value="#{cc.attrs.controller.pessoaEndereco.endereco.bairro}"
                             pt:placeholder="${bundleMsgs.label_bairro}"
                             disabled="#{disabled_pessoa}" />

                <p:autoComplete value="#{cc.attrs.controller.pessoaEndereco.endereco.cidade}"
                                completeMethod="#{cidadeAutoCompleteController.completeCidade}"
                                var="var" style="width: 91% !important;"
                                itemLabel="#{var.descricao}" itemValue="#{var}"
                                minQueryLength="1" converter="entityConverter"
                                dropdown="true" pt:placeholder="${bundleMsgs.label_cidade}"
                                disabled="#{disabled_pessoa}"/>

                <h:panelGroup class="input-group">
                    <h:selectOneMenu value="#{cc.attrs.controller.pessoaEndereco.endereco.tipoEndereco}"
                                     styleClass="form-control select2"
                                     converter="entityConverter" pt:placeholder="${bundleMsgs.label_tipo}"
                                     disabled="#{disabled_pessoa}">
                        <f:selectItem itemLabel="" itemValue="#{null}" />
                        <f:selectItems var="tipoEndereco"
                                       value="#{cc.attrs.tipoEnderecoList}"
                                       itemLabel="#{tipoEndereco.descricao}"
                                       itemValue="#{tipoEndereco.value}" />
                    </h:selectOneMenu>
                     <span class="input-group-btn">
                        <h:commandLink class="btn btn-success" actionListener="#{cc.attrs.controller.adicionarEndereco}"
                                       style="width: 45px; height: 34px; color: #fff !important;"
                                       disabled="#{!cc.attrs.controller.podeIncluirEnderecos}">
                            <span class="fa fa-plus"></span>
                            <p:ajax process="panelEnderecos" update="enderecos panelEnderecos @parent" oncomplete="setConfirmUnload(true)" />
                        </h:commandLink>
                    </span>
                </h:panelGroup>

            </p:panelGrid>

            <p:spacer height="15"/>

            <p:outputPanel id="enderecos">
                <p:dataTable value="#{cc.attrs.pessoaEnderecoList}" var="row" id="enderecosTable" emptyMessage="#{bundleMsgs.empty_results}">
                    <p:column headerText="#{bundleMsgs.label_endereco}">
                        <h:outputText value="#{row.endereco.descricao}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_numero}">
                        <h:outputText value="#{row.endereco.numero}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_complemento}">
                        <h:outputText value="#{row.endereco.complemento}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_bairro}">
                        <h:outputText value="#{row.endereco.bairro}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_cidade}">
                        <h:outputText value="#{row.endereco.cidade.descricao}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_cep}">
                        <h:outputText value="#{row.endereco.cep}" />
                    </p:column>

                    <p:column headerText="#{bundleMsgs.label_tipo}">
                        <h:outputText value="#{row.endereco.tipoEnderecoDescricao}" />
                    </p:column>

                    <p:column style="width: 6%;">
                        <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;" 
                            disabled="#{!cc.attrs.controller.podeExcluirEnderecos}">
                            <span class="fa fa-trash-o"></span>
                            <p:collector value="#{row}" removeFrom="#{cc.attrs.pessoaEnderecoList}" unique="true"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:panel>
        <p:panel id="panelSemPermissao" header="${bundleMsgs.label_enderecos}" rendered="#{!cc.attrs.controller.podeVisualizarEnderecos}" style="margin-bottom:20px">
            <p:outputLabel value="#{bundleMsgs.label_usuario_sem_permissao_visualizar_enderecos}" />
        </p:panel>
    </div>
</cc:implementation>
</html>