<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<cc:interface>
	<cc:attribute name="controller" required="true" />
</cc:interface>

<cc:implementation>
	<!-- MODAL CONFIRMACAO -->
	<div class="modal" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">

		<div class="modal-dialog modal-sm" role="document">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">${bundleMsgs.label_confirmacao}</h4>
				</div>

				<div class="modal-body">
					<p>${bundleMsgs.label_confirma_exclusao}</p>
				</div>

				<div class="modal-footer">
					<h:commandButton value="${bundleMsgs.bt_cancelar}" type="button"
						class="btn btn-default" pt:data-dismiss="modal" />

					<h:commandButton value="${bundleMsgs.bt_confirmar}"
						onblur="$('#myModal').modal('hide')" pt:data-loader="on"
						action="#{cc.attrs.controller.excluir}" class="btn btn-primary">
					</h:commandButton>
				</div>
			</div>
		</div>
	</div>
</cc:implementation>
</html>