<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

<cc:interface>
    <cc:attribute name="value" required="true" />
    <cc:attribute name="rendered" type="java.lang.Boolean" default="#{true}" />
    <cc:attribute name="disabled" type="java.lang.Boolean" default="#{false}" />
</cc:interface>

<cc:implementation>
    <h:outputScript>
        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            autocomplete = new google.maps.places.Autocomplete(
                    (document.getElementById('autocomplete')),
                    {types: ['geocode']});

            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            var place = autocomplete.getPlace();
        }
    </h:outputScript>

    <input id="autocomplete" jsf:value="#{cc.attrs.value}"
           jsf:rendered="#{cc.attrs.rendered}"
           jsf:disabled="#{cc.attrs.disabled}"
           placeholder="${bundleMsgs.place_localizacao}"
           class="form-control" type="text">
    </input>

</cc:implementation>
</html>