<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">

<cc:interface>
    <cc:attribute  name="renderButtonEdit" required="true" />
    <cc:attribute name="labelButtonEdit" default="Visualizar" />
    <cc:attribute name="styleClassButtonEdit" default="col-md-12" />
    <cc:attribute name="styleClass" default="col-md-6" />
</cc:interface>

<cc:implementation>

    <div class="row">
        <div class="#{cc.attrs.styleClass}" >
            <div class="portlet box">
                <div class="portlet-header">
                    <div class="caption">#{bundleMsgs['fieldset.legenda']}</div>
                </div>
                <div class="portlet-body">
                    <p:outputPanel  rendered="#{cc.attrs.renderButtonEdit}">
                        <h:graphicImage value="/resources/images/icons/edit_legenda.png" />
                        <p:outputLabel value="#{cc.attrs.labelButtonEdit}"/>
                    </p:outputPanel>
                </div>
            </div>
        </div>
    </div>
</cc:implementation>
</html>