<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<cc:interface>
    <cc:attribute name="styleClass" required="true" />
    <cc:attribute name="list" required="true" type="java.util.List" />
    <cc:attribute name="controller" required="true"  />
</cc:interface>

<cc:implementation>
    <div class="row">
        <div class="#{cc.attrs.styleClass}">
            <p:panel id="panelResponsaveis" rendered="#{cc.attrs.controller.podeVisualizarResponsaveis}" header="${bundleMsgs.label_responsaveis}" style="margin-bottom:20px">
                <h:panelGroup class="input-group">
                    <p:autoComplete value="#{cc.attrs.controller.pessoaJuridicaResponsavel.pessoaFisica}"
                                    completeMethod="#{cc.attrs.controller.completeResponsaveis}"
                                    disabled="#{disabled_pessoa}"
                                    var="var" style="width: 100% !important;"
                                    itemLabel="#{var.toString()}" itemValue="#{var}" converter="entityConverter"
                                    forceSelection="true" scrollHeight="140">
                        <p:ajax event="itemSelect" update="@parent" />

                        <p:column>
                            <h:outputText value="#{var.toString()}" />
                        </p:column>
                    </p:autoComplete>
                    <span class="input-group-btn">
                        <h:commandLink class="btn btn-success" actionListener="#{cc.attrs.controller.adicionarResponsavel}"
                                       style="width: 45px; height: 34px; color: #fff !important;"
                                       disabled="#{!cc.attrs.controller.podeIncluirResponsaveis}" >
                            <span class="fa fa-plus"></span>
                            <p:ajax process="panelResponsaveis" update="tableResponsaveis panelResponsaveis @parent" />
                        </h:commandLink>
                    </span>
                </h:panelGroup>

                <p:spacer height="15"/>

                <p:outputPanel id="tableResponsaveis">
                    <p:dataTable value="#{cc.attrs.list}" var="row" id="responsavelTable" emptyMessage="#{bundleMsgs.empty_results}">
                        <p:column headerText="${bundleMsgs.label_pessoa_fisica}">
                            <h:outputText value="#{row.pessoaFisica.pessoa.descricao}" />
                        </p:column>

                        <p:column style="width: 10%;">
                            <p:commandLink class="btn btn-danger btn-sm" update="@form" process="@form" style="color: #fff !important;"
                                           disabled="#{!cc.attrs.controller.podeExcluirResponsaveis}">
                                <span class="fa fa-trash-o"></span>
                                <p:collector value="#{row}" removeFrom="#{cc.attrs.list}" unique="true"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:panel>
            <p:panel id="panelSemPermissao" header="${bundleMsgs.label_responsaveis}" rendered="#{!cc.attrs.controller.podeVisualizarResponsaveis}" style="margin-bottom:20px">
                <p:outputLabel value="#{bundleMsgs.label_entre_em_contato_com_o_administrador}" />
            </p:panel>
        </div>
    </div>
</cc:implementation>
</html>