<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

<cc:interface>
    <cc:attribute name="value" required="true" type="java.util.Date" />
    <cc:attribute name="id" type="java.lang.String" default="calendarId"/>
    <cc:attribute name="rendered" type="java.lang.Boolean" default="#{true}" />
    <cc:attribute name="disabled" type="java.lang.Boolean" default="#{false}" />
    <cc:attribute name="required" type="java.lang.Boolean" default="#{false}" />
    <cc:attribute name="requiredMessage" type="java.lang.String" />
</cc:interface>

<cc:implementation>
    <script type="text/javascript">
        PrimeFaces.locales['pt'] = {
            closeText : 'Fechar',
            prevText : 'Anterior',
            nextText : 'Próximo',
            currentText : 'Começo',
            monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
            monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
            dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
            dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
            dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
            weekHeader : 'Semana',
            firstDay : 0,
            isRTL : false,
            showMonthAfterYear : false,
            yearSuffix : '',
            timeOnlyTitle : 'Selecione o Horário',
            timeText : 'Horário',
            hourText : 'Hora',
            minuteText : 'Minuto',
            secondText : 'Segundo',
            ampm: false,
            month : 'Mês',
            week : 'Semana',
            day : 'Dia',
            allDayText : 'Sem horário definido'
        };
    </script>

    <div class="input-group">
        <p:calendar id="#{cc.attrs.id}"
                    locale="pt" pattern="dd/MM/yyyy"
                    value="#{cc.attrs.value}" rendered="#{cc.attrs.rendered}"
                    navigator="true" mask="99/99/9999"
                    disabled="#{cc.attrs.disabled}"
                    required="#{cc.attrs.required}"
                    requiredMessage="#{cc.attrs.requiredMessage}">
        </p:calendar>
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>                    
    </div>
</cc:implementation>


</html>