<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

<cc:interface>
    <cc:attribute name="controller" required="true" />
</cc:interface>

<cc:implementation>
    <div class="row">
        <div class="col-xs-12 form-group">
            <div class="input-group">
                <h:inputText class="form-control"
                             value="#{cc.attrs.controller.descricaoFiltro}"
                             pt:placeholder="${bundleMsgs.p_holder_buscar}">
                </h:inputText>
             <span class="input-group-addon" >
                 <h:commandLink id="btnSimpleFilter"
                                action="#{cc.attrs.controller.buscarPorLazy}"
                                pt:data-loader="on"
                                pt:data-loader-message="Pesquisando, Aguarde...">
                     <i class="fa fa-search"></i>
                 </h:commandLink>
                 <p:defaultCommand target="btnSimpleFilter"/>
             </span>
            </div>
        </div>
    </div>
</cc:implementation>
</html>