<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../plain-template.xhtml">

	<!-- TITULO DA PAGINA -->
    <ui:define name="page-title">
        ${bundleMsgs.cadastros}
    </ui:define>

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="active" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../../left-menu-template.xhtml" />
	</ui:define>


	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
        <li><h:link outcome="/pages/index.xhtml">
            <i class="fa fa-home"></i> Home
        </h:link></li>
        <li class="active">#{bundleMsgs.atendimento}</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<ui:define name="content">
		<h:form id="formAtendimento" prependId="false">
			<!-- listagem de atendimentos -->
			<ui:insert name="atendimentoListForm" />
		</h:form>
	</ui:define>
</ui:composition>
</html>