<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" >

<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">#{atendimentoController.user.perfil.sigla eq 'ADMIN' ? bundleMsgs.label_atendimentos : bundleMsgs.label_meus_atendimentos}</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->


<!--Listagem ********************************-->
<div class="box">
    <div class="box-body">
        <div class="table-responsive form-group">
            <p:dataTable var="row" rowKey="#{row.id}" value="#{atendimentoController.lista}"
                         rows="10" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                <p:column style="width:16px">
                    <p:rowToggler />
                </p:column>

                <p:column headerText="${bundleMsgs.label_tipo_atendimento}" sortBy="#{row.tipoAtendimento}" >
                    <h:outputText value="#{row.tipoAtendimento}" />
                </p:column>

                <p:column headerText="${bundleMsgs.label_data_abertura}" sortBy="#{row.dataAbertura}" >
                    <h:outputText value="#{row.dataAbertura}" >
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>

                <p:column headerText="${bundleMsgs.label_status}" sortBy="#{row.status}" >
                    <h:outputText value="#{row.status}" />
                </p:column>

                <p:rowExpansion>
                    <p:dataTable var="andamento" value="#{row.andamentos}">

                    </p:dataTable>
                </p:rowExpansion>

            </p:dataTable>
        </div>
    </div>
</div>
</html>