<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<div class="col-md-12">
    <!-- Application buttons -->
    <div class="box">
        <div class="box-body">
            <h:commandLink class="btn btn-app col-sm-6"
                           action="/manutencao/configuracao/controladoria/configuracao-controladoria-template.xhtml?faces-redirect=true">
                <i class="fa fa-user-secret"></i>
                <div style="height: 10px"></div>
                <h:outputText value="Controladoria" />
            </h:commandLink>

            <h:commandLink class="btn btn-app col-sm-6"
                           action="/manutencao/configuracao/contrato/configuracao-contrato-template.xhtml?faces-redirect=true">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <div style="height: 10px"></div>
                <h:outputText value="Contrato" />
            </h:commandLink>

            <h:commandLink class="btn btn-app col-sm-6"
                           action="/manutencao/configuracao/financeiro/configuracao-financeiro-template.xhtml?faces-redirect=true">
                <i class="fa fa-money" aria-hidden="true"></i>
                <div style="height: 10px"></div>
                <h:outputText value="#{bundleMsgs.financeiro}" />
            </h:commandLink>

            <h:commandLink class="btn btn-app col-sm-6"
                           action="/manutencao/configuracao/robo/configuracao-robo-template.xhtml?faces-redirect=true">
                <i class="fa fa-android" aria-hidden="true"></i>
                <div style="height: 10px"></div>
                <h:outputText value="#{bundleMsgs.projudipr_projudi}" />
            </h:commandLink>
        </div>
    </div>
</div>
</html>