<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:composition template="../../plain-manutencao-template.xhtml">

	<!-- BREADCRUMB -->
	<ui:define name="breadcrumb">
		<li><h:link outcome="/manutencao/manutencao-template.xhtml">
			<i class="fa fa-home"></i> ${bundleMsgs.manutencao}
		</h:link></li>
		<li class="active">Configuração</li>
	</ui:define>
	<!-- FIM DO BREADCRUMB -->

	<!-- FORM CORPO DA PAGINA -->
	<ui:define name="content">
		<h:form id="form" prependId="false">

			<ui:include src="manutencao-configuracao-list.xhtml" />

		</h:form>
	</ui:define>
	<!-- FIM DO FORM CORPO DA PAGINA -->

</ui:composition>
</html>