<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-4 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_sigla}" for="edtSigla"
							   class="simple-label" />

				<h:inputText id="edtSigla" class="form-control"
							 value="#{perfilController.objetoSelecionado.sigla}"
							 disabled="#{perfilController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_sigla}" pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>

			<div class="col-xs-8 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{perfilController.objetoSelecionado.descricao}"
							 disabled="#{perfilController.editavel == false}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 form-group">
	            <h:outputLabel value="${bundleMsgs.label_ver_todos_processos} *"
	                         for="edtVerTodosProcessos" />
	
	            <p:selectOneRadio id="edtVerTodosProcessos" styleClass="form-control "
	                              value="#{perfilController.objetoSelecionado.verTodosProcessos}"
	                              disabled="#{perfilController.editavel == false}">
	                <f:selectItem itemValue="#{true}"
	                              itemLabel="${bundleMsgs.label_sim}" />
	                <f:selectItem itemValue="#{false}"
	                              itemLabel="${bundleMsgs.label_nao}" />
					<p:ajax process="@this" oncomplete="setConfirmUnload(true)" />
	            </p:selectOneRadio>
	        </div>
        </div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton rendered="#{perfilController.permiteInclusao}"
								 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{perfilController.cancelar()}"
								 disabled="#{perfilController.editavel == false}" />

				<!--Inserir-->
				<h:commandButton rendered="#{perfilController.permiteInclusao}"
								 id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{perfilController.novo()}"
								 disabled="#{perfilController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton rendered="#{perfilController.permiteInclusao}"
								 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{perfilController.salvar()}"
								 onclick="setConfirmUnload(false)"
								 disabled="#{perfilController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

</html>