<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">


<!--Titulo da Tela..............................-->
<div class="row">
    <div class="form-group col-xs-12">
        <h3 class="box-title">Registros</h3>
    </div>
</div>
<!--Titulo da Tela*******************************-->


<!--Listagem ********************************-->
<div class="box">
    <div class="box-body">
        <div class="table-responsive form-group">

            <p:dataTable var="row" value="#{manutencaoConfiguracaoController.empresas}"
                         rows="10" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,50" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                <p:column headerText="${bundleMsgs.label_razao_social}" sortBy="#{row.descricao}" >
                    <h:outputText value="#{row.descricao}" />
                </p:column>

                <p:column headerText="${bundleMsgs.label_modulo_ativo}" style="width: 20%; text-align: center;" >
                    <p:inputSwitch value="#{row.configuracaoFinanceiro}" offLabel="${bundleMsgs.label_nao}" onLabel="${bundleMsgs.label_sim}">
                        <p:ajax listener="#{manutencaoConfiguracaoController.atualizaModuloAtivo(row, 'CONF_FINANCEIRO')}"
                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                    </p:inputSwitch>
                </p:column>

            </p:dataTable>

        </div>
    </div>
</div>
</html>