<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">


<div class="row">
    <div class="col-md-12 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_classe_processual}: "
                       class="simple-label" styleClass="destaque" />

        <h:outputText style="padding-left:5px;"
                      value="#{detalheProcessoController.processo.classeProcessual.descricao}" />
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_data_abertura}: "
                       class="simple-label" styleClass="destaque" />

        <h:outputText style="padding-left:5px;"
                      value="#{detalheProcessoController.processo.dataAbertura}">
            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
        </h:outputText>
    </div>

    <div class="col-md-4 col-xs-12 form-group">
        <h:outputLabel value="#{bundleMsgs.label_processo}: "
                       class="simple-label" styleClass="destaque" />

        <h:outputText style="padding-left:5px;"
                      value="#{detalheProcessoController.processo.descricao}" />
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-6 col-xs-12 form-group">
        <h4>#{bundleMsgs.label_processo}s *</h4>
        <p:autoComplete value="#{detalheProcessoController.processoVinculoSelecionado}"
                        completeMethod="#{processoAutoCompleteController.completeProcesso}"
                        var="pVar" styleClass="expand-component"
                        itemLabel="#{pVar.toString()}" itemValue="#{pVar}"
                        minQueryLength="1" converter="entityConverter"
                        dropdown="true" >
            <p:ajax event="itemSelect" update="@parent" />
            <f:attribute name="idProcesso" value="#{detalheProcessoController.processo.id}" />
        </p:autoComplete>
    </div>

    <div class="col-xs-12 form-group" align="right">
        <!--Cancelar-->
        <h:commandButton value="#{bundleMsgs.bt_cancelar}" class="btn btn-default"
                         action="#{detalheProcessoController.returnToDetalhes}"
                         pt:data-loader="off" immediate="true">
        </h:commandButton>

        <!--Salvar-->
        <h:commandButton value="#{bundleMsgs.bt_adicionar}"
                         class="btn btn-primary" pt:data-loader="on"
                         pt:data-loader-message="Salvando, Aguarde..."
                         action="#{detalheProcessoController.salvarProcessosRelacionados()}">
        </h:commandButton>
    </div>
</div>

</html>