<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-xs-3 bs-wizard-step #{detalheProcessoController.stepsTypesSelecionado.wizardAndamento}">
            <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_andamento_processo}</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <h:commandLink action="#{detalheProcessoController.stepSelect('STEP_ANDAMENTO')}" class="bs-wizard-dot" />
        </div>

        <div class="col-xs-3 bs-wizard-step #{detalheProcessoController.stepsTypesSelecionado.wizardPrazos}">
            <div class="text-center bs-wizard-stepnum">${bundleMsgs.label_prazos}</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <h:commandLink action="#{detalheProcessoController.stepSelect('STEP_PRAZOS')}" class="bs-wizard-dot" />
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <div class="box	">
                <div class="box-body">
                    <div class="form-group">
                        <h:panelGroup id="tabPrazosGroup" rendered="#{detalheProcessoController.stepClick eq 'STEP_ANDAMENTO'}">
                            <ui:include src="tab-andamento.xhtml" />
                        </h:panelGroup>

                        <h:panelGroup rendered="#{detalheProcessoController.stepClick eq 'STEP_PRAZOS'}">
                            <ui:include src="tab-prazos.xhtml" />
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>