<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <h:panelGroup rendered="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}">
        <div class="row">
            <div class="col-xs-12 form-group" align="right">
                <span class="label label-sm label-warning">#{bundleMsgs['fields.form.controladoria.message']}</span>
            </div>
        </div>
    </h:panelGroup>

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_prazos}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-xs-12 form-group">
            <div class="form-control" style="border: none;" />
            <p:selectBooleanCheckbox
                    disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                    styleClass="left-checkbox" pt:data-ajax-loader="on"
                    value="#{detalheProcessoController.novoAndamento.definePrazoFinal}"
                    valueChangeListener="#{detalheProcessoController.definePrazoChanged}">
                <f:ajax event="change" execute="@form" render="@form" />
            </p:selectBooleanCheckbox>
            <h:outputText value="${bundleMsgs.label_definir_prazo}" style="padding-left: 3px;" />
        </div>
        <div class="col-md-3 col-xs-12 form-group">
            <div class="form-control" style="border: none;" />
            <p:selectBooleanCheckbox
                    disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                    value="#{detalheProcessoController.novoAndamento.horarioIndefinido}"
                    itemLabel="${bundleMsgs.label_evento_sem_horario_definido}"
                    valueChangeListener="#{detalheProcessoController.semHorarioChanged}"
                    rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}">
                <p:ajax event="change" process="@form" update="horaInicioId horaFimIdGroup"
                        onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()"/>
            </p:selectBooleanCheckbox>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-xs-12 form-group">
            <h:outputLabel value="#{bundleMsgs.label_data_final_prazo} *"
                           rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}"
                           class="simple-label" for="dtFinalPrazo" />

            <h:panelGroup rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}" >
                <div class="input-group">
                    <p:calendar id="dtFinalPrazo" locale="pt" pattern="dd/MM/yyyy"
                                value="#{detalheProcessoController.novoAndamento.dataFinalPrazo}"
                                rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}"
                                disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                                navigator="true" mask="99/99/9999">
                        <p:ajax event="dateSelect" listener="#{detalheProcessoController.dataFinalPrazoSelect}" />
                        <p:ajax event="change" listener="#{detalheProcessoController.dataFinalPrazoChanged}" />
                    </p:calendar>
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </h:panelGroup>
        </div>

        <h:panelGroup rendered="#{detalheProcessoController.hasViewPrazoFatal
            and detalheProcessoController.novoAndamento.id ne null and detalheProcessoController.novoAndamento.definePrazoFinal}">
            <div class="col-md-2 col-xs-12 form-group">
                <h:outputLabel value="#{bundleMsgs.label_data_fatal_prazo} *"
                               class="simple-label" for="dtFatalPrazo" />

                <h:panelGroup rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}" >
                    <div class="input-group">
                        <p:calendar id="dtFatalPrazo" locale="pt" pattern="dd/MM/yyyy"
                                    value="#{detalheProcessoController.novoAndamento.dataFinalPrazoFatal}"
                                    disabled="#{true}"
                                    navigator="true" mask="99/99/9999">
                            <p:ajax event="dateSelect" listener="#{detalheProcessoController.dataFinalPrazoSelect}" />
                        </p:calendar>
                    </div>
                </h:panelGroup>
            </div>
        </h:panelGroup>

        <div class="col-md-2 form-group">
            <h:outputLabel value="${bundleMsgs.label_evento_de}" class="simple-label"
                           rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}"/>
            <p:inputMask id="horaInicioId" value="#{detalheProcessoController.novoAndamento.horaInicio}"
                         pt:placeholder="00:00" class="form-control" mask="99:99"
                         disabled="#{detalheProcessoController.novoAndamento.horarioIndefinido or detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                         valueChangeListener="#{detalheProcessoController.horaInicioChanged}"
                         rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}">
                <p:ajax event="change" process="@this" />
            </p:inputMask>
        </div>


        <div class="col-md-2 form-group">
            <h:panelGroup id="horaFimIdGroup">
                <h:outputLabel value="${bundleMsgs.label_evento_ate}" class="simple-label"
                               rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}"/>
                <p:inputMask value="#{detalheProcessoController.novoAndamento.horaFim}"
                             pt:placeholder="00:00" class="form-control" mask="99:99"
                             disabled="#{detalheProcessoController.novoAndamento.horarioIndefinido or detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                             rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}" />
            </h:panelGroup>
        </div>

        <div class="col-md-3 form-group">
            <h:outputLabel value="${bundleMsgs.label_responsavel}" class="simple-label"
                           rendered="#{detalheProcessoController.novoAndamento.definePrazoFinal}"/>

            <p:autoComplete id="themeCustom" value="#{detalheProcessoController.novoAndamento.pessoaFisica}"
                            completeMethod="#{detalheProcessoController.completeResponsavel}"
                            var="p" itemLabel="#{p.pessoa.descricao}" itemValue="#{p}"
                            style="width: 100% !important;" dropdown="true"
                            converter="entityConverter" forceSelection="true" >

                <p:column>
                    <h:outputText value="#{p.pessoa.descricao}" />
                </p:column>
                <p:column style="width:10%">
                    <p:rating id="rating" value="#{p.ratingPrincipal}" stars="1" readonly="true"  />
                </p:column>
                <p:ajax process="@this" />
            </p:autoComplete>
        </div>
    </div>

    <h:panelGroup id="prazosAndamentoGroup">
        <div class="row">
            <div class="col-md-3 col-xs-12 form-group">
                <h:outputLabel value="${bundleMsgs.label_status}" />
                <h:selectOneMenu class="form-control"
                                 value="#{detalheProcessoController.novoAndamento.statusAgenda}"
                                 disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                                 converter="entityConverter" pt:data-ajax-loader="on">
                    <f:selectItems value="#{minhaAgendaController.status}" var="status"
                                   itemLabel="#{status.descricao}" itemValue="#{status}" />
                    <p:ajax event="change" process="@form" update="prazosAndamentoGroup subGroup" partialSubmit="false"/>
                </h:selectOneMenu>
            </div>

            <div class="col-md-2 col-xs-12 form-group">
                <h:outputLabel value="${bundleMsgs.label_envia_email_aviso}" for="edtAndamentoEnviaEmailAviso" />

                <p:selectOneRadio id="edtAndamentoEnviaEmailAviso" value="#{detalheProcessoController.novoAndamento.enviaEmailAviso}"
                                  disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                                  class="form-control radio-group">
                    <f:selectItem itemValue="#{true}"
                                  itemLabel="${bundleMsgs.label_sim}" />
                    <f:selectItem itemValue="#{false}"
                                  itemLabel="${bundleMsgs.label_nao}" />
                    <p:ajax event="change" process="@form" update="prazosAndamentoGroup" />
                </p:selectOneRadio>
            </div>

            <div class="col-md-2 col-xs-12 form-group">
                <h:outputLabel for="andamentoDiasAviso" rendered="#{detalheProcessoController.novoAndamento.enviaEmailAviso}"
                               value="${bundleMsgs.label_dias_aviso_email}*" class="simple-label" />
                <p:inputMask id="andamentoDiasAviso" class="form-control" mask="9?99"
                             disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                             rendered="#{detalheProcessoController.novoAndamento.enviaEmailAviso}"
                             value="#{detalheProcessoController.novoAndamento.quantidadeDiasEmailAvisoAntecedencia}">
                    <p:ajax process="@form" />
                </p:inputMask>
            </div>

            <div class="col-md-3 col-xs-12 form-group">
                <h:outputLabel value="${bundleMsgs.label_houve_acordo}" for="edtAndamentoHouveAcordo"
                               rendered="#{detalheProcessoController.renderizaHouveAcordoAndamento}"/>

                <p:selectOneRadio id="edtAndamentoHouveAcordo" value="#{detalheProcessoController.novoAndamento.houveAcordo}"
                                  disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                                  class="form-control radio-group"
                                  rendered="#{detalheProcessoController.renderizaHouveAcordoAndamento}">
                    <f:selectItem itemValue="#{true}"
                                  itemLabel="${bundleMsgs.label_sim}" />
                    <f:selectItem itemValue="#{false}"
                                  itemLabel="${bundleMsgs.label_nao}" />
                </p:selectOneRadio>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-xs-12 form-group">
                <p:selectOneRadio id="edtLocal" styleClass="form-control"
                                  value="#{detalheProcessoController.novoAndamento.opcaoLocal}"
                                  disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                                  valueChangeListener="#{detalheProcessoController.localizacaoChanged}">
                    <f:selectItem itemValue="P" itemLabel="${bundleMsgs.label_proprio_juizo}" />
                    <f:selectItem itemValue="O" itemLabel="${bundleMsgs.label_outro_local}" />
                    <f:selectItem itemValue="I" itemLabel="${bundleMsgs.label_indefinido}" />
                    <p:ajax event="change" update="localizacaoGroup"  />
                </p:selectOneRadio>
            </div>

            <h:panelGroup id="localizacaoGroup">
                <div class="col-md-5 col-xs-12 form-group">
                    <stpro:google-place-autocomplete
                            value="#{detalheProcessoController.novoAndamento.localizacao}"
                            disabled="#{detalheProcessoController.novoAndamento.opcaoLocal ne 'O' or detalheProcessoController.novoAndamento.eventoPrincipalPendente}"/>
                </div>
            </h:panelGroup>
        </div>
    </h:panelGroup>
    <br/>
    <h:panelGroup id="subGroup" >
        <!-- BOTAO ADICIONAR NOVO SUB-ANDAMENTO -->
        <div class="row">
            <div class="col-md-12 col-xs-12 form-group" align="left">
                <h:commandLink id="btnAddPrazo" value="Adicionar sub-andamento" style="color: #fff !important;"
                               styleClass="#{detalheProcessoController.novoAndamento.prazoAtendido ? 'btn btn-default' : 'btn btn-success'}"
                               disabled="#{detalheProcessoController.novoAndamento.prazoAtendido or detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                               action="#{detalheProcessoController.adicionarSubAndamento}">
                    <p:ajax process="subGroup" update="subGroup @parent" />
                </h:commandLink>
            </div>
        </div>

        <p:spacer height="15"/>

        <!-- GRID DE SUB-ANDAMENTOS -->
        <div class="row">
            <p:dataGrid id="gridPrazos" var="row" rendered="#{not empty detalheProcessoController.novoAndamento.prazos}"
                        value="#{detalheProcessoController.novoAndamento.prazos}" columns="1" layout="grid"
                        emptyMessage="#{bundleMsgs.empty_results}" rowIndexVar="rowIndex">
                <f:facet name="header">
                    <h:outputText value="Prazos" />
                </f:facet>

                <p:panel id="panelPrazos">
                    <h:panelGroup rendered="#{row.andamento.possuiEventoPendente}">
                        <div class="row">
                            <div class="col-xs-12 form-group" align="right">
                                <span class="label label-sm label-warning">#{bundleMsgs['fields.form.controladoria.message']}</span>
                            </div>
                        </div>
                    </h:panelGroup>


                    <div class="row">
                        <div class="col-md-4 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_sub_andamento}*" for="edtSubAndamento"/>

                            <p:autoComplete id="edtSubAndamento"
                                            value="#{row.subAndamento}"
                                            disabled="#{row.andamento.possuiEventoPendente}"
                                            completeMethod="#{subAndamentoAutoCompleteController.completeSubAndamento}"
                                            var="var" styleClass="expand-component"
                                            itemLabel="#{var.descricao}" itemValue="#{var}"
                                            minQueryLength="1" converter="entityConverter"
                                            dropdown="true" forceSelection="true">
                                <p:ajax process="@this" />
                            </p:autoComplete>
                        </div>

                        <h:panelGroup id="dataGroup">
                            <div class="col-md-3 form-group">
                                <h:outputLabel value="${bundleMsgs.label_evento_de}"/>
                                <div class="input-group">
                                    <p:calendar locale="pt" pattern="dd/MM/yyyy" value="#{row.dataInicioPrazo}"
                                                navigator="true" mask="99/99/9999"
                                                disabled="#{row.andamento.possuiEventoPendente}"
                                                valueChangeListener="#{detalheProcessoController.dataInicioSubAndamentoChanged}">
                                        <p:ajax event="change" process="@this" update="dataGroup"
                                                onstart="showLoader('Aguarde...')" onsuccess="hideLoader()"/>
                                        <p:ajax event="dateSelect" process="@this" update="dataGroup" />
                                        <f:param name="indexSelected" value="#{rowIndex}"/>
                                    </p:calendar>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    <p:inputMask id="horaInicio" value="#{row.horaInicio}"
                                                 pt:placeholder="00:00" size="10"
                                                 mask="99:99" disabled="#{row.horarioIndefinido or row.andamento.possuiEventoPendente}"
                                                 valueChangeListener="#{detalheProcessoController.horaInicioSubAndamentoChanged}">
                                        <p:ajax event="change" process="@this" update="dataGroup" />
                                        <f:param name="indexSelected" value="#{rowIndex}"/>
                                    </p:inputMask>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <h:outputLabel value="${bundleMsgs.label_evento_ate}" class="simple-label" />
                                <div class="input-group">
                                    <p:calendar locale="pt" pattern="dd/MM/yyyy" value="#{row.dataFinalPrazo}"
                                                navigator="true" mask="99/99/9999" mindate="#{row.dataInicioPrazo}"
                                                disabled="#{row.andamento.possuiEventoPendente}">
                                        <p:ajax event="change" process="@this" update="dataGroup" />
                                        <p:ajax event="dateSelect" process="@this" update="dataGroup" />
                                        <f:param name="indexSelected" value="#{rowIndex}"/>
                                    </p:calendar>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    <p:inputMask id="horaFim" value="#{row.horaFim}"
                                                 pt:placeholder="00:00" size="10"
                                                 mask="99:99" disabled="#{row.horarioIndefinido or row.andamento.possuiEventoPendente}">
                                        <p:ajax process="@this" />
                                    </p:inputMask>
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12 form-group">
                                <div class="form-control" style="border: none;"/>
                                <p:selectBooleanCheckbox value="#{row.horarioIndefinido}"
                                                         itemLabel="${bundleMsgs.label_evento_sem_horario_definido}"
                                                         disabled="#{row.andamento.possuiEventoPendente}"
                                                         valueChangeListener="#{detalheProcessoController.semHorarioSubAndamentoChanged}">
                                    <p:ajax event="change" process="@this" update="dataGroup" onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()" />
                                    <f:param name="indexSelected" value="#{rowIndex}"/>
                                </p:selectBooleanCheckbox>
                            </div>
                        </h:panelGroup>
                    </div>

                    <!-- LINHA 2 -->
                    <div class="row">
                        <div class="col-md-4 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_responsavel}" />
                            <h:selectOneMenu value="#{row.pessoaFisica}"  class="form-control"
                                             disabled="#{row.andamento.possuiEventoPendente}"
                                             converter="entityConverter" >
                                <f:selectItem itemValue="#{null}" itemLabel="" />
                                <f:selectItems value="#{detalheProcessoController.responsaveis}" var="p"
                                               itemLabel="#{p.pessoa.descricao}" itemValue="#{p}" />
                                <f:ajax execute="@this" />
                            </h:selectOneMenu>
                        </div>

                        <div class="col-md-8 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_obervacoes}" />
                            <p:inputTextarea class="form-control"
                                             value="#{row.observacao}"
                                             disabled="#{row.andamento.possuiEventoPendente}"
                                             rows="1" counter="display" maxlength="125" style="height: 100% !important;"
                                             counterTemplate="{0} caracteres restantes." autoResize="false" />
                            <h:outputText id="display" />
                        </div>
                    </div>

                    <h:panelGroup id="statusGroup">
                        <!-- LINHA 3 -->
                        <div class="row">
                            <div class="col-md-2 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_status}" />
                                <h:selectOneMenu class="form-control"
                                                 value="#{row.statusAgenda}"
                                                 disabled="#{row.andamento.possuiEventoPendente}"
                                                 converter="entityConverter" pt:data-ajax-loader="on">
                                    <f:selectItems value="#{minhaAgendaController.status}" var="status"
                                                   itemLabel="#{status.descricao}" itemValue="#{status}" />
                                    <p:ajax event="change" process="@this" update="statusGroup" />
                                </h:selectOneMenu>
                            </div>

                            <div class="col-md-2 col-xs-12 form-group">
                                <h:outputLabel value="${bundleMsgs.label_envia_email_aviso}" for="edtEnviaEmailAviso" />

                                <p:selectOneRadio id="edtEnviaEmailAviso" value="#{row.enviaEmailAviso}"
                                                  disabled="#{row.andamento.possuiEventoPendente}"
                                                  class="form-control radio-group">
                                    <f:selectItem itemValue="#{true}"
                                                  itemLabel="${bundleMsgs.label_sim}" />
                                    <f:selectItem itemValue="#{false}"
                                                  itemLabel="${bundleMsgs.label_nao}" />
                                    <p:ajax event="change" process="@this" update="panelPrazos"  />
                                </p:selectOneRadio>
                            </div>

                            <div class="col-md-3 col-xs-6 form-group">
                                <h:outputLabel for="diasAviso" value="${bundleMsgs.label_dias_aviso_email}*" class="simple-label"
                                               rendered="#{row.enviaEmailAviso}"/>
                                <p:inputMask id="diasAviso" class="form-control" mask="9?99"
                                             rendered="#{row.enviaEmailAviso}"
                                             disabled="#{row.andamento.possuiEventoPendente}"
                                             value="#{row.quantidadeDiasEmailAvisoAntecedencia}">
                                    <p:ajax process="@this" />
                                </p:inputMask>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xs-12 form-group" align="right">
                                <h:graphicImage name="images/icons/check32.png"
                                                rendered="#{row.statusAgenda.descricao eq 'Cumprido'}"
                                                title="Prazo atendido"/>

                                <p:commandLink class="btn btn-danger btn-sm" update="@form" title="#{bundleMsgs.bt_excluir}"
                                               process="@this" style="color: #fff !important;"
                                               disabled="#{row.andamento.possuiEventoPendente}"
                                               action="#{detalheProcessoController.removeAndamento(rowIndex)}"
                                               immediate="true" rendered="#{row.statusAgenda.descricao ne 'Cumprido'}">
                                    <span class="fa fa-trash-o"></span>
                                </p:commandLink>
                            </div>
                        </div>
                    </h:panelGroup>
                </p:panel>
            </p:dataGrid>
        </div>
    </h:panelGroup>

    <hr/>
    <!--Botoes ************************************-->
    <div class="row">
        <div class="col-xs-12 form-group" align="right">
            <!--Cancelar-->
            <h:commandButton id="btnCancelarAndamento"
                             value="#{bundleMsgs.bt_cancelar}" class="btn btn-default"
                             action="#{detalheProcessoController.returnToDetalhes}"
                             pt:data-loader="off" immediate="true">
            </h:commandButton>

            <!--Salvar-->
            <h:commandButton id="btnSalvarAndamento" value="#{bundleMsgs.bt_salvar}"
                             class="btn btn-primary" pt:data-loader="on"
                             pt:data-loader-message="Salvando, Aguarde..."
                             disabled="#{detalheProcessoController.novoAndamento.todosEventosEstaoPendentes}"
                             action="#{detalheProcessoController.salvarAndamentoProcesso()}">
            </h:commandButton>
        </div>
    </div>
</ui:composition>