<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:stpro="http://java.sun.com/jsf/composite/stprocomponents">

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            <div class="box-header with-border">
                <h3 class="box-title">${bundleMsgs.label_andamento_processo}</h3>
            </div>
        </div>
    </div>

    <h:panelGroup rendered="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}">
        <div class="row">
            <div class="col-xs-12 form-group" align="right">
                <span class="label label-sm label-warning">#{bundleMsgs['fields.form.controladoria.message']}</span>
            </div>
        </div>
    </h:panelGroup>

    <div class="row">
        <div class="col-md-3 col-xs-12 form-group">
            <h:outputLabel value="#{bundleMsgs.label_data_andamento} *" class="simple-label" />
            <stpro:simple-calendar value="#{detalheProcessoController.novoAndamento.dataAndamento}"
                                   disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"/>
        </div>
        <div class="col-md-3 col-xs-12 form-group">
            <h:outputLabel value="${bundleMsgs.label_confidencial} *"
                           for="edtConfidencial" />

            <p:selectOneRadio id="edtConfidencial" styleClass="form-control "
                              disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                              value="#{detalheProcessoController.novoAndamento.confidencial}">
                <f:selectItem itemValue="#{true}"
                              itemLabel="${bundleMsgs.label_sim}" />
                <f:selectItem itemValue="#{false}"
                              itemLabel="${bundleMsgs.label_nao}" />
            </p:selectOneRadio>
        </div>

        <div class="col-md-3 col-xs-12 form-group">
            <h:outputLabel value="${bundleMsgs.label_tipo_andamento} *"
                           for="edtTipoAndamento" class="simple-label" />

            <h:selectOneMenu id="edtTipoAndamento" class="form-control"
                             disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                             value="#{detalheProcessoController.novoAndamento.tipoAndamento}" converter="entityConverter"
                             valueChangeListener="#{detalheProcessoController.tipoAndamentoChanged}">
                <f:selectItem itemLabel="" itemValue="#{null}" />
                <f:selectItems var="tipoAndamento"
                               value="#{processoListasController.tipoAndamentos}"
                               itemLabel="#{tipoAndamento.descricao}" />
                <f:ajax event="change" execute="@form" render="prazosId @parent" />
            </h:selectOneMenu>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12 form-group">
            <h:outputLabel value="${bundleMsgs.label_informacao}" class="simple-label" />

            <p:inputTextarea class="form-control" id="infoClienteText" onchange="sendSelection();"
                             value="#{detalheProcessoController.novoAndamento.informacaoCliente}"
                             rows="6" counter="display" maxlength="4000" style="height: 100% !important;"
                             counterTemplate="{0} caracteres restantes." autoResize="false"
                             disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"/>
            <h:outputText id="display" />
        </div>
        <div class="col-md-6 col-xs-12 form-group">
            <h:outputLabel class="simple-label" value="${bundleMsgs.label_complemento_informacao_interna}"/>

            <p:inputTextarea class="form-control" id="complementoText" onchange="sendSelection();"
                             value="#{detalheProcessoController.novoAndamento.complemento}"
                             rows="6" counter="display1" maxlength="4000" style="height: 100% !important;"
                             counterTemplate="{0} caracteres restantes." autoResize="false"
                             disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"/>
            <h:outputText id="display1" />
        </div>
        <p:remoteCommand name="sendSelection" process="infoClienteText complementoText" />
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-3 col-xs-12 ">
            <div class="form-control" style="border: none;" />
            <p:selectBooleanCheckbox value="#{detalheProcessoController.novoAndamento.enviaResumoCliente}"
                                     itemLabel="${bundleMsgs.label_envia_resumo_cliente}"
                                     disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}">
                <f:ajax event="change" execute="@form" />
            </p:selectBooleanCheckbox>
        </div>
        <div class="col-md-3 col-xs-12 ">
            <div class="form-control" style="border: none;" />
            <p:selectBooleanCheckbox styleClass="left-checkbox"
                                     itemLabel="${bundleMsgs.label_envia_todos_advogados}"
                                     value="#{detalheProcessoController.novoAndamento.enviaResumoAdvogados}"
                                     disabled="#{detalheProcessoController.novoAndamento.enviaResumoAdvogado
                                                or detalheProcessoController.novoAndamento.eventoPrincipalPendente}">
                <f:ajax event="change" execute="@form" render="@form" />
            </p:selectBooleanCheckbox>
        </div>
        <div class="col-md-3 col-xs-12 ">
            <div class="form-control" style="border: none;" />
            <p:selectBooleanCheckbox styleClass="left-checkbox" itemLabel="${bundleMsgs.label_envia_resumo_advogado}"
                                     value="#{detalheProcessoController.novoAndamento.enviaResumoAdvogado}"
                                     disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                                     rendered="#{!detalheProcessoController.novoAndamento.enviaResumoAdvogados}">
                <f:ajax event="change" execute="@form" render="@form"/>
            </p:selectBooleanCheckbox>
        </div>

        <div class="col-md-3 col-xs-12 form-group" >
            <div class="form-control" style="border: none;" />
            <div class="ui-fluid">
                <p:selectCheckboxMenu id="menu" value="#{detalheProcessoController.selectedAdvogadosResumoAndamento}"
                                      rendered="#{detalheProcessoController.novoAndamento.enviaResumoAdvogado}"
                                      label="."  panelStyle="width:290px"
                                      disabled="#{detalheProcessoController.novoAndamento.eventoPrincipalPendente}"
                                      converter="entityConverter">
                    <f:selectItems value="#{detalheProcessoController.advogadosResumoAndamento}" var="adv" itemValue="#{adv}"
                                   itemLabel="#{adv.pessoa.descricao}" />
                    <p:ajax event="change" process="@this" update="displayAdvogados"/>
                    <p:ajax event="toggleSelect"  process="@this" update="displayAdvogados" partialSubmit="true"/>
                </p:selectCheckboxMenu>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-xs-12 form-group"></div>
        <div class="col-md-3 col-xs-12 form-group">
            <p:outputPanel rendered="#{detalheProcessoController.novoAndamento.enviaResumoAdvogado}"
                           id="displayAdvogados" style="width:100% !important; padding-left:5px; margin-top:10px">
                <p:dataList value="#{detalheProcessoController.selectedAdvogadosResumoAndamento}"
                            var="row" emptyMessage="Nenhum advogado selecionado" >
                    #{row.pessoa.descricao}
                </p:dataList>
            </p:outputPanel>
        </div>
    </div>
    <hr/>

    <p:outputPanel id="prazosId">
        <p:dataTable id="table" value="#{detalheProcessoController.novoAndamento.prazos}"
                     var="p" rowKey="#{p.subAndamento.id}" rowIndexVar="index"
                     selection="#{detalheProcessoController.prazosSelecionados}"
                     rendered="#{not empty detalheProcessoController.novoAndamento.prazos}"
                     emptyMessage="${bundleMsgs.empty_results}">

            <f:facet name="header">
                <div class="row">
                    <div class="col-xs-12 form-group" align="right">
                        <p:commandLink class="btn btn-danger btn-sm" style="color: #fff !important;"
                                       title="#{bundleMsgs.bt_remover_selecionados}"
                                       value="#{bundleMsgs.bt_remover_selecionados}" update="@form"
                                       action="#{detalheProcessoController.removerListenerSelecionados()}"
                                       onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()">
                            <i class="fa fa-thumbs-o-up"></i>
                        </p:commandLink>
                    </div>
                </div>
            </f:facet>
            <p:column selectionMode="multiple" style="width:32px;text-align:center"/>

            <p:column style="width:32px">
                <p:rowToggler />
            </p:column>

            <p:column headerText="${bundleMsgs.label_sub_andamento}" style="text-align: left">
                <h:outputText value="#{p.subAndamento.descricao}" />
            </p:column>

            <p:column headerText="${bundleMsgs.label_status}" style="text-align: center">
                <h:outputText value="#{p.statusAgenda.descricao}" />
            </p:column>

            <p:column headerText="${bundleMsgs.label_opcoes}" style="text-align: center; width: 90px;">
                <p:commandLink class="btn btn-danger btn-sm" process="@this" update="@form" style="color: #fff !important;"
                               action="#{detalheProcessoController.removeAndamento(index)}"
                               rendered="#{p.statusAgenda.descricao ne 'Cumprido'}"
                               pt:title="#{detalheProcessoController.novoAndamento.possuiEventoPendente ? bundleMsgs['fields.form.controladoria.message'] : bundleMsgs.bt_excluir}"
                               disabled="#{detalheProcessoController.novoAndamento.possuiEventoPendente}">
                    <span class="fa fa-trash-o"></span>
                </p:commandLink>

                <h:graphicImage name="images/icons/check32.png" rendered="#{p.statusAgenda.descricao eq 'Cumprido'}" title="Prazo atendido" />

            </p:column>
        </p:dataTable>
    </p:outputPanel>

    <br/>

    <div class="row">
        <div class="col-xs-12 form-group" align="right">
            <!--Cancelar-->
            <h:commandButton value="#{bundleMsgs.bt_cancelar}" class="btn btn-default"
                             action="#{detalheProcessoController.returnToDetalhes}"
                             pt:data-loader="off" immediate="true">
            </h:commandButton>
            <span/>

            <h:commandLink rendered="#{detalheProcessoController.stepClick ne 'STEP_PRAZOS'}"
                           value="#{bundleMsgs.bt_proximo}" pt:data-loader="off"
                           class="btn bg-purple" action="#{detalheProcessoController.stepNext}"/>
        </div>
    </div>
</ui:composition>