<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../plain-template.xhtml">

	<ui:define name="left_menu">
		<!-- ACTIVE MENU -->
		<ui:param name="active_home" value="" />
		<ui:param name="active_processos" value="active" />
		<ui:param name="active_agenda" value="" />
		<ui:param name="active_cadastros" value="" />
		<ui:param name="active_contratos" value="" />
		<ui:param name="active_controladoria" value="" />
		<ui:param name="active_clientes" value="" />
		<ui:param name="active_financeiro" value="" />
		<ui:param name="active_relatorios" value="" />
		<ui:param name="active_atendimento" value="" />
		<ui:param name="active_acessos" value="" />

		<!-- MENU LATERAL -->
		<ui:include src="../../left-menu-template.xhtml" />
	</ui:define>

	<ui:define name="content">
		<h:form id="tramiteForm" prependId="false">
			<!-- Mensagens ******************************** -->
			<div class="row">
				<div class="col-xs-12 form-group">
					<ui:include src="../../_mensagens.xhtml" />
				</div>
			</div>
			<!-- Mensagens ................................ -->

			<div class="row">
				<div class="box">
					<div class="box-header with-border">
						<div class="form-group">
							<div class="col-sm-12 col-xs-12 form-group">
								<!-- PROJUDI-PR -->
								<h:panelGroup rendered="#{tramiteProcessoController.projudipr}">
									<ui:include src="projudipr/consulta-projudipr.xhtml" />
								</h:panelGroup>

								<!-- PJE -->
								<h:panelGroup rendered="#{tramiteProcessoController.pje}">
									<ui:include src="pje/consulta-pje.xhtml" />
								</h:panelGroup>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>