<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<!--Listagem ********************************-->
<div class="box">
    <div class="box-header with-border">
        <h:panelGroup id="groupFilter">
            <p:accordionPanel multiple="true" activeIndex="0">
                <p:tab title="${bundleMsgs.label_filtros}">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 form-group">
                            <h:outputLabel value="${bundleMsgs.label_periodo_alteracao} " />

                            <p:panelGrid columns="2" layout="grid">
                                <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                            value="#{controladoriaTramitacaoController.filter.dataInicioAlteracao}"
                                            navigator="true" mask="99/99/9999"
                                            pt:placeholder="${bundleMsgs.label_data_inicio}" >
                                    <p:ajax event="dateSelect"
                                            listener="#{controladoriaTramitacaoController.dataInicioAlteracaoChanged}"
                                            process="@this"
                                            onstart="showLoader('Aguarde...')"
                                            onsuccess="hideLoader()" />
                                </p:calendar>

                                <p:calendar locale="pt" pattern="dd/MM/yyyy"
                                            value="#{controladoriaTramitacaoController.filter.dataFimAlteracao}"
                                            navigator="true" mask="99/99/9999"
                                            pt:placeholder="${bundleMsgs.label_data_final}">
                                    <p:ajax event="dateSelect"
                                            listener="#{controladoriaTramitacaoController.dataFimAlteracaoChanged}"
                                            process="@this"
                                            onstart="showLoader('Aguarde...')"
                                            onsuccess="hideLoader()" />
                                </p:calendar>
                            </p:panelGrid>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group" align="right">
                            <h:commandButton id="btnLimpar" pt:data-loader="on"
                                             value="#{bundleMsgs.bt_limpar}" class="btn btn-warning btn-flat"
                                             pt:data-loader-message="Processando, Aguarde..."
                                             action="#{controladoriaTramitacaoController.limpar}">
                            </h:commandButton>
                            <span/>

                            <h:commandButton id="btnPesquisar"
                                             value="#{bundleMsgs.bt_pesquisar}"
                                             class="btn btn-primary btn-flat" pt:data-loader="on"
                                             pt:data-loader-message="Pesquisando, Aguarde..."
                                             action="#{controladoriaTramitacaoController.pesquisar}">
                            </h:commandButton>
                        </div>
                    </div>
                </p:tab>
            </p:accordionPanel>
        </h:panelGroup>
    </div>

    <div class="box-body">
        <div class="table-responsive form-group">
            <p:dataTable id="table" var="row" rowKey="#{row.id}" value="#{controladoriaTramitacaoController.projudiProcessos}"
                         rows="50" paginator="true" paginatorPosition="bottom"
                         paginatorTemplate=" {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15,25,50,100" emptyMessage="#{bundleMsgs.msg_nenhum_registro}" >

                <p:column style="width:32px">
                    <p:rowToggler />
                </p:column>

                <p:column style="width:60px; text-align: center;">
                    <p:commandLink class="btn btn-info btn-sm" style="color: #fff !important;"
                                   oncomplete="PF('historicoPanel').show('#{component.clientId}')"
                                   title="#{bundleMsgs.label_historico}"
                                   actionListener="#{controladoriaTramitacaoController.historicoListener(row)}">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </p:commandLink>
                </p:column>

                <p:column headerText="${bundleMsgs.label_processo}" style="width: 20%" >
                    <h:outputText value="#{row.movimentacao.processo.processo}" />
                </p:column>

                <p:column headerText="${bundleMsgs.label_data}" style="width: 12%; text-align: center;">
                    <h:outputText value="#{row.movimentacao.data}" />
                </p:column>

                <p:column headerText="${bundleMsgs.label_evento_titulo_header}" style="width: 30%" >
                    <h:outputText value="#{row.movimentacao.evento}" />
                </p:column>

                <p:column headerText="${bundleMsgs.projudipr_movimentado_por}" >
                    <h:outputText value="#{row.movimentacao.movimentadoPor}" />
                </p:column>

                <p:column style="width:60px; text-align: center;">
                    <p:commandLink class="btn btn-success btn-sm" style="color: #fff !important;" update="table"
                                   title="${bundleMsgs.label_aprovar}"
                                   action="#{controladoriaTramitacaoController.vistar(row)}"
                                   onstart="showLoader('Processando aguarde...')" onsuccess="hideLoader()">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </p:commandLink>
                </p:column>

                <p:column style="width:60px; text-align: center;">
                    <h:commandLink action="#{controladoriaTramitacaoController.downloadDocumento(row)}"
                                   rendered="#{controladoriaTramitacaoController.processoContemDocumento(row)}"
                                   immediate="true"
                                   title="${bundleMsgs.label_download_documento}"
                                   class="btn btn-default" style="margin-right: 5px;">
                        <i class="fa fa-download"></i>
                    </h:commandLink>
                </p:column>

                <p:rowExpansion>

                    <p:outputPanel id="partes" class="ui-fluid">
                        <p:dataTable id="parteTable" var="parte" value="#{row.movimentacao.processo.partes}" row="rowIndex">
                            <f:facet name="header">
                                <div align="left">
                                    ${bundleMsgs.label_partes}:
                                </div>
                            </f:facet>

                            <p:column headerText="#{bundleMsgs.label_nome}" style="width: 70%; text-align: left;">
                                <h:outputText value="#{parte.nome}"  />
                            </p:column>

                            <p:column headerText="#{bundleMsgs.label_posicao}" style="width: 30%; text-align: center;">
                                <h:outputText value="#{parte.tipo}"  />
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:rowExpansion>
            </p:dataTable>

            <p:overlayPanel widgetVar="historicoPanel" hideEffect="fade" dynamic="true"
                            showCloseIcon="true" style="width:77%" appendToBody="true">

                <p:outputPanel id="historicoDetail" style="text-align:center;">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <h3 class="box-title">${bundleMsgs.label_historico}</h3>
                        </div>
                    </div>

                    <p:dataTable var="hist" rowKey="#{row.id}" scrollable="true" scrollHeight="280"
                                 value="#{controladoriaTramitacaoController.processoControladoriaSelecionado.movimentacao.processo.movimentacoes}"
                                 emptyMessage="#{bundleMsgs.msg_nenhum_registro}"
                                 sortBy="#{hist.formatSequenciaToInt()}" sortOrder="descending" >

                        <p:column headerText="${bundleMsgs.projudipr_seq}" style="width: 8%; text-align: center;">
                            <h:outputText value="#{hist.sequencia}" style="color: #808080"/>
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_data}" style="width: 12%; text-align: center;">
                            <h:outputText value="#{hist.data}" style="color: #808080"/>
                        </p:column>

                        <p:column headerText="${bundleMsgs.label_evento_titulo_header}" style="width: 60%;">
                            <h:outputText value="#{hist.evento}" style="color: #808080"/>
                        </p:column>

                        <p:column headerText="${bundleMsgs.projudipr_movimentado_por}" style="width: 20%;">
                            <h:outputText value="#{hist.movimentadoPor}" style="color: #808080"/>
                        </p:column>
                    </p:dataTable>


                </p:outputPanel>
            </p:overlayPanel>
        </div>
    </div>
</div>

<script type="text/javascript">
    PrimeFaces.locales['pt'] = {
        closeText : 'Fechar',
        prevText : 'Anterior',
        nextText : 'Próximo',
        currentText : 'Começo',
        monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
        monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
        dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
        dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
        dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
        weekHeader : 'Semana',
        firstDay : 0,
        isRTL : false,
        showMonthAfterYear : false,
        yearSuffix : '',
        timeOnlyTitle : 'Selecione o Horário',
        timeText : 'Horário',
        hourText : 'Hora',
        minuteText : 'Minuto',
        secondText : 'Segundo',
        ampm: false,
        month : 'Mês',
        week : 'Semana',
        day : 'Dia',
        allDayText : 'Sem horário definido'
    };
</script>
</html>