<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<!--Titulo da Tela..............................-->
<div class="row">
	<div class="form-group col-xs-12">
		<h3 class="box-title">${bundleMsgs.label_cadastro}</h3>
	</div>
</div>
<!--Titulo da Tela*******************************-->

<div class="box">
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 form-group">
				<h:outputLabel value="#{bundleMsgs.label_required_descricao}"
							   for="edtDescricao" class="simple-label" />

				<h:inputText id="edtDescricao" class="form-control"
							 value="#{tipoAndamentoController.objetoSelecionado.descricao}"
							 disabled="#{tipoAndamentoController.editavel == false or tipoAndamentoController.objetoSelecionado.tipoAndamentoUtilizadoSistema}"
							 pt:placeholder="${bundleMsgs.p_holder_descricao}"
							 pt:autoFocus="true">
					<p:ajax event="blur" process="@this" oncomplete="setConfirmUnload(true)" />
				</h:inputText>
			</div>

			<div class="col-xs-6 form-group">
				<h:outputLabel value="#{bundleMsgs.label_cria_evento_cliente}" for="edtEvento" class="simple-label" />
				<p:selectOneRadio id="edtEvento"
								  value="#{tipoAndamentoController.objetoSelecionado.criaEventoFlag}" class="form-control"
								  disabled="#{tipoAndamentoController.editavel == false}" valueChangeListener="#{tipoAndamentoController.criarEventoChanged}">
					<f:selectItem itemValue="#{false}" itemLabel="${bundleMsgs.label_nao}" />
					<f:selectItem itemValue="#{true}" itemLabel="${bundleMsgs.label_sim}" />
					<f:ajax event="change" execute="@this" />
				</p:selectOneRadio>
			</div>

			<div class="col-xs-6 form-group">
				<h:outputLabel value="#{bundleMsgs.label_dias_prazo_seguranca}" for="edtDiasPrazoSeguranca" class="simple-label" />
				<div class="row">
					<div class="col-xs-6 form-group">
						<p:inputNumber id="edtDiasPrazoSeguranca" value="#{tipoAndamentoController.objetoSelecionado.diasPrazoSeguranca}"
									   disabled="#{tipoAndamentoController.editavel == false}"
									   style="font-weight: bold;" minValue="0" maxValue="999"
									   thousandSeparator="." decimalSeparator="," emptyValue="zero">
						</p:inputNumber>
					</div>
				</div>
			</div>

			<div class="col-xs-12 form-group">
				<h:panelGroup rendered="#{tipoAndamentoController.editavel}" >
					<h:outputLabel value="#{bundleMsgs.label_sub_andamento}" for="edtDescricao" class="simple-label" />

					<p:pickList value="#{tipoAndamentoController.subAndamentos}"
								converter="entityConverter" responsive="true"
								addAllLabel="Adicionar todos" addLabel="Adicionar"
								removeAllLabel="Remover todos" removeLabel="Remover"
								showSourceFilter="true" showTargetFilter="true"
								showTargetControls="true"
								var="row" itemLabel="#{row.descricao}" itemValue="#{row}"
								filterMatchMode="contains">

						<f:facet name="sourceCaption">#{bundleMsgs.label_parametros}</f:facet>
						<f:facet name="targetCaption">#{bundleMsgs.bt_adicionar}</f:facet>

					</p:pickList>
				</h:panelGroup>
			</div>
		</div>

		<!--Botoes ************************************-->
		<div class="row">
			<div class="col-xs-12 form-group" align="right">

				<!--Cancelar-->
				<h:commandButton rendered="#{tipoAndamentoController.permiteInclusao}"
								 id="btnCancelar" value="#{bundleMsgs.bt_cancelar}"
								 class="btn btn-default" action="#{tipoAndamentoController.cancelar()}"
								 disabled="#{tipoAndamentoController.editavel == false}"/>

				<!--Inserir-->
				<h:commandButton rendered="#{tipoAndamentoController.permiteInclusao}"
								 id="btnInserir" value="#{bundleMsgs.bt_novo}"
								 class="btn btn-success" action="#{tipoAndamentoController.novo()}"
								 disabled="#{tipoAndamentoController.editavel}">
				</h:commandButton>

				<!--Salvar-->
				<h:commandButton rendered="#{tipoAndamentoController.permiteInclusao}"
								 id="btnSalvar" value="#{bundleMsgs.bt_salvar}"
								 class="btn btn-primary" pt:data-loader="on"
								 pt:data-loader-message="Salvando, Aguarde..."
								 action="#{tipoAndamentoController.salvar()}"
								 onclick="setConfirmUnload(false)"
								 disabled="#{tipoAndamentoController.editavel == false}">
				</h:commandButton>
			</div>
		</div>
		<!--Botoes ...................................-->

	</div>
</div>

</html>